<template>
    <div class="text-center" >

        <v-dialog
            v-model="dialog"
            width="1350">
            <template v-slot:activator="{ on, attrs }">
                <v-btn
                    color="blue darken-2"
                    dark
                    v-bind="attrs"
                    v-on="on"
                >
                    Project Time Plan
                </v-btn>
            </template>
          <!--  <v-row>
                <v-col>-->
                    <v-card height="500" width="1350">
                        <v-card-title class="ml-0,font-weight-thin" >
                            Project Time Plan
                        </v-card-title>
                        <v-card-text>
                            <v-container fluid>
                                <v-row>
                                    <v-col>
                                        <v-card tile solo dense class="ml-3" height="220" width="600" >
                                            <v-data-table
                                                :headers="headers"
                                                :items="desserts"
                                                sort-by="calories"
                                                class="mt-3"

                                            >
                                                <template v-slot:top>
                                                    <v-toolbar
                                                        flat
                                                    >
                                                        <v-toolbar-title class="ml-0,font-weight-thin">Tasks</v-toolbar-title>
                                                        <v-divider
                                                            class="mx-4"
                                                            inset
                                                            vertical
                                                        ></v-divider>
                                                        <v-spacer></v-spacer>



                                                    </v-toolbar>
                                                </template>
                                                <template v-slot:item.actions="{ item }">
                                                   <!-- <v-icon
                                                        small
                                                        class="mr-2"
                                                        @click="editItem(item)"
                                                    >
                                                        mdi-pencil
                                                    </v-icon>-->
                                                    <v-icon
                                                        small
                                                        @click="deleteItem(item)"
                                                    >
                                                        mdi-delete
                                                    </v-icon>
                                                </template>
                                            </v-data-table>

                                        </v-card>
                                    </v-col>
                                    <v-col>
                                        <v-container fluid>
                                        <v-card width="600">
                                            <v-card-title  class="ml-0,font-weight-thin">
                                               Add New Task
                                            </v-card-title>
                                            <v-card-actions>
                                                <v-btn
                                                    color="Blue lighten-2"
                                                    text
                                                >
                                                    Add New Task
                                                </v-btn>



                                                <v-btn
                                                    icon
                                                    @click="show = !show"
                                                >
                                                    <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
                                                </v-btn>


                                            </v-card-actions>

                                            <v-expand-transition>
                                                <div v-show="show">
                                                    <v-row>
                                                        <v-col >

                                                            <v-text-field
                                                                dense
                                                                outlined
                                                                v-model="editedItem.name"
                                                                label="Project name"
                                                            ></v-text-field>
                                                            <v-text-field
                                                                dense
                                                                outlined
                                                                v-model="editedItem.task"
                                                                label="Task name"
                                                            ></v-text-field>
                                                        </v-col>
                                                        <v-col>
                                                            <v-text-field
                                                                dense
                                                                outlined
                                                                v-model="editedItem.start_date"
                                                                label="Start Date"
                                                                prepend-inner-icon="mdi-calendar-blank"
                                                            ></v-text-field>
                                                            <v-text-field
                                                                dense
                                                                outlined
                                                                v-model="editedItem.end_date"
                                                                label="End date"
                                                                prepend-inner-icon="mdi-calendar-blank"
                                                            ></v-text-field>
                                                        </v-col>
                                                    </v-row>


                                                    <v-card-actions>
                                                        <v-btn
                                                            color="blue darken-1"
                                                            text
                                                            @click="close"
                                                        >
                                                            Cancel
                                                        </v-btn>
                                                        <v-btn
                                                            color="blue darken-1"
                                                            text
                                                            @click="save"
                                                        >
                                                            Save
                                                        </v-btn>
                                                    </v-card-actions>



                                                </div>
                                            </v-expand-transition>

                                        </v-card>
                                        </v-container>
                                        <v-dialog v-model="dialogDelete" max-width="500px">
                                            <v-card>
                                                <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
                                                <v-card-actions>
                                                    <v-spacer></v-spacer>
                                                    <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                                                    <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                                                    <v-spacer></v-spacer>
                                                </v-card-actions>
                                            </v-card>
                                        </v-dialog>
                                    </v-col>
                                </v-row>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                        color="primary"
                                        text
                                        @click="dialog = false"
                                    >
                                        Save
                                    </v-btn>
                                </v-card-actions>
                            </v-container>
                        </v-card-text>
                    </v-card>
              <!--  </v-col>
            </v-row>-->

        </v-dialog>
    </div>
</template>

<script>
export default {
    data: () => ({


        modal: false,

        dialog: false,
        show: false,

        dialog2: false,
        dialogDelete: false,
        headers: [
            {
                text: 'Project Name',
                align: 'start',
                sortable: false,
                value: 'name',
            },
            {text: 'Task name', value: 'task'},
            {text: 'Start Date', value: 'start_date'},
            {text: 'End Date', value: 'end_date'},
            {text: 'Actions', value: 'actions', sortable: false},
        ],
        desserts: [],
        editedIndex: -1,
        editedItem: {
            name: '',
            task: '',
            start_date: '',
            end_date: '',

        },
        defaultItem: {
            name: '',
            task: '',
            start_date: '',
            end_date: '',

        },
    }),

    computed: {
        formTitle() {
            return this.editedIndex === -1 ? 'New Task' : 'Edit Task'
        },
    },

    watch: {
        dialog(val) {
            val || this.close()
        },
        dialogDelete(val) {
            val || this.closeDelete()
        },
    },

    created() {
        this.initialize()
    },

    methods: {
        editItem(item) {
            this.editedIndex = this.desserts.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialog2 = true
        },

        deleteItem(item) {
            this.editedIndex = this.desserts.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialogDelete = true
        },

        deleteItemConfirm() {
            this.desserts.splice(this.editedIndex, 1)
            this.closeDelete()
        },

        close() {
            this.dialog2 = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },

        closeDelete() {
            this.dialogDelete = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },

        save() {
            if (this.editedIndex > -1) {
                Object.assign(this.desserts[this.editedIndex], this.editedItem)
            } else {
                this.desserts.push(this.editedItem)
            }
            this.close()
        },
    },




    name: "AddProjectTask",
}

</script>

<style scoped>

</style>
