<template>

       <!-- <v-container>
            <v-row no-gutters>


                <v-container fluid >
                    <v-text Class="font-weight-bold">Assign Sport Officers</v-text>

                        <v-row no-gutters >
                            <v-col >
                                <v-card width="300" height="200" class="mt-4" dense  >
                                <v-text-field label="Sport Officer ID"  v-model=" selected_officer.index_number " style="font-size: small" dense outlined class="ml-6 mt-5" > </v-text-field>
                                <v-text-field label="Sport Officer ID"  v-model=" selected_officer.officer_name " style="font-size: small" dense outlined class="ml-6"> </v-text-field>
                                <v-text-field label="Sport Officer ID"  v-model=" selected_officer.city " style="font-size: small" dense outlined class="ml-6"> </v-text-field>

                                </v-card>

                            </v-col>
                            <v-col>
                                <v-text-field
                                    clearable
                                    v-model="Search"
                                    dense
                                    class="mt-4 ml-6"
                                    outlined placeholder="Search..." prepend-inner-icon="mdi-magnify"></v-text-field>
                            </v-col>


                            <v-col>
                                <v-select
                                    clearable
                                    :items="['Homagama','Kirinda','Mathale','Thanamalwila']"
                                    outlined
                                    dense
                                    class="mt-4 ml-9"
                                    v-model="DivisionFilter"
                                    placeholder="Select Division..."
                                ></v-select>

                            </v-col>
                        </v-row>
                            <v-spacer></v-spacer>



                </v-container>



            </v-row>

            <v-text class="font-weight-medium">Project Details</v-text><br>

            <v-row no-gutters>
                <v-col

                >
                    <v-card  >
                        <v-container fluid  width="1000" >

                            <v-row no-gutters>
                                <v-col >
                                    <v-data-table
                                        dense
                                        class="elevation-1"
                                        :search="Search"
                                        :items="DivisionFilter === null ? ProjectsList : GetFilteredItems"
                                        :headers="headers"

                                    >
                                        <template v-slot:item.accept="{ item }">
                                            <v-btn
                                                class="ma-2"
                                                :loading="loading"
                                                :disabled="loading"
                                                color="secondary"
                                                @click="loader = 'loading'"
                                            >
                                                Accept Terms
                                            </v-btn>
                                            <v-btn
                                                dark color="blue darken-4" tile solo dense small
                                            >
                                                Assign Project
                                            </v-btn>

                                        </template>

                                    </v-data-table>
                                </v-col>
                            </v-row>

                        </v-container>
                    </v-card>
                </v-col>
            </v-row>

        </v-container>-->
    <v-container>
        <v-text Class="font-weight-bold">Assign Sport Officers</v-text>
        <v-row>
            <v-col>
                <v-text-field
                    clearable
                    v-model="Search"
                    dense
                    class="mt-4 ml-6"
                    outlined placeholder="Search..." prepend-inner-icon="mdi-magnify"></v-text-field>
            </v-col>

           <!-- <v-col>
                <v-select
                    clearable
                    :items="['Homagama','Kirinda','Mathale','Thanamalwila']"
                    outlined
                    dense
                    class="mt-4 ml-9"
                    v-model="DivisionFilter"
                    placeholder="Select Division..."
                ></v-select>

            </v-col>-->
        </v-row>
        <v-row>
            <v-col>
                <v-card width="300" height="300" >
                    <v-card-text class="font-weight-bold">Sport Officer Details</v-card-text>

                            <v-text-field label="Sport Officer ID"  v-model=" selected_officer.index_number " style="font-size: small" dense outlined class="ml-6 mt-5 mr-2" > </v-text-field>
                            <v-text-field label="Sport Officer ID"  v-model=" selected_officer.officer_name " style="font-size: small" dense outlined class="ml-6 mt-5 mr-2"> </v-text-field>
                            <v-text-field label="Sport Officer ID"  v-model=" selected_officer.city " style="font-size: small" dense outlined class="ml-6 mt-5 mr-2"> </v-text-field>


                </v-card>
            </v-col>
            <v-col>
                <v-card width="800">
                    <v-data-table
                        dense
                        class="elevation-1"
                        :search="Search"
                        :items="DivisionFilter === null ? ProjectsList : GetFilteredItems"
                        :headers="headers"

                    >
                        <template v-slot:item.accept="{ item }">

                            <v-btn
                                dark color="blue darken-4" tile solo dense small
                            >
                                Assign Project
                            </v-btn>

                        </template>

                    </v-data-table>
</v-card>
</v-col>
</v-row>
</v-container>


</template>

<script>
export default {



computed: {
GetFilteredItems(){
let filteredList = this.ProjectsList;
filteredList = this.ProjectsList.filter((item)=> {
if(item.divisional_secretariat   === this.DivisionFilter ){
    return item;
}

});
return filteredList;
},






numberOfPages () {
return Math.ceil(this.items.length / this.itemsPerPage)
},
filteredKeys () {
return this.keys.filter(key => key !== 'Name')
},
},


watch: {
dialog(val) {
val || this.close()
},
dialogDelete(val) {
val || this.closeDelete()
},

loader () {
const l = this.loader
this[l] = !this[l]

setTimeout(() => (this[l] = false), 3000)

this.loader = null
},
},

created() {
this.initialize()
},


methods: {

initialize() {
this.ProjectsList = [
{
    number:'01',
    category:'School Ground Development',
    name: 'Devi balika PlayGrounds ',
    province: 'Western Province',
    lat: 6.0,
    lang: 24,
    google_address: 4.0,
    start_date: '18/5/2021',
    end_date: '18/12/2021',
    district_secretariat: 'Colombo',
    divisional_secretariat:'Homagama',
    provision_estimation:'Rs.500,000',

    gnd:'pitipana',

},
{
    number:'02',
    category:'Rural Ground Development Programme',
    name: 'Dewinuwara  PlayGround ',
    province: 'Southern Province',
    lat: 9.0,
    lang: 37,
    google_address: 4.0,
    start_date: '18/5/2021',
    end_date: '18/12/2021',
    district_secretariat: 'Mathara',
    divisional_secretariat:'Kirinda',
    provision_estimation:'Rs.500,000',

    gnd:'Dewinuwara',

},
{
    number:'03',
    category:'Public Playground Development Programme',
    name: 'Wellawaya Town Project',
    province: 'Uva Province',
    lat: 3.7,
    lang: 67,
    google_address: 4.0,
    start_date: '18/5/2021',
    end_date: '18/12/2021',
    district_secretariat: 'Monaragala',
    divisional_secretariat:'Thanamalwila',
    provision_estimation:'Rs.500,000',

    gnd:'Wellawaya',

},


]
},




close() {
this.dialog2 = false
this.$nextTick(() => {
this.editedItem = Object.assign({}, this.defaultItem)
this.editedIndex = -1
})
},

closeDelete() {
this.dialogDelete = false
this.$nextTick(() => {
this.editedItem = Object.assign({}, this.defaultItem)
this.editedIndex = -1
})
},

save() {
if (this.editedIndex > -1) {
Object.assign(this.ProjectsList[this.editedIndex], this.editedItem)
} else {
this.ProjectsList.push(this.editedItem)
}
this.close()
},





OpenDetailsPage(item){

this.$router.push({
name:'addsportofficer'+item.index_number,
params:{
    project_data:item

},
});
},




OpenProject(project){
this.SelectedProject = project;
this.ShowDialog = true;
console.log(project);
},

nextPage () {
if (this.page + 1 <= this.numberOfPages) this.page += 1
},
formerPage () {
if (this.page - 1 >= 1) this.page -= 1
},
updateItemsPerPage (number) {
this.itemsPerPage = number
},
},

props:{
selected_officer:Object,
},

name: "AddSportOfficer",


data () {

return {

    desserts: [],
    selected_officer:null,

Search:'',

DivisionFilter:null,
CategoryFilter:null,
ProvinceFilter:null,
GNDFilter:null,
DistrictFilter:null,
loader: null,
loading: false,

SelectedProject:null,
dialog:false,
dialog2:false,
dialogDelete: false,

filter: {},

sortDesc: false,
page: 1,
itemsPerPage: 4,
sortBy: 'name',
headers: [


{text:'Number',value:'number'},
{text:'Project Category',value:'category'},
{text:'Name',value:'name'},
{text:'Divisional Secretariat',value:'divisional_secretariat'},
{text:'GND',value:'gnd'},
{text: 'Assign this', value: 'accept'},





],

ProjectsList: [

],

editedIndex: -1,
editedItem: {
number: '',
name: '',
category:'',
lat: '',
lang: '',
google_address: '',
start_date: '',
end_date:'',
province:'',
district_secretariat:'',
provision_estimation:'',
assign_officers:'',
gnd:'',
divisional_secretariat:'',


},
defaultItem: {
number: '',
name: '',
category:'',
lat: '',
lang: '',
google_address: '',
start_date: '',
end_date:'',
province:'',
district_secretariat:'',
provision_estimation:'',
assign_officers:'',
gnd:'',
divisional_secretariat:'',


},

}
},

mounted() {
    this.initialize();
console.log(this.selected_officer);
    console.log("url id",this.$route.params.id);

    this.project_data = _.find(this.desserts,{number:this.$route.params.id});
},











}
</script>

<style scoped>

</style>
