<template>
    <v-content>
       <v-card>
<v-btn>home</v-btn>
       </v-card>
    </v-content>
</template>

<script>

export default {
    name: "AllNewProjects"
}
</script>

<style scoped>

</style>
