<template>
    <v-container>
        <h2  class="ml-0," >All Projects Details</h2>

        <v-row no-gutters>



            <v-text-field
                v-model="Search"
                class="ma-1"
                outlined placeholder="Search..." prepend-inner-icon="mdi-magnify"></v-text-field>

            <v-select
                clearable
                class="ma-1"
                :items="['Jaffna','Galle','Colombo','Rathnapura','Kilinochchi','Mannar','Mullaitivu','Vavuniya','Puttalam','Kurunegala','Gampaha','Kalutara','Polonnaruwa','Anuradhapura','Matale','Kandy','Nuwara Eliya','Kegalle','Trincomalee','Batticaloa','Ampara','Badulla','Monaragala','Matara','Hambantota']"
                outlined
                v-model="DivisionFilter"
                placeholder="District"

            ></v-select>

        </v-row>

        <v-card>
            <v-data-table
                dense
                class="elevation-1"
                :search="Search"
                :items="DivisionFilter === null ? ProjectsList : GetFilteredItems"
                :headers="headers"

            >



                <!--@click:row="OpenDetailsPage"-->

                <template v-slot:item.moredetails="{ item }">
                    <v-btn color="primary"
                           @click="OpenDetailsPage(item)"
                    >
                        More Details
                    </v-btn>
                </template>

                <template v-slot:item.edit="{ item }">
                    <v-icon
                        small
                        class="mr-2"
                        @click="editItem(item)"
                    >
                        mdi-pencil
                    </v-icon>

                </template>

                <template v-slot:item.delete="{ item }">
                    <v-icon
                        small
                        @click="deleteItem(item)"
                    >
                        mdi-delete
                    </v-icon>
                </template>
              <!--  <template v-slot:no-data>
                    <v-btn
                        color="primary"
                        @click="initialize"
                    >
                        Reset
                    </v-btn>
                </template>-->




            </v-data-table>

            <v-dialog
                v-model="dialog2"
                max-width="500px"
            >

                <v-card>


                    <v-card-text>
                        <v-card-title>Edit Projects Details</v-card-title>
                        <v-container>
                            <v-row>
                                <v-col
                                    cols="12"
                                    sm="6"
                                    md="4"
                                >
                                    <v-text-field
                                        v-model="editedItem.number"
                                        label="Project Number"

                                    ></v-text-field>
                                </v-col>
                                <v-col
                                    cols="12"
                                    sm="6"
                                    md="4"
                                >
                                    <v-text-field
                                        v-model="editedItem.name"
                                        label="Project Name"

                                    ></v-text-field>
                                </v-col>
                                <v-col
                                    cols="12"
                                    sm="6"
                                    md="4"
                                >
                                    <v-text-field
                                        v-model="editedItem.lat"
                                        label="Latitude"

                                    ></v-text-field>
                                </v-col>
                                <v-col
                                    cols="12"
                                    sm="6"
                                    md="4"
                                >
                                    <v-text-field
                                        v-model="editedItem.lang"
                                        label="Longitude"


                                    ></v-text-field>
                                </v-col>
                                <v-col
                                    cols="12"
                                    sm="6"
                                    md="4"
                                >
                                    <v-text-field
                                        v-model="editedItem.google_address"
                                        label="Google Address"


                                    ></v-text-field>
                                </v-col>
                                <v-col
                                    cols="12"
                                    sm="6"
                                    md="4"
                                >
                                    <v-text-field
                                        v-model="editedItem.start_date"
                                        label="Start date"

                                    ></v-text-field>
                                </v-col>
                                <v-col
                                    cols="12"
                                    sm="6"
                                    md="4"
                                >
                                    <v-text-field
                                        v-model="editedItem.end_date"
                                        label="End date"


                                    ></v-text-field>
                                </v-col>
                                <v-col
                                    cols="12"
                                    sm="6"
                                    md="4"
                                >
                                    <v-text-field
                                        v-model="editedItem.division"
                                        label="Division"


                                    ></v-text-field>
                                </v-col>
                                <v-col
                                    cols="12"
                                    sm="6"
                                    md="4"
                                >
                                    <v-text-field
                                        v-model="editedItem.district_secretariat"
                                        label="District Secretariat"


                                    ></v-text-field>
                                </v-col>
                                <v-col
                                    cols="12"
                                    sm="6"
                                    md="4"
                                >
                                    <v-text-field
                                        v-model="editedItem.divisional_secretariat"
                                        label="Divisional Secretariat"


                                    ></v-text-field>
                                </v-col>
                                <v-col
                                    cols="12"
                                    sm="6"
                                    md="4"
                                >
                                    <v-text-field
                                        v-model="editedItem.provision_estimation"
                                        label="Provision estimation"


                                    ></v-text-field>
                                </v-col>
                                <v-col
                                    cols="12"
                                    sm="6"
                                    md="4"
                                >
                                    <v-text-field
                                        v-model="editedItem.assign_officers"
                                        label="Sport Officer"
                                        readonly

                                    ></v-text-field>
                                </v-col>





                            </v-row>
                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                            color="blue darken-1"
                            text
                            @click="close"
                        >
                            Cancel
                        </v-btn>
                        <v-btn
                            color="blue darken-1"
                            text
                            @click="save"
                        >
                            Save
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>


            <v-dialog v-model="dialogDelete" max-width="500px">
                <v-card>
                    <v-card-title class="text-h5">Are you sure you want to delete this project?</v-card-title>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                        <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                        <v-spacer></v-spacer>
                    </v-card-actions>
                </v-card>
            </v-dialog>


        </v-card>




        <!--  <v-dialog v-if="SelectedProject !== null" max-width="1300"   v-model="ShowDialog">
              <v-card >
                  <v-card-title class="font-weight-medium, h1" >{{ SelectedProject.name }}</v-card-title>

                  <v-card-text>
                      <v-row no-gutters class="mt-4-">

                          <v-col>

                              <v-text-field  label="Project Number" v-model=" editedItem.number " readonly outlined  ></v-text-field>
                              <v-text-field  label="Project Name" v-model=" editedItem.name " readonly outlined ></v-text-field>
                              <v-text-field  label="Latitude" v-model=" editedItem.lat " readonly outlined ></v-text-field>
                              <v-text-field  label="Longitude" v-model=" editedItem.lang " readonly outlined ></v-text-field>
                              <v-text-field  label="Google Address" v-model=" editedItem.google_address " readonly outlined ></v-text-field>
                              <v-text-field  label="Start date" v-model=" editedItem.start_date " readonly outlined ></v-text-field>
                              <v-text-field  label="End date" v-model=" editedItem.end_date " readonly outlined ></v-text-field>
                              <v-text-field  label="Division" v-model=" editedItem.division " readonly outlined ></v-text-field>
                              <v-text-field  label="District Secretariat" v-model=" editedItem.district_secretariat " readonly outlined ></v-text-field>
                              <v-text-field  label="Divisional Secretariat" v-model=" editedItem.divisional_secretariat " readonly outlined ></v-text-field>
                              <v-text-field  label="Provision Secretariat" v-model=" editedItem.provision_estimation " readonly outlined ></v-text-field>
                              <v-text-field  label="Sport Officer" v-model=" editedItem.assign_officers "  outlined ></v-text-field>

                          </v-col>
                          <v-col class="ml-9">

                              <GmapMap
                                  :center="center"
                                  :zoom="7.8"
                                  :options="mapOptions"
                                  class="GMAPClass">
                              </GmapMap>

                          </v-col>
                      </v-row>
                      <v-row><v-btn color="primary"  @click="ShowDialog = false">Assign Sport Officer</v-btn>
                          <v-btn color="error" class=ml-5 @click="ShowDialog = false">Close</v-btn>
                      </v-row>

                      <v-spacer></v-spacer>
                  </v-card-text>
              </v-card>
          </v-dialog>-->
    </v-container>

</template>

<script>
export default {

    data () {
        return {

            Search:'',
            DivisionFilter:null,

            SelectedProject:null,
            dialog:false,
            dialog2:false,
            dialogDelete: false,

            filter: {},

            sortDesc: false,
            page: 1,
            itemsPerPage: 4,
            sortBy: 'name',
            headers: [


                {text:'Number',value:'number'},
                {text:'Name',value:'name'},
                {text:'District',value:'division'},
                {text:'Latitude',value:'lat'},
                {text:'Longitude',value:'lang'},
                {text:'Google Address',value:'google_address'},
                {text:'Project Start Date',value:'start_date'},
                {text:'Project End Date',value:'end_date'},
                {text:'District Secretariat',value:'district_secretariat'},
                {text:'Divisional Secretariat',value:'divisional_secretariat'},
                {text:'Provision Estimation',value:'provision_estimation'},
                {text:'Sport Officer',value:'assign_officers'},

                {text: 'More Details', value: 'moredetails'},
                {text: 'Edit', value: 'edit'},
                {text: 'Delete', value: 'delete'},

            ],

            ProjectsList: [

            ],

            editedIndex: -1,
            editedItem: {
                number: '',
                name: '',
                lat: '',
                lang: '',
                google_address: '',
                start_date: '',
                end_date:'',
                division:'',
                district_secretariat:'',
                provision_estimation:'',
                assign_officers:'',


            },
            defaultItem: {
                number: '',
                name: '',
                lat: '',
                lang: '',
                google_address: '',
                start_date: '',
                end_date:'',
                division:'',
                district_secretariat:'',
                provision_estimation:'',
                assign_officers:'',


            },

        }
    },
    computed: {
        GetFilteredItems(){
            let filteredList = this.ProjectsList;
            filteredList = this.ProjectsList.filter((item)=> {
                if(item.division === this.DivisionFilter){
                    return item;
                }
            });
            return filteredList;
        },
        numberOfPages () {
            return Math.ceil(this.items.length / this.itemsPerPage)
        },
        filteredKeys () {
            return this.keys.filter(key => key !== 'Name')
        },
    },


    watch: {
        dialog(val) {
            val || this.close()
        },
        dialogDelete(val) {
            val || this.closeDelete()
        },
    },

    created() {
        this.initialize()
    },


    methods: {

        initialize() {
            this.ProjectsList = [
                {
                    number:'01',
                    name: 'School Grounds Development Programme',
                    division: 'Jaffna',
                    lat: 6.0,
                    lang: 24,
                    google_address: 4.0,
                    start_date: '18/5/2021',
                    end_date: '18/12/2021',
                    district_secretariat: 'y.w.Jayasignha',
                    divisional_secretariat:'A.M.Darmapala',
                    provision_estimation:'Rs.500,000',
                    assign_officers:'B.A.Nimal',

                },
                {
                    number:'02',
                    name: 'Rural Ground Development Programme',
                    division: 'Galle',
                    lat: 9.0,
                    lang: 37,
                    google_address: 4.0,
                    start_date: '18/5/2021',
                    end_date: '18/12/2021',
                    district_secretariat: 'y.w.Jayasignha',
                    divisional_secretariat:'A.M.Darmapala',
                    provision_estimation:'Rs.500,000',
                    assign_officers:'B.A.Nimal',

                },
                {
                    number:'03',
                    name: 'Anula Collage Project',
                    division: 'Colombo',
                    lat: 3.7,
                    lang: 67,
                    google_address: 4.0,
                    start_date: '18/5/2021',
                    end_date: '18/12/2021',
                    district_secretariat: 'y.w.Jayasignha',
                    divisional_secretariat:'A.M.Darmapala',
                    provision_estimation:'Rs.500,000',
                    assign_officers:'B.A.Nimal',

                },
                {
                    number:'04',
                    name: 'Bandarawela central Collage Project',
                    division: 'Rathnapura',
                    lat: 16.0,
                    lang: 49,
                    google_address: 4.0,
                    start_date: '18/5/2021',
                    end_date: '18/12/2021',
                    district_secretariat: 'y.w.Jayasignha',
                    divisional_secretariat:'A.M.Darmapala',
                    provision_estimation:'Rs.500,000',
                    assign_officers:'B.A.Nimal',
                },

            ]
        },

        editItem(item) {
            console.log("Edit",item);
            this.editedIndex = this.ProjectsList.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialog2 = true
        },

        deleteItem(item) {
            this.editedIndex = this.ProjectsList.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialogDelete = true
        },

        deleteItemConfirm() {
            this.ProjectsList.splice(this.editedIndex, 1)
            this.closeDelete()
        },


        close() {
            this.dialog2 = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },

        closeDelete() {
            this.dialogDelete = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },

        save() {
            if (this.editedIndex > -1) {
                Object.assign(this.ProjectsList[this.editedIndex], this.editedItem)
            } else {
                this.ProjectsList.push(this.editedItem)
            }
            this.close()
        },





        OpenDetailsPage(item){

            this.$router.push({
                name:'viewmoreprojectdetails',
                params:{
                    project_data:item
                },
            });
        },




        OpenProject(project){
            this.SelectedProject = project;
            this.ShowDialog = true;
            console.log(project);
        },

        nextPage () {
            if (this.page + 1 <= this.numberOfPages) this.page += 1
        },
        formerPage () {
            if (this.page - 1 >= 1) this.page -= 1
        },
        updateItemsPerPage (number) {
            this.itemsPerPage = number
        },
    },

    name: "AllProjectDetailsViewandEdit"
}
</script>

<style scoped>

</style>
