<template>
    <v-content>
        <!--            <v-toolbar color="white" >-->
        <!--                <img src="/img/celata_logo.jpg"  style="width: 125px;"/>-->
        <!--                <v-spacer></v-spacer>-->
        <!--                <v-toolbar-title>-->
        <!--                    Dashboard-->
        <!--                </v-toolbar-title>-->
        <!--                <v-spacer></v-spacer>-->
        <!--                Welcome {{user.name}} &nbsp;&nbsp;-->
        <!--                <v-btn @click="logout"  color="white" elevation="2" small  style="margin-left: 10px">-->
        <!--                    LOGOUT &nbsp;<v-icon small>mdi-login-variant</v-icon>&nbsp;-->
        <!--                </v-btn>-->
        <!--            </v-toolbar>-->
        <!--            <v-container fluid flat>-->
        <!--                <v-card flat >-->
        <!--                </v-card>-->
        <!--            </v-container>-->

        <v-card
            class="mx-auto overflow-hidden"
            :height="window.height"
        >


            <v-container>
                <v-row>
                    <v-col cols="12" lg="6" sm="12" md="12">
                        <v-card raised>
                            <v-card-title>New Project {{project_name}}</v-card-title>
                            <v-card-text>
                                <v-text-field label="Project Name" v-model="project_name"></v-text-field>
                                <v-text-field label="Project Description" v-model="project_description"></v-text-field>
                                <v-text-field label="Latitude" v-model="lat"></v-text-field>
                                <v-text-field label="Longitude" v-model="lng"></v-text-field>
                                <v-text-field label="Google address" v-model="google_address"></v-text-field>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-card>
    </v-content>


</template>



            <!-- <v-content>
                <v-container>
                     <v-row>
                         <v-col cols="12" md="12">
                             <v-app-bar elevation="2" color="white" dense >
                                 <v-btn icon>
                                     <v-icon>mdi-checkbox-marked-circle</v-icon>
                                 </v-btn>
                                 <v-toolbar-title  style="font-family: Raleway !important;font-weight: bold !important;font-size: 14px !important;">
                                     <v-breadcrumbs :items="items"></v-breadcrumbs>
                                 </v-toolbar-title>
                                 <v-spacer></v-spacer>
                             </v-app-bar>
                         </v-col>
                     </v-row>
                 </v-container>
             </v-content>-->


<script>
export default {
    name: "AllProjectview",
    data () {
        return {
            user: '',
            window: {
                width: 0,
                height: 0,
            },
        }
    }


}
</script>


<style scoped>

</style>
