<template>
    <div>
        <!--              <v-toolbar >-->
        <!--                  <v-toolbar-title ><h4>Welcome Back To RANS 1</h4></v-toolbar-title>-->
        <!--              </v-toolbar>-->

        <v-img  src="./img/cover.jpg" :height="window.height" jumbotron>
            <v-container fluid fill-height >
                <v-layout flex justify-center align-center>
                    <v-flex xs12 sm2>
                        <v-card elevation="8" max-width="400" >
                            <v-card-title>GEOSPORT LOGIN</v-card-title>
                            <v-card-text >
                                <div>
                                    <v-form v-model="valid" ref="form" action="login" method="post">
                                        <v-text-field name="_token" :value="csrf" v-model="csrf" v-show="false"></v-text-field>
                                        <v-text-field
                                            label="Enter your e-mail address"
                                            v-model="email"
                                            :value="email"
                                            name="email"
                                            dense
                                            outlined
                                            :error-messages="email_errors"
                                            :rules="emailRules"
                                            required
                                        ></v-text-field>
                                        <v-text-field
                                            label="Enter your password"
                                            v-model="password"
                                            :value="password"
                                            name="password"
                                            :error-messages="password_errors"
                                            outlined
                                            dense
                                            min="8"
                                            :append-icon="e1 ? 'visibility' : 'visibility_off'"
                                            @click:append="e1 = !e1"
                                            :type="e1 ? 'text' : 'password'"
                                            :rules="passwordRules"
                                            counter
                                            required
                                        ></v-text-field>
                                        <v-checkbox
                                            v-model="rememberMe"
                                            :value="rememberMe"
                                            dense
                                            name="remember"
                                            id="remember"
                                            label="Remember Me"
                                        ></v-checkbox>
                                        <v-btn small block :loading="cardLoader"  @click="submit" :color="valid?'primary':'gray'" large>Sign Me In</v-btn>

                                        <v-layout >

                                        </v-layout>
                                    </v-form>
                                </div>
                            </v-card-text>
<!--                            <v-card-actions>-->
<!--                                <a href="/password/reset" style="font-size: 12px">Forgot Password</a>-->
<!--                            </v-card-actions>-->
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>


        </v-img>
        <v-snackbar
            v-model="snackbar"
            :multi-line="false"
            :color="snackColor"
            :top="snackBarTop"
            :right="snackBarRight"
        >
            {{ snackMessage }}

        </v-snackbar>
    </div>
</template>
<script>



export default {
    name : "api-login",
    component: {

    },
    data() {
        return{
            window: {
                width: 0,
                height: 0
            },
            snackbar: false,
            snackColor: '',
            snackMessage: '',
            snackBarRight: false,
            snackBarTop: false,
            valid: false,
            e1: false,
            password: '',
            passwordRules: [
                (v) => !!v || 'Password is required',
            ],
            emailRules: [
                (v) => !!v || 'E-mail is required',
                (v) => /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,5})+$/.test(v) || 'E-mail must be valid'
            ],
            csrf:'',
            email_errors:[],
            password_errors:[],
            cardLoader:false,
            socialLoader:false,
            email: '',
            name:'',
            mobile:'',
            address:'',
            avatar:'',
            myLocation:{
                lat:'',
                lng:''
            },
            randomPassword:'Abcdef@123',
            header:{},
            rememberMe:false
        }
    },
    beforeDestroy() {
        clearInterval(this.interval)
    },
    destroyed() {
        window.removeEventListener('resize', this.handleResize)
    },
    mounted() {
        let laravel = JSON.parse(window.Laravel);
        this.csrf =  laravel.csrfToken;
        this.header = {
            'X-CSRF-TOKEN': this.csrf,
            'X-Requested-With': 'XMLHttpRequest',
            'content-type': 'multipart/form-data',
        };
        let user = laravel.user;

    },
    computed:{

    },
    watch:{

    },
    created() {
        window.addEventListener('resize', this.handleResize);
        this.handleResize();

    },
    methods:{
        //---------------------------Handling the user window resize event--------------------------------
        handleResize() {
            this.window.width = window.innerWidth;
            this.window.height = window.innerHeight;
        },
        submit () {
            if (this.$refs.form.validate()) {
                this.checkUserLogin();
            }
        },
        clear () {
            this.$refs.form.reset()
        },
        goBack(){
            this.$router.back();
        },
        //------------check user login------------------------------------------------
        checkUserLogin(){
            this.cardLoader = true;

            axios.post('/api/checkLogin',{email:this.email,password:this.password},this.header)
                .then(response => {
                    console.log(response.data);
                    this.cardLoader = false;
                    if(response.data.validate == 'success'){
                        this.snackMessage = 'Login successful.Redirecting...';
                        this.snackColor = 'success';
                        this.snackBarTop = true;
                        this.snackbar = true;
                        this.$refs.form.$el.submit();
                    }else if (response.data.validate == 'invalid_email'){
                        this.snackMessage = 'Invalid Email';
                        this.snackColor = 'error';
                        this.snackBarTop = true;
                        this.snackbar = true;

                        this.password = '';
                        this.email_errors = ['we cannot find user with this email']
                    }else if (response.data.validate == 'invalid_password'){
                        this.snackMessage = 'Authentication fail';
                        this.snackColor = 'error';
                        this.snackBarTop = true;
                        this.snackbar = true;

                        this.password = '';
                        this.password_errors = ['invalid password.try forget password']
                    }
                    else{
                        this.snackMessage = response.data.validate;
                        this.snackColor = 'error';
                        this.snackBarTop = true;
                        this.snackbar = true;
                        this.password = '';
                    }
                }).catch((error) => {
                console.log(error)
            });
        },


    }
}
</script>
