<template>
    <v-container class="text-center" style="height:auto">
        <!--  <v-dialog
              v-model="dialog"
              width="1000"
          >
             <template v-slot:activator="{ on, attrs }">
                 <v-btn
                      color="blue darken-2"
                      dark
                      v-bind="attrs"
                      v-on="on"
                  >
                      Add Sport Officer
                  </v-btn>
              </template>

              <v-card>
                  <v-card-title class="text-h5 grey lighten-2" >
                      Add Sport Officer
                  </v-card-title>
                  <v-card-text>
                                  <v-container>-->
        <v-row>
            <v-col>
                <v-text-field
                    v-model="Search"
                    class="ma-1"
                    dense
                    outlined placeholder="Search..." prepend-inner-icon="mdi-magnify"></v-text-field>
            </v-col>
        </v-row>
        <v-spacer></v-spacer>


        <!--  <v-row>
              <v-col
                  cols="12"
                  sm="6"
                  md="4"
              >

                  <v-menu
                      ref="menu"
                      v-model="menu"
                      :close-on-content-click="false"
                      :return-value.sync="date"
                      transition="scale-transition"
                      offset-y
                      min-width="auto"
                  >
                      <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                              v-model="date"
                              label="Start Date"
                              prepend-icon="mdi-calendar"
                              readonly
                              v-bind="attrs"
                              v-on="on"
                          ></v-text-field>
                      </template>
                      <v-date-picker
                          v-model="date"
                          no-title
                          scrollable
                      >
                          <v-spacer></v-spacer>
                          <v-btn
                              text
                              color="primary"
                              @click="menu = false"
                          >
                              Cancel
                          </v-btn>
                          <v-btn
                              text
                              color="primary"
                              @click="$refs.menu.save(date)"
                          >
                              OK
                          </v-btn>
                      </v-date-picker>
                  </v-menu>
             </v-col>
              <v-spacer></v-spacer>


                 <v-col
                      cols="12"
                      sm="6"
                      md="4"
                  >
                      <v-menu
                          ref="menu"
                          v-model="menu2"
                          :close-on-content-click="false"
                          :return-value.sync="date2"
                          transition="scale-transition"
                          offset-y
                          min-width="auto"
                      >
                          <template v-slot:activator="{ on, attrs }">
                              <v-text-field
                                  v-model="date2"
                                  label="End Date"
                                  prepend-icon="mdi-calendar"
                                  readonly
                                  v-bind="attrs"
                                  v-on="on"
                              ></v-text-field>
                          </template>
                          <v-date-picker
                              v-model="date2"
                              no-title
                              scrollable
                          >
                              <v-spacer></v-spacer>
                              <v-btn
                                  text
                                  color="primary"
                                  @click="menu2 = false"
                              >
                                  Cancel
                              </v-btn>
                              <v-btn
                                  text
                                  color="primary"
                                  @click="$refs.menu.save(date2)"
                              >
                                  OK
                              </v-btn>
                          </v-date-picker>
                      </v-menu>
                 </v-col>
                  <v-spacer></v-spacer>



          </v-row>-->
        <v-card height="500">
            <v-container fluid  width="700" style="height: auto" >
                <v-data-table
                    :headers="headers"
                    :items="DivisionFilter === null ? desserts : GetFilteredItems"

                    :search="Search"
                    class="elevation-1"

                >


                    <template v-slot:item.assign_officer="{ item }">
                        <v-btn dark color="blue darken-4" tile solo dense small
                               @click=" AssigningOfficer(item)"
                        >
                            Assign
                        </v-btn>
                    </template>


                    <template v-slot:top>
                        <v-toolbar
                            flat
                        >
                            <v-toolbar-title> Sport Officers Details</v-toolbar-title>
                            <v-divider
                                class="mx-4"
                                inset
                                vertical
                            ></v-divider>
                            <v-spacer></v-spacer>
                            <v-dialog
                                v-model="dialog2"
                                max-width="500px"
                            >

                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn
                                        color="blue darken-4" tile solo dense small
                                        dark
                                        class="mb-2"
                                        v-bind="attrs"
                                        v-on="on"


                                    >
                                        Add New Sport Officer
                                    </v-btn>
                                </template>
                                <v-card>
                                    <v-card-title>
                                        <span class="text-h5">{{ formTitle }}</span>
                                    </v-card-title>

                                    <v-card-text>
                                        <v-container>
                                            <v-row>
                                                <v-col
                                                    cols="12"
                                                    sm="6"
                                                    md="4"
                                                >
                                                    <v-text-field
                                                        v-model="editedItem.index_number"
                                                        label="Index Number"
                                                    ></v-text-field>
                                                </v-col>
                                                <v-col
                                                    cols="12"
                                                    sm="6"
                                                    md="4"
                                                >
                                                    <v-text-field
                                                        v-model="editedItem.officer_name"
                                                        label="Sport Officer name"
                                                    ></v-text-field>
                                                </v-col>
                                                <v-col
                                                    cols="12"
                                                    sm="6"
                                                    md="4"
                                                >
                                                    <v-text-field
                                                        v-model="editedItem.nic"
                                                        label="NIC"

                                                    ></v-text-field>
                                                </v-col>
                                                <v-col
                                                    cols="12"
                                                    sm="6"
                                                    md="4"
                                                >
                                                    <v-text-field
                                                        v-model="editedItem.email"
                                                        label="Email Address"

                                                    ></v-text-field>
                                                </v-col>
                                                <v-col
                                                    cols="12"
                                                    sm="6"
                                                    md="4"
                                                >
                                                    <v-text-field
                                                        v-model="editedItem.city"
                                                        label="City"

                                                    ></v-text-field>
                                                </v-col>
                                                <v-col
                                                    cols="12"
                                                    sm="6"
                                                    md="4"
                                                >
                                                    <v-text-field
                                                        v-model="editedItem.tele"
                                                        label="Contact Number"

                                                    ></v-text-field>
                                                </v-col>




                                            </v-row>
                                        </v-container>
                                    </v-card-text>

                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn
                                            color="blue darken-1"
                                            text
                                            @click="close"
                                        >
                                            Cancel
                                        </v-btn>
                                        <v-btn
                                            color="blue darken-1"
                                            text
                                            @click="save"
                                        >
                                            Save
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                            <v-dialog v-model="dialogDelete" max-width="500px">
                                <v-card>
                                    <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                                        <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                                        <v-spacer></v-spacer>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </v-toolbar>
                    </template>
                    <template v-slot:item.actions="{ item }">
                        <v-icon
                            small
                            class="mr-2"
                            @click="editItem(item)"
                        >
                            mdi-pencil
                        </v-icon>
                        <v-icon
                            small
                            @click="deleteItem(item)"
                        >
                            mdi-delete
                        </v-icon>
                    </template>

                </v-data-table>

            </v-container>
        </v-card>






        <!--</v-container>

    </v-card-text>-->

        <v-divider></v-divider>


        <!--  </v-card>
      </v-dialog>-->
    </v-container>
</template>

<script>
export default {
    data: () => ({
        date: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
        date2: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
        menu: false,
        modal: false,
        menu2: false,
        dialog: false,
        Search:'',
        DivisionFilter:null,
        filter: {},
        SelectedS:null,


        dialog2: false,
        dialogDelete: false,
        headers: [
            {
                text: 'Index Number',
                align: 'start',
                sortable: false,
                value: 'index_number',
            },
            {text: 'Sport Officer name', value: 'officer_name'},
            {text: 'NIC', value: 'nic'},
            {text: 'Email Address', value: 'email'},
            {text: 'Contact number', value: 'tele'},
            {text: 'City', value: 'city'},

            {text: 'Actions', value: 'actions', sortable: false},
            {text: 'Assign', value: 'assign_officer'},
        ],
        desserts: [],
        editedIndex: -1,
        editedItem: {
            index_number: '',
            officer_name: '',
            nic: '',
            email: '',
            tele: '',
            city: '',
        },
        defaultItem: {
            index_number: '',
            officer_name: '',
            nic: '',
            email: '',
            tele: '',
            city: '',

        },
    }),

    computed: {
        formTitle() {
            return this.editedIndex === -1 ? 'Add New Sport Officer' : 'Edit New Sport Officer'
        },

        GetFilteredItems(){
            let filteredList = this.desserts;
            filteredList = this.desserts.filter((item)=> {
                if(item.division === this.DivisionFilter){
                    return item;
                }
            });
            return filteredList;
        },


    },

    watch: {
        dialog(val) {
            val || this.close()
        },
        dialogDelete(val) {
            val || this.closeDelete()
        },
    },

    created() {
        this.initialize()
    },

    methods: {
        initialize() {
            this.desserts = [
                {
                    index_number: '01',
                    officer_name: 'B.A.Nimal',
                    nic: '95023156V',
                    email: 'bimal@gmail.com',
                    tele: '0712323569',
                    city: 'Colombo',

                },
                {
                    index_number: '02',
                    officer_name: 'B.A.Kamal',
                    nic: '94023156V',
                    email: 'Kamal@gmail.com',
                    tele: '0772323569',
                    city: 'Homagama',

                },
                {
                    index_number: '03',
                    officer_name: 'Y.S.Suraj',
                    nic: '91223156V',
                    email: 'Suraj@gmail.com',
                    tele: '0712323569',
                    city: 'Colombo',

                },
                {
                    index_number: '04',
                    officer_name: 'A.P.Vihanga',
                    nic: '95023156V',
                    email: 'vihangi@gmail.com',
                    tele: '0712323569',
                    city: 'Colombo',

                },
                {
                    index_number: '05',
                    officer_name: 'W.A.Sunil',
                    nic: '95023156V',
                    email: 'sunil@gmail.com',
                    tele: '0712323569',
                    city: 'Colombo',

                },

                {
                    index_number: '07',
                    officer_name: 'N.M.Yasas',
                    nic: '95023156V',
                    email: 'Yasas@gmail.com',
                    tele: '0712323569',
                    city: 'Colombo',

                },
            ]
        },

        AssigningOfficer(item){

            this.$router.push({
                name:'addsportofficer',
                params:{
                    selected_officer:item
                },
            });
        },


        OpenProject(Officer){
            this.SelectedS = Officer;
            this.ShowDialog = true;
            console.log(Officer);
        },




        editItem(item) {
            this.editedIndex = this.desserts.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialog2 = true
        },

        deleteItem(item) {
            this.editedIndex = this.desserts.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialogDelete = true
        },

        deleteItemConfirm() {
            this.desserts.splice(this.editedIndex, 1)
            this.closeDelete()
        },

        close() {
            this.dialog2 = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },

        closeDelete() {
            this.dialogDelete = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },

        save() {
            if (this.editedIndex > -1) {
                Object.assign(this.desserts[this.editedIndex], this.editedItem)
            } else {
                this.desserts.push(this.editedItem)
            }
            this.close()
        },
    },




















    name: "AssignSportOfficers",

}
</script>

<style scoped>







</style>
