<template>
<!-- App.vue -->
<!-- <v-app id="inspire"> -->
<v-app id="app">
    <v-navigation-drawer  
            v-model="drawer"
            app
            color="#6A76AB"
            dark
            src="https://cdn.vuetifyjs.com/images/backgrounds/bg-2.jpg"
            
    >
    <!--Menu Items -->
        <v-list-item two-line>
            <v-list-item-avatar>
                <img src="/img/geosports.jpg">
            </v-list-item-avatar>
            <v-list-item-content>
                <v-list-item-title class="text-h6">
                    GEOSPORT
                </v-list-item-title>
                <v-list-item-subtitle>
                    Logged In
                </v-list-item-subtitle>
            </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list>
            <v-list-item @click="Changename('PROJECTS DETAILS')" to="/admin/allnewprojects" link> 
                <v-list-item-icon>
                    <v-icon>mdi-folder</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                    <v-list-item-title>Project Details</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item @click="Changename('PROJECT CREATION')" to="/admin/projectcreation" link> 
                <v-list-item-icon>
                    <v-icon>mdi-folder-plus</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                    <v-list-item-title>Project Creation</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item @click="Changename('SPORT OFFICER')" to="/admin/sportofficerpage" link> 
                <v-list-item-icon>
                    <v-icon>mdi-account-circle</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                    <v-list-item-title>Sport Officer</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-divider></v-divider>
            <v-list-item @click="Changename('DISTRICT OFFICER')" to="/admin/district_level_home" link> 
                <v-list-item-icon>
                    <v-icon>mdi-account-circle</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                    <v-list-item-title>District Officer</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item @click="Changename('DSD OFFICER')" to="/admin/dsd_level_home" link> 
                <v-list-item-icon>
                    <v-icon>mdi-account-circle</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                    <v-list-item-title>DSD Officer</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
        <template v-slot:append>
            <div class="pa-2">
                <v-btn block @click="logout" color="red">
                    <v-icon class="mr-6">mdi-logout-variant</v-icon>  Logout
                </v-btn>
            </div>
        </template>


  </v-navigation-drawer>

  <v-app-bar app  color="light">
      <v-app-bar-nav-icon @click="drawer = !drawer" ></v-app-bar-nav-icon>
      <v-toolbar-title class="font-weight-bold">{{tab_name}}</v-toolbar-title>
      
    <!-- -->
  </v-app-bar>

  <!-- Sizes your content based upon application components -->
  <v-main>

    <!-- Provides the application the proper gutter -->
    <v-container fluid class="grey lighten-4">

      <!-- If using vue-router -->
      <router-view></router-view>

    </v-container>

  </v-main>

  <v-footer app dense dark 
            >
    <!-- -->
    <img src="/img/celata_logo.jpg" width="60" height="15" class="align-right" >
    
  </v-footer>
</v-app>

    
</template>

<script>


export default {
    data () {
        return {
    drawer: null ,
    tab_name: "PROJECTS DETAILS"
        }
    },
    

    methods:{
        logout(){
            window.setLogout();
        },

        Changename(gettab_name){
            // alert(gettab_name);
            this.tab_name=gettab_name;
        },

    }


}



</script>
