<template>

 <v-row>
        <v-spacer></v-spacer>
        <!-- <v-col
          cols="12"
          xs="12"
          sm="12"
          md="4"
          lg="4"
          xl="4"
        >

            <template>
                <v-card class="mx-auto">
                    <v-card-title class="white--text orange darken-4">
                    New Projects
                    <v-spacer></v-spacer>

                    <v-btn to="/admin/projectcreation" link
                        color="white"
                        class="text--primary"
                        fab
                        small
                    >
                        <v-icon >mdi-plus</v-icon>
                    </v-btn>
                    </v-card-title>

                    <v-card-text class="pt-1">
                        <v-card-actions>
                                <v-checkbox
                                v-model="disabled"
                                label="Sellect All"
                                color="indigo darken-3"
                                class="mr-1"
                                >
                                </v-checkbox>
                                <v-spacer></v-spacer>
                                <v-btn
                                color="accent"
                                elevation="2"
                                outlined
                                rounded
                                x-small
                                >Active
                                </v-btn>
                        </v-card-actions>
                    </v-card-text>
                    <v-divider></v-divider> -->

                    <!-- <v-virtual-scroll
                    :items="items"
                    :item-height="50"
                    height="300"
                    > -->
                    <!-- <v-card-text class="pt-3">
                        <template >
                            <v-expansion-panels focusable>
                                <v-expansion-panel
                                v-for="(item,i) in ProjectsList.length"
                                :key="i"
                                
                                >
                                    <v-expansion-panel-header v-if="(ProjectsList[i].stage_level=='0')">
                                        000{{ProjectsList[i].id}} - {{ProjectsList[i].name}} / <strong> {{ProjectsList[i].district_secretariat}} </strong>
                                    </v-expansion-panel-header>
                                    <v-expansion-panel-content>
                                        <p>Project's summary : </p>
                                        <p>- Estimation : LKR {{ProjectsList[i].provision_estimation}}</p>
                                        <p>- Date : <strong> Start {{ProjectsList[i].start_date}} - End {{ProjectsList[i].end_date}} </strong> </p>
                                        <v-btn @click="updateProjectStageLevel(ProjectsList[i].id , ProjectsList[i].stage_level)"
                                            color="accent"
                                            elevation="2"
                                            outlined
                                            rounded
                                            x-small
                                        >Active
                                        </v-btn>
                                        
                                        <v-btn @click="OpenDetailsPage(ProjectsList[i].id)"
                                            color="red"
                                            elevation="2"
                                            outlined
                                            rounded
                                            x-small
                                        >More
                                        </v-btn>
                                    </v-expansion-panel-content>
                                </v-expansion-panel>
                            </v-expansion-panels>
                        </template> -->
                    <!-- </v-virtual-scroll> -->
                    <!-- </v-card-text>
                </v-card>
            </template>

        </v-col> -->

        <v-col
          cols="12"
          xs="12"
          sm="12"
          md="8"
          lg="8"
          xl="8"
        >

        <template>
                <v-card
                    class="mx-auto"
                 >
                    <v-card-title class="white--text yellow darken-4">
                    Approval Pending
                    <v-spacer></v-spacer>

                    
                    </v-card-title>
                    <v-card-text class="pt-1">
                        <v-card-actions>
                            <template>
                            <v-select
                                :items="['Colombo', 'Hambantota', 'Matara', 'Gampaha']"
                                label="District"
                            >
                                <template v-slot:item="{ item, attrs, on }">
                                <v-list-item
                                    v-bind="attrs"
                                    v-on="on"
                                >
                                    <v-list-item-title
                                    :id="attrs['aria-labelledby']"
                                    v-text="item"
                                    ></v-list-item-title>
                                </v-list-item>
                                </template>
                            </v-select>
                            </template>
                        </v-card-actions>
                    </v-card-text>

                    
                    <v-divider></v-divider>
                    <!-- sport officer penddig-->
                    
                   <v-card-text class="pt-3">
<div class="text-h6 brown--text">Sport Officer</div>
                       <!-- <v-virtual-scroll
        :bench="benched"
        :items="items"
        height="300"
        item-height="64"
      > -->
       
                        <template >
                            <v-expansion-panels focusable>
                                <v-expansion-panel
                                v-for="(item,i) in ProjectsList.length"
                                :key="i"
                                
                                >
                                    <v-expansion-panel-header v-if="(ProjectsList[i].stage_level=='2')">
                                        000{{ProjectsList[i].id}} - {{ProjectsList[i].name}} / <strong> {{ProjectsList[i].district_secretariat}} </strong>
                                    </v-expansion-panel-header>
                                    <v-expansion-panel-content>
                                        <p>Project's summary : </p>
                                        <p>- Estimation : LKR {{ProjectsList[i].provision_estimation}}</p>
                                        <p>- Date : <strong> Start {{ProjectsList[i].start_date}} - End {{ProjectsList[i].end_date}} </strong> </p>
                                        <!-- <v-btn
                                            color="accent"
                                            elevation="2"
                                            outlined
                                            rounded
                                            x-small
                                        >Active
                                        </v-btn> -->
                                        
                                        <v-btn @click="OpenDetailsPage(ProjectsList[i].id)"
                                            color="red"
                                            elevation="2"
                                            outlined
                                            rounded
                                            x-small
                                        >More
                                        </v-btn>
                                    </v-expansion-panel-content>
                                </v-expansion-panel>
                            </v-expansion-panels>
                        </template>
                    <!-- </v-virtual-scroll> -->
                   </v-card-text>
                   <!-- sport officer penddig-->
                   <!-- sport district penddig-->
                   <!-- <v-divider></v-divider> -->
                   
                   <!-- <v-card-text class="pt-3">
                       
<div class="text-h6 blue--text">Sport District</div> -->
                       <!-- <v-virtual-scroll
        :bench="benched"
        :items="items"
        height="300"
        item-height="64"
      > -->

                        <!-- <template >
                            <v-expansion-panels focusable>
                                <v-expansion-panel
                                v-for="(item,i) in ProjectsList.length"
                                :key="i"
                                
                                >
                                    <v-expansion-panel-header v-if="(ProjectsList[i].stage_level=='4')">
                                        000{{ProjectsList[i].id}} - {{ProjectsList[i].name}} / <strong> {{ProjectsList[i].district_secretariat}} </strong>
                                    </v-expansion-panel-header>
                                    <v-expansion-panel-content>
                                        <p>Project's summary : </p>
                                        <p>- Estimation : LKR {{ProjectsList[i].provision_estimation}}</p>
                                        <p>- Date : <strong> Start {{ProjectsList[i].start_date}} - End {{ProjectsList[i].end_date}} </strong> </p> -->
                                        <!-- <v-btn
                                            color="accent"
                                            elevation="2"
                                            outlined
                                            rounded
                                            x-small
                                        >Active
                                        </v-btn> -->
                                        
                                        <!-- <v-btn @click="OpenDetailsPage(ProjectsList[i].id)"
                                            color="red"
                                            elevation="2"
                                            outlined
                                            rounded
                                            x-small
                                        >More
                                        </v-btn>
                                    </v-expansion-panel-content>
                                </v-expansion-panel>
                            </v-expansion-panels>
                        </template> -->
        
      <!-- </v-virtual-scroll> -->
                       
                   <!-- </v-card-text> -->
                   <!-- sport district penddig-->
                   <!-- sport dsd penddig-->

                   <v-divider></v-divider>
                   
                   <v-card-text class="pt-3">

<div class="text-h6 orange--text">Sport DSD</div>
                       <!-- <v-virtual-scroll
        :bench="benched"
        :items="items"
        height="300"
        item-height="64"
      > -->
        <template >
                            <v-expansion-panels focusable>
                                <v-expansion-panel
                                v-for="(item,i) in ProjectsList.length"
                                :key="i"
                                
                                >
                                    <v-expansion-panel-header v-if="(ProjectsList[i].stage_level=='1' || ProjectsList[i].stage_level=='3')">
                                        000{{ProjectsList[i].id}} - {{ProjectsList[i].name}} 
                                        /<strong> {{ProjectsList[i].district_secretariat}} </strong>
                                        
                                        <p v-if="(ProjectsList[i].stage_level=='1')" class="red--text">Assign Team</p>
                                    </v-expansion-panel-header>
                                    <v-expansion-panel-content>
                                        <p>Project's summary : </p>
                                        <p>- Estimation : LKR {{ProjectsList[i].provision_estimation}}</p>
                                        <p>- Date : <strong> Start {{ProjectsList[i].start_date}} - End {{ProjectsList[i].end_date}} </strong> </p>
                                        <v-btn v-if="(ProjectsList[i].stage_level=='1')"
                                            color="accent"
                                            elevation="2"
                                            outlined
                                            rounded
                                            x-small
                                        >Assign Team
                                        </v-btn>
                                        
                                        <v-btn @click="OpenDetailsPage(ProjectsList[i].id)"
                                            color="red"
                                            elevation="2"
                                            outlined
                                            rounded
                                            x-small
                                        >More
                                        </v-btn>
                                    </v-expansion-panel-content>
                                </v-expansion-panel>
                            </v-expansion-panels>
                        </template>
        
      <!-- </v-virtual-scroll> -->
                       
                   </v-card-text>
                   <!-- sport dsd penddig-->
                   <!-- sport ministry penddig-->
                   <!-- <v-divider></v-divider>
                   
                   <v-card-text class="pt-3">
<div class="text-h6 red--text">Sport Ministry</div> -->
                     
                       <!-- <v-virtual-scroll
        :bench="benched"
        :items="items"
        height="300"
        item-height="64"
      > -->

                    <!-- <template >
                            <v-expansion-panels focusable>
                                <v-expansion-panel
                                v-for="(item,i) in ProjectsList.length"
                                :key="i"
                                
                                >
                                    <v-expansion-panel-header v-if="(ProjectsList[i].stage_level=='5')">
                                        000{{ProjectsList[i].id}} - {{ProjectsList[i].name}} / <strong> {{ProjectsList[i].district_secretariat}} </strong>
                                    </v-expansion-panel-header>
                                    <v-expansion-panel-content>
                                        <p>Project's summary : </p>
                                        <p>- Estimation : LKR {{ProjectsList[i].provision_estimation}}</p>
                                        <p>- Date : <strong> Start {{ProjectsList[i].start_date}} - End {{ProjectsList[i].end_date}} </strong> </p> -->
                                        <!-- <v-btn
                                            color="accent"
                                            elevation="2"
                                            outlined
                                            rounded
                                            x-small
                                        >Active
                                        </v-btn> -->
                                        
                                        <!-- <v-btn @click="OpenDetailsPage(ProjectsList[i].id)"
                                            color="red"
                                            elevation="2"
                                            outlined
                                            rounded
                                            x-small
                                        >More
                                        </v-btn>
                                    </v-expansion-panel-content>
                                </v-expansion-panel>
                            </v-expansion-panels>
                        </template> -->
        
      <!-- </v-virtual-scroll> -->
                       
                   <!-- </v-card-text> -->
                   <!-- sport ministry penddig-->
                   
                </v-card>
            </template>

            

        </v-col>
        <v-col
          cols="12"
          xs="12"
          sm="12"
          md="4"
          lg="4"
          xl="4"
        >

        
        <template>
                <v-card class="mx-auto">
                    <v-card-title class="white--text green darken-4">
                    Ongoing Projects
                    <v-spacer></v-spacer>

                    </v-card-title>
                    <v-card-text class="pt-1">
                        <v-card-actions>
                            <template>
                            <v-select
                                :items="['Colombo', 'Hambantota', 'Matara', 'Gampaha']"
                                label="District"
                            >
                                <template v-slot:item="{ item, attrs, on }">
                                <v-list-item
                                    v-bind="attrs"
                                    v-on="on"
                                >
                                    <v-list-item-title
                                    :id="attrs['aria-labelledby']"
                                    v-text="item"
                                    ></v-list-item-title>
                                </v-list-item>
                                </template>
                            </v-select>
                            </template>
                        </v-card-actions>
                    </v-card-text>

                    
                    <v-divider></v-divider>

                    <!-- <v-virtual-scroll
                    :items="items"
                    :item-height="50"
                    height="300"
                    > -->
                    <v-card-text class="pt-3">
                        <template >
                            <v-expansion-panels focusable>
                                <v-expansion-panel
                                v-for="(item,i) in ProjectsList.length"
                                :key="i"
                                
                                >
                                    <v-expansion-panel-header v-if="(ProjectsList[i].stage_level=='6')">
                                        000{{ProjectsList[i].id}} - {{ProjectsList[i].name}} / <strong> {{ProjectsList[i].district_secretariat}} </strong>
                                    </v-expansion-panel-header>
                                    <v-expansion-panel-content>
                                        <p>Project's summary : </p>
                                        <p>- Estimation : LKR {{ProjectsList[i].provision_estimation}}</p>
                                        <p>- Date : <strong> Start {{ProjectsList[i].start_date}} - End {{ProjectsList[i].end_date}} </strong> </p>
                                        <!-- <v-btn
                                            color="accent"
                                            elevation="2"
                                            outlined
                                            rounded
                                            x-small
                                        >Active
                                        </v-btn> -->
                                        
                                        <v-btn @click="OpenDetailsPage(ProjectsList[i].id)"
                                            color="red"
                                            elevation="2"
                                            outlined
                                            rounded
                                            x-small
                                        >More
                                        </v-btn>
                                    </v-expansion-panel-content>
                                </v-expansion-panel>
                            </v-expansion-panels>
                        </template>
                    <!-- </v-virtual-scroll> -->
                    </v-card-text>
                </v-card>
            </template>
        

        </v-col>

        <v-snackbar
            v-model="snackbar"
            :multi-line="false"
            :color="snackColor"
            :top="snackBarTop"
            :right="snackBarRight"
        >
            {{ snackMessage }}

        </v-snackbar>

 </v-row>
</template>

<script>
export default {

    data () {
        return {

            select: ['Vuetify', 'Programming'],
        items: [
          'Programming',
          'Design',
          'Vue',
          'Vuetify',
        ],

            Search:'',
            DivisionFilter:null,
            CategoryFilter:null,
            ProvinceFilter:null,
            GNDFilter:null,
            DistrictFilter:null,

            SelectedProject:null,
            dialog:false,
            dialog2:false,
            dialogDelete: false,

            filter: {},

            sortDesc: false,
            page: 1,
            itemsPerPage: 4,
            sortBy: 'name',
            headers: [


                {text:'Number',value:'number'},
                {text:'Project Category',value:'category'},
                {text:'Name',value:'name'},
                {text:'Project Start Date',value:'start_date'},
                {text:'Project End Date',value:'end_date'},
                {text:'Province',value:'province'},
                {text:'District Secretariat',value:'district_secretariat'},
                {text:'Divisional Secretariat',value:'divisional_secretariat'},
                {text:'GND',value:'gnd'},
                {text:'Provision Estimation',value:'provision_estimation'},
                {text:'Sport Officer',value:'assign_officers'},


                {text: 'More Details', value: 'moredetails'},


            ],

            ProjectsList: [],

            editedIndex: -1,
            editedItem: {
                number: '',
                name: '',
                category:'',
                lat: '',
                lang: '',
                google_address: '',
                start_date: '',
                end_date:'',
                province:'',
                district_secretariat:'',
                provision_estimation:'',
                assign_officers:'',
                gnd:'',
                divisional_secretariat:'',


            },
            defaultItem: {
                number: '',
                name: '',
                category:'',
                lat: '',
                lang: '',
                google_address: '',
                start_date: '',
                end_date:'',
                province:'',
                district_secretariat:'',
                provision_estimation:'',
                assign_officers:'',
                gnd:'',
                divisional_secretariat:'',
            },
            categoryList:[],
            DistrictList:[],
            DivisionList:[],
            GNDList:[],
            snackbar:false,
            snackMessage:false,
            snackColor:'',
            snackBarTop:true,
            snackBarRight:false,
            tableLoading:false
        }
    },
    computed: {
        
    },


    watch: {
       
    },

    created() {
        this.initialize()
        //alert("test");
    },


    methods: {

        initialize() {
            //------getting headers from laravel csrf--------------------
            let laravel = JSON.parse(window.Laravel);
            const header = {
                "X-CSRF-TOKEN": laravel.csrfToken,
                "X-Requested-With": "XMLHttpRequest",
            };
            axios.post('/api/admin/getProjects', {uid:laravel.user.id}, header).then(response => {
                this.ProjectsList = response.data.data;
                this.tableLoading = false;
            }).catch((error) => {
                this.snackMessage = error;
                this.snackColor = 'error';
                this.snackbar = true;
                this.tableLoading = false;
                console.log({error});// this will log an empty object with an error property
            });
            //axios.post('/api/admin/getProjectsByID',{uid:laravel.user.id}, header).then(response => {


            // this.ProjectsList = [
            //     {
            //         number:'01',
            //         category:'School Ground Development',
            //         name: 'Devi balika PlayGrounds ',
            //         province: 'Western Province',
            //         lat: 6.0,
            //         lang: 24,
            //         google_address: 4.0,
            //         start_date: '18/5/2021',
            //         end_date: '18/12/2021',
            //         district_secretariat: 'Colombo',
            //         divisional_secretariat:'Homagama',
            //         provision_estimation:'Rs.500,000',
            //         assign_officers:'B.A.Nimal',
            //         gnd:'pitipana',
            //
            //     },
            //     {
            //         number:'02',
            //         category:'Rural Ground Development Programme',
            //         name: 'Dewinuwara  PlayGround ',
            //         province: 'Southern Province',
            //         lat: 9.0,
            //         lang: 37,
            //         google_address: 4.0,
            //         start_date: '18/5/2021',
            //         end_date: '18/12/2021',
            //         district_secretariat: 'Mathara',
            //         divisional_secretariat:'Kirinda',
            //         provision_estimation:'Rs.500,000',
            //         assign_officers:'B.A.Nimal',
            //         gnd:'Dewinuwara',
            //
            //     },
            //     {
            //         number:'03',
            //         category:'Public Playground Development Programme',
            //         name: 'Wellawaya Town Project',
            //         province: 'Uva Province',
            //         lat: 3.7,
            //         lang: 67,
            //         google_address: 4.0,
            //         start_date: '18/5/2021',
            //         end_date: '18/12/2021',
            //         district_secretariat: 'Monaragala',
            //         divisional_secretariat:'Thanamalwila',
            //         provision_estimation:'Rs.500,000',
            //         assign_officers:'B.A.Nimal',
            //         gnd:'Wellawaya',
            //
            //     },
            //     {
            //         number:'04',
            //         category:'Sports School Development Programme',
            //         name: 'Bandarawela central Collage Project',
            //         province: 'Central Province',
            //         lat: 16.0,
            //         lang: 49,
            //         google_address: 4.0,
            //         start_date: '18/5/2021',
            //         end_date: '18/12/2021',
            //         district_secretariat: 'Kandy',
            //         divisional_secretariat:'Mathale',
            //         provision_estimation:'Rs.500,000',
            //         assign_officers:'B.A.Nimal',
            //         gnd:'Kandy ',
            //     },
            //
            // ]
            let that = this;
            _.map(that.ProjectsList,function (o) {
                console.log(o);
                that.DistrictList.push(o.district_secretariat);
                that.DivisionList.push(o.divisional_secretariat);
                that.GNDList.push(o.gnd);
                that.categoryList.push(o.category);
            });
        },

        







        OpenDetailsPage(item){

            this.$router.push({
                path:'/admin/viewmoreprojectdetails/'+item,
                params:{
                    project_data:item
                },
            });
        },

        updateProjectStageLevel(pro_id,pro_stage_level){
alert(pro_stage_level);
            axios.post('/api/admin/updateStageLevel', {proid:pro_id,stagelevel:pro_stage_level}).then(response => {
                // this.ProjectsList = response.data.data;
                // this.tableLoading = false;
                //alert(val.data);
                    this.$router.go()
            }).catch((error) => {
                this.snackMessage = error;
                this.snackColor = 'error';
                this.snackbar = true;
                this.tableLoading = false;
                console.log({error});// this will log an empty object with an error property
            });
        },




        OpenProject(project){
            this.SelectedProject = project;
            this.ShowDialog = true;
            console.log(project);
        },

        nextPage () {
            if (this.page + 1 <= this.numberOfPages) this.page += 1
        },
        formerPage () {
            if (this.page - 1 >= 1) this.page -= 1
        },
        updateItemsPerPage (number) {
            this.itemsPerPage = number
        },
        getFiltered(){

        }
    },

    name: "DivisionLevelHomePage"
}
</script>

<style scoped>

</style>
