<template>
    <v-app id="inspire">
        <v-content>
            <v-toolbar color="white" >
                    <img src="/img/title.png"  style="width: 125px;"/>
                <v-spacer></v-spacer>
                    <v-toolbar-title>
                        DATA COLLECTING APP FOR WESTERN PROVINCE
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                    Welcome {{user.name}} &nbsp;&nbsp;
                    <v-btn @click="logout()"  color="white" elevation="2" small  style="margin-left: 10px">
                        LOGOUT &nbsp;<v-icon small>mdi-login-variant</v-icon>&nbsp;
                    </v-btn>
            </v-toolbar>
            <v-container fluid flat>
                <v-card flat >
                    <v-form ref="dataForm" v-model="valid" lazy-validation>
                    <v-card-text>
                        <v-row>
                            <v-col cols="12" md="6">
                                <v-card flat v-bind:style="{'height':window.height-180+'px','overflowY':'scroll','overflowX':'hidden'}" raised>
                                    <v-expansion-panels v-model="panel" multiple tile>
                                    <!--Personal Details-->
                                    <v-expansion-panel flat>
                                        <v-expansion-panel-header flat style="font-size: 14px !important;">
                                            personal details
                                        </v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <v-row>
                                                <v-col cols="12" md="6">
                                                    <img-inputer style="height:255px !important;width: 100% !important;" :img-src="selectedEmployee?avatar:''" theme="material" placeholder="Photograph ( 3.5 C.M. x 1.5 C.M)" bottom-text="click to change image" id="imageUploader" v-model="avatar" size="small"/>
                                                </v-col>
                                                <v-col cols="12" md="6">
                                                    <v-text-field class="teboxr_Data" outlined  dense required  label="Title ( Mr./MS/Mrs./Venn/Rev )"  color="black" clearable  style="font-size:10px !important;"  v-model="title"  ></v-text-field>
                                                    <v-text-field class="teboxr_Data" outlined  dense required  label="Name with Initials"  color="black" clearable  style="font-size:10px !important;" v-model="name_initials"  ></v-text-field>
                                                    <v-text-field class="teboxr_Data" outlined  dense required  label="Name in Full"  color="black" clearable  style="font-size:10px !important;"  v-model="name_full" ></v-text-field>
                                                    <v-text-field class="teboxr_Data" outlined  dense required  label="First name"  color="black" clearable  style="font-size:10px !important;"  v-model="first_name" ></v-text-field>
                                                    <v-text-field class="teboxr_Data" outlined  dense required  label="Last Name"  color="black" clearable  style="font-size:10px !important;"  v-model="last_name" ></v-text-field>
                                                </v-col>
                                                <v-row>
                                                    <v-col cols="12" md="6">
                                                        <v-text-field class="teboxr_Data" outlined  dense required  label="Employee No"  color="black" clearable  style="font-size:10px !important;"  v-model="emp_no" ></v-text-field>
                                                        <v-text-field class="teboxr_Data" outlined  dense required  label="Gender"  color="black" clearable  style="font-size:10px !important;"   v-model="gender" ></v-text-field>
                                                        <v-text-field class="teboxr_Data" outlined  dense required  label="Blood Group"  color="black" clearable  style="font-size:10px !important;"   v-model="bloodGroup" ></v-text-field>
                                                        <v-menu v-model="dobModel" :close-on-content-click="false" :nudge-right="40" transition="scale-transition" offset-y min-width="auto">
                                                            <template v-slot:activator="{ on, attrs }">
                                                                <v-text-field v-model="DOB" label="Date Of Birth" prepend-icon="mdi-calendar" readonly v-bind="attrs" v-on="on"></v-text-field>
                                                            </template>
                                                            <v-date-picker v-model="DOB" @input="dobModel = false"></v-date-picker>
                                                        </v-menu>
                                                        <v-text-field class="teboxr_Data" outlined  dense required  label="Civil Status (Married/ Single/ Divorced)"  color="black" clearable  style="font-size:10px !important;"   v-model="civilstatus" ></v-text-field>
                                                    </v-col>
                                                    <v-col cols="12" md="6">
                                                        <v-menu v-model="marriedDateModel" :close-on-content-click="false" :nudge-right="40" transition="scale-transition" offset-y min-width="auto"><template v-slot:activator="{ on, attrs }"><v-text-field v-model="married_date" label="If Divorced, Date" prepend-icon="mdi-calendar" readonly v-bind="attrs" v-on="on"></v-text-field></template>
                                                            <v-date-picker v-model="married_date" @input="marriedDateModel = false"></v-date-picker>
                                                        </v-menu>

                                                        <v-menu v-model="divorcedDateModel" :close-on-content-click="false" :nudge-right="40" transition="scale-transition" offset-y min-width="auto">
                                                            <template v-slot:activator="{ on, attrs }">
                                                                <v-text-field v-model="divorced_date" label="If Divorced, Date" prepend-icon="mdi-calendar" readonly v-bind="attrs" v-on="on"></v-text-field>
                                                            </template>
                                                            <v-date-picker v-model="divorced_date" @input="divorcedDateModel = false"></v-date-picker>
                                                        </v-menu>

                                                        <v-text-field class="teboxr_Data" outlined  dense required  label="Marriage Certification No"  color="black"    clearable  style="font-size:10px !important;"        v-model="marriage_certificate_no" ></v-text-field>
                                                        <v-text-field class="teboxr_Data" outlined  dense required  label="Birth Certification No"  color="black"       clearable  style="font-size:10px !important;"        v-model="BirthCertificateNo" ></v-text-field>
                                                        <v-text-field class="teboxr_Data" outlined  dense required  label="NIC"  color="black"                          clearable  style="font-size:10px !important;"        v-model="nic" ></v-text-field>
                                                    </v-col>

                                                        <v-col cols="12" md="6">
                                                            <v-text-field class="teboxr_Data" outlined  dense required  label="Age"  color="black" clearable  style="font-size:10px !important;"   v-model="age" ></v-text-field>
                                                            <v-text-field class="teboxr_Data" outlined  dense required  label="Nationality"  color="black" clearable  style="font-size:10px !important;"   v-model="nationality" ></v-text-field>
                                                            <v-text-field class="teboxr_Data" outlined  dense required  label="Ethnicity"  color="black" clearable  style="font-size:10px !important;"   v-model="ethnicity" ></v-text-field>
                                                            <v-text-field class="teboxr_Data" outlined  dense required  label="Religion"  color="black" clearable  style="font-size:10px !important;"   v-model="religion" ></v-text-field>
                                                            <v-menu v-model="issuedateModel" :close-on-content-click="false" :nudge-right="40" transition="scale-transition" offset-y min-width="auto">
                                                                <template v-slot:activator="{ on, attrs }">
                                                                    <v-text-field v-model="issue_date" label="NIC Issue Date" prepend-icon="mdi-calendar" readonly v-bind="attrs" v-on="on"></v-text-field>
                                                                </template>
                                                                <v-date-picker v-model="issue_date" @input="issuedateModel = false"></v-date-picker>
                                                            </v-menu>
                                                            <v-text-field class="teboxr_Data" outlined  dense required  label="Province"                color="black" clearable  style="font-size:10px !important;"   v-model="province" ></v-text-field>
                                                        </v-col>
                                                        <v-col cols="12" md="6">
                                                            <v-text-field class="teboxr_Data" outlined  dense required  label="District"                color="black" clearable  style="font-size:10px !important;"   v-model="district" ></v-text-field>
                                                            <v-text-field class="teboxr_Data" outlined  dense required  label="Divisional Secretory"    color="black" clearable  style="font-size:10px !important;"   v-model="dsd" ></v-text-field>
                                                            <v-text-field class="teboxr_Data" outlined  dense required  label="G. N division"           color="black" clearable  style="font-size:10px !important;"   v-model="gnd" ></v-text-field>
                                                            <v-text-field class="teboxr_Data" outlined  dense required  label="Electorate"              color="black" clearable  style="font-size:10px !important;"   v-model="electorate" ></v-text-field>
                                                            <v-text-field class="teboxr_Data" outlined  dense required  label="E-Mail"                  color="black" clearable  style="font-size:10px !important;"   v-model="email" ></v-text-field>
                                                            <v-text-field class="teboxr_Data" outlined  dense required  label="Fax No"                  color="black" clearable  style="font-size:10px !important;"   v-model="faxno" ></v-text-field>
                                                        </v-col>
                                                </v-row>

                                            </v-row>
                                        </v-expansion-panel-content>
                                    </v-expansion-panel>
                                    <!--Driving Licence Details-->
                                    <v-expansion-panel flat>
                                        <v-expansion-panel-header flat style="font-size: 14px !important;">
                                            Driving Licence Detail
                                        </v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <v-text-field class="teboxr_Data" outlined  dense required  label="Driving License No"  color="black" clearable v-model="dl_no" style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined  dense required  label="Driving License Category"  color="black" clearable v-model="dl_category" style="font-size:10px !important;"   ></v-text-field>

                                            <v-menu
                                                v-model="dlIssuedateModel"
                                                :close-on-content-click="false"
                                                :nudge-right="40"
                                                transition="scale-transition"
                                                offset-y
                                                min-width="auto"
                                            >
                                                <template v-slot:activator="{ on, attrs }">
                                                    <v-text-field
                                                        v-model="dl_issue_date"
                                                        label="Issuing Date"
                                                        prepend-icon="mdi-calendar"
                                                        readonly
                                                        v-bind="attrs"
                                                        v-on="on"
                                                    ></v-text-field>
                                                </template>
                                                <v-date-picker
                                                    v-model="dl_issue_date"
                                                    @input="dlIssuedateModel = false"
                                                ></v-date-picker>
                                            </v-menu>


                                            <v-menu
                                                v-model="dlExpiredateModel"
                                                :close-on-content-click="false"
                                                :nudge-right="40"
                                                transition="scale-transition"
                                                offset-y
                                                min-width="auto"
                                            >
                                                <template v-slot:activator="{ on, attrs }">
                                                    <v-text-field
                                                        v-model="dl_expiration"
                                                        label="Expire Date"
                                                        prepend-icon="mdi-calendar"
                                                        readonly
                                                        v-bind="attrs"
                                                        v-on="on"
                                                    ></v-text-field>
                                                </template>
                                                <v-date-picker
                                                    v-model="dl_expiration"
                                                    @input="dlExpiredateModel = false"
                                                ></v-date-picker>
                                            </v-menu>

                                        </v-expansion-panel-content>
                                    </v-expansion-panel>

                                    <!--Passport Details-->
                                    <v-expansion-panel flat>
                                        <v-expansion-panel-header flat style="font-size: 14px !important;">
                                            Passport Details
                                        </v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <v-text-field class="teboxr_Data" outlined  dense required  label="Passport No"  color="black" clearable  style="font-size:10px !important;"  v-model="pp_no" ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined  dense required  label="Passport  Category"  color="black" clearable  style="font-size:10px !important;" v-model="pp_category"  ></v-text-field>

                                            <v-menu
                                                v-model="ppIssuedateModel"
                                                :close-on-content-click="false"
                                                :nudge-right="40"
                                                transition="scale-transition"
                                                offset-y
                                                min-width="auto"
                                            >
                                                <template v-slot:activator="{ on, attrs }">
                                                    <v-text-field
                                                        v-model="pp_issue_date"
                                                        label="Issuing Date"
                                                        prepend-icon="mdi-calendar"
                                                        readonly
                                                        v-bind="attrs"
                                                        v-on="on"
                                                    ></v-text-field>
                                                </template>
                                                <v-date-picker
                                                    v-model="pp_issue_date"
                                                    @input="ppIssuedateModel = false"
                                                ></v-date-picker>
                                            </v-menu>

                                            <v-menu
                                                v-model="ppExpiredateModel"
                                                :close-on-content-click="false"
                                                :nudge-right="40"
                                                transition="scale-transition"
                                                offset-y
                                                min-width="auto"
                                            >
                                                <template v-slot:activator="{ on, attrs }">
                                                    <v-text-field
                                                        v-model="pp_expiration"
                                                        label="Expire Date"
                                                        prepend-icon="mdi-calendar"
                                                        readonly
                                                        v-bind="attrs"
                                                        v-on="on"
                                                    ></v-text-field>
                                                </template>
                                                <v-date-picker
                                                    v-model="pp_expiration"
                                                    @input="ppExpiredateModel = false"
                                                ></v-date-picker>
                                            </v-menu>

                                        </v-expansion-panel-content>
                                    </v-expansion-panel>

                                     <!--Contact Details-->
                                     <v-expansion-panel flat>
                                        <v-expansion-panel-header flat style="font-size: 14px !important;">
                                            Contact Details
                                        </v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <v-row>
                                                <v-col cols="12" lg="6">
                                                    <v-text-field class="teboxr_Data" v-model="permanent_address"  outlined  dense required  label="Permanent  Address"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                                </v-col>
                                                <v-col cols="12" lg="2">
                                                    <v-checkbox label="map click" style="margin-top: 0" v-model="permanent_mapclick" @change="changeMapClick('permanent',$event)"></v-checkbox>
                                                </v-col>
                                                <v-col cols="12" lg="2">
                                                    <v-text-field class="teboxr_Data" v-model="permanent_lat" disabled outlined  dense required  label="Latitude"  color="black"   style="font-size:10px !important;"   ></v-text-field>
                                                </v-col>
                                                <v-col cols="12" lg="2">
                                                    <v-text-field class="teboxr_Data" v-model="permanent_lng" disabled outlined  dense required  label="Longitude"  color="black"   style="font-size:10px !important;"   ></v-text-field>
                                                </v-col>
                                            </v-row>

                                            <v-row>
                                                <v-col cols="12" lg="6">
                                                    <v-text-field class="teboxr_Data" v-model="temporary_address"  outlined  dense required  label="Postal /Temporary Address"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                                </v-col>
                                                <v-col cols="12" lg="2">
                                                    <v-checkbox label="map click" style="margin-top: 0" v-model="temporary_mapclick" @change="changeMapClick('temporary',$event)"></v-checkbox>
                                                </v-col>
                                                <v-col cols="12" lg="2">
                                                    <v-text-field class="teboxr_Data" v-model="temporary_lat" disabled outlined  dense required  label="Latitude"  color="black"   style="font-size:10px !important;"   ></v-text-field>
                                                </v-col>
                                                <v-col cols="12" lg="2">
                                                    <v-text-field class="teboxr_Data" v-model="temporary_lng" disabled outlined  dense required  label="Longitude"  color="black"   style="font-size:10px !important;"   ></v-text-field>
                                                </v-col>
                                            </v-row>

                                            <v-row>
                                                <v-col cols="12" lg="6">
                                                    <v-text-field class="teboxr_Data" v-model="official_residence"  outlined  dense required  label="If residing in an official residence"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                                </v-col>
                                                <v-col cols="12" lg="2">
                                                    <v-checkbox label="map click" style="margin-top: 0" v-model="residence_mapclick" @change="changeMapClick('residence',$event)"></v-checkbox>
                                                </v-col>
                                                <v-col cols="12" lg="2">
                                                    <v-text-field class="teboxr_Data" v-model="residence_lat" disabled outlined  dense required  label="Latitude"  color="black"   style="font-size:10px !important;"   ></v-text-field>
                                                </v-col>
                                                <v-col cols="12" lg="2">
                                                    <v-text-field class="teboxr_Data" v-model="residence_lng" disabled outlined  dense required  label="Longitude"  color="black"   style="font-size:10px !important;"   ></v-text-field>
                                                </v-col>
                                            </v-row>

                                            <v-text-field class="teboxr_Data" v-model="tp_home"  outlined  dense required  label="Telephone Numbers ( Home )"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" v-model="tp_mobile"  outlined  dense required  label="Telephone Numbers(Mobile)"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                        </v-expansion-panel-content>
                                    </v-expansion-panel>

                                    <!--Emergency Details-->
                                    <v-expansion-panel flat>
                                        <v-expansion-panel-header flat style="font-size: 14px !important;">
                                            Emergency Contact(s)
                                        </v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <v-text-field class="teboxr_Data" v-model="emergency_contact_name" outlined  dense required  label="Emergency Contact  Name(s)"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" v-model="emergency_contact_number" outlined  dense required  label="Emergency  Number"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" v-model="emergency_contact_relationship" outlined  dense required  label="Emergency  Contact  Relationship"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                        </v-expansion-panel-content>
                                    </v-expansion-panel>

                                    <!--Family Details-->
                                    <v-expansion-panel flat>
                                        <v-expansion-panel-header flat style="font-size: 14px !important;">
                                            Employee Family/Dependent Information
                                        </v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <v-text-field class="teboxr_Data" v-model="sp_name"             outlined  dense required  label="Details of Spouse - Name in Full"              color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" v-model="sp_nic"             outlined  dense required  label="Spouse NIC"              color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" v-model="sp_dob"             outlined  dense required  label="Spouse DOB"              color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-select class="teboxr_Data" v-model="sp_work_type"             outlined  dense required  label="Spouse DOB"              color="black" clearable  style="font-size:10px !important;"   ></v-select>
                                            <v-text-field class="teboxr_Data" v-model="childrens"           outlined  dense required  label="Details of Children (Number of Children) "     color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" v-model="differently_abled"   outlined  dense required  label="If differently abled"                          color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" v-model="foreign_country"     outlined  dense required  label="If children born in foreign countries"         color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" v-model="child_adoption"      outlined  dense required  label="If child adoption "                            color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" v-model="farthers_name"       outlined  dense required  label="If  Unmarried Father’s Name"                   color="black" clearable  style="font-size:10px !important;"   ></v-text-field>

                                        </v-expansion-panel-content>
                                    </v-expansion-panel>

                                    <!--Current Service-->
                                    <v-expansion-panel flat>
                                        <v-expansion-panel-header flat style="font-size: 14px !important;">
                                            Current Service
                                        </v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <v-text-field class="teboxr_Data" v-model="current_wp_name" outlined  dense required  label="Current Work Place Name"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" v-model="current_wp_division" outlined  dense required  label="Current Work Place - Division  "  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-row>
                                                <v-col cols="12" lg="6">
                                                    <v-text-field class="teboxr_Data" v-model="current_wp_address" outlined  dense required  label="Current Work Place – Address"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                                </v-col>
                                                <v-col cols="12" lg="2">
                                                    <v-checkbox label="map click" style="margin-top: 0" v-model="current_wp_mapclick" @change="changeMapClick('currentwp',$event)"></v-checkbox>
                                                </v-col>
                                                <v-col cols="12" lg="2">
                                                    <v-text-field class="teboxr_Data" v-model="current_wp_lat" disabled outlined  dense required  label="Latitude"  color="black"   style="font-size:10px !important;"   ></v-text-field>
                                                </v-col>
                                                <v-col cols="12" lg="2">
                                                    <v-text-field class="teboxr_Data" v-model="current_wp_lng" disabled outlined  dense required  label="Longitude"  color="black"   style="font-size:10px !important;"   ></v-text-field>
                                                </v-col>
                                            </v-row>

                                            <v-text-field class="teboxr_Data" v-model="tp_office" outlined  dense required  label="Office Phone No"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" v-model="fax_office" outlined  dense required  label="Office Fax no "  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" v-model="email_office" outlined  dense required  label="Office  e-mail address"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>

                                        </v-expansion-panel-content>
                                    </v-expansion-panel>

                                    <!--Promotions-->
                                    <v-expansion-panel flat>
                                        <v-expansion-panel-header flat style="font-size: 14px !important;">
                                            Promotions
                                        </v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <v-text-field class="teboxr_Data" v-model="grade_eleven_promotions" outlined  dense required  label="Promotions  Grade 11"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>

                                            <v-text-field class="teboxr_Data" v-model="eligible_date_g_eleven"           outlined  dense required  label="Eligible date"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>

                                            <v-menu
                                                v-model="EligibledateModel"
                                                :close-on-content-click="false"
                                                :nudge-right="40"
                                                transition="scale-transition"
                                                offset-y
                                                min-width="auto"
                                            >
                                                <template v-slot:activator="{ on, attrs }">
                                                    <v-text-field
                                                        v-model="eligible_date_g_eleven"
                                                        label="Eligible date"
                                                        prepend-icon="mdi-calendar"
                                                        readonly
                                                        v-bind="attrs"
                                                        v-on="on"
                                                    ></v-text-field>
                                                </template>
                                                <v-date-picker
                                                    v-model="eligible_date_g_eleven"
                                                    @input="EligibledateModel = false"
                                                ></v-date-picker>
                                            </v-menu>

                                            <v-menu v-model="acquiredateModel" :close-on-content-click="false" :nudge-right="40" transition="scale-transition" offset-y min-width="auto">
                                                <template v-slot:activator="{ on, attrs }">
                                                    <v-text-field v-model="acquired_date" label="Acquire Date" prepend-icon="mdi-calendar" readonly v-bind="attrs" v-on="on"></v-text-field>
                                                </template>
                                                <v-date-picker v-model="acquired_date" @input="acquiredateModel = false"></v-date-picker>
                                            </v-menu>



                                            <v-text-field class="teboxr_Data" v-model="method_of_promotion"     outlined  dense required  label="Method of promotion"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" v-model="grade_one_promotion"     outlined  dense required  label="Promotions  Grade 1"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" v-model="eligible_date_g_one"           outlined  dense required  label="Eligible date"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                        </v-expansion-panel-content>
                                    </v-expansion-panel>

                                    <!--Salary-->
                                    <v-expansion-panel flat>
                                        <v-expansion-panel-header flat style="font-size: 14px !important;">
                                            Salary Details
                                        </v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <v-text-field class="teboxr_Data" v-model="salary_code" outlined  dense required  label="Salary Code"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" v-model="basic_salary" outlined  dense required  label="Basic Salary"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" v-model="bank" outlined  dense required  label="Bank "  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" v-model="branch" outlined  dense required  label="Branch"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" v-model="account_number" outlined  dense required  label="Account Number"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" v-model="salary_scale" outlined  dense required  label="Salary Scale"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                        </v-expansion-panel-content>
                                    </v-expansion-panel>

                                    <!--Work Experience-->
                                    <v-expansion-panel flat>
                                        <v-expansion-panel-header flat style="font-size: 14px !important;">
                                            Work Experience
                                        </v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <v-text-field class="teboxr_Data" v-model="previous_wp_name" outlined  dense required  label="Employment History Work Place Name"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" v-model="previous_wp_division" outlined  dense required  label="Employment History Work Place - Division "  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-row>
                                                <v-col cols="12" lg="6">
                                                    <v-text-field class="teboxr_Data" v-model="previous_wp_address" outlined  dense required  label="Employment History Work Place – Address"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                                </v-col>
                                                <v-col cols="12" lg="2">
                                                    <v-checkbox label="map click" style="margin-top: 0" v-model="previous_wp_mapclick" @change="changeMapClick('previous_wp',$event)"></v-checkbox>
                                                </v-col>
                                                <v-col cols="12" lg="2">
                                                    <v-text-field class="teboxr_Data" v-model="previous_wp_lat" disabled outlined  dense required  label="Latitude"  color="black"   style="font-size:10px !important;"   ></v-text-field>
                                                </v-col>
                                                <v-col cols="12" lg="2">
                                                    <v-text-field class="teboxr_Data" v-model="previous_wp_lng" disabled outlined  dense required  label="Longitude"  color="black"   style="font-size:10px !important;"   ></v-text-field>
                                                </v-col>
                                            </v-row>

                                            <v-text-field class="teboxr_Data" v-model="previous_wp_designation" outlined  dense required  label="Employment History Designation"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" v-model="previous_wp_service" outlined  dense required  label="Employment History Service"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" v-model="previous_wp_class" outlined  dense required  label="Employment History Class "  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                        </v-expansion-panel-content>
                                    </v-expansion-panel>
                                </v-expansion-panels>
                                </v-card>
                                <v-spacer></v-spacer>
                                <v-btn v-if="!selectedEmployee" @click="btnSubmitLoader = true" color="primary" style="margin-top: 15px;"> <v-icon>save</v-icon> &nbsp;&nbsp;&nbsp; Save Employee</v-btn>
                                <v-btn v-else dark @click="btnSubmitLoader = true" color="purple" style="margin-top: 15px;"> <v-icon>update</v-icon> &nbsp;&nbsp;&nbsp; Update Employee</v-btn>

                                <v-btn  color="error" style="margin-top: 15px;" @click="askToResetForm()"> <v-icon>autorenew</v-icon> &nbsp;&nbsp;&nbsp; Reset Form</v-btn>
                            </v-col>
                            <v-col cols="12" md="6">
                                <v-card raised>
                                    <v-tabs>
                                    <v-tab>Map</v-tab>
                                    <v-tab>Registered Employee</v-tab>
                                    <v-tab>Profile</v-tab>
                                    <v-tab-item>
                                        <v-card>
                                            <GmapMap  :center="center" :zoom="7.8" v-bind:style="{ 'width': window.width/2-60+'px','height':window.height-160+'px','margin-top':0+'px' }" :options="mapOptions" ref="mapDiv" id="map_canvas"></GmapMap>
                                        </v-card>
                                    </v-tab-item>
                                    <v-tab-item>
                                        <v-toolbar elevation="0" color="dark">
                                            <v-row>
                                                <v-col cols="12" lg="6">
                                                    <v-text-field flat  prepend-icon="search" placeholder="Search" v-model="search" hide-details class="hidden-sm-and-down"></v-text-field>
                                                </v-col>
                                                <v-col cols="12" lg="6">
                                                    <v-progress-linear
                                                        v-model="cardrePrecentage"
                                                        height="25"
                                                    >
                                                        <strong>{{cardrePrecentage }}%</strong>
                                                    </v-progress-linear>
                                                </v-col>
                                            </v-row>
                                            </v-toolbar>
                                        <v-data-table
                                                :headers="headers"
                                                :items="employees"
                                                item-key="id"
                                                class="elevation-1"
                                                :search="search"
                                                :loading="tableLoading"
                                            >
                                            <template v-slot:item.avatar="{ item }">
                                                <v-avatar>
                                                    <img
                                                        :src="item.avatar"
                                                        style="cursor: zoom-in"
                                                        @click="expandImage(item.avatar)"
                                                    />
                                                </v-avatar>
                                            </template>
                                                <template v-slot:item.edit="{ item }">
                                                    <v-btn icon small color="primary" @click="setSelectedEmployee(item.id)"><v-icon > mdi-pencil </v-icon></v-btn>
                                                </template>
                                                <template v-slot:item.delete="{ item }">
                                                    <v-btn icon small color="error" @click="deleteEmployee(item.id)"><v-icon > delete </v-icon></v-btn>
                                                </template>
                                        </v-data-table>
                                    </v-tab-item>
                                    <v-tab-item>
                                        <v-card flat>
                                            <v-card-text v-if="this.user">
                                                <v-row>
                                                    <v-col cols="3">
                                                        <span>Name</span>
                                                    </v-col>
                                                    <v-col cols="6">
                                                        <span>{{this.user.name}}</span>
                                                    </v-col>
                                                </v-row>
                                                <v-row>
                                                    <v-col cols="3">
                                                        <span>Designation</span>
                                                    </v-col>
                                                    <v-col cols="6">
                                                        <span>{{this.user.designation}}</span>
                                                    </v-col>
                                                </v-row>
                                                <v-row>
                                                    <v-col cols="3">
                                                        <span>Organization</span>
                                                    </v-col>
                                                    <v-col cols="6">
                                                        <span>{{this.user.organization}}</span>
                                                    </v-col>
                                                </v-row>
                                                <v-row>
                                                    <v-col cols="3">
                                                        <span>Cadre</span>
                                                    </v-col>
                                                    <v-col cols="6">
                                                        <span>{{this.user.cadre}}</span>
                                                    </v-col>
                                                </v-row>
                                                <v-row>
                                                    <v-col cols="3">
                                                        <span>Total Collected</span>
                                                    </v-col>
                                                    <v-col cols="6">
                                                        <span>{{this.employees.length}}</span>
                                                    </v-col>
                                                </v-row>
                                                <v-row>
                                                    <v-col cols="3">
                                                        <span>Percentage</span>
                                                    </v-col>
                                                    <v-col cols="6">
                                                        <v-progress-linear
                                                            v-model="cardrePrecentage"
                                                            height="15"
                                                        >
                                                            <strong>{{cardrePrecentage }}%</strong>
                                                        </v-progress-linear>
                                                    </v-col>
                                                </v-row>
                                            </v-card-text>
                                            <v-card-actions>
                                                <v-btn color="primary" @click="passwordModel = true"> <v-icon>lock</v-icon> &nbsp;&nbsp;&nbsp; Change Password</v-btn>
                                            </v-card-actions>
                                        </v-card>
                                    </v-tab-item>
                                </v-tabs>
                                </v-card>
                            </v-col>
                        </v-row>
                    </v-card-text>
                    </v-form>
                </v-card>
            </v-container>


            <!-- Full Screen Image           -->
            <v-dialog v-model="fullScreenImageDialog"  max-width="350" style="background-color: transparent">
                <v-card max-width="350" @click="fullScreenImageDialog = false" style="cursor: zoom-out">
                    <v-btn small icon color="black" style="position: absolute;top: 0;right: 0" @click="fullScreenImageDialog = false;this.selectedImageURL = null"> <v-icon >close</v-icon> </v-btn>
                    <v-card-text>
                        <v-img :src="selectedImageURL" contain     max-width="350" max-height="350" ></v-img>
                    </v-card-text>

                </v-card>
            </v-dialog>

            <!-- Change Password           -->
            <v-dialog v-model="passwordModel"  max-width="350" style="background-color: transparent">
                <v-card max-width="350" >
                    <v-btn small icon color="black" style="position: absolute;top: 0;right: 0" @click="passwordModel = false;"> <v-icon >close</v-icon> </v-btn>
                    <v-card-title style="margin: 15px">
                        Change Password
                    </v-card-title>
                    <v-card-text>
                        <v-text-field class="teboxr_Data"
                                      outlined  dense required  label="OLD Password"  color="black"
                                      :error-messages="password_errors"
                                      :append-icon="e1 ? 'visibility' : 'visibility_off'"
                                      @click:append="e1 = !e1"
                                      :type="e1 ? 'text' : 'password'"
                                      v-model="oldPW"
                                       ></v-text-field>
                        <v-text-field class="teboxr_Data"
                                      outlined
                                      dense
                                      min="8"
                                      :append-icon="e2 ? 'visibility' : 'visibility_off'"
                                      @click:append="e2 = !e2"
                                      :type="e2 ? 'text' : 'password'"
                                      label="New Password"  color="black"   style="font-size:10px !important;"  v-model="newPW"  ></v-text-field>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn small block :loading="passwordLoader"  @click="changePassword()" :disabled="!newPW || !oldPW || newPW === '' || oldPW === ''" large>Change Password</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

            <v-snackbar
                v-model="snackbar"
                :multi-line="false"
                :color="snackColor"
                :top="snackBarTop"
                :right="snackBarRight"
            >
                {{ snackMessage }}

            </v-snackbar>

            <vue-confirm-dialog></vue-confirm-dialog>
        </v-content>
    </v-app>
</template>

<script>
    import {gmapApi} from "vue2-google-maps";
    import $ from 'jquery'
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';
    export default {
        name: "PersonalInformation",
        components:{
            Loading
        },

        data () {
            return {
                empID:null,
                title:"",
                fullScreenLoader:false,
                drawer: null,
                window: {
                    width: 0,
                    height: 0,
                    lower_height:0,
                    mapheight:0,
                    mapwidth:0,
                },
                center: {lat: 7.9708759, lng:  80.2615532},
                mainPoint: null,
                mapOptions: {
                    controlSize: 21,
                    zoomControl: true,
                    mapTypeControl: true,
                    streetViewControl: true,
                    scaleControl:true,
                    fullscreenControl: false,
                    zoomControlOptions: {
                        position: 7,
                    },
                    streetViewControlOptions: {
                        position: 7,
                    },
                    mapTypeControlOptions: {
                        position: 3
                    },
                    fullscreenControlOptions: {
                        position: 3
                    },
                    scaleControlOptions: {
                        position: 7
                    },
                },
                user: {name:""},
                panel:[0],
                emergency_contact:"",
                sp_name:"",
                childrens:"",
                differently_abled:"",
                foreign_country:"",
                child_adoption:"",
                farthers_name:"",
                current_wp_name:"",
                current_wp_division:"",
                current_wp_address:"",
                tp_office:"",
                fax_office:"",
                email_office:"",
                grade_eleven_promotions:"",
                eligible_date_g_one:"",
                eligible_date_g_eleven:"",
                salary_code:"",
                basic_salary:"",
                bank:"",
                branch:"",
                account_number:"",
                salary_scale:"",
                emergency_contact_name:"",
                emergency_contact_number:"",
                emergency_contact_relationship:"",
                permanent_address:"",
                temporary_address:"",
                official_residence:"",
                tp_home:"",
                tp_mobile:"",
                name_initials:"",
                name_full:"",
                first_name:"",
                last_name:"",
                emp_no:"",
                nic:"",
                issue_date:"",
                dl_no:"",
                dl_category:"",
                dl_issue_date:"",
                dl_expiration:"",
                acquired_date:"",
                pp_no:"",
                pp_category:"",
                pp_issue_date:"",
                pp_expiration:"",
                method_of_promotion:"",
                grade_one_promotion:"",
                previous_wp_name:"",
                previous_wp_division:"",
                previous_wp_address:"",
                previous_wp_designation:"",
                previous_wp_service:"",
                previous_wp_class:"",
                avatar:null,
                lat:"",
                lng:"",
                google_address:"",
                snackbar:false,
                snackMessage:false,
                snackColor:'',
                snackBarTop:true,
                snackBarRight:false,
                saveLoader:false,
                valid: false,
                btnSubmitLoader:false,
                permanent_lat:"",
                permanent_lng:"",
                permanent_google_address:"",
                temporary_lat:"",
                temporary_lng:"",
                temporary_google_address:"",
                residence_lat:"",
                residence_lng:"",
                residence_google_address:"",
                permanent_mapclick:false,
                temporary_mapclick:false,
                residence_mapclick:false,
                previous_wp_lat:"",
                previous_wp_lng:"",
                previous_google_address:"",
                current_wp_lat:"",
                current_wp_lng:"",
                current_google_address:"",
                previous_wp_mapclick:false,
                current_wp_mapclick:false,
                mapClickType:'permanent',
                GMap:null,
                issuedateModel:false,
                dlIssuedateModel:false,
                dlExpiredateModel:false,
                ppIssuedateModel:false,
                acquiredateModel:false,
                ppExpiredateModel:false,
                EligibledateModel:false,
                employees:[],
                search:"",
                headers: [
                    {text: "ID", align: "start", sortable: false, value: "id",},
                    {text: "Image",  sortable: false, value: "avatar",},
                    { text: "Name", value: "name_full" },
                    // { text: "Buyer ID", value: "tradings.buyer.id" },
                    { text: "nic", value: "nic" },
                    { text: "emp_no", value: "emp_no" },
                    { text: "Status", value: "delivery_status" },
                    { text: "Edit", value: "edit" },
                    { text: "Remove", value: "delete" },
                ],
                selectedEmployee:null,
                tableLoading:true,
                fullScreenImageDialog:false,
                selectedImageURL:null,
                cardrePrecentage:0,
                passwordModel:false,
                newPW:null,
                oldPW:null,
                password_errors:[],
                passwordLoader:false,
                e1:false,
                e2:false,
                divorcedDateModel:false,
                divorced_date:"",
                marriedDateModel:false,
                married_date:'',
                civilstatus:'',
                bloodGroup:'',
                gender:'',
                marriage_certificate_no:'',
                DOB:'',
                BirthCertificateNo:'',
                age:'',
                nationality:'',
                ethnicity:'',
                religion:'',
                province:"",
                district:"",
                dsd:"",
                gnd:"",
                faxno:"",
                email:"",
                electorate:"",
                dobModel:false,


            }},

        mounted(){
            //------getting headers from laravel csrf--------------------
            let laravel = JSON.parse(window.Laravel);
            const header = {
                "X-CSRF-TOKEN": laravel.csrfToken,
                "X-Requested-With": "XMLHttpRequest",
            };
            if(laravel.user) {
                this.user = laravel.user;
            }else{
                    this.logout();
            }

            let that = this;
            setTimeout(function () {
                that.$refs.mapDiv.$mapPromise.then((map) => {
                    that.GMap = map;
                    that.init();
                    that.getEmployeeData();
                    // this.fetchBoundaryJsonFile();
                });

            },5000)
        },
        watch:{
            btnSubmitLoader() {
                let that = this;
                if (this.$refs.dataForm.validate()) {
                    if (this.btnSubmitLoader) {
                        setTimeout(() => {
                            that.saveData();
                        }, 500); // toggle after 0.5 seconds
                    }
                } else {
                    this.btnSubmitLoader = false;
                }
            },
        },

        created() {
            window.addEventListener('resize', this.handleResize);
            this.handleResize();

            // alert(this.window.width)
        },

        destroyed() {
            window.removeEventListener('resize', this.handleResize)
        },

        methods: {
            getEmployeeData(){
                //------getting headers from laravel csrf--------------------
                let laravel = JSON.parse(window.Laravel);
                const header = {
                    "X-CSRF-TOKEN": laravel.csrfToken,
                    "X-Requested-With": "XMLHttpRequest",
                };
                this.tableLoading = true;
                axios.post('/api/getEmployee', {uid:this.user.id}, header).then(response => {
                   this.employees = response.data.data;
                    this.tableLoading = false;

                    let precent = this.employees.length/parseInt(this.user.cadre)
                    this.cardrePrecentage = precent.toFixed(2);
                }).catch((error) => {
                    this.snackMessage = error;
                    this.snackColor = 'error';
                    this.snackbar = true;
                    this.tableLoading = false;
                    console.log({error});// this will log an empty object with an error property
                });
            },
            init(){
                let that = this;
                let map = this.GMap;
                //----------------Left click event-------------------------------------
                google.maps.event.addListener(map,"click", function(event) {
                    //----------------------Reverse Geocode---------------------------------
                    let geocoder = new google.maps.Geocoder;
                    that.lat = event.latLng.lat();
                    that.lng = event.latLng.lng();

                    geocoder.geocode({'location': {lat: event.latLng.lat(), lng: event.latLng.lng()}}, function (results, status) {
                        if (status === 'OK') {
                            if (results[0]) {
                                that.google_address = results[0].formatted_address;
                                // let payload = {
                                //     lat : event.latLng.lat(),
                                //     lng : event.latLng.lng(),
                                //     address: results[0].formatted_address
                                // }
                                // store.commit('setSelectedLocation',payload);
                                that.addLocationToDataset();
                            } else {
                                that.snackMessage = "No Result found";
                                that.snackbar = true;
                                that.addLocationToDataset();
                            }
                        } else {
                            that.snackMessage = "Geocode Error !";
                            that.snackbar = true;
                            that.addLocationToDataset();
                        }
                    });


                });
            },

            addLocationToDataset(){
                switch (this.mapClickType) {
                    case 'permanent' :  this.permanent_lat = this.lat;
                                        this.permanent_lng = this.lng;
                                        this.permanent_google_address = this.google_address;
                                        break;
                    case 'temporary' :  this.temporary_lat = this.lat;
                                        this.temporary_lng = this.lng;
                                        this.temporary_google_address = this.google_address;
                                        break;
                    case 'residence' :  this.residence_lat = this.lat;
                                        this.residence_lng = this.lng;
                                        this.residence_google_address = this.google_address;
                                        break;
                    case 'currentwp' :  this.current_wp_lat = this.lat;
                                        this.current_wp_lng = this.lng;
                                        this.current_google_address = this.google_address;
                                        break;
                    case 'previous_wp' :  this.previous_wp_lat = this.lat;
                                          this.previous_wp_lng = this.lng;
                                          this.previous_google_address = this.google_address;
                                          break;
                }

            },

            handleResize() {
                this.window.width = window.innerWidth;
                this.window.height = window.innerHeight;
                this.window.lower_height = window.innerHeight-15;
            },
            saveData(){

                //------getting headers from laravel csrf--------------------
                let laravel = JSON.parse(window.Laravel);
                const header = {
                    "X-CSRF-TOKEN": laravel.csrfToken,
                    "X-Requested-With": "XMLHttpRequest",
                };
                //----------------first data set-------------------
                let formData = new FormData();
                formData.append("empID", this.empID);
                formData.append("avatar", this.avatar);
                formData.append("title", this.title);
                formData.append("name_initials", this.name_initials);
                formData.append("name_full", this.name_full);
                formData.append("first_name", this.first_name);
                formData.append("last_name", this.last_name);
                formData.append("emp_no", this.emp_no);
                formData.append("nic", this.nic);
                formData.append("issue_date", this.issue_date);
                formData.append("dl_no", this.dl_no);
                formData.append("dl_category", this.dl_category);
                formData.append("dl_issue_date", this.dl_issue_date);
                formData.append("dl_expiration", this.dl_expiration);
                formData.append("pp_no", this.pp_no);
                formData.append("pp_category", this.pp_category);
                formData.append("pp_issue_date", this.pp_issue_date);
                formData.append("pp_expiration", this.pp_expiration);
                formData.append("permanent_address", this.permanent_address);
                formData.append("temporary_address", this.temporary_address);
                formData.append("official_residence", this.official_residence);
                formData.append("tp_home", this.tp_home);
                formData.append("tp_mobile", this.tp_mobile);
                formData.append("emergency_contact_name", this.emergency_contact_name);
                formData.append("emergency_contact_number", this.emergency_contact_number);
                formData.append("emergency_contact_relationship", this.emergency_contact_relationship);
                formData.append("sp_name", this.sp_name);
                formData.append("childrens", this.childrens);
                formData.append("differently_abled", this.differently_abled);
                formData.append("differently_abled", this.differently_abled);
                formData.append("foreign_country", this.foreign_country);
                formData.append("child_adoption", this.child_adoption);
                formData.append("farthers_name", this.farthers_name);
                formData.append("current_wp_name", this.current_wp_name);
                formData.append("current_wp_division", this.current_wp_division);
                formData.append("current_wp_address", this.current_wp_address);
                formData.append("tp_office", this.tp_office);
                formData.append("fax_office", this.fax_office);
                formData.append("email_office", this.email_office);
                formData.append("grade_eleven_promotions", this.grade_eleven_promotions);
                formData.append("eligible_date_g_one", this.eligible_date_g_one);
                formData.append("acquired_date", this.acquired_date);
                formData.append("method_of_promotion", this.method_of_promotion);
                formData.append("grade_one_promotion", this.grade_one_promotion);
                formData.append("eligible_date_g_eleven", this.eligible_date_g_eleven);
                formData.append("salary_code", this.salary_code);
                formData.append("basic_salary", this.basic_salary);
                formData.append("bank", this.bank);
                formData.append("branch", this.branch);
                formData.append("account_number", this.account_number);
                formData.append("salary_scale", this.salary_scale);
                formData.append("previous_wp_name", this.previous_wp_name);
                formData.append("previous_wp_division", this.previous_wp_division);
                formData.append("previous_wp_address", this.previous_wp_address);
                formData.append("previous_wp_designation", this.previous_wp_designation);
                formData.append("previous_wp_service", this.previous_wp_service);
                formData.append("previous_wp_class", this.previous_wp_class);
                formData.append("permanent_lat", this.permanent_lat);
                formData.append("permanent_lng", this.permanent_lng);
                formData.append("permanent_google_address", this.permanent_google_address);
                formData.append("temporary_lat", this.temporary_lat);
                formData.append("temporary_lng", this.temporary_lng);
                formData.append("temporary_google_address", this.temporary_google_address);
                formData.append("residence_lat", this.residence_lat);
                formData.append("residence_lng", this.residence_lng);
                formData.append("residence_google_address", this.residence_google_address);
                formData.append("previous_wp_lat", this.previous_wp_lat);
                formData.append("previous_wp_lng", this.previous_wp_lng);
                formData.append("previous_google_address", this.previous_google_address);
                formData.append("current_wp_lat", this.current_wp_lat);
                formData.append("current_wp_lng", this.current_wp_lng);
                formData.append("current_google_address", this.current_google_address);
                formData.append("created_by", this.user.id);

                axios.post('/api/saveEmployee', formData, header).then(response => {
                    this.snackMessage = response.data.message;
                    response.data.http_status === 'success' ? this.snackColor = 'success': this.snackColor = 'error';
                    this.snackbar = true;
                    this.btnSubmitLoader = false;
                    if (response.data.data){
                        let index = _.findIndex(this.employees,{'id':response.data.data.id});
                        if(index> -1){
                            this.employees.splice(index,1,response.data.data);
                        }else{
                            this.employees.unshift(response.data.data);
                        }
                    }
                    this.clearForm();

                }).catch((error) => {
                    this.snackMessage = error;
                    this.snackColor = 'error';
                    this.snackbar = true;
                    this.btnSubmitLoader = false;
                    console.log({error});// this will log an empty object with an error property
                });

            },
            changeMapClick(type,visible){
                if (visible) {
                    switch (type) {
                        case 'permanent' :  this.temporary_mapclick = false;
                                            this.residence_mapclick = false;
                                            this.previous_wp_mapclick = false;
                                            this.current_wp_mapclick = false;
                                            this.mapClickType = 'permanent';
                                            break;
                        case 'temporary' :  this.permanent_mapclick = false;
                                            this.residence_mapclick = false;
                                            this.previous_wp_mapclick = false;
                                            this.current_wp_mapclick = false;
                                            this.mapClickType = 'temporary';
                                            break;
                        case 'residence' :  this.permanent_mapclick = false;
                                            this.temporary_mapclick = false;
                                            this.previous_wp_mapclick = false;
                                            this.current_wp_mapclick = false;
                                            this.mapClickType = 'residence';
                                            break;
                        case 'currentwp' :  this.permanent_mapclick = false;
                                            this.temporary_mapclick = false;
                                            this.previous_wp_mapclick = false;
                                            this.residence_mapclick = false;
                                            this.mapClickType = 'currentwp';
                                            break;
                        case 'previous_wp' :  this.permanent_mapclick = false;
                                            this.temporary_mapclick = false;
                                            this.current_wp_mapclick = false;
                                            this.residence_mapclick = false;
                                            this.mapClickType = 'previous_wp';
                                            break;
                    }

                }
            },
            logout(){
                window.setLogout();
            },

            setSelectedEmployee(id){
                let data = _.find(this.employees,{'id':id});
                this.selectedEmployee = data;
                if (this.selectedEmployee) {
                    this.setAttribute(this.selectedEmployee);
                }
            },
            askToResetForm(){
                this.$confirm(
                    {
                        message: `This will clear the all entered data in form.proceed?`,
                        button: {
                            no: 'No',
                            yes: 'YES'
                        },
                        /**
                         * Callback Function
                         * @param {Boolean} confirm
                         */
                        callback: async confirm => {
                            if (confirm) {
                                this.clearForm();

                            } else {

                            }
                        }
                    });
            },
            setAttribute(dataset){
                this.empID = dataset.id;
                this.avatar = dataset.avatar;
                this.title = dataset.title;
                this.name_initials = dataset.name_initials;
                this.name_full = dataset.name_full;
                this.first_name = dataset.first_name;
                this.last_name = dataset.last_name;
                this.emp_no = dataset.emp_no;
                this.nic = dataset.nic;
                this.issue_date = dataset.issue_date;
                this.dl_no = dataset.dl_no;
                this.dl_category = dataset.dl_category;
                this.dl_issue_date = dataset.dl_issue_date;
                this.dl_expiration = dataset.dl_expiration;
                this.pp_no = dataset.pp_no;
                this.pp_category = dataset.pp_category;
                this.pp_issue_date = dataset.pp_issue_date;
                this.pp_expiration = dataset.pp_expiration;
                this.permanent_address = dataset.permanent_address;
                this.temporary_address = dataset.temporary_address;
                this.official_residence = dataset.official_residence;
                this.tp_home = dataset.tp_home;
                this.tp_mobile = dataset.tp_mobile;
                this.emergency_contact_name = dataset.emergency_contact_name;
                this.emergency_contact_number = dataset.emergency_contact_number;
                this.emergency_contact_relationship = dataset.emergency_contact_relationship;
                this.sp_name = dataset.sp_name;
                this.childrens = dataset.childrens;
                this.differently_abled = dataset.differently_abled;
                this.differently_abled = dataset.differently_abled;
                this.foreign_country = dataset.foreign_country;
                this.child_adoption = dataset.child_adoption;
                this.farthers_name = dataset.farthers_name;
                this.current_wp_name = dataset.current_wp_name;
                this.current_wp_division = dataset.current_wp_division;
                this.current_wp_address = dataset.current_wp_address;
                this.tp_office = dataset.tp_office;
                this.fax_office = dataset.fax_office;
                this.email_office = dataset.email_office;
                this.grade_eleven_promotions = dataset.grade_eleven_promotions;
                this.eligible_date_g_one = dataset.eligible_date_g_one;
                this.acquired_date = dataset.acquired_date;
                this.method_of_promotion = dataset.method_of_promotion;
                this.grade_one_promotion = dataset.grade_one_promotion;
                this.eligible_date_g_eleven = dataset.eligible_date_g_eleven;
                this.salary_code = dataset.salary_code;
                this.basic_salary = dataset.basic_salary;
                this.bank = dataset.bank;
                this.branch = dataset.branch;
                this.account_number = dataset.account_number;
                this.salary_scale = dataset.salary_scale;
                this.previous_wp_name = dataset.previous_wp_name;
                this.previous_wp_division = dataset.previous_wp_division;
                this.previous_wp_address = dataset.previous_wp_address;
                this.previous_wp_designation = dataset.previous_wp_designation;
                this.previous_wp_service = dataset.previous_wp_service;
                this.previous_wp_class = dataset.previous_wp_class;
                this.permanent_lat = dataset.permanent_lat;
                this.permanent_lng = dataset.permanent_lng;
                this.permanent_google_address = dataset.permanent_google_address;
                this.temporary_lat = dataset.temporary_lat;
                this.temporary_lng = dataset.temporary_lng;
                this.temporary_google_address = dataset.temporary_google_address;
                this.residence_lat = dataset.residence_lat;
                this.residence_lng = dataset.residence_lng;
                this.residence_google_address = dataset.residence_google_address;
                this.previous_wp_lat = dataset.previous_wp_lat;
                this.previous_wp_lng = dataset.previous_wp_lng;
                this.previous_google_address = dataset.previous_google_address;
                this.current_wp_lat = dataset.current_wp_lat;
                this.current_wp_lng = dataset.current_wp_lng;
                this.current_google_address = dataset.current_google_address;

            },
            deleteEmployee(id){

                this.$confirm(
                    {
                        message: `This will delete the employee.this process cannot undo. do you want to proceed?`,
                        button: {
                            no: 'No',
                            yes: 'Delete'
                        },
                        /**
                         * Callback Function
                         * @param {Boolean} confirm
                         */
                        callback: async confirm => {
                            if (confirm) {
                                let laravel = JSON.parse(window.Laravel);
                                const header = {
                                    "X-CSRF-TOKEN": laravel.csrfToken,
                                    "X-Requested-With": "XMLHttpRequest",
                                };
                                this.tableLoading = true;
                                axios.post('/api/deleteEmployee', {id:id}, header).then(response => {
                                    if (response.data.data){
                                        let index = _.findIndex(this.employees,{'id':id});
                                        // console.log("fucking deleted ",id);
                                        this.employees.splice(index,1);
                                    }
                                    response.data.http_status === 'success' ? this.snackColor = 'success': this.snackColor = 'error';
                                    this.snackMessage = "Successfully Removed!";
                                    this.snackbar = true;
                                    this.tableLoading = false;
                                }).catch((error) => {
                                    this.snackMessage = error;
                                    this.snackColor = 'error';
                                    this.snackbar = true;
                                    this.tableLoading = false;
                                    console.log({error});// this will log an empty object with an error property
                                });

                            } else {

                            }
                        }
                    });


            },
            expandImage(url){
                this.selectedImageURL = url;
                this.fullScreenImageDialog = true;
            },
            clearForm(){
                this.empID = "";
                this.avatar = "";
                this.title = "";
                this.name_initials = "";
                this.name_full = "";
                this.first_name = "";
                this.last_name = "";
                this.emp_no = "";
                this.nic = "";
                this.issue_date = "";
                this.dl_no = "";
                this.dl_category = "";
                this.dl_issue_date = "";
                this.dl_expiration = "";
                this.pp_no = "";
                this.pp_category = "";
                this.pp_issue_date = "";
                this.pp_expiration = "";
                this.permanent_address = "";
                this.temporary_address = "";
                this.official_residence = "";
                this.tp_home = "";
                this.tp_mobile = "";
                this.emergency_contact_name = "";
                this.emergency_contact_number = "";
                this.emergency_contact_relationship = "";
                this.sp_name = "";
                this.childrens = "";
                this.differently_abled = "";
                this.differently_abled = "";
                this.foreign_country = "";
                this.child_adoption = "";
                this.farthers_name = "";
                this.current_wp_name = "";
                this.current_wp_division = "";
                this.current_wp_address = "";
                this.tp_office = "";
                this.fax_office = "";
                this.email_office = "";
                this.grade_eleven_promotions = "";
                this.eligible_date_g_one = "";
                this.acquired_date = "";
                this.method_of_promotion = "";
                this.grade_one_promotion = "";
                this.eligible_date_g_eleven = "";
                this.salary_code = "";
                this.basic_salary = "";
                this.bank = "";
                this.branch = "";
                this.account_number = "";
                this.salary_scale = "";
                this.previous_wp_name = "";
                this.previous_wp_division = "";
                this.previous_wp_address = "";
                this.previous_wp_designation = "";
                this.previous_wp_service = "";
                this.previous_wp_class = "";
                this.permanent_lat = "";
                this.permanent_lng = "";
                this.permanent_google_address = "";
                this.temporary_lat = "";
                this.temporary_lng = "";
                this.temporary_google_address = "";
                this.residence_lat = "";
                this.residence_lng = "";
                this.residence_google_address = "";
                this.previous_wp_lat = "";
                this.previous_wp_lng = "";
                this.previous_google_address = "";
                this.current_wp_lat = "";
                this.current_wp_lng = "";
                this.current_google_address = "";
            },
            changePassword(){
                this.$confirm(
                    {
                        message: `Changing password will sign out you from the system. all the unsaved data will lost in the process. do you want to proceed ?`,
                        button: {
                            no: 'No',
                            yes: 'YES'
                        },
                        /**
                         * Callback Function
                         * @param {Boolean} confirm
                         */
                        callback: async confirm => {
                            if (confirm) {
                                let laravel = JSON.parse(window.Laravel);
                                const header = {
                                    "X-CSRF-TOKEN": laravel.csrfToken,
                                    "X-Requested-With": "XMLHttpRequest",
                                };
                                axios.post('/api/changePassword', {uid:this.user.id,oldPW:this.oldPW,newPW:this.newPW}, header).then(response => {
                                    if (response.data.http_status === 'success'){
                                        this.passwordModel = false;
                                        this.snackMessage = response.data.message;
                                        this.snackColor = 'success';
                                        this.snackbar = true;
                                        this.logout();
                                    }else{
                                        this.password_errors = [response.data.message];
                                        this.oldPW = null;
                                    }
                                }).catch((error) => {
                                    this.snackMessage = error;
                                    this.snackColor = 'error';
                                    this.snackbar = true;
                                    this.tableLoading = false;
                                    console.log({error});// this will log an empty object with an error property
                                });

                            } else {

                            }
                        }
                    });



            }

        }
    }
</script>

<style scoped>
    .vertical {
        border-left: 2.5px solid black;
        position:absolute;}

    .new {
        font-size:25px;
        border-top: 2.5px dashed black;
    }

    .ver{

        border-left: 2.5px dashed black;

    }

    .btn{


    }
    .spa{content: "\2192";
        border-left: 2.5px dashed black;
    }

    span {
        content: "\2192";
    }
    .v-card--reveal {
        bottom: 0;
        opacity: 1 !important;
        position: absolute;
        width: 100%;
    }
    .abc{
        font-size:small;
        color:black;
        font-family: Roboto;
        align-content: center;
    }
    .box{
        font-size: small;
    }
</style>
