<template>
    <v-container>
        <v-row>
            <v-col lg="12" md="12" xl="12" sm="12">
                <h4>PROJECT ID:0001/ PROJECT NAME:Devi balika PlayGrounds</h4>
            </v-col>
        </v-row>
        <v-row>
            <v-col lg="12" md="12" xl="12" sm="12">

                <v-data-table
                    dense
                    :headers="headers"
                    :items="desserts"
                    sort-by="calories"
                    class="elevation-1"
                >
                    <template v-slot:top>
                        <v-toolbar
                            flat
                        >
                            <v-toolbar-title>Project's Tasks</v-toolbar-title>
                            <v-divider
                                class="mx-4"
                                inset
                                vertical
                            ></v-divider>

                            <v-dialog
                                v-model="dialog2"
                                max-width="50%"
                            >
                                <!--<template v-slot:activator="{ on, attrs }">
                                    <v-btn
                                        color="blue darken-4"

                                        dark
                                        class="mb-2"
                                        v-bind="attrs"
                                        v-on="on"
                                        tile solo
                                        small

                                    >
                                        Add New Task
                                    </v-btn>
                                </template>-->
                                <v-card class="pa-4 mt-0" dense>
                                    <v-card-title>
                                        <v-row>
                                            <v-col lg="12" sm="12" md="12">
                                                <span class="text-h5">{{ formTitle }}</span>
                                            </v-col>
                                        </v-row>
                                    </v-card-title>

                                    <v-card-text dense>

                                        <v-row dense>
                                            <v-col
                                                cols="12"
                                                lg="12"
                                                sm="12"
                                                md="12"
                                            >
                                                <v-text-field
                                                    v-model="editedItem.name"
                                                    label="Project name"
                                                ></v-text-field>
                                            </v-col>
                                            <v-col
                                                cols="12"
                                                lg="12"
                                                sm="12"
                                                md="12"
                                            >
                                                <v-text-field
                                                    v-model="editedItem.task"
                                                    label="Task Code"
                                                ></v-text-field>
                                            </v-col>
                                            <v-col
                                                cols="12"
                                                lg="6"
                                                sm="12"
                                                md="12"
                                            >
                                                <v-text-field
                                                    v-model="editedItem.start_date"
                                                    label="Start Date"
                                                    prepend-inner-icon="mdi-calendar-blank"
                                                ></v-text-field>
                                            </v-col>
                                            <v-col
                                                cols="12"
                                                lg="6"
                                                sm="12"
                                                md="12"
                                            >
                                                <v-text-field
                                                    v-model="editedItem.end_date"
                                                    label="End date"
                                                    prepend-inner-icon="mdi-calendar-blank"
                                                ></v-text-field>
                                            </v-col>

                                        </v-row>

                                    </v-card-text>

                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn
                                            color="blue darken-1"
                                            text
                                            @click="close"
                                        >
                                            Cancel
                                        </v-btn>
                                        <v-btn
                                            color="blue darken-1"
                                            text
                                            @click="save"
                                        >
                                            Update
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                            <v-dialog v-model="dialogDelete" max-width="500px">
                                <v-card>
                                    <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                                        <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                                        <v-spacer></v-spacer>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </v-toolbar>
                    </template>
                    <template v-slot:item.actions="{ item }">
                        <v-icon
                            small
                            class="mr-2"
                            @click="editItem(item)"
                        >
                            mdi-pencil
                        </v-icon>
                        <v-icon
                            small
                            @click="deleteItem(item)"
                        >
                            mdi-delete
                        </v-icon>
                    </template>

                </v-data-table>


            </v-col>
        </v-row>



        <!--  <v-row>
              <v-col
                  cols="12"
                  sm="6"
                  md="4"
              >

                  <v-menu
                      ref="menu"
                      v-model="menu"
                      :close-on-content-click="false"
                      :return-value.sync="date"
                      transition="scale-transition"
                      offset-y
                      min-width="auto"
                  >
                      <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                              v-model="date"
                              label="Start Date"
                              prepend-icon="mdi-calendar"
                              readonly
                              v-bind="attrs"
                              v-on="on"
                          ></v-text-field>
                      </template>
                      <v-date-picker
                          v-model="date"
                          no-title
                          scrollable
                      >
                          <v-spacer></v-spacer>
                          <v-btn
                              text
                              color="primary"
                              @click="menu = false"
                          >
                              Cancel
                          </v-btn>
                          <v-btn
                              text
                              color="primary"
                              @click="$refs.menu.save(date)"
                          >
                              OK
                          </v-btn>
                      </v-date-picker>
                  </v-menu>
             </v-col>
              <v-spacer></v-spacer>


                 <v-col
                      cols="12"
                      sm="6"
                      md="4"
                  >
                      <v-menu
                          ref="menu"
                          v-model="menu2"
                          :close-on-content-click="false"
                          :return-value.sync="date2"
                          transition="scale-transition"
                          offset-y
                          min-width="auto"
                      >
                          <template v-slot:activator="{ on, attrs }">
                              <v-text-field
                                  v-model="date2"
                                  label="End Date"
                                  prepend-icon="mdi-calendar"
                                  readonly
                                  v-bind="attrs"
                                  v-on="on"
                              ></v-text-field>
                          </template>
                          <v-date-picker
                              v-model="date2"
                              no-title
                              scrollable
                          >
                              <v-spacer></v-spacer>
                              <v-btn
                                  text
                                  color="primary"
                                  @click="menu2 = false"
                              >
                                  Cancel
                              </v-btn>
                              <v-btn
                                  text
                                  color="primary"
                                  @click="$refs.menu.save(date2)"
                              >
                                  OK
                              </v-btn>
                          </v-date-picker>
                      </v-menu>
                 </v-col>
                  <v-spacer></v-spacer>



          </v-row>-->












        <!-- <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
                color="primary"
                text
                @click="dialog = false"
            >
                Save
            </v-btn>
            <v-btn
                color="primary"
                text
                @click="dialog = false"
            >
                Save
            </v-btn>
            <v-btn
                color="primary"
                text
                @click="dialog = false"
            >
                Save
            </v-btn>
        </v-card-actions> -->

        <v-row justify="right">
            <v-col lg="12" md="12" sm="12" xs="12" >

                <v-btn class="mb-2 ml-1" dark color="blue darken-4" tile solo dense small to="/admin/project_plan_popup">
                    <v-icon small dark left>mdi-format-list-bulleted-square</v-icon> &nbsp;Add Tasks
                </v-btn>
                <v-btn class="mb-2 ml-1" dark color="blue darken-4" tile solo dense small @click="OpenEditProjectPage(project_data.id)">
                    <v-icon small dark left>mdi-pencil</v-icon> &nbsp;Save
                </v-btn>
                <v-btn class="mb-2 ml-1" dark color="green darken-4" tile solo dense small to="/admin/allnewprojects">
                    <v-icon small dark left >mdi-arrow-left</v-icon>&nbsp;Back
                </v-btn>

            </v-col>
        </v-row>


    </v-container>
</template>

<script>
export default {
    data: () => ({


        modal: false,

        dialog: false,
        show: false,

        dialog2: false,
        dialogDelete: false,
        headers: [
            {
                text: 'Task Name',
                align: 'start',
                sortable: false,
                value: 'name',
            },
            {text: 'Task Code', value: 'task'},
            {text: 'Start Date', value: 'start_date'},
            {text: 'End Date', value: 'end_date'},
            {text: 'Actions', value: 'actions', sortable: false},
        ],
        desserts: [],
        editedIndex: -1,
        editedItem: {
            name: '',
            task: '',
            start_date: '',
            end_date: '',

        },
        defaultItem: {
            name: '',
            task: '',
            start_date: '',
            end_date: '',

        },
    }),

    computed: {
        formTitle() {
            return this.editedIndex === -1 ? 'New Task' : 'Edit Task'
        },
    },

    watch: {
        dialog(val) {
            val || this.close()
        },
        dialogDelete(val) {
            val || this.closeDelete()
        },
    },

    created() {
        this.initialize()
    },

    methods: {
        initialize() {
            this.desserts = [
                {
                    name: 'Full Proposal Presentation',
                    task: '159',
                    start_date: '18/05/2021',
                    end_date: '18/07/2021',

                },
                {
                    name: 'Scale Design',
                    task: '160',
                    start_date: '18/07/2021',
                    end_date: '18/09/2021',

                },
                {
                    name: 'Remove old equipment',
                    task: '161',
                    start_date: '18/09/2021',
                    end_date: '18/12/2021',

                },
                {
                    name: 'Level the site surface',
                    task: '162',
                    start_date: '18/12/2021',
                    end_date: '18/02/2022',

                },
                {
                    name: 'Assembly & Installation',
                    task: '163',
                    start_date: '18/02/2022',
                    end_date: '18/05/2022',

                },


            ]
        },


        editItem(item) {
            this.editedIndex = this.desserts.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialog2 = true
        },

        deleteItem(item) {
            this.editedIndex = this.desserts.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialogDelete = true
        },

        deleteItemConfirm() {
            this.desserts.splice(this.editedIndex, 1)
            this.closeDelete()
        },

        close() {
            this.dialog2 = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },

        closeDelete() {
            this.dialogDelete = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },

        save() {
            if (this.editedIndex > -1) {
                Object.assign(this.desserts[this.editedIndex], this.editedItem)
            } else {
                this.desserts.push(this.editedItem)
            }
            this.close()
        },
    },




    name: "AddProjectTask",
}

</script>

<style scoped>

</style>