<template>
    <v-container>
        <Header class="font-weight-bold"><h2>Project Tasks</h2></Header>

                    <v-container>

                        <!--  <v-row>
                              <v-col
                                  cols="12"
                                  sm="6"
                                  md="4"
                              >

                                  <v-menu
                                      ref="menu"
                                      v-model="menu"
                                      :close-on-content-click="false"
                                      :return-value.sync="date"
                                      transition="scale-transition"
                                      offset-y
                                      min-width="auto"
                                  >
                                      <template v-slot:activator="{ on, attrs }">
                                          <v-text-field
                                              v-model="date"
                                              label="Start Date"
                                              prepend-icon="mdi-calendar"
                                              readonly
                                              v-bind="attrs"
                                              v-on="on"
                                          ></v-text-field>
                                      </template>
                                      <v-date-picker
                                          v-model="date"
                                          no-title
                                          scrollable
                                      >
                                          <v-spacer></v-spacer>
                                          <v-btn
                                              text
                                              color="primary"
                                              @click="menu = false"
                                          >
                                              Cancel
                                          </v-btn>
                                          <v-btn
                                              text
                                              color="primary"
                                              @click="$refs.menu.save(date)"
                                          >
                                              OK
                                          </v-btn>
                                      </v-date-picker>
                                  </v-menu>
                             </v-col>
                              <v-spacer></v-spacer>


                                 <v-col
                                      cols="12"
                                      sm="6"
                                      md="4"
                                  >
                                      <v-menu
                                          ref="menu"
                                          v-model="menu2"
                                          :close-on-content-click="false"
                                          :return-value.sync="date2"
                                          transition="scale-transition"
                                          offset-y
                                          min-width="auto"
                                      >
                                          <template v-slot:activator="{ on, attrs }">
                                              <v-text-field
                                                  v-model="date2"
                                                  label="End Date"
                                                  prepend-icon="mdi-calendar"
                                                  readonly
                                                  v-bind="attrs"
                                                  v-on="on"
                                              ></v-text-field>
                                          </template>
                                          <v-date-picker
                                              v-model="date2"
                                              no-title
                                              scrollable
                                          >
                                              <v-spacer></v-spacer>
                                              <v-btn
                                                  text
                                                  color="primary"
                                                  @click="menu2 = false"
                                              >
                                                  Cancel
                                              </v-btn>
                                              <v-btn
                                                  text
                                                  color="primary"
                                                  @click="$refs.menu.save(date2)"
                                              >
                                                  OK
                                              </v-btn>
                                          </v-date-picker>
                                      </v-menu>
                                 </v-col>
                                  <v-spacer></v-spacer>



                          </v-row>-->



                        <v-data-table
                            :headers="headers"
                            :items="desserts"
                            sort-by="calories"
                            class="elevation-1"
                            :height="350" striped :width="150"
                        >
                            <template v-slot:top>
                                <v-toolbar
                                    flat
                                >
                                    <v-toolbar-title>Tasks</v-toolbar-title>
                                    <v-divider
                                        class="mx-4"
                                        inset
                                        vertical
                                    ></v-divider>
                                    <v-spacer></v-spacer>
                                    <v-dialog
                                        v-model="dialog2"
                                        max-width="500px"
                                    >
                                        <template v-slot:activator="{ on, attrs }">
                                            <v-btn
                                                color="primary"
                                                dark
                                                class="mb-2"
                                                v-bind="attrs"
                                                v-on="on"
                                            >
                                                Add New Task
                                            </v-btn>
                                        </template>
                                        <v-card>
                                            <v-card-title>
                                                <span class="text-h5">{{ formTitle }}</span>
                                            </v-card-title>

                                            <v-card-text>
                                                <v-container>
                                                    <v-row>
                                                        <v-col
                                                            cols="12"
                                                            sm="6"
                                                            md="4"
                                                        >
                                                            <v-text-field
                                                                v-model="editedItem.name"
                                                                label="Project name"
                                                            ></v-text-field>
                                                        </v-col>
                                                        <v-col
                                                            cols="12"
                                                            sm="6"
                                                            md="4"
                                                        >
                                                            <v-text-field
                                                                v-model="editedItem.task"
                                                                label="Task name"
                                                            ></v-text-field>
                                                        </v-col>
                                                        <v-col
                                                            cols="12"
                                                            sm="6"
                                                            md="4"
                                                        >
                                                            <v-text-field
                                                                v-model="editedItem.start_date"
                                                                label="Start Date"
                                                                prepend-inner-icon="mdi-calendar-blank"
                                                            ></v-text-field>
                                                        </v-col>
                                                        <v-col
                                                            cols="12"
                                                            sm="6"
                                                            md="4"
                                                        >
                                                            <v-text-field
                                                                v-model="editedItem.end_date"
                                                                label="End date"
                                                                prepend-inner-icon="mdi-calendar-blank"
                                                            ></v-text-field>
                                                        </v-col>

                                                    </v-row>
                                                </v-container>
                                            </v-card-text>

                                            <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn
                                                    color="blue darken-1"
                                                    text
                                                    @click="close"
                                                >
                                                    Cancel
                                                </v-btn>
                                                <v-btn
                                                    color="blue darken-1"
                                                    text
                                                    @click="save"
                                                >
                                                    Save
                                                </v-btn>
                                            </v-card-actions>
                                        </v-card>
                                    </v-dialog>
                                    <v-dialog v-model="dialogDelete" max-width="500px">
                                        <v-card>
                                            <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
                                            <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                                                <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                                                <v-spacer></v-spacer>
                                            </v-card-actions>
                                        </v-card>
                                    </v-dialog>
                                </v-toolbar>
                            </template>
                            <template v-slot:item.actions="{ item }">
                                <v-icon
                                    small
                                    class="mr-2"
                                    @click="editItem(item)"
                                >
                                    mdi-pencil
                                </v-icon>
                                <v-icon
                                    small
                                    @click="deleteItem(item)"
                                >
                                    mdi-delete
                                </v-icon>
                            </template>
                            <template v-slot:no-data>
                                <v-btn
                                    color="primary"
                                    @click="initialize"
                                >
                                    Reset
                                </v-btn>
                            </template>
                        </v-data-table>


                    </v-container>



                <v-divider></v-divider>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="primary"
                        text
                        @click="dialog = false"
                    >
                        Save
                    </v-btn>
                </v-card-actions>


    </v-container>


</template>

<script>
export default {

    data: () => ({

        menu: false,
        modal: false,
        menu2: false,
        dialog: false,

        dialog2: false,
        dialogDelete: false,
        headers: [
            {
                text: 'Project Name',
                align: 'start',
                sortable: false,
                value: 'name',
            },
            {text: 'Task name', value: 'task'},
            {text: 'Start Date', value: 'start_date'},
            {text: 'End Date', value: 'end_date'},
            {text: 'Actions', value: 'actions', sortable: false},
        ],
        desserts: [],
        editedIndex: -1,
        editedItem: {
            name: '',
            task: '',
            start_date: '',
            end_date: '',

        },
        defaultItem: {
            name: '',
            task: '',
            start_date: '',
            end_date: '',

        },
    }),

    computed: {
        formTitle() {
            return this.editedIndex === -1 ? 'New Task' : 'Edit Task'
        },
    },

    watch: {
        dialog(val) {
            val || this.close()
        },
        dialogDelete(val) {
            val || this.closeDelete()
        },
    },

    created() {
        this.initialize()
    },

    methods: {
        initialize() {
            this.desserts = [
                {
                    name: 'School Grounds Development Programme',
                    task: '159',
                    start_date: '18/5/2021',
                    end_date: '18/12/2021',

                },
                {
                    name: 'Rural Ground Development Programme',
                    task: '237',
                    start_date: '18/5/2021',
                    end_date: '18/12/2021',

                },
                {
                    name: 'Anula Collage Project',
                    task: '262',
                    start_date: '18/5/2021',
                    end_date: '18/12/2021',

                },
                {
                    name: 'Bandarawela central Collage Project',
                    task: '305',
                    start_date: '18/5/2021',
                    end_date: '18/12/2021',

                },
                {
                    name: 'Homagama Town playground Project',
                    task:' 356',
                    start_date: '18/5/2021',
                    end_date: '18/12/2021',

                },

                {
                    name: 'Colombo public playground Project',
                    task: '518',
                    start_date: '18/5/2021',
                    end_date: '18/12/2021',

                },
            ]
        },

        editItem(item) {
            this.editedIndex = this.desserts.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialog2 = true
        },

        deleteItem(item) {
            this.editedIndex = this.desserts.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialogDelete = true
        },

        deleteItemConfirm() {
            this.desserts.splice(this.editedIndex, 1)
            this.closeDelete()
        },

        close() {
            this.dialog2 = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },

        closeDelete() {
            this.dialogDelete = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },

        save() {
            if (this.editedIndex > -1) {
                Object.assign(this.desserts[this.editedIndex], this.editedItem)
            } else {
                this.desserts.push(this.editedItem)
            }
            this.close()
        },
    },


    name: "ProjectTasks"
}
</script>

<style scoped>

</style>
