<template>
    <v-container>
        <v-row>
            <v-col lg=12 md="12" sm="12" xl="12" xs="12">
                <h3 v-if="this.ProjectsList.id == null">Create New Project</h3>
                <h3 v-else>Update Project</h3>
            </v-col>
        </v-row>
        <v-row>
            <v-col lg="6" xl="6" md="12" sm="12" xs="12">
                <v-card  dense class="pa-3">
                    <!--<div v-if="this.ProjectsList.category !== null">
                        <v-text-field
                            dense
                            v-model="this.ProjectsList.id"
                            label="Project Id"
                            outlined
                            readonly
                        >
                        </v-text-field>
                    </div>
                    <div v-else>
                    </div>


                    <v-text-field
                        v-if="this.ProjectsList.category !== null"
                        dense
                        v-model="this.ProjectsList.number"
                        label="Project Number"
                        outlined >
                    </v-text-field>
                    <v-text-field
                        v-else
                        dense
                        v-model="Project_Number"
                        label="Project Number"
                        outlined >
                    </v-text-field>-->

                    <v-text-field
                        v-if="this.ProjectsList.category !== null"
                        dense
                        v-model="this.ProjectsList.name"
                        label="Project Name"
                        outlined >
                    </v-text-field>
                    <v-text-field
                        v-if="this.ProjectsList.category !== null"
                        dense
                        v-model="this.ProjectsList.category_id"
                        label="Category"
                        outlined >
                    </v-text-field>
                    <v-text-field
                        v-else
                        dense
                        v-model="Name"
                        label="Project Name"
                        outlined >
                    </v-text-field>

                    <v-text-field
                        v-if="this.ProjectsList.category !== null"
                        dense
                        v-model="this.ProjectsList.lat"
                        label="Latitude"
                        outlined >
                    </v-text-field>
                    <v-text-field
                        v-else
                        dense
                        v-model="lat"
                        label="Latitude"
                        outlined >
                    </v-text-field>

                    <v-text-field
                        v-if="this.ProjectsList.category !== null"
                        dense
                        v-model="this.ProjectsList.lang"
                        label="Longitude"
                        outlined >
                    </v-text-field>
                    <v-text-field
                        v-else
                        dense
                        v-model="lng"
                        label="Longitude"
                        outlined >
                    </v-text-field>

                    <v-text-field
                        v-if="this.ProjectsList.category !== null"
                        dense
                        v-model="this.ProjectsList.divisional_secretariat"
                        label="Divisional Secretariat"
                        outlined >
                    </v-text-field>
                    <v-text-field
                        v-else
                        dense
                        v-model="divisional_secretariat"
                        label="Divisional Secretariat"
                        outlined >
                    </v-text-field>

                    <v-text-field
                        v-if="this.ProjectsList.category !== null"
                        dense
                        v-model="this.ProjectsList.provision_estimation"
                        label="Provision Estimation"
                        outlined >
                    </v-text-field>
                    <v-text-field
                        v-else
                        dense
                        v-model="provision_estimation"
                        label="Provision Estimation"
                        outlined >
                    </v-text-field>

                    <v-text-field
                        v-if="this.ProjectsList.category !== null"
                        dense
                        v-model="this.ProjectsList.start_date"
                        label="Project Start Date"
                        outlined >
                    </v-text-field>
                    <v-text-field
                        v-else
                        dense
                        v-model="project_start_date"
                        label="Project Start Date"
                        outlined >
                    </v-text-field>

                    <v-text-field
                        v-if="this.ProjectsList.category !== null"
                        dense
                        v-model="this.ProjectsList.end_date"
                        label="Project End Date"
                        outlined >
                    </v-text-field>
                    <v-text-field
                        v-else
                        dense
                        v-model="project_end_date"
                        label="Project End Date"
                        outlined >
                    </v-text-field>





                    <!-- <v-text-field outlined dense  label="Project Name" v-model="name" ></v-text-field>
                    <v-text-field outlined dense label="Latitude" v-model="lat" ></v-text-field> -->
                    <!-- <v-text-field outlined dense label="Longitude" v-model="lng" ></v-text-field> -->
                    <!-- <v-text-field outlined dense  label="Divisional Secretariat" v-model="divisional_secretariat" ></v-text-field> -->
                    <!-- <v-text-field outlined dense  label="Provision Estimation" v-model="provision_estimation" ></v-text-field> -->
                    <!-- <v-text-field outlined dense label="Project Start Date" v-model="project_start_date" ></v-text-field> -->
                    <!-- v-bind:style="{ 'width': window.width/5+185+'px','height':window.height-350+'px','margin-top':0+'px' }"<v-text-field outlined dense  label="Project End Date" v-model="project_end_date" ></v-text-field> -->


                    <v-btn v-if="this.ProjectsList.category == null" class="mb-2 " dark color="blue darken-4" tile solo dense small @click="close">
                        <v-icon small>mdi-delete-circle</v-icon> &nbsp;Save
                    </v-btn>
                    <v-btn v-else class="mb-2 " dark color="green darken-4" tile solo dense small @click="close">
                        <v-icon small>mdi-delete-circle</v-icon> &nbsp;Update
                    </v-btn>
                    <v-btn class="mb-2 " dark color="red darken-4" tile solo dense small @click="close">
                        <v-icon small>mdi-delete-circle</v-icon> &nbsp;Delete
                    </v-btn>
                </v-card>
            </v-col>
            <v-col lg="6" xl="6" md="12" sm="12" xs="12">

                <v-card dense class="pa-4">
                    <GmapMap
                        :center="center"
                        :zoom="7.8"
                        v-bind:style="{ 'width': window.width/5+185+'px','height':window.height-350+'px','margin-top':0+'px' }"
                        :options="mapOptions"
                        ref="mapDiv" id="map_canvas">
                    </GmapMap>
                    <v-spacer></v-spacer>


                </v-card>
                <v-row>
                    <v-col lg="12" xl="12" md="12" sm="12" xs="12">
                        <v-flex  tile class="mt-2" size="small">
                            <AddProjectTask></AddProjectTask>
                        </v-flex>
                    </v-col>
                </v-row>

            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import AddProjectTask from "./AddProjectTask";
import ProjectPlanPopup from "./ProjectPlanPopup";
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
    name: "ProjectCreation",
    components:
        {
            AddProjectTask,
            Loading,
            ProjectPlanPopup,


        },




    data () {
        return {
            ProjectsList: [

            ],

            user:'',
            window: {
                width: 0,
                height: 0,
            },
            drawer: false,
            group: null,
            mapOptions: {
                controlSize: 21,
                zoomControl: true,
                mapTypeControl: true,
                streetViewControl: true,
                scaleControl:true,
                fullscreenControl: false,
                zoomControlOptions: {
                    position: 7,
                },
                streetViewControlOptions: {
                    position: 7,
                },
                mapTypeControlOptions: {
                    position: 3
                },
                fullscreenControlOptions: {
                    position: 3
                },
                scaleControlOptions: {
                    position: 7
                },
            },
            center: {lat: 7.9708759, lng:  80.2615532},
            GMap:null,
            lng:'',
            lat:'',
            google_address:'',
            district_secretariat:'',
            divisional_secretariat:'',
            provision_estimation:'',
            name:'',
            project_number:'',
            project_start_date:'',
            project_end_date:''
        }},

    mounted(){
        //------getting headers from laravel csrf--------------------
        let laravel = JSON.parse(window.Laravel);
        const header = {
            "X-CSRF-TOKEN": laravel.csrfToken,
            "X-Requested-With": "XMLHttpRequest",
        };

        let that = this;
        this.user = laravel.user;

        // setTimeout(function () {
        that.$refs.mapDiv.$mapPromise.then((map) => {
            that.GMap = map;
            that.init();
        });

        // },2000)
    },

    watch:{
        drawer() {
            let that = this;

        },
    },

    created() {
        window.addEventListener('resize', this.handleResize);
        this.handleResize();

        if(!isNaN(this.$route.params.id)){

            this.initialize(this.$route.params.id)
            alert(this.$route.params.id)
        }

        // alert(this.window.width)
    },

    destroyed() {
        window.removeEventListener('resize', this.handleResize)
    },

    methods: {
        initialize(id) {
            //------getting headers from laravel csrf--------------------
            let laravel = JSON.parse(window.Laravel);
            const header = {
                "X-CSRF-TOKEN": laravel.csrfToken,
                "X-Requested-With": "XMLHttpRequest",
            };
            axios.post('/api/admin/getProjectsByID', {uid:laravel.user.id,id:id}, header).then(response => {
                this.ProjectsList = response.data.data;
                this.tableLoading = false;
            }).catch((error) => {
                this.snackMessage = error;
                this.snackColor = 'error';
                this.snackbar = true;
                this.tableLoading = false;
                console.log({error});// this will log an empty object with an error property
            });
        },

        handleResize() {
            this.window.width = window.innerWidth;
            this.window.height = window.innerHeight;
            this.window.lower_height = window.innerHeight-15;
        },
        logout(){
            window.setLogout();
        },
        init(){
            let that = this;
            let map = this.GMap;
            //----------------Left click event-------------------------------------
            google.maps.event.addListener(map,"click", function(event) {
                //----------------------Reverse Geocode---------------------------------
                let geocoder = new google.maps.Geocoder;
                that.lat = event.latLng.lat();
                that.lng = event.latLng.lng();

                geocoder.geocode({'location': {lat: event.latLng.lat(), lng: event.latLng.lng()}}, function (results, status) {
                    if (status === 'OK') {
                        if (results[0]) {
                            that.google_address = results[0].formatted_address;
                            // let payload = {
                            //     lat : event.latLng.lat(),
                            //     lng : event.latLng.lng(),
                            //     address: results[0].formatted_address
                            // }
                            // store.commit('setSelectedLocation',payload);
                        } else {
                            that.snackMessage = "No Result found";
                            that.snackbar = true;
                            that.addLocationToDataset();
                        }
                    } else {
                        that.snackMessage = "Geocode Error !";
                        that.snackbar = true;
                        that.addLocationToDataset();
                    }
                });


            });
        },
    }
}
</script>