<template>
    <v-container class="mt-3">

        <v-text class="font-weight-bold">
            Add New Sport Officers
        </v-text>



            <AssignSportOfficers></AssignSportOfficers>




      <!-- <v-toolbar
            color="grey lighten-5"
            light
            flat
            prominent
            class="black--text"
            height="20"
        >


            <template v-slot:extension>
                <v-tabs
                    v-model="tabs"
                    centered
                >
                    <v-tab>
                        Sport Officer Details
                    </v-tab>

                </v-tabs>
            </template>
        </v-toolbar>-->





    </v-container>

</template>
<script>

import AddSportOfficer from "./AddSportOfficer";
import AssignSportOfficers from "./AssignSportOfficers";
export default {
    components: {AssignSportOfficers, AddSportOfficer},
    data () {
        return {
            tabs: null,
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
            project_number:'01',
            project_name:'School Grounds Development Programme',
            division: 'Jaffna',
            lat: 6.0,
            lang: 24,
            google_address: 4.0,
            start_date: '18/5/2021',
            end_date: '18/12/2021',
            district_secretariat: 'y.w.Jayasignha',
            divisional_secretariat:'A.M.Darmapala',
            provision_estimation:'Rs.500,000',
            assign_officers:'B.A.Nimal',
        }
    },

    name: "SportsOfficerPage"
}
</script>

<style scoped>

</style>
