<template>  
    <v-row>
    <v-col
          cols="12"
          xs="12"
          sm="12"
          md="12"
          lg="12"
          xl="12"
        >
     
  <v-card>
    
    <v-tabs vertical>
      <v-tab>
        <!-- <v-icon right>
          mdi-account
        </v-icon> -->
        Project Details
      </v-tab>
      <v-tab v-if="project_data.stage_level=='1' || project_data.stage_level=='2' || project_data.stage_level=='3' || project_data.stage_level=='4' || project_data.stage_level=='5' ">
        <!-- <v-icon right>
          mdi-lock
        </v-icon> -->
        Sport Officer
      </v-tab>
      <v-tab v-if=" project_data.stage_level=='3' || project_data.stage_level=='4' || project_data.stage_level=='5' " >
        <!-- <v-icon right>
          mdi-access-point
        </v-icon> -->
        Sport DSD
      </v-tab>
      <v-tab v-if="project_data.stage_level=='4' || project_data.stage_level=='5' ">
        <!-- <v-icon right>
          mdi-access-point
        </v-icon> -->
        Sport District
      </v-tab>
      <v-tab v-if="project_data.stage_level=='5'">
        <!-- <v-icon right>
          mdi-access-point
        </v-icon> -->
        Sport Ministry
      </v-tab>

      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <!--Project Details -->
            <div v-if="project_data">

                <div class="text-h6 mb-5" >PROJECT ID:000{{project_data.id}} / PROJECT NAME:{{project_data.name}}</div>

            <v-row dense>
    <v-col lg="6" md="6" sm="6" xs="12">
        <v-text-field dense
                      v-model=" project_data.category_id"
                      label="Project Category"
                      outlined
                      readonly
        ></v-text-field>
    </v-col>
    <v-col lg="6" md="6" sm="6" xs="12">
        <v-text-field dense
                      v-model="project_data.name"
                      label="Project Name"
                      outlined
                      readonly
        ></v-text-field>
    </v-col>
    <v-col lg="6" md="6" sm="6" xs="12">
        <v-text-field dense
                      v-model=" project_data.province"
                      label="Province"
                      outlined
                      readonly
        ></v-text-field>
    </v-col>
    <v-col lg="6" md="6" sm="6" xs="12">
        <v-text-field dense
                      v-model="project_data.district_secretariat"
                      label="District "
                      outlined
                      readonly
        ></v-text-field>
    </v-col>
    <v-col lg="6" md="6" sm="6" xs="12">
        <v-text-field dense
                      v-model="project_data.divisional_secretariat"
                      label="Divisional "
                      outlined
                      readonly
        ></v-text-field>
    </v-col>
    <v-col lg="6" md="6" sm="6" xs="12" >
        <v-text-field dense
                      v-model="project_data.gnd"
                      label="GND"
                      outlined
                      readonly
        ></v-text-field>
    </v-col>
    <v-col lg="6" md="6" sm="6" xs="12">
        <v-text-field dense
                      v-model=" project_data.start_date "
                      label="Project start Date"

                      readonly
                      prepend-icon="mdi-calendar"
        ></v-text-field>
    </v-col>
    <v-col lg="6" md="6" sm="6" xs="12">
        <v-text-field dense
                      v-model=" project_data.end_date"
                      label="Project End Date"

                      readonly
                      prepend-icon="mdi-calendar"
        ></v-text-field>
    </v-col>
    <!-- <v-col lg="6" md="12" sm="12" >
        <v-text-field dense
        v-model=" project_data.assign_officers"
        label="Assign Sport Officer"
        outlined
        readonly
        ></v-text-field>
    </v-col> -->
    <v-col lg="6" md="6" sm="6" xs="12">
        <v-text-field dense
                      v-model="project_data.provision_estimation"
                      label="Provision "
                      outlined
                      readonly
        ></v-text-field>

    </v-col>
</v-row>

<v-row justify="right">
    <v-col lg="12" md="12" sm="12" xs="12" >
        <v-btn class="mb-2 ml-1" dark color="blue darken-4" tile solo dense small @click="OpenEditProjectPage(project_data.id)" v-if="project_data.stage_level === '5'|| project_data.stage_level === '0'">
            <v-icon small dark left>mdi-pencil</v-icon> &nbsp;Edit
        </v-btn>
        <v-btn class="mb-2 ml-1" dark color="red darken-4" tile solo dense small @click="close" v-if="project_data.stage_level === '5'">
            <v-icon small dark left>mdi-delete-circle</v-icon> &nbsp;Delete
        </v-btn>
        <v-btn class="mb-2 ml-1" dark color="blue darken-4" tile solo dense small to="/admin/project_plan_popup">
            <v-icon small dark left>mdi-format-list-bulleted-square</v-icon> &nbsp;View Tasks
        </v-btn>

        

        

        <v-btn class="mb-2 ml-1" dark color="blue darken-4" tile solo dense small @click="updateProjectStageLevel(project_data.id,project_data.stage_level)" v-if="project_data.stage_level === '0'">
            <v-icon small dark left>mdi-check-decagram</v-icon> Active Project
        </v-btn>

        

        <v-btn class="mb-2 ml-1" dark color="green darken-4" tile solo dense small to="/admin/allnewprojects">
            <v-icon small dark left >mdi-arrow-left</v-icon>&nbsp;Back
        </v-btn>
    </v-col>



</v-row>

            </div>
            <div v-else>
                    <span>please wait</span>
                </div>
            <!--Project Details -->
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <!--Sport Officer  -->
            <v-row dense>
                <v-col lg="12" md="12" sm="12" xs="12" >
                    <v-avatar size="100" color="indigo">
                        <v-icon dark x-large>
                            mdi-account-circle
                        </v-icon>


                    </v-avatar>
                    <div>
                        <p class="ml-3">
                            <strong>{{project_data.assign_officers}} </strong><br/>Sport Officer
                        </p>
                        <v-btn class="mb-2 ml-1" dark color="green darken-4" tile solo dense small to="/admin/sportofficerpage" v-if="project_data.stage_level === '1' || project_data.stage_level === '5' || project_data.stage_level === '0'">
                            <v-icon small dark left >mdi-plus</v-icon>&nbsp;Assign Officer
                        </v-btn>
                    </div>
                </v-col>
            </v-row>
            <!--Sport Officer  -->
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <!--DSD Sports-->
            <v-row dense>
                <v-col lg="6" md="6" sm="6" xs="6" >
                    <v-textarea
                        label="Comment Section"
                        class="ml-1 mr-1"
                        dense
                        outlined
                        clearable
                    ></v-textarea>
                    <v-file-input
                        accept="image/*"
                        label="Upload Image/Video"
                        outlined
                        dense
                        class="ml-1 mr-1"
                        prepend-inner-icon="mdi-camera"

                    ></v-file-input>
                    <v-btn class="mb-2 ml-1" dark color="blue darken-4" tile solo dense small @click="updateProjectStageLevel(project_data.id,project_data.stage_level)" v-if="project_data.stage_level === '3'">
                        <v-icon small dark left>mdi-check-decagram</v-icon> Project Approved By Division
                    </v-btn>
                </v-col>
            </v-row>
            <!--DSD Sport-->
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <!--DSD Sports-->
            <v-row dense>
                <v-col lg="6" md="6" sm="6" xs="6" >
                    <v-textarea
                        label="Comment Section"
                        class="ml-1 mr-1"
                        dense
                        outlined
                        clearable
                    ></v-textarea>
                    <v-file-input
                        accept="image/*"
                        label="Upload Image/Video"
                        outlined
                        dense
                        class="ml-1 mr-1"
                        prepend-inner-icon="mdi-camera"

                    ></v-file-input>
                    <v-btn class="mb-2 ml-1" dark color="blue darken-4" tile solo dense small @click="updateProjectStageLevel(project_data.id,project_data.stage_level)" v-if="project_data.stage_level === '4'">
                        <v-icon small dark left>mdi-check-decagram</v-icon> Project Approved By District
                    </v-btn>
                </v-col>
            </v-row>
            <!--DSD Sport-->
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <!--DSD Sports-->
            <v-row dense>
                <v-col lg="6" md="6" sm="6" xs="6" >
                    <v-textarea
                        label="Comment Section"
                        class="ml-1 mr-1"
                        dense
                        outlined
                        clearable
                    ></v-textarea>
                    <v-file-input
                        accept="image/*"
                        label="Upload Image/Video"
                        outlined
                        dense
                        class="ml-1 mr-1"
                        prepend-inner-icon="mdi-camera"

                    ></v-file-input>
                    <v-btn class="mb-2 ml-1" dark color="blue darken-4" tile solo dense small @click="updateProjectStageLevel(project_data.id,project_data.stage_level)" v-if="project_data.stage_level === '5'">
                        <v-icon small dark left>mdi-check-decagram</v-icon> Project Approved By Ministry
                    </v-btn>
                </v-col>
            </v-row>
            <!--DSD Sport-->
          </v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs>
  </v-card>


      <v-snackbar
            v-model="snackbar"
            :multi-line="false"
            :color="snackColor"
            :top="snackBarTop"
            :right="snackBarRight"
        >
            {{ snackMessage }}

        </v-snackbar>  
        
    </v-col>

    </v-row>
</template>

<script>
import ProjectPlanPopup from "./ProjectPlanPopup";
export default {
    name: "ViewMoreProjectDetails",
    data(){
        return{
            ProjectsList:[],
            project_data:null,
            snackbar:false,
            snackMessage:false,
            snackColor:'',
            snackBarTop:true,
            snackBarRight:false,
            tableLoading:false
        }
    },
    mounted() {
        console.log("url id",this.$route.params.id);
        this.init(this.$route.params.id);
    },
    created() {
        console.log("url id",this.$route.params.id);
        this.init(this.$route.params.id);
    },
    methods:{

        //change stage level

        updateProjectStageLevel(pro_id,pro_stage_level){
            alert(pro_stage_level);
            axios.post('/api/admin/updateStageLevel', {proid:pro_id,stagelevel:pro_stage_level}).then(response => {
                // this.ProjectsList = response.data.data;
                // this.tableLoading = false;
                //alert(val.data);
                    this.$router.go('admin/allnewprojects')
            }).catch((error) => {
                this.snackMessage = error;
                this.snackColor = 'error';
                this.snackbar = true;
                this.tableLoading = false;
                console.log({error});// this will log an empty object with an error property
            });
        },

        //change stage level


        init(id){
            //------getting headers from laravel csrf--------------------
            let laravel = JSON.parse(window.Laravel);
            const header = {
                "X-CSRF-TOKEN": laravel.csrfToken,
                "X-Requested-With": "XMLHttpRequest",
            };
            axios.post('/api/admin/getProjectsByID', {uid:laravel.user.id,id:id}, header).then(response => {
                this.ProjectsList = response.data.project_data;
                this.project_data = response.data.data;
                this.tableLoading = false;
            }).catch((error) => {
                this.snackMessage = error;
                this.snackColor = 'error';
                this.snackbar = true;
                this.tableLoading = false;
                console.log({error});// this will log an empty object with an error property
            });

        },

        OpenEditProjectPage(projectid){

            this.$router.push({
                path:'/admin/projectcreation/'+projectid,

            });
        }

        

        
    }
}
</script>

<style scoped>


</style>
