<template>
    <v-app id="app">
        <v-card flat tile >

<!--            <v-toolbar color="white" >-->
<!--                    <img src="/img/title.png"  style="width: 135px;margin-top: 2% !important;"/>-->
<!--                <v-spacer></v-spacer>-->
<!--                    <v-toolbar-title>-->
<!--                        DATA COLLECTING APP FOR WESTERN PROVINCE-->
<!--                    </v-toolbar-title>-->
<!--                    <v-spacer></v-spacer>-->
<!--                <v-btn @click="gotoHome" class="overline mt-3" color="white" elevation="2" small >-->
<!--                    <v-icon small>home</v-icon>&nbsp; Home &nbsp;-->
<!--                </v-btn>-->
<!--                    <v-btn @click="logout()" class="overline mt-3" color="white" elevation="2" small  style="margin-left: 10px">-->
<!--                        LOGOUT &nbsp;<v-icon small>mdi-login-variant</v-icon>&nbsp;-->
<!--                    </v-btn>-->
<!--            </v-toolbar>-->
            <v-container fluid>

            <v-card class="mx-auto"  style="z-index: 7 !important;margin-bottom: -44px !important;" absolute tile>

                <v-main class="grey lighten-2 mt-6" >
                    <v-container fluid dark>
                        <v-form ref="dataForm" v-model="valid" lazy-validation>
                            <v-row style="margin-top: -1% !important;">
                                <v-col cols="12" md="12">
                                    <v-hover v-slot="{ hover }" open-delay="200">
                                        <v-row>
                                                <v-col cols="12" md="6">
                                                    <v-expansion-panels v-model="panel"  multiple tile>
                                                            <v-expansion-panel tile>
                                                                <v-expansion-panel-header style="border-bottom: 5px solid #00BFA5;font-size: 17px !important; ">
                                                                    Organization  Information
                                                                </v-expansion-panel-header>
                                                                <v-expansion-panel-content>
                                                                    <v-row>
                                                                        <v-col cols="12" md="12">
                                                                            <v-text-field class="mt-5" label="Organization name" prepend-inner-icon="mdi-checkbox-multiple-marked-outline" v-model="OrganizationName" :rules="OrganizationNameRules" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                            <v-textarea  label="Organization address" prepend-inner-icon="mdi-checkbox-multiple-marked-outline" v-model="OrganizationAddress" :rules="OrganizationAddressRules" required counter  outlined solo  dense color="black"  clearable  ></v-textarea>

                                                                            <v-text-field label="Category" v-model="category" prepend-inner-icon="mdi-checkbox-multiple-marked-outline" :rules="categoryRules" required counter  outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                            <v-text-field label="Sub category" v-model="Subcategory" prepend-inner-icon="mdi-checkbox-multiple-marked-outline" :rules="SubcategoryRules" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                            <v-text-field label="Office email" v-model="OfficeEmail" prepend-inner-icon="mdi-email-variant" :rules="emailRules" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                            <v-text-field label="Office telephone number" v-model="OfficeTelephoneNumber" prepend-inner-icon="mdi-phone-classic" :rules="OfficeTelephoneNumberRules" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                            <v-text-field label="Office fax number" v-model="OfficeFaxNumber" prepend-inner-icon="mdi-fax" :rules="OfficeFaxNumberRules" required counter outlined solo  dense color="black"  clearable  ></v-text-field>
                                                                        </v-col>
                                                                    </v-row>
                                                                </v-expansion-panel-content>
                                                            </v-expansion-panel>

                                                            <v-expansion-panel tile>
                                                                <v-expansion-panel-header style="border-bottom: 5px solid #00BFA5;font-size: 17px !important; ">
                                                                    Head of The Organization
                                                                </v-expansion-panel-header>
                                                                <v-expansion-panel-content>
                                                                    <v-row>
                                                                        <v-col cols="12" md="12">
                                                                            <v-text-field class="mt-5" label="Name with initials" v-model="NameWithInitials" :rules="NameWithInitialsRules" prepend-inner-icon="mdi-checkbox-multiple-marked-outline" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                            <v-text-field label="Designation" v-model="Designation" :rules="DesignationRules" prepend-inner-icon="mdi-checkbox-multiple-marked-outline" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                            <v-text-field label="Email" v-model="HeadEmail" :rules="emailRules" prepend-inner-icon="mdi-email-variant" required counter outlined  solo  dense color="black"  clearable  ></v-text-field>

                                                                            <v-text-field label="Office telephone number" v-model="HeadOfficeTelephoneNumber" :rules="OfficeTelephoneNumberRules" prepend-inner-icon="mdi-phone-classic" required counter outlined solo  dense color="black" clearable ></v-text-field>

                                                                            <v-text-field label="Mobile number" v-model="HeadMobileNumber" :rules="MobileNumberRules" prepend-inner-icon="mdi-cellphone" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                            <v-text-field label="Fax number" v-model="HeadFaxNumber" :rules="OfficeFaxNumberRules" prepend-inner-icon="mdi-fax" required counter outlined solo  dense color="black"  clearable  ></v-text-field>
                                                                        </v-col>
                                                                    </v-row>
                                                                </v-expansion-panel-content>
                                                            </v-expansion-panel>

                                                            <v-expansion-panel tile>
                                                                <v-expansion-panel-header style="border-bottom: 5px solid #00BFA5;font-size: 17px !important; ">
                                                                    Deputy Head of the Organization
                                                                </v-expansion-panel-header>
                                                                <v-expansion-panel-content>
                                                                    <v-row>
                                                                        <v-col cols="12" md="12">
                                                                            <v-text-field class="mt-5" label="Name with initials" v-model="DeputyNameWithInitials" prepend-inner-icon="mdi-checkbox-multiple-marked-outline" :rules="NameWithInitialsRules" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                            <v-text-field label="Designation" v-model="DeputyDesignation" prepend-inner-icon="mdi-checkbox-multiple-marked-outline" :rules="DesignationRules" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                            <v-text-field label="Email" v-model="DeputyHeadEmail" :rules="emailRules" prepend-inner-icon="mdi-email-variant" required counter outlined  solo  dense color="black"  clearable  ></v-text-field>

                                                                            <v-text-field label="Office telephone number" v-model="DeputyHeadOfficeTelephoneNumber" :rules="OfficeTelephoneNumberRules" prepend-inner-icon="mdi-phone-classic" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                            <v-text-field label="Mobile number" v-model="DeputyHeadMobileNumber" :rules="MobileNumberRules" prepend-inner-icon="mdi-cellphone" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                            <v-text-field label="Fax number" v-model="DeputyHeadFaxNumber" :rules="OfficeFaxNumberRules" prepend-inner-icon="mdi-fax" required counter outlined solo  dense color="black"  clearable  ></v-text-field>
                                                                        </v-col>
                                                                    </v-row>
                                                                </v-expansion-panel-content>
                                                            </v-expansion-panel>

                                                            <v-expansion-panel tile>
                                                                <v-expansion-panel-header style="border-bottom: 5px solid #00BFA5;font-size: 17px !important; ">
                                                                    Deputy/Assistant Head of The Organization
                                                                </v-expansion-panel-header>
                                                                <v-expansion-panel-content>
                                                                    <v-row>
                                                                        <v-col cols="12" md="12">
                                                                            <v-text-field class="mt-5" label="Name with initials" v-model="DeputyAssistantNameWithInitials" prepend-inner-icon="mdi-checkbox-multiple-marked-outline" :rules="NameWithInitialsRules" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                            <v-text-field label="Designation" v-model="DeputyAssistantDesignation" prepend-inner-icon="mdi-checkbox-multiple-marked-outline" :rules="DesignationRules" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                            <v-text-field label="Email" v-model="DeputyAssistantEmail" :rules="emailRules" prepend-inner-icon="mdi-email-variant" required counter outlined  solo  dense color="black"  clearable  ></v-text-field>

                                                                            <v-text-field label="Office telephone number" v-model="DeputyAssistantTelephoneNumber" :rules="OfficeTelephoneNumberRules" prepend-inner-icon="mdi-phone-classic" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                            <v-text-field label="Mobile number" v-model="DeputyAssistantMobileNumber" :rules="MobileNumberRules" prepend-inner-icon="mdi-cellphone" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                            <v-text-field label="Fax number" v-model="DeputyAssistantFaxNumber" :rules="OfficeFaxNumberRules" prepend-inner-icon="mdi-fax" required counter outlined solo  dense color="black"  clearable  ></v-text-field>
                                                                        </v-col>
                                                                    </v-row>
                                                                </v-expansion-panel-content>
                                                            </v-expansion-panel>

                                                            <v-expansion-panel tile>
                                                                <v-expansion-panel-header style="border-bottom: 5px solid #00BFA5;font-size: 17px !important; ">
                                                                    Staff Information
                                                                </v-expansion-panel-header>
                                                                <v-expansion-panel-content>
                                                                    <v-row>
                                                                        <v-col cols="12" md="12">
                                                                          <span v-for="(inputSelection, s) in inputsSelection" :key="s">
                                                                            <v-row class="mt-5" justify="center">
                                                                                <v-col  cols="12" sm="12" xs="12" md="6" lg="6">
                                                                                  <v-text-field  label="Type" v-model="inputSelection.attributeSelectionType" prepend-inner-icon="mdi-checkbox-multiple-marked-outline" required counter outlined  solo  dense color="black" clearable></v-text-field>
                                                                                </v-col>
                                                                                <v-col cols="12" sm="12" xs="12" md="4" lg="4">
                                                                                  <v-text-field  label="Total" v-model="inputSelection.attributeSelectionTotal" prepend-inner-icon="mdi-checkbox-multiple-marked-outline" required counter outlined  solo  dense color="black" clearable></v-text-field>
                                                                                </v-col>
                                                                                <v-col cols="12" sm="12" xs="12" md="2" lg="2">
                                                                                     <v-btn x-small fab dark color="red darken-4"  @click="remove_Selection(c)" v-show="s ||  (!s && inputsSelection.length > 1) ">
                                                                                      <v-icon small>mdi-minus-circle-outline</v-icon>
                                                                                    </v-btn>
                                                                                    <v-btn x-small fab dark color="green darken-4" @click="add_Selection(c)" v-show="s == inputsSelection.length - 1 ">
                                                                                      <v-icon small>mdi-plus-circle-outline</v-icon>
                                                                                    </v-btn>
                                                                                </v-col>
                                                                            </v-row>
                                                                         </span>

                                                                        </v-col>
                                                                    </v-row>
                                                                </v-expansion-panel-content>
                                                            </v-expansion-panel>
                                                        </v-expansion-panels>
                                                </v-col>
                                                <v-col cols="12" md="6">
                                                    <mainMap/>
                                                    <v-row>
                                                        <v-col cols="12" md="12">
                                                            <v-card tile class="mt-4" style="border-bottom: 5px solid #00BFA5">
                                                                <v-card-text>
                                                                    <v-text-field class="mt-5" label="Google address" v-model="GoogleAddress" prepend-inner-icon="mdi-map" :rules="GoogleAddressRules" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                    <v-text-field label="Latitude" v-model="lat" prepend-inner-icon="mdi-home-map-marker" :rules="latRules" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                    <v-text-field label="Longitude" v-model="lng"  :rules="lngRules" prepend-inner-icon="mdi-home-map-marker" required counter outlined  solo  dense color="black"  clearable  ></v-text-field>
                                                                </v-card-text>
                                                            </v-card>
                                                        </v-col>
                                                    </v-row>
                                                </v-col>
                                            </v-row>
                                    </v-hover>
                                </v-col>

                                <v-col cols="12" md="12">
                                    <v-card tile style="padding: 10px 10px 10px 10px">
                                        <v-row>
                                            <v-col cols="12" md="12">
                                                <v-btn  :loading="btnSubmitloader" @click="btnSubmitloader=true" large tile color="teal accent-4 white--text">
                                                    <v-icon left>mdi-pencil</v-icon>SAVE DATA
                                                </v-btn>
                                            </v-col>
                                        </v-row>
                                    </v-card>
                                </v-col>
                            </v-row>
                        </v-form>
                    </v-container>
                </v-main>
            </v-card>

            <v-footer style="margin-bottom: 10% !important;" color="white" dark solo  padless >
                <v-card class="flex" color="teal accent-4 white--text" dark solo tile></v-card>
            </v-footer>
            </v-container>
        </v-card>
    </v-app>
</template>


<script>
    import mainMap from "./mainMap";
    import {gmapApi} from 'vue2-google-maps';
    import {store} from "../store/store";
    import {mapState} from "vuex";
    export default {
        name: "Dashboard",
        components: {
            mainMap,
            store,
        },
        props: {
            source: String,
        },
        data: () => ({
            panel: [0],
            hover:true,
            user:{},
            valid: false,
            allStaffDetails: [],
            btnSubmitloader: false,
            OrganizationName: '',
            OrganizationAddress: '',
            OfficeFaxNumber: '',
            OfficeTelephoneNumber: '',
            Subcategory: '',
            OfficeEmail: '',
            category: '',
            NameWithInitials: '',
            Designation: '',
            HeadEmail: '',
            HeadOfficeTelephoneNumber: '',
            HeadMobileNumber: '',
            HeadFaxNumber: '',
            DeputyNameWithInitials: '',
            DeputyDesignation: '',
            DeputyHeadEmail: '',
            DeputyHeadOfficeTelephoneNumber: '',
            DeputyHeadMobileNumber: '',
            DeputyHeadFaxNumber: '',
            DeputyAssistantNameWithInitials: '',
            DeputyAssistantTelephoneNumber: '',
            DeputyAssistantDesignation: '',
            DeputyAssistantFaxNumber: '',
            DeputyAssistantMobileNumber: '',
            DeputyAssistantEmail: '',
            lat:'',
            lng:'',
            GoogleAddress:'',
            inputsSelection: [{
                attributeSelectionType: '',
                attributeSelectionTotal: '',
            },
            ],
            OrganizationNameRules: [v => !!v || 'Organization name is required',],

            OrganizationAddressRules: [v => !!v || 'Organization address is required',],

            OfficeFaxNumberRules: [v => !!v || 'Fax number is required',],

            OfficeTelephoneNumberRules: [v => !!v || 'Telephone number is required', v => v.length <= 10 || 'Phone number must be less than 10 characters',],

            MobileNumberRules: [v => !!v || 'Mobile number is required', v => v.length <= 10 || 'Mobile number must be less than 10 characters',],

            SubcategoryRules: [v => !!v || 'Sub category is required',],

            categoryRules: [v => !!v || 'Category is required',],

            DesignationRules: [v => !!v || 'Designation is required',],

            NameWithInitialsRules: [v => !!v || 'Name with initials is required',],

            emailRules: [v => !!v || 'E-mail is required', v => /.+@.+/.test(v) || 'E-mail must be valid',],

            GoogleAddressRules: [v => !!v || 'Address is required',],

            latRules: [v => !!v || 'Latitude is required',],

            lngRules: [v => !!v || 'Longitude is required',],

        }),
        computed:{
            ...mapState({
                gmap: state => state.gmap,
                "httpheader": state => state.httpheader,
                selectedLocation: state => state.selectedLocation,
            }),
            google: gmapApi,
            onMapClick(){
                return store.state.selectedLocation;
            }
        },
        watch:{
            onMapClick(data){
                this.GoogleAddress = data.address;
                this.lat = data.lat;
                this.lng = data.lng;
            },
            btnSubmitloader() {
                if (this.$refs.dataForm.validate()) {
                    if (this.btnSubmitloader) {
                        setTimeout(() => {
                            this.saveStaffDetails();
                        }, 500); // toggle after 0.5 seconds
                    }
                } else {
                    this.btnSubmitloader = false;
                }
            },
        },

        methods: {
            logout(){
                window.setLogout();
            },
            add_Selection(index){
                this.inputsSelection.push({});
                console.log(this.inputsSelection);
            },
            remove_Selection(index){
                this.inputsSelection.splice(index, 1);
                if (this.inputsSelection[index].id) {
                    let formData = new FormData();
                    formData.append("id", this.inputsSelection[index].id);
                }
            },

            // ----------- Save Project Details ---------------
            saveStaffDetails() {
                //------getting headers from laravel csrf--------------------
                let laravel = JSON.parse(window.Laravel);
                const header = {
                    "X-CSRF-TOKEN": laravel.csrfToken,
                    "X-Requested-With": "XMLHttpRequest",
                };
                //----------------first data set-------------------
                let formData = new FormData();
                formData.append("OrganizationName", this.OrganizationName);
                formData.append("OrganizationAddress", this.OrganizationAddress);
                formData.append("category", this.category);
                formData.append("Subcategory", this.Subcategory);
                formData.append("OfficeEmail", this.OfficeEmail);
                formData.append("OfficeTelephoneNumber", this.OfficeTelephoneNumber);
                formData.append("OfficeFaxNumber", this.OfficeFaxNumber);
                //----------------first data set end-----------------

                //----------------Second data set--------------------
                formData.append("NameWithInitials", this.NameWithInitials);
                formData.append("Designation", this.Designation);
                formData.append("HeadEmail", this.HeadEmail);
                formData.append("HeadOfficeTelephoneNumber", this.HeadOfficeTelephoneNumber);
                formData.append("HeadMobileNumber", this.HeadMobileNumber);
                formData.append("HeadFaxNumber", this.HeadFaxNumber);
                //----------------Second data set end-----------------

                //----------------Third data set----------------------
                formData.append("DeputyNameWithInitials", this.DeputyNameWithInitials);
                formData.append("DeputyDesignation", this.DeputyDesignation);
                formData.append("DeputyHeadEmail", this.DeputyHeadEmail);
                formData.append("DeputyHeadOfficeTelephoneNumber", this.DeputyHeadOfficeTelephoneNumber);
                formData.append("DeputyHeadMobileNumber", this.DeputyHeadMobileNumber);
                formData.append("DeputyHeadFaxNumber", this.DeputyHeadFaxNumber);
                //----------------Third data set end-------------------

                //----------------Fourth data set----------------------
                formData.append("DeputyAssistantNameWithInitials", this.DeputyAssistantNameWithInitials);
                formData.append("DeputyAssistantDesignation", this.DeputyAssistantDesignation);
                formData.append("DeputyAssistantEmail", this.DeputyAssistantEmail);
                formData.append("DeputyAssistantTelephoneNumber", this.DeputyAssistantTelephoneNumber);
                formData.append("DeputyAssistantMobileNumber", this.DeputyAssistantMobileNumber);
                formData.append("DeputyAssistantFaxNumber", this.DeputyAssistantFaxNumber);
                //----------------Fourth data set end-------------------

                formData.append("GoogleAddress", this.GoogleAddress);
                formData.append("lat", this.lat);
                formData.append("lng", this.lng);


                formData.append("staff_has_data", JSON.stringify(this.inputsSelection));
                //-----------------calling to end point API for delete project------------------------
                axios
                    .post("/api/allStaffDetails/create", formData, header)
                    .then((response) => {
                        if (response.data.message == "success") {
                            this.$refs.dataForm.resetValidation();
                            this.$refs.dataForm.reset();
                            this.inputsSelection = [{
                                    attributeSelectionType: "",
                                    attributeSelectionTotal: "",
                                },
                            ];
                            this.allStaffDetails = [];
                            let dataArray = response.data.data;
                            for (let i = 0; i < dataArray.length; i++) {
                                this.allStaffDetails.push({
                                    show: false,
                                    id: dataArray[i].id,

                                    //----------------first data set-------------------
                                    OrganizationName: dataArray[i].OrganizationName,
                                    OrganizationAddress: dataArray[i].OrganizationAddress,
                                    category: dataArray[i].category,
                                    Subcategory: dataArray[i].Subcategory,
                                    OfficeEmail: dataArray[i].OfficeEmail,
                                    OfficeTelephoneNumber: dataArray[i].OfficeTelephoneNumber,
                                    OfficeFaxNumber: dataArray[i].OfficeFaxNumber,
                                    //----------------first data set end-----------------

                                    //----------------Second data set--------------------
                                    NameWithInitials: dataArray[i].NameWithInitials,
                                    Designation: dataArray[i].Designation,
                                    HeadEmail: dataArray[i].HeadEmail,
                                    HeadOfficeTelephoneNumber: dataArray[i].HeadOfficeTelephoneNumber,
                                    HeadMobileNumber: dataArray[i].HeadMobileNumber,
                                    HeadFaxNumber: dataArray[i].HeadFaxNumber,
                                    //----------------Second data set end-----------------

                                    //----------------Third data set----------------------
                                    DeputyNameWithInitials: dataArray[i].DeputyNameWithInitials,
                                    DeputyDesignation: dataArray[i].DeputyDesignation,
                                    DeputyHeadEmail: dataArray[i].DeputyHeadEmail,
                                    DeputyHeadOfficeTelephoneNumber: dataArray[i].DeputyHeadOfficeTelephoneNumber,
                                    DeputyHeadMobileNumber: dataArray[i].DeputyHeadMobileNumber,
                                    DeputyHeadFaxNumber: dataArray[i].DeputyHeadFaxNumber,
                                    //----------------Third data set end-------------------

                                    //----------------Fourth data set ---------------------
                                    DeputyAssistantNameWithInitials: dataArray[i].DeputyAssistantNameWithInitials,
                                    DeputyAssistantDesignation: dataArray[i].DeputyAssistantDesignation,
                                    DeputyAssistantEmail: dataArray[i].DeputyAssistantEmail,
                                    DeputyAssistantTelephoneNumber: dataArray[i].DeputyAssistantTelephoneNumber,
                                    DeputyAssistantMobileNumber: dataArray[i].DeputyAssistantMobileNumber,
                                    DeputyAssistantFaxNumber: dataArray[i].DeputyAssistantFaxNumber,
                                    //----------------Fourth data set end-------------------


                                    GoogleAddress: dataArray[i].GoogleAddress,
                                    lat: dataArray[i].lat,
                                    lng: dataArray[i].lng,

                                    staff_data: dataArray[i].staff_data,
                                });
                            }
                            this.dialog = false;
                            this.btnSubmitloader = false;
                            // ************* SnackBar Successfull **************************
                            this.snackMessage = "Use create successfuly!";
                            this.snackColor = "green";
                            this.snackTimeOut = 3000;
                            this.snackbar = true;
                        }
                    })
                .catch((error) => {
                    console.log({ error }); // this will log an empty object with an error property
                    // ************* SnackBar Error **************************
                    this.snackMessage = "Use create unsuccessfuly!";
                    this.snackColor = "red";
                    this.snackTimeOut = 3000;
                    this.snackbar = true;
                });
            },
            gotoHome(){
                window.location.href = '/';
            }
        },
    }
</script>

<style>
    .v-label {
        font-size: 12px !important;
        color: black !important;
    }


    .pulse-button {
        position: relative;
        width: 50px !important;
        height: 50px !important;
        border: none;
        box-shadow: 0 0 0 0 rgba(132, 176, 161, 10.7);
        border-radius: 50%;
        background-color: #e84c3d;
        background-image: url(https://geobizz.local.lk/img/logout.gif);
        background-size:cover;
        background-position: center !important;
        background-repeat: no-repeat;
        cursor: pointer;
        -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    }
    .pulse-button:hover {
        -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
    }

    @-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(22, 176, 161, 0);}}
    @-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(22, 176, 161, 0);}}
    @-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(22, 176, 161, 0);}}
    @keyframes pulse {to {box-shadow: 0 0 0 45px rgba(22, 176, 161, 0);}}

</style>
