<template>
    <div>
        <v-main>
            <GmapMap :options="mapOptions" :center="center" :zoom="7" :rotateControl="false" :disableDefaultUI="false" :streetViewControl="false" style="width:100% !important;height: 87vh; max-height: 100%;" ref="mapDiv"></GmapMap>
            <v-snackbar v-model="snackbar" :multi-line="false" :color="snackColor" :top="snackBarTop" :right="snackBarRight">
                {{ snackMessage }}
            </v-snackbar>
        </v-main>
    </div>
</template>

<script>
    import {gmapApi} from 'vue2-google-maps';
    import {mapState} from "vuex";
    import {store} from "../store/store";
    export default {
        name: "mainMap",
        components:{
            store
        },
        props: {
            source: String,
        },
        data() {
            return {
                mapOptions: {
                    zoomControl: false,
                    mapTypeControl: false,
                    scaleControl: false,
                    streetViewControl: false,
                    rotateControl: false,
                    fullscreenControl: false,
                    disableDefaultUi: false
                },
                activeBtn: 1,
                marker: true,
                center: {lat: 7.927079, lng: 80.761244},
                snackbar:false,
                snackColor:'',
                snackMessage:'',
                snackBarRight:false,
                snackBarTop:false,
            }
        },

        computed: {
            ...mapState({
                gmap: state => state.gmap,
                httpheader: state => state.httpheader,
                selectedLocation: state => state.selectedLocation,
            }),
            google: gmapApi,
        },
        mounted() {
            this.$refs.mapDiv.$mapPromise.then((map) => {
                this.GMap = map;
                store.commit('setMap',map);
                this.mapClickListener();
            });
        },
        created () {
            let laravel = JSON.parse(window.Laravel);
            if(laravel.user){
                this.user = laravel.user;
                const header = {
                    'X-CSRF-TOKEN': laravel.csrfToken,
                    'X-Requested-With': 'XMLHttpRequest'
                };
                let payload = {
                    header: header,
                    user:laravel.user
                };
                store.commit('setHttpHeader',payload);
            } else {
                this.logout();
            }
        },
        methods:{
            logout(){
                window.setLogout();
            },
            mapClickListener(){
                let map = this.GMap;
                let that = this;
                google.maps.event.addListener(map,"click", function(event) {
                    let geocoder = new google.maps.Geocoder;
                    geocoder.geocode({'location': {lat: event.latLng.lat(), lng: event.latLng.lng()}}, function (results, status) {
                        if (status === 'OK') {
                            if (results[0]) {
                                let payload = {
                                    lat : event.latLng.lat(),
                                    lng : event.latLng.lng(),
                                    address: results[0].formatted_address
                                }
                                store.commit('setSelectedLocation',payload);
                            } else {
                                snackbar = true;
                            }
                        } else {
                            snackbar = true;
                        }
                    });
                });
            },
        }
    }
</script>

<style>


    /*.v-dialog:not(.v-dialog--fullscreen) {*/
    /*    position: absolute;*/
    /*    bottom: -4% !important;*/
    /*}*/
    .v-label {
        font-size: 0.8em !important;
        color: black !important;
    }
</style>

