<template>
    <div >

                <!----------------------------------form--------------------------------------------->
                <v-row>
                    <v-card style="width: 100%;margin-top:2%">
                        <br>

                        <span style="padding-top: 5%;padding-left: 40%"><u>PART B – DETAILS  OF IMPORTS /LOCAL PURCHASES</u></span>

                        <v-form v-model="valid">
                            <v-container>

                                <v-row>
                                    <span style="margin-top: 12px;margin-left:5%">5.</span>
                                    <v-col cols="11">

                                        <v-textarea
                                            solo
                                            name="input-7-4"
                                            label="Description of the goods to be imported/local purchases "
                                        ></v-textarea>
                                    </v-col>

                                </v-row>

                                <v-row>
                                    <v-col cols="5" style="margin-left: 10%">
                                        <v-file-input
                                            v-model="files"
                                            placeholder="Attach  PO"
                                            label="File input"
                                            multiple
                                            prepend-icon="mdi-paperclip"
                                        >
                                            <template v-slot:selection="{ text }">
                                                <v-chip
                                                    small
                                                    label
                                                    color="primary"
                                                >
                                                    {{ text }}
                                                </v-chip>
                                            </template>
                                        </v-file-input>
                                    </v-col>
                                    <v-col cols="5">
                                        <v-file-input
                                            v-model="files"
                                            placeholder="Attach Invoice"
                                            label="File input"
                                            multiple
                                            prepend-icon="mdi-paperclip"
                                        >
                                            <template v-slot:selection="{ text }">
                                                <v-chip
                                                    small
                                                    label
                                                    color="primary"
                                                >
                                                    {{ text }}
                                                </v-chip>
                                            </template>
                                        </v-file-input>
                                    </v-col>

                                </v-row>

                                <v-row>
                                    <v-col cols="5" style="margin-left: 10%">

                                        <v-file-input
                                            :rules="rules"
                                            accept="image/png, image/jpeg, image/bmp"
                                            placeholder="Attach Sample Image"
                                            prepend-icon="mdi-camera"

                                        ></v-file-input>
                                    </v-col>

                                </v-row>

                                <v-row>
                                    <span style="margin-top: 20px;margin-left: 5%">6.</span>
                                    <v-col cols="5">
                                        <v-select
                                            :items="item"
                                            label="Performa Invoice/ Commercial Invoice Number "
                                            outlined
                                        ></v-select>
                                    </v-col>
                                    <span style="margin-top: 18px;margin-left: 8%">7.</span>
                                    <v-col cols="5" >
                                        <v-select
                                            :items="item"
                                            label="Quantity in Kgs "
                                            outlined
                                        ></v-select>
                                    </v-col>
                                </v-row>

                                <v-row>
                                    <span style="margin-top: 18px;margin-left: 5%">8.</span>
                                    <v-col cols="5">
                                        <v-select
                                            :items="item"
                                            label="Consumption Ratio per item "
                                            outlined
                                        ></v-select>
                                    </v-col>
                                </v-row>



                                <v-row>
                                    <span style="margin-top: 13px;margin-left: 5%">9.Transport Details</span>
                                    <v-col>
                                        <v-text-field
                                            style="width: 91%;margin-left:4%"
                                            label="From"
                                            outlined
                                            dense
                                        ></v-text-field>
                                    </v-col>
                                    <v-col>
                                        <v-text-field
                                            style="width: 91%;margin-left:4%"
                                            label="Through"
                                            outlined
                                            dense
                                        ></v-text-field>
                                    </v-col>
                                    <v-col>
                                        <v-text-field
                                            style="width: 91%;margin-left:4%"
                                            label="To"
                                            outlined
                                            dense
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                            </v-container>

                            <v-btn
                                style="margin-left: 89%;margin-bottom:1%"
                                depressed
                                color="primary"
                                @click="saveData"
                            >
                                NEXT
                            </v-btn>
                        </v-form>
                    </v-card>

                </v-row>




    </div>
</template>

<script>
import {mapState} from "vuex";
import {store} from "../store/store";

export default {
    name: "ApplicationMODscB",
    data () {
        return {

        }
    },
    computed:{
        ...mapState({
            httpheader: state => state.httpheader,
            step: state => state.step,
        }),

    },
    methods:{
        saveData(){
            store.commit('setStepper',3);
        }
    }
}
</script>

<style scoped>
.v-text-field--filled>.v-input__control>.v-input__slot, .v-text-field--full-width>.v-input__control>.v-input__slot, .v-text-field--outlined>.v-input__control>.v-input__slot {

    min-height: 25px;}
</style>
