<template>
    <div>
        <!----------------------------------form--------------------------------------------->
        <v-row>
            <v-card style="width: 100%;margin-top:2%">
                <br>

                <span style="padding-top: 5%;padding-left: 40%"><u>PART G </u></span><br><br>

                <v-form v-model="valid">
                    <v-container>



                        <v-row>
                            <v-col style="margin-top: 1%">
                                 <span style="margin-top: 15%;margin-left:4%">Above all details are checked and correct and forward for signature  Please.<br><br></span>
                                <span style="margin-left:4%">Checked By,</span><br>
                                <v-select
                                    style="margin-left:4%;width: 55%"
                                    v-model="select"
                                    :items="items"
                                    :error-messages="errors"
                                    label="Select"
                                    data-vv-name="select"
                                    required
                                ></v-select>

                                <v-text-field
                                    style="margin-left:4%;width: 55%"
                                    v-model="date"
                                    label="Picker in menu"
                                    prepend-icon="mdi-calendar"
                                    readonly
                                    v-bind="attrs"
                                    v-on="on"
                                ></v-text-field>
                            </v-col>
                            <v-col>
                                <span style="color: red">Remarks on Reject
</span>
                                <v-textarea
                                    style="margin-top: 1%"
                                    solo
                                    name="input-7-4"
                                    label="Remarks on Reject
 "

                                ></v-textarea>

                            </v-col>
                        </v-row>

                    </v-container>

                    <v-btn
                        style="margin-left: 36%;margin-bottom:1%"
                        depressed
                        color="primary"
                        @click="saveData"
                    >
                        Forward
                    </v-btn>

                    <v-btn
                        style="margin-left: 42%;margin-bottom:1%"
                        outlined
                        color="red"
                        @click="saveData"
                    >
                        Not Approved
                    </v-btn>
                </v-form>
            </v-card>
        </v-row>



    </div>
</template>

<script>
import {mapState} from "vuex";
import {store} from "../store/store";

export default {
    name: "ApplicationMODscG",
    data () {

        return {
            date: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
            menu: false,

        }
    },
    computed:{
        ...mapState({
            httpheader: state => state.httpheader,
            step: state => state.step,
        }),

    },
    methods:{
        saveData(){
            store.commit('setStepper',7);
        }
    }
}
</script>

<style scoped>

</style>
