<template>
<div>
    <!---------------------------------------Top app bar------------------------------------------------->
    <v-app-bar
        color="#646665"
        dense
        dark
    >

        <v-toolbar-title style="margin-left:2%">Ministry of Defence</v-toolbar-title>

        <v-spacer></v-spacer>


        <v-menu
            left
            bottom
        >


        </v-menu>
    </v-app-bar>

    <span class="text-center"><H1><br>APPROVAL OF IMPORT EXPORT TRANSPORT OF CAMO PRINT FABRIC AND FINISH PRODUCT
</H1></span>

    <v-row style="alignment: center">
        <v-col cols="5"></v-col>

        <v-col cols="7">

            <v-row>
                <v-btn
                    style="width: 38%;margin-top: 3%"
                depressed
                color="primary"
            >
                    New Applications

                </v-btn>
            </v-row>

            <v-row>
                <v-btn
                style="width: 38%;margin-top: 1%"
                depressed
                color="primary"
            >
                    Approved
            </v-btn>
            </v-row>

            <v-row>
                <v-btn
                    style="width: 38%;margin-top: 1%"
                    depressed
                    color="primary"
                >
                    Rejected
                </v-btn>
            </v-row>

            <v-row>
                <v-btn
                    style="width: 38%;margin-top: 1%"
                    depressed
                    color="primary"
                >
                    Memos
                </v-btn>
            </v-row>

            <v-row>
                <v-btn
                    style="width: 38%;margin-top: 1%"
                    depressed
                    color="primary"
                >
                    Destruction Details
                </v-btn>
            </v-row>

        </v-col>

    </v-row>
</div>
</template>

<script>
export default {
    name: "DashboardMODsc"
}
</script>

<style scoped>

</style>
