<template>
    <div>
        <!---------------------------------------Top app bar------------------------------------------------->
        <v-app-bar
            color="#646665"
            dense
            dark
        >

            <v-toolbar-title style="margin-left:2%">Ministry of Defence</v-toolbar-title>

            <v-spacer></v-spacer>


            <v-menu
                left
                bottom
            >


            </v-menu>
        </v-app-bar>

        <v-row>
            <v-col cols="2">
                <v-card
                    height="100%"
                    width="256"
                    elevation="12"

                >
                    <v-navigation-drawer

                        permanent
                    >
                        <v-list
                            dense
                            rounded
                        >
                            <v-list-item
                                v-for="item in items"
                                :key="item.title"
                                link
                                @click="gotopage(item.action)"
                            >
                                <v-list-item-icon>
                                    <v-icon>{{ item.icon }}</v-icon>
                                </v-list-item-icon>

                                <v-list-item-content>
                                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list>
                    </v-navigation-drawer>
                </v-card>

            </v-col>
            <v-col cols="10">
                <v-row>
                    <v-stepper style="width: 99%;" size="small" v-model="stepper">
                        <v-stepper-header>
                            <v-stepper-step  step="1" :complete="stepper > 1">
                                PART A
                                <small>DETAILS OF THE COMPANY</small>
                            </v-stepper-step>

                            <v-divider></v-divider>

                            <v-stepper-step  step="2" :complete="stepper > 2">
                                PART B
                                <small>DETAILS  OF IMPORTS /LOCAL PURCHASES</small>
                            </v-stepper-step>

                            <v-divider></v-divider>

                            <v-stepper-step  step="3" :complete="stepper > 3">
                                PART C
                                <small>DETAILS OF EXPORTS</small>
                            </v-stepper-step>

                            <v-divider></v-divider>

                            <v-stepper-step  step="4" :complete="stepper > 4">
                                PART D
                                <small>DECLARATION</small>
                            </v-stepper-step>

                            <v-divider></v-divider>

                            <v-stepper-step  step="5" :complete="stepper > 5">
                                PART E
                                <small>EXPORT GOODS DETAILS</small>
                            </v-stepper-step>

                            <v-divider></v-divider>

                            <v-stepper-step  step="6" :complete="stepper > 6">
                                PART F
                                <small>BOI APPROVAL</small>
                            </v-stepper-step>

                            <v-divider></v-divider>

                            <v-stepper-step  step="7" :complete="stepper > 7">
                                PART G
                                <small></small>
                            </v-stepper-step>

                        </v-stepper-header>
                        <v-stepper-items >

                            <v-stepper-content step="1">
                                <ApplicationMODscA />
                            </v-stepper-content>

                            <v-stepper-content step="2">
                                <ApplicationMODscB />
                            </v-stepper-content>

                            <v-stepper-content step="3">
                                <ApplicationMODscC />
                            </v-stepper-content>

                            <v-stepper-content step="4">
                                <ApplicationMODscD />
                            </v-stepper-content>

                            <v-stepper-content step="5">
                                <ApplicationMODscE />
                            </v-stepper-content>

                            <v-stepper-content step="6">
                                <ApplicationMODscF />
                            </v-stepper-content>

                            <v-stepper-content step="7">
                                <ApplicationMODscG />
                            </v-stepper-content>

                        </v-stepper-items>
                    </v-stepper>
                </v-row>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import ApplicationE from "../ApplicationE";
import ApplicationD from "../ApplicationD";
import ApplicationC from "../ApplicationC";
import ApplicationB from "../ApplicationB";
import ApplicationA from "../ApplicationA";
import {mapState} from "vuex";
import {store} from "../store/store";
import ApplicationMODscA from "./ApplicationMODscA";
import ApplicationMODscB from "./ApplicationMODscB";
import ApplicationMODscC from "./ApplicationMODscC";
import ApplicationMODscD from "./ApplicationMODscD";
import ApplicationMODscE from "./ApplicationMODscE";
import ApplicationMODscF from "./ApplicationMODscF";
import ApplicationMODscG from "./ApplicationMODscG";

export default {
    name: "SCNewApplication",
    components: {
        ApplicationMODscG,
        ApplicationMODscF,
        ApplicationMODscE,
        ApplicationMODscD,
        ApplicationMODscC,
        ApplicationMODscB,
        ApplicationMODscA, ApplicationE, ApplicationD, ApplicationC, ApplicationB, ApplicationA},
    data () {
        return {
            items: [
                { title: 'New Applications', icon: 'mdi-view-dashboard' ,action:'scnewapplicationdb'},
                { title: 'Approved', icon: 'mdi-forum' ,action:'approved'},
                { title: 'Rejected', icon: 'mdi-forum',action:'rejected' },
                { title: 'Memos', icon: 'mdi-forum' ,action:'memos' },
                { title: 'Destruction Details', icon: 'mdi-forum' ,action:'help' },

            ],

        }
    },
    computed:{
        ...mapState({
            httpheader: state => state.httpheader,
            step: state => state.step,
        }),
        stepper(){
            return store.state.step
        }
    },
    methods:{
        gotopage(url){
            window.location = url;
        }
    }
}
</script>

<style scoped>

</style>
