<template>
    <div>
        <!----------------------------------form--------------------------------------------->
                <v-row>
                    <v-card style="width: 100%;margin-top:2%">
                        <br>

                        <span style="padding-top: 5%;padding-left: 40%"><u>PART C – DETAILS OF EXPORTS</u></span>

                        <v-form v-model="valid">
                            <v-container>

                                <v-row>
                                    <span style="margin-top: 12px;margin-left:5%">10.</span>
                                    <v-col cols="11">

                                        <v-textarea
                                            solo
                                            name="input-7-4"
                                            label="Description of the finished items to be exported "
                                        ></v-textarea>
                                    </v-col>

                                </v-row>





                                <v-row>
                                    <span style="margin-top: 13px;margin-left: 5%">11.Quantity to be exported</span>
                                    <v-col cols="5">
                                        <v-text-field
                                            style="width: 91%;margin-left:4%"

                                            outlined
                                            dense
                                        ></v-text-field>
                                    </v-col>
                                </v-row>

                                <v-row>
                                    <span style="margin-top: 13px;margin-left: 13.5%">Net Weight</span>
                                    <v-col cols="5">
                                        <v-text-field
                                            style="width: 91%;margin-left:4%"

                                            outlined
                                            dense
                                        ></v-text-field>
                                    </v-col>
                                </v-row>

                            </v-container>

                            <v-btn
                                style="margin-left: 88%;margin-bottom:1%"
                                depressed
                                color="primary"
                                @click="saveData"
                            >
                                NEXT
                            </v-btn>
                        </v-form>
                    </v-card>

                </v-row>



    </div>
</template>

<script>
import {mapState} from "vuex";
import {store} from "../store/store";

export default {
    name: "ApplicationBOIC",
    data () {
        return {

        }
    },
    computed:{
        ...mapState({
            httpheader: state => state.httpheader,
            step: state => state.step,
        }),

    },
    methods:{
        saveData(){
            store.commit('setStepper',4);
        }
    }
}
</script>

<style scoped>
.v-text-field--filled>.v-input__control>.v-input__slot, .v-text-field--full-width>.v-input__control>.v-input__slot, .v-text-field--outlined>.v-input__control>.v-input__slot {

    min-height: 25px;}
</style>
