<template>
    <div>
        <!----------------------------------form--------------------------------------------->
        <v-row>
            <v-card style="width: 100%;margin-top:2%">
                <br>

                <span style="padding-top: 5%;padding-left: 40%"><u>PART F- BOI APPROVAL</u></span><br><br>

                <v-form v-model="valid">
                    <v-container>



                        <v-row>
                            <v-col cols="6" style="margin-top: 1%">
                                 <span style="margin-top: 15%;">All given details in application part A to part D Is checked  and forwarded for security clearance, please <br></span>
                                <v-file-input
                                    style="width: 25px;padding-left:28%;margin-top: 5%"
                                    show-size
                                    label="File input"
                                ></v-file-input>
                                <span style="padding-left:6%">________________________________________________</span><br>
                                <span style="padding-left:6%">Name and Signature of the Authorized Signatory</span>
                                <br>
                                <span style="padding-left:20%">(Use Digital Signature)</span><br>

                                <v-text-field
                                    style="margin-left:4%;width: 55%;margin-top: 5%"
                                    v-model="date"
                                    label="Date"
                                    prepend-icon="mdi-calendar"
                                    readonly
                                    v-bind="attrs"
                                    v-on="on"
                                ></v-text-field>

                            </v-col>
                            <div class = "vertical" style="position: absolute;left:48%;width: 200px;height: 76%"></div>
                            <v-col>
                                <span style="color: red">Remarks on Reject</span>
                                <v-textarea
                                    style="margin-top: 1%"
                                    solo
                                    name="input-7-4"
                                    label="Remarks on Reject
 "

                                ></v-textarea>

                            </v-col>
                        </v-row>

                    </v-container>

                    <v-btn
                        style="margin-left: 36%;margin-bottom:1%"
                        depressed
                        color="primary"
                        @click="saveData"
                    >
                        Submit
                    </v-btn>

                    <v-btn
                        style="margin-left: 42%;margin-bottom:1%"
                        outlined
                        color="red"

                    >
                        Not Approved
                    </v-btn>
                </v-form>
            </v-card>
        </v-row>



    </div>
</template>

<script>
import {mapState} from "vuex";
import {store} from "../store/store";

export default {
    name: "ApplicationBOIF",
    data () {
        return {date: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
            menu: false,

        }
    },
    computed:{
        ...mapState({
            httpheader: state => state.httpheader,
            step: state => state.step,
        }),

    },
    methods:{
        saveData(){
            store.commit('setStepper',6);
        }
    }
}
</script>

<style scoped>
.vertical {
    border-left: 2.5px solid black;
    position:absolute;}
</style>
