<template>
    <div >


                        <v-row>
                            <v-card style="width: 100%;margin-top:2%">
                                <br>
                                <span style="margin-top: 10%;padding-left: 24%">APPLICATION OF IMPORT EXPORT TRANSPORT OF CAMO PRINT FABRIC AND FINISH PRODUCT</span>
                                        <br>
                                <span style="padding-top: 5%;padding-left: 40%"><u>PART A- DETAILS OF THE COMPANY</u></span>

                                <v-form v-model="valid">
                                    <v-container>
                                        <v-row>
                                            <v-col >
                                                <v-text-field
                                                    style="width: 20%;margin-left:75%;margin-top: 2%"
                                                    label="Application no"
                                                    outlined
                                                    dense
                                                ></v-text-field>
                                            </v-col>

                                        </v-row>
                                        <v-row>
                                            <span style="margin-top: 12px;margin-left:5%">1.</span>
                                            <v-col>

                                                <v-text-field
                                                    style="width: 91%;margin-left:4%"
                                                    label="Name & Address of the Company"
                                                    outlined
                                                    dense
                                                ></v-text-field>
                                            </v-col>
                                        </v-row>

                                        <v-row>
                                            <span style="margin-top: 12px;margin-left: 5%">2.</span>
                                            <v-col>
                                                <v-text-field
                                                    style="width: 91%;margin-left:4%"
                                                    label="TIN & BOI Registered No"
                                                    outlined
                                                    dense
                                                ></v-text-field>
                                            </v-col>
                                        </v-row>

                                        <span  style="margin-top: 12px;margin-left: 4%">3.  Name & contact details of two company Directors:</span><br>


                                        <v-row style="margin-top:2%;">
                                            <span style="margin-top: 18px;margin-left: 18%">I.</span>
                                            <v-col cols="5">
                                                <v-text-field
                                                    style="margin-left: 1%"
                                                    label="Name"
                                                    outlined
                                                    dense
                                                ></v-text-field>
                                            </v-col>
                                            <v-col cols="3">
                                                <v-text-field
                                                    style="margin-left: 1%"
                                                    label="Mobile No"
                                                    outlined
                                                    dense
                                                ></v-text-field>
                                            </v-col>
                                        </v-row>


                                        <v-row>
                                            <span style="margin-top: 12px;margin-left: 18%">II.</span>
                                            <v-col cols="5">
                                                <v-text-field
                                                    style="margin-left: 1%"
                                                    label="Name"
                                                    outlined
                                                    dense
                                                ></v-text-field>
                                            </v-col>
                                            <v-col cols="3">
                                                <v-text-field
                                                    style="margin-left: 1%"
                                                    label="Mobile No"
                                                    outlined
                                                    dense
                                                ></v-text-field>
                                            </v-col>
                                        </v-row>


                                        <v-row>
                                            <span style="margin-top: 12px;margin-left: 5%">4.</span>
                                            <v-col>
                                                <v-text-field
                                                    style="width: 91%;margin-left:4%"
                                                    label="Name & contact details of Shipping manager"
                                                    outlined
                                                    dense
                                                ></v-text-field>
                                            </v-col>
                                        </v-row>
                                    </v-container>

                                    <v-btn
                                        style="margin-left: 86%;margin-bottom:1%"
                                        depressed
                                        color="primary"
                                        @click="saveData"
                                    >
                                        NEXT
                                    </v-btn>
                                </v-form>
                             </v-card>

                        </v-row>


    </div>
</template>

<script>
import {mapState} from "vuex";
import {store} from "../store/store";

export default {
    name: "ApplicationBOIA",
    data () {
        return {

        }
    },
    computed:{
        ...mapState({
            httpheader: state => state.httpheader,
            step: state => state.step,
        }),

    },
    methods:{
        saveData(){
            store.commit('setStepper',2);
        }
    }
}
</script>

<style scoped>
.v-text-field--filled>.v-input__control>.v-input__slot, .v-text-field--full-width>.v-input__control>.v-input__slot, .v-text-field--outlined>.v-input__control>.v-input__slot {

    min-height: 25px;}
</style>
