<template>
    <div>
        <!---------------------------------------Top app bar------------------------------------------------->
        <v-app-bar
            color="#646665"
            dense
            dark
        >

            <v-toolbar-title style="margin-left:2%">Ministry of Defence(BOI)</v-toolbar-title>

            <v-spacer></v-spacer>


            <v-btn small style="right: 1px;" icon @click="logout"  >
                <v-icon >exit_to_app</v-icon>
            </v-btn>

            <v-menu
                left
                bottom
            >


            </v-menu>
        </v-app-bar>

        <v-row>
            <v-col cols="2">
                <v-card
                    height="100%"
                    width="256"
                    elevation="12"

                >
                    <v-navigation-drawer

                        permanent
                    >
                        <v-list
                            dense
                            rounded
                        >
                            <v-list-item
                                v-for="item in items"
                                :key="item.title"
                                link
                                @click="gotopage(item.action)"
                            >
                                <v-list-item-icon>
                                    <v-icon>{{ item.icon }}</v-icon>
                                </v-list-item-icon>

                                <v-list-item-content>
                                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list>
                    </v-navigation-drawer>
                </v-card>

            </v-col>
            <v-col cols="10" style="margin-top: 2%;margin-bottom: 2%">
                <v-row>
                    <v-stepper style="width: 99%;" size="small" v-model="stepper">
                        <v-stepper-header>
                            <v-stepper-step  step="1" :complete="stepper > 1">
                                PART A
                                <small>DETAILS OF THE COMPANY</small>
                            </v-stepper-step>

                            <v-divider></v-divider>

                            <v-stepper-step  step="2" :complete="stepper > 2">
                                PART B
                                <small>DETAILS  OF IMPORTS /LOCAL PURCHASES</small>
                            </v-stepper-step>

                            <v-divider></v-divider>

                            <v-stepper-step  step="3" :complete="stepper > 3">
                                PART C
                                <small>DETAILS OF EXPORTS</small>
                            </v-stepper-step>

                            <v-divider></v-divider>

                            <v-stepper-step  step="4" :complete="stepper > 4">
                                PART D
                                <small>DECLARATION</small>
                            </v-stepper-step>

                            <v-divider></v-divider>

                            <v-stepper-step  step="5" :complete="stepper > 5">
                                PART E
                                <small>EXPORT GOODS DETAILS</small>
                            </v-stepper-step>

                            <v-divider></v-divider>

                            <v-stepper-step  step="6" :complete="stepper > 6">
                                PART F
                                <small>BOI APPROVAL</small>
                            </v-stepper-step>

                        </v-stepper-header>
                        <v-stepper-items >

                            <v-stepper-content step="1">
                                <ApplicationBOIA />
                            </v-stepper-content>

                            <v-stepper-content step="2">
                                <ApplicationBOIB />
                            </v-stepper-content>

                            <v-stepper-content step="3">
                                <ApplicationBOIC />
                            </v-stepper-content>

                            <v-stepper-content step="4">
                                <ApplicationBOID />
                            </v-stepper-content>

                            <v-stepper-content step="5">
                                <ApplicationBOIE />
                            </v-stepper-content>

                            <v-stepper-content step="6">
                                <ApplicationBOIF />
                            </v-stepper-content>

                        </v-stepper-items>
                    </v-stepper>
                </v-row>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import {mapState} from "vuex";
import {store} from "../store/store";
import ApplicationBOIA from "./ApplicationBOIA";
import ApplicationBOIB from "./ApplicationBOIB";
import ApplicationBOIC from "./ApplicationBOIC";
import ApplicationBOID from "./ApplicationBOID";
import ApplicationBOIE from "./ApplicationBOIE";
import ApplicationBOIF from "./ApplicationBOIF";

export default {
    name: "newapplication",
    components: {
        ApplicationBOIF,
        ApplicationBOIE,
        ApplicationBOID,
        ApplicationBOIC,
        ApplicationBOIB,
        ApplicationBOIA,
       },
    data () {
        return {
            items: [
                { title: 'New Applications', icon: 'mdi-view-dashboard' ,action:'newapplicationdashboard'},
                { title: 'Approved', icon: 'mdi-forum' ,action:'approvedboi'},
                { title: 'Rejected', icon: 'mdi-forum',action:'rejectedboi' },

            ],

        }
    },
    computed:{
        ...mapState({
            httpheader: state => state.httpheader,
            step: state => state.step,
        }),
        stepper(){
            return store.state.step
        }
    },
    methods:{
        gotopage(url){
            window.location = url;
        }
    }
}
</script>

<style scoped>
.vertical {
    border-left: 2.5px solid black;
    position:absolute;}
</style>
