<template>
    <v-container class="text-center" style="height:auto">
        <h3 class="font-weight-bold">Add Coach Details</h3>

        <v-row>
            <v-col>
                <v-text-field
                    v-model="Search"
                    class="ma-1"
                    dense
                    outlined placeholder="Search..." prepend-inner-icon="mdi-magnify"></v-text-field>
            </v-col>
        </v-row>
        <v-spacer></v-spacer>




            <v-container fluid  width="700" style="height: auto" >
                <v-data-table
                    :headers="headers"
                    :items="DivisionFilter === null ? desserts : GetFilteredItems"
                    disable-sort
                    disable-filtering
                    items-per-page="1"
                    :search="Search"
                    class="elevation-1"

                >


                    <template v-slot:item.assign_officer="{ item }">
                        <v-btn dark color="blue darken-4" tile solo dense small
                               @click=" AssigningOfficer(item)"
                        >
                            Assign
                        </v-btn>
                    </template>


                    <template v-slot:top>
                        <v-toolbar
                            flat
                        >

                            <v-spacer></v-spacer>
                            <v-dialog
                                v-model="dialog2"
                                max-width="500px"
                            >

                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn
                                        color="blue darken-4" tile solo dense small
                                        dark
                                        class="mb-2"
                                        v-bind="attrs"
                                        v-on="on"


                                    >
                                        Add New Coach Details
                                    </v-btn>
                                </template>
                                               <v-card class="mt-5"  dense >
                                                   <v-card-title>Add New Coach Details</v-card-title>
                                                   <v-form>
                                                       <v-container >


                                                               <v-text-field
                                                                   v-model="editedItem.index_number"
                                                                   label="Index Number"
                                                                   outlined
                                                                   dense
                                                                   class="ml-1 mr-1"
                                                               ></v-text-field>

                                                               <v-text-field
                                                                   v-model="editedItem.name"


                                                                   :counter="30"
                                                                   label="Name"
                                                                   required
                                                                   outlined
                                                                   dense
                                                                   class="ml-1 mr-1 "
                                                               ></v-text-field>



                                                               <v-text-field
                                                                   v-model="editedItem.nic"
                                                                   label="NIC Number"
                                                                   outlined
                                                                   dense
                                                                   class="ml-1 mr-1 "
                                                               ></v-text-field>



                                                               <v-text-field
                                                                   v-model="editedItem.email"
                                                                   label="Email"
                                                                   outlined
                                                                   dense
                                                                   class="ml-1 mr-1"
                                                               ></v-text-field>

                                                               <v-text-field
                                                                   v-model="editedItem.address"
                                                                   label="Address"
                                                                   outlined
                                                                   dense
                                                                   class="ml-1 mr-1"
                                                               ></v-text-field>

                                                               <v-text-field
                                                                   v-model="editedItem.tele"
                                                                   label="Contact Number"
                                                                   outlined
                                                                   dense
                                                                   class="ml-1 mr-1"
                                                               ></v-text-field>

                                                               <v-combobox

                                                                   :items="items"
                                                                   label="Gender"
                                                                   outlined
                                                                   clearable
                                                                   dense
                                                                   class="ml-1 mr-1"

                                                               ></v-combobox>

                                                               <v-text-field
                                                                   v-model="editedItem.club"
                                                                   label="Name of Sport Club"
                                                                   outlined
                                                                   dense
                                                                   class="ml-1 mr-1"
                                                               ></v-text-field>

                                                               <v-text-field
                                                                   v-model="editedItem.experience"
                                                                   label="Experience in Sports"
                                                                   outlined
                                                                   dense
                                                                   class="ml-1 mr-1"
                                                               ></v-text-field>

                                                               <v-text-field
                                                                   v-model="editedItem.qualification"
                                                                   label="Qualification"
                                                                   outlined
                                                                   dense
                                                                   class="ml-1 mr-1"
                                                               ></v-text-field>

                                                               <v-textarea
                                                                   v-model="editedItem.achive"
                                                                   label="Achievements"
                                                                   class="ml-1 mr-1"
                                                                   dense
                                                                   outlined
                                                                   clearable
                                                               ></v-textarea>





                                                       </v-container>

                                                   </v-form>

                                                   <v-card-actions>
                                                       <v-spacer></v-spacer>
                                                       <v-btn
                                                           color="blue darken-1"
                                                           text
                                                           @click="close"
                                                       >
                                                           Cancel
                                                       </v-btn>
                                                       <v-btn
                                                           color="blue darken-1"
                                                           text
                                                           @click="save"
                                                       >
                                                           Save
                                                       </v-btn>
                                                   </v-card-actions>

                                               </v-card>

                            </v-dialog>
                            <v-dialog v-model="dialogDelete" max-width="500px">
                                <v-card>
                                    <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                                        <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                                        <v-spacer></v-spacer>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </v-toolbar>
                    </template>
                    <template v-slot:item.actions="{ item }">
                        <v-icon
                            small
                            class="mr-2"
                            @click="editItem(item)"
                        >
                            mdi-pencil
                        </v-icon>
                        <v-icon
                            small
                            @click="deleteItem(item)"
                        >
                            mdi-delete
                        </v-icon>
                    </template>

                </v-data-table>

            </v-container>







        <!--</v-container>

    </v-card-text>-->

        <v-divider></v-divider>


        <!--  </v-card>
      </v-dialog>-->
    </v-container>
</template>

<script>
export default {
    data: () => ({

        dialog: false,
        Search:'',
        DivisionFilter:null,

        SelectedS:null,


        dialog2: false,
        dialogDelete: false,
        headers: [
            {
                text: 'Index Number',
                align: 'start',
                sortable: false,
                value: 'index_number',
            },
            {text: 'Coach Name', value: 'name'},
            {text: 'NIC', value: 'nic'},
            {text: 'Email Address', value: 'email'},
            {text: 'Contact number', value: 'tele'},
            {text: 'Address', value: 'address'},
            {text: 'Qualifications', value: 'qualification'},
            {text: 'Experience in sports', value: 'experience'},
            {text: 'Name of Sport Club', value: 'club'},
            {text: 'Achievements', value: 'achive'},



            {text: 'Actions', value: 'actions', sortable: false},
            {text: 'Assign', value: 'assign_officer'},
        ],
        items: [
            'Male',
            'Female',

        ],
        desserts: [],
        editedIndex: -1,
        editedItem: {
            index_number: '',
            name: '',
            nic: '',
            email: '',
            tele: '',
            address: '',
            qualification:'',
            experience:'',
            club:'',
            achive:'',
        },
        defaultItem: {
            index_number: '',
            name: '',
            nic: '',
            email: '',
            tele: '',
            address: '',
            qualification:'',
            experience:'',
            club:'',
            achive: '',

        },
    }),

    computed: {
        formTitle() {
            return this.editedIndex === -1 ? 'Add New Sport Officer' : 'Edit New Sport Officer'
        },

        GetFilteredItems(){
            let filteredList = this.desserts;
            filteredList = this.desserts.filter((item)=> {
                if(item.division === this.DivisionFilter){
                    return item;
                }
            });
            return filteredList;
        },


    },

    watch: {
        dialog(val) {
            val || this.close()
        },
        dialogDelete(val) {
            val || this.closeDelete()
        },
    },

    created() {
        this.initialize()
    },

    methods: {
        initialize() {
            this.desserts = [
                {
                    index_number: '01',
                    name: 'Y.J.Karunarathna',
                    nic: '902365981V',
                    email: 'karu@gmail.com',
                    tele: '0774565986',
                    address: 'Talagala road,Pitipana,Homagama',
                    qualification:'Innter School best Coach',
                    experience:'National qualification',
                    club:'ABC Sports Club',
                    achive: 'Innter School Cricket Champions',

                },



                {
                    index_number: '02',
                    name: 'J.H.Wijeweera',
                    nic: '902366661V',
                    email: 'wije@gmail.com',
                    tele: '0774566656',
                    address: 'Talagala road,Pitipana,Homagama',
                    qualification:'Innter School best Coach',
                    experience:'National qualification',
                    club:'XYZ Sports Club',
                    achive: 'Innter School Cricket Champions',

                },
            ]
        },

        AssigningOfficer(item){

            this.$router.push({
                name:'assign_coach',
                params:{
                    selected_officer:item
                },
            });
        },


        OpenProject(Officer){
            this.SelectedS = Officer;
            this.ShowDialog = true;
            console.log(Officer);
        },




        editItem(item) {
            this.editedIndex = this.desserts.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialog2 = true
        },

        deleteItem(item) {
            this.editedIndex = this.desserts.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialogDelete = true
        },

        deleteItemConfirm() {
            this.desserts.splice(this.editedIndex, 1)
            this.closeDelete()
        },

        close() {
            this.dialog2 = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },

        closeDelete() {
            this.dialogDelete = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },

        save() {
            if (this.editedIndex > -1) {
                Object.assign(this.desserts[this.editedIndex], this.editedItem)
            } else {
                this.desserts.push(this.editedItem)
            }
            this.close()
        },
    },
    name: "AddCoachDeatils"
}
</script>

<style scoped>

</style>
