<template>

    <v-container>
        <v-text Class="font-weight-bold">Assign Coach Details</v-text>
        <v-row>
            <v-col>
                <v-text-field
                    clearable
                    v-model="Search"
                    dense
                    class="mt-4 ml-6"
                    outlined placeholder="Search..." prepend-inner-icon="mdi-magnify"></v-text-field>

                <!--<v-select
                    clearable
                    :items="['Homagama','Kirinda','Mathale','Thanamalwila']"
                    outlined
                    dense
                    class="mt-4 ml-9"
                    v-model="DivisionFilter"
                    placeholder="Select Division..."
                ></v-select>-->

            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-card width="300" height="300" >
                    <v-card-text class="font-weight-bold">Coach Details</v-card-text>

                    <v-text-field label="Coach ID"  v-model=" selected_officer.index_number " style="font-size: small" dense outlined class="ml-6 mt-5" > </v-text-field>
                    <v-text-field label="Coach "  v-model=" selected_officer.name " style="font-size: small" dense outlined class="ml-6"> </v-text-field>
                    <v-text-field label="City"  v-model=" selected_officer.address " style="font-size: small" dense outlined class="ml-6"> </v-text-field>


                </v-card>
            </v-col>
            <v-col>
                <v-card width="800">
                    <v-data-table
                        dense
                        class="elevation-1"
                        :search="Search"
                        :items="DivisionFilter === null ? ProjectsList : GetFilteredItems"
                        :headers="headers"

                    >
                        <template v-slot:item.accept="{ item }">

                            <v-btn
                                dark color="blue darken-4" tile solo dense small
                            >
                                Assign Project
                            </v-btn>

                        </template>

                    </v-data-table>
                </v-card>
            </v-col>
        </v-row>
    </v-container>


</template>

<script>
export default {
    data () {

        return {

            desserts: [],
            selected_officer:null,

            Search:'',

            DivisionFilter:null,
            CategoryFilter:null,
            ProvinceFilter:null,
            GNDFilter:null,
            DistrictFilter:null,
            loader: null,
            loading: false,

            SelectedProject:null,
            dialog:false,
            dialog2:false,
            dialogDelete: false,

            filter: {},

            sortDesc: false,
            page: 1,
            itemsPerPage: 4,
            sortBy: 'name',
            headers: [


                {text:'Number',value:'number'},
                {text:'Project Category',value:'category'},
                {text:'Name',value:'name'},
                {text:'Divisional Secretariat',value:'divisional_secretariat'},
                {text:'GND',value:'gnd'},
                {text: 'Assign this', value: 'accept'},





            ],

            ProjectsList: [

            ],

            editedIndex: -1,
            editedItem: {
                number: '',
                name: '',
                category:'',
                lat: '',
                lang: '',
                google_address: '',
                start_date: '',
                end_date:'',
                province:'',
                district_secretariat:'',
                provision_estimation:'',
                assign_officers:'',
                gnd:'',
                divisional_secretariat:'',


            },
            defaultItem: {
                number: '',
                name: '',
                category:'',
                lat: '',
                lang: '',
                google_address: '',
                start_date: '',
                end_date:'',
                province:'',
                district_secretariat:'',
                provision_estimation:'',
                assign_officers:'',
                gnd:'',
                divisional_secretariat:'',


            },

        }
    },

    mounted() {
        this.initialize();
        console.log(this.selected_officer);
        console.log("url id",this.$route.params.index_number);

        this.project_data = _.find(this.desserts,{number:this.$route.params.index_number});
    },

    computed: {
        GetFilteredItems(){
            let filteredList = this.ProjectsList;
            filteredList = this.ProjectsList.filter((item)=> {
                if(item.divisional_secretariat   === this.DivisionFilter ){
                    return item;
                }

            });
            return filteredList;
        },





    },


    watch: {
        dialog(val) {
            val || this.close()
        },
        dialogDelete(val) {
            val || this.closeDelete()
        },

        loader () {
            const l = this.loader
            this[l] = !this[l]

            setTimeout(() => (this[l] = false), 3000)

            this.loader = null
        },
    },

    created() {
        this.initialize()
    },


    methods: {

        initialize() {
            this.ProjectsList = [
                {
                    number:'01',
                    category:'School Ground Development',
                    name: 'Devi balika PlayGrounds ',
                    province: 'Western Province',
                    lat: 6.0,
                    lang: 24,
                    google_address: 4.0,
                    start_date: '18/5/2021',
                    end_date: '18/12/2021',
                    district_secretariat: 'Colombo',
                    divisional_secretariat:'Homagama',
                    provision_estimation:'Rs.500,000',

                    gnd:'pitipana',

                },



            ]
        },




        close() {
            this.dialog2 = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },

        closeDelete() {
            this.dialogDelete = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },

        save() {
            if (this.editedIndex > -1) {
                Object.assign(this.ProjectsList[this.editedIndex], this.editedItem)
            } else {
                this.ProjectsList.push(this.editedItem)
            }
            this.close()
        },





        OpenDetailsPage(item){

            this.$router.push({
                name:'assign_coach'+item.index_number,
                params:{
                    project_data:item

                },
            });
        },




        OpenProject(project){
            this.SelectedProject = project;
            this.ShowDialog = true;
            console.log(project);
        },

        nextPage () {
            if (this.page + 1 <= this.numberOfPages) this.page += 1
        },
        formerPage () {
            if (this.page - 1 >= 1) this.page -= 1
        },
        updateItemsPerPage (number) {
            this.itemsPerPage = number
        },
    },

    props:{
        selected_officer:Object,
    },
    name: "AssignCoach"
}
</script>

<style scoped>

</style>
