<template>
    <v-app id="inspire">
        <v-navigation-drawer v-model="drawer" app>

                <v-img src="/img/celata_logo.jpg"  width="128"/><br><br>
                <h1 class="font-weight-black " align="center" >GEOSPORT - Sport Officer</h1>

                <v-divider></v-divider>











            <v-list-item link to="/sportOfficer/assign_project_Ex"  >
                <v-icon color="blue darken-3">mdi-clipboard-account-outline</v-icon>
                <v-list-item-title class="ml-6">Assigned Project Details</v-list-item-title>
            </v-list-item>

          <!--  <v-list-item link to="/sportOfficer/assigned_project_details">
                <v-icon color="blue darken-3">mdi-folder</v-icon>
                <v-list-item-title class="ml-6">Assigned Project Details</v-list-item-title>
            </v-list-item>-->
            
            <v-list-item link to="/sportOfficer/project_submission" >
                <v-icon color="blue darken-3">mdi-folder-plus</v-icon>
                <v-list-item-title class="ml-6">Project Submission</v-list-item-title>
            </v-list-item>




            <!--<v-list-item link  >
                <v-icon color="blue darken-3">mdi-folder-plus</v-icon>
                <v-list-item-title class="ml-6">View Rote Plan &Time Plan</v-list-item-title>
            </v-list-item>-->

            <v-list-item  link to="/sportOfficer/add_coach_details">
                <v-icon color="blue darken-3">mdi-account-multiple-plus</v-icon>
                <v-list-item-title class="ml-6">Add Coach Details</v-list-item-title>
            </v-list-item>



            <v-list-item link to="/sportOfficer/project_monitoring"  >
                <v-icon color="blue darken-3">mdi-monitor-cellphone</v-icon>
                <v-list-item-title class="ml-6">Project Monitoring</v-list-item-title>
            </v-list-item>



           <!-- <v-list-item to="/project_task" link>
                <v-icon color="blue darken-3">mdi-folder-plus</v-icon>
                <v-list-item-title class="ml-6">Project Creation</v-list-item-title>
            </v-list-item>-->




           <!-- <v-list-item to="/assignSportOfficers" link>
                <v-icon color="blue darken-3">mdi-clipboard-account-outline</v-icon>
                <v-list-item-title class="ml-6">Sport Officer Assign</v-list-item-title>
            </v-list-item>



            <v-list-item to="/all_project_view_and_edit" link>
                <v-icon color="blue darken-3">mdi-account-circle</v-icon>
                <v-list-item-title class="ml-6">All Project Details</v-list-item-title>
            </v-list-item>-->
            <v-list-item  link to="/sportOfficer/profile">
                <v-icon color="blue darken-3">mdi-account-circle</v-icon>
                <v-list-item-title class="ml-6">My Profile</v-list-item-title>
            </v-list-item>



            <v-list-item @click="logout">
                    <v-icon color="blue darken-3">mdi-logout-variant</v-icon>
                <v-list-item-title class="ml-6">Logout</v-list-item-title>
            </v-list-item>


           <!-- //-------list item groups---------------------------------------------
            <v-list dense>

                <v-list-item-group
                    v-model="selectedItem"
                    color="primary"
                >
                    <v-list-item
                        v-for="(item, i) in items"
                        :key="i"
                    >
                        <v-list-item-icon>
                            <v-icon v-text="item.icon"></v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title v-text="item.text"></v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list-item-group>
            </v-list>

            //--------------------------------------------------------------------------- --->

        </v-navigation-drawer>




        <v-app-bar app color="blue darken-3">
            <v-app-bar-nav-icon style="color: white"  @click="drawer = !drawer" ></v-app-bar-nav-icon>
                <v-toolbar-title class="font-weight-bold white--text"  >GEOSPORT Sport Officer</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-img src="/img/celata_logo.jpg" max-width="128" contain max-height="56"/>
        </v-app-bar>



            <v-main>
                <router-view></router-view>

            </v-main>




    </v-app>
</template>

<script>


export default {
    name:'Dashboard',
    components:{

    },
    data: () => ({ drawer: null ,



        selectedItem: 1,
        items: [
            { text: 'Project creation', icon: 'mdi-folder-plus' },
            { text: 'All New Projects', icon: 'mdi-view-compact' },

        ],
    }),

    methods:{
        logout(){
            window.setLogout();
        },

    }


}



</script>
