<template>
    <v-container>
        <h3 class="font-weight-bold">Projects Submission</h3>
        <v-row>
            <v-col
                cols="12"
                sm="6"
                md="4"
                lg="3">
                <v-container fluid>

                    <v-row>
                        <v-card class="mt-5" width="1500" dense >
                            <v-form>
                                <v-container >
                                    <v-row>

                                        <v-text-field
                                            v-model="name"


                                            :counter="30"
                                            label="Name"
                                            required
                                            outlined
                                            dense
                                            class="ml-1 mr-1 "
                                        ></v-text-field>



                                        <v-text-field
                                            v-model="number"
                                            label="Project Number"
                                            outlined
                                            dense
                                            class="ml-1 mr-1 "
                                        ></v-text-field>



                                        <v-text-field
                                            v-model="district"
                                            label="District"
                                            outlined
                                            dense
                                            class="ml-1 mr-1"
                                        ></v-text-field>

                                        <v-text-field
                                            v-model="divisional_secretariat"
                                            label="Division"
                                            outlined
                                            dense
                                            class="ml-1 mr-1"
                                        ></v-text-field>

                                        <v-text-field
                                            v-model="gnd"
                                            label="GND"
                                            outlined
                                            dense
                                            class="ml-1 mr-1"
                                        ></v-text-field>

                                        <v-text-field
                                            v-model="provision_estimation"
                                            label="Provision Estimation"
                                            outlined
                                            dense
                                            class="ml-1 mr-1"
                                        ></v-text-field>

                                        <v-combobox

                                            :items="items"
                                            label="Select Ownership"
                                            outlined
                                            clearable
                                            dense
                                            class="ml-1 mr-1"

                                        ></v-combobox>

                                        <v-text-field
                                            v-model="beneficiaries"
                                            label="Number of Beneficiaries"
                                            outlined
                                            dense
                                            class="ml-1 mr-1"
                                        ></v-text-field>

                                        <h4 class="ml-1 mr-1">Does Public Contribute?</h4>

                                        <v-radio-group
                                            v-model="row"
                                            row
                                            class="ml-1 mr-1"
                                        >
                                            <v-radio
                                                label="Yes"
                                                value="radio-1"
                                            ></v-radio>
                                            <v-radio
                                                label="No"
                                                value="radio-2"
                                                color="error"

                                            ></v-radio>
                                        </v-radio-group>

                                        <v-textarea
                                            label="Description"
                                            class="ml-1 mr-1"
                                            dense
                                            outlined
                                            clearable
                                        ></v-textarea>



                                    </v-row>
                                    <v-file-input
                                        accept="image/*"
                                        label="Upload Image/Video"
                                        outlined
                                        dense
                                        class="ml-1 mr-1"
                                        prepend-inner-icon="mdi-camera"
                                        clearable

                                    ></v-file-input>

                                    <v-btn dark color="blue darken-4" tile solo dense small
                                           to="/sportofficer/add_coach_details" class="ml-1 mr-1"
                                    >
                                        Coach Details
                                    </v-btn>
                                </v-container>

                            </v-form>

                            <v-card-actions class="justify-center">
                                <v-btn
                                    color="blue darken-3"
                                    text
                                    @click="save"
                                >
                                    Submit
                                </v-btn>
                            </v-card-actions>

                        </v-card>

                    </v-row>






                </v-container>
            </v-col>
        </v-row>

    </v-container>

</template>

<script>
export default {
    data () {
        return {

            divisional_secretariat:'',
            provision_estimation:'',
            name:'',
            number:'',
            gnd:'',
            district:'',
            beneficiaries:'',

            items: [
                'Government',
                'Private',

            ],
            contribute1:'blue',
            contribute2:'red',
            column: null,
            row: null,
        }},
    name: "ProjectSubmissionSo"
}
</script>

<style scoped>

</style>
