<template>
    <v-container>
        <h3 class="font-weight-bold">Projects Monitoring</h3>
        <v-row>
            <v-col
                cols="12"
                sm="6"
                md="4"
                lg="3">
                <v-container fluid>

                    <v-row>
                        <v-card class="mt-5" width="1500" dense >
                            <v-form>
                                <v-container >
                                    <v-row>

                                        <v-text-field
                                            v-model="name"


                                            :counter="30"
                                            label="Project Name"
                                            required
                                            outlined
                                            dense
                                            class="ml-1 mr-1 "
                                        ></v-text-field>



                                        <v-text-field
                                            v-model="number"
                                            label="Project Number"
                                            outlined
                                            dense
                                            class="ml-1 mr-1 "
                                        ></v-text-field>



                                        <v-text-field
                                            v-model="district"
                                            label="District"
                                            outlined
                                            dense
                                            class="ml-1 mr-1"
                                        ></v-text-field>

                                        <v-text-field
                                            v-model="divisional_secretariat"
                                            label="Division"
                                            outlined
                                            dense
                                            class="ml-1 mr-1"
                                        ></v-text-field>

                                        <v-text-field
                                            v-model="gnd"
                                            label="GND"
                                            outlined
                                            dense
                                            class="ml-1 mr-1"
                                        ></v-text-field>

                                        <v-text-field
                                            v-model="provision_estimation"
                                            label="Provision Estimation"
                                            outlined
                                            dense
                                            class="ml-1 mr-1"
                                        ></v-text-field>

                                        <v-combobox

                                            :items="items"
                                            label="Select Ownership"
                                            outlined
                                            clearable
                                            dense
                                            class="ml-1 mr-1"

                                        ></v-combobox>

                                        <v-menu
                                            ref="menu"
                                            v-model="menu"
                                            :close-on-content-click="false"
                                            transition="scale-transition"
                                            offset-y
                                            min-width="auto"
                                        >
                                            <template v-slot:activator="{ on, attrs }">
                                                <v-text-field
                                                    v-model="date"
                                                    label="Monitoring Date"
                                                    prepend-inner-icon="mdi-calendar"
                                                    readonly
                                                    outlined
                                                    class="ml-1 mr-1"
                                                    clearable
                                                    dense
                                                    v-bind="attrs"
                                                    v-on="on"
                                                ></v-text-field>
                                            </template>
                                            <v-date-picker
                                                v-model="date"
                                                :active-picker.sync="activePicker"
                                                :max="(new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10)"
                                                min="1950-01-01"
                                                @change="save"

                                            ></v-date-picker>
                                        </v-menu>

                                        <v-combobox

                                            :items="stage"
                                            label="Select Current Stage"
                                            outlined
                                            clearable
                                            dense
                                            class="ml-1 mr-1"

                                        ></v-combobox>



                                        <v-textarea
                                            label="Description"
                                            class="ml-1 mr-1"
                                            dense
                                            outlined
                                            clearable
                                        ></v-textarea>



                                    </v-row>
                                    <v-file-input
                                        accept="image/*"
                                        label="Upload Image/Video"
                                        outlined
                                        dense
                                        class="ml-1 mr-1"
                                        prepend-inner-icon="mdi-camera"

                                    ></v-file-input>







                                </v-container>

                            </v-form>

                            <v-card-actions class="justify-center">
                                <v-btn
                                    color="blue darken-3"
                                    text
                                    @click="save"
                                >
                                    Submit
                                </v-btn>
                            </v-card-actions>

                        </v-card>

                    </v-row>






                </v-container>
            </v-col>
        </v-row>

    </v-container>

</template>

<script>
export default {
    data () {
        return {

            divisional_secretariat:'',
            provision_estimation:'',
            name:'',
            number:'',
            gnd:'',
            district:'',


            items: [
                'Government',
                'Private',

            ],
            stage:[
                'Stage 1',
                'Stage 2',
                'Stage 3',
                'Stage 4',
                'Stage 5',
            ],
            activePicker: null,
            date: null,
            menu: false,

        }},

    watch: {
        menu (val) {
            val && setTimeout(() => (this.activePicker = 'YEAR'))
        },
    },
    methods: {
        save (date) {
            this.$refs.menu.save(date)
        },
    },
    name: "ProjectMonitoring"
}
</script>

<style scoped>

</style>
