<template>
    <v-container fluid>
        <h3 class="font-weight-bold">Assigned Projects</h3>



            <v-col
                cols="12"
                sm="6"
                md="4"
                lg="3">
                <v-card :key="i" v-for="(proj,i) in items" width="400" height="400"  >
                    <v-card-title class="subheading font-weight-bold" >
                        {{proj.name}}

                    </v-card-title>
                    <v-divider></v-divider>
                    <v-list dense>
                        <v-list-item>
                            <v-list-item-content>Number:</v-list-item-content>
                            <v-list-item-content class="align-end">
                                {{proj.number}}
                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-content>Category:</v-list-item-content>
                            <v-list-item-content class="align-end">
                                {{proj.category}}

                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-content>Province:</v-list-item-content>
                            <v-list-item-content class="align-end">
                                {{proj.start_date}}

                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-content>GND:</v-list-item-content>
                            <v-list-item-content class="align-end">
                                {{proj.end_date}}

                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-content>Assign Officers:</v-list-item-content>
                            <v-list-item-content class="align-end" >
                                {{proj.assign_officers}}

                            </v-list-item-content>
                        </v-list-item>


                    </v-list>

                    <v-card-actions  :proj.number="{ proj }" >

                        <v-btn dark color="blue darken-4" tile solo dense small
                               @click="OpenDetailsPage(proj)" class="ml-16 mb-2"
                        >
                            More Details
                        </v-btn>



                    </v-card-actions>






                </v-card>

                <v-card :key="i" v-for="(proj,i) in items" height="40" width="400">
                    <v-card-actions>
                        <v-btn
                            color="blue darken-4"
                            text
                        >
                            View Route Plan
                        </v-btn>

                        <v-spacer></v-spacer>

                        <v-btn
                            icon
                            @click="show = !show"
                        >
                            <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
                        </v-btn>
                    </v-card-actions>

                    <v-expand-transition>
                        <div v-show="show">
                            <v-divider></v-divider>
                            <v-list>
                                <v-list-item>
                                    <v-list-item-content>District:</v-list-item-content>
                                    <v-list-item-content class="align-end" >
                                        {{proj.district_secretariat}}

                                    </v-list-item-content>
                                </v-list-item>
                                <v-list-item>
                                    <v-list-item-content>Division:</v-list-item-content>
                                    <v-list-item-content class="align-end" >
                                        {{proj.divisional_secretariat}}

                                    </v-list-item-content>
                                </v-list-item>
                                <v-list-item>
                                    <v-list-item-content>GND:</v-list-item-content>
                                    <v-list-item-content class="align-end" >
                                        {{proj.gnd}}

                                    </v-list-item-content>
                                </v-list-item>
                            </v-list>

                            <v-btn @click="DrawMarker">Drow marker</v-btn>
                            <v-btn @click="DrawDirection">Show Direction</v-btn>
                            <v-btn @click="Clear">Clear Map</v-btn>

                                <GmapMap
                                    :center="center"
                                    :zoom="5.5"
                                    v-bind:style="{ 'width': window.width/5+185+'px','height':window.height-350+'px','margin-top':0+'px' }"
                                    :options="mapOptions"
                                    ref="mapDiv" id="map_canvas"></GmapMap>


                           <!-- <GmapMarker
                                :key="index"
                                v-for="(m, index) in markers"
                                :position="m.position"
                                :clickable="true"
                                :draggable="true"
                                @click="center = m.position"

                            >

                            </GmapMarker>-->






                        </div>
                    </v-expand-transition>

                </v-card>

            </v-col>





        <!--<v-data-iterator
            :items="items"
        >


            -template v-slot:default="props">
                <v-row>
                    <v-col
                        v-for="item in props.items"
                        :key="item.name"
                        cols="12"
                        sm="6"
                        md="4"
                        lg="3"
                    >
                        <v-card>
                            <v-card-title class="subheading font-weight-bold">
                                {{ item.name }}
                            </v-card-title>

                            <v-divider></v-divider>

                            <v-list dense>
                                <v-list-item>
                                    <v-list-item-content>Calories:</v-list-item-content>
                                    <v-list-item-content class="align-end">
                                        {{ item.number }}
                                    </v-list-item-content>
                                </v-list-item>

                                <v-list-item>
                                    <v-list-item-content>Fat:</v-list-item-content>
                                    <v-list-item-content class="align-end">
                                        {{ item.category }}
                                    </v-list-item-content>
                                </v-list-item>

                                <v-list-item>
                                    <v-list-item-content>Carbs:</v-list-item-content>
                                    <v-list-item-content class="align-end">
                                        {{ item.province }}
                                    </v-list-item-content>
                                </v-list-item>

                                <v-list-item>
                                    <v-list-item-content>Protein:</v-list-item-content>
                                    <v-list-item-content class="align-end">
                                        {{ item.gnd }}
                                    </v-list-item-content>
                                </v-list-item>

                                <v-list-item>
                                    <v-list-item-content>Sodium:</v-list-item-content>
                                    <v-list-item-content class="align-end">
                                        {{ item.assign_officers }}
                                    </v-list-item-content>
                                </v-list-item>


                            </v-list>
                            <v-btn dark color="blue darken-4" tile solo dense small
                                   @click="OpenDetailsPage(item)" class="ml-16 mb-2"
                            >
                                More Details
                            </v-btn>

                            <v-expansion-panels inset class="mt-1" dense  >
                                <v-expansion-panel
                                    :key="item.name"
                                >
                                    <v-expansion-panel-header class="font-weight-bold">Route Plan</v-expansion-panel-header>
                                    <v-expansion-panel-content>
                                        <v-text-field
                                            label="Province"
                                            outlined
                                            dense
                                            readonly
                                            class="ml-1 mr-1"
                                        ></v-text-field>

                                        <v-text-field
                                            v-model=""
                                            label="District"
                                            outlined
                                            dense
                                            readonly
                                            class="ml-1 mr-1"
                                        ></v-text-field>

                                        <v-text-field
                                            v-model="items.divisional_secretariat"
                                            label="Division"
                                            outlined
                                            dense
                                            readonly
                                            class="ml-1 mr-1"
                                        ></v-text-field>

                                        <v-text-field
                                            v-model="items.gnd"
                                            label="GND"
                                            outlined
                                            dense
                                            readonly
                                            class="ml-1 mr-1"
                                        ></v-text-field>
                                    </v-expansion-panel-content>
                                </v-expansion-panel>
                            </v-expansion-panels>

                        </v-card>
                    </v-col>
                </v-row>
            </template


        </v-data-iterator>-->
    </v-container>
</template>

<script>

export default {

    data: () => ({

        SelectedProject:null,
        show:false,
        mapOptions: {
            controlSize: 21,
            zoomControl: true,
            mapTypeControl: true,
            streetViewControl: true,
            scaleControl:true,
            fullscreenControl: false,
            zoomControlOptions: {
                position: 7,
            },
            streetViewControlOptions: {
                position: 7,
            },
            mapTypeControlOptions: {
                position: 3
            },
            fullscreenControlOptions: {
                position: 3
            },
            scaleControlOptions: {
                position: 7
            },
        },
        center: {lat: 7.9708759, lng:  80.2615532},
        GMap:null,
        window: {
            width: 0,
            height: 0,
        },
        startPoint:null,
        endPoint:null,
        directionsDisplay:null,
        directionsService:null,
        DirectionsRenderer:null,
        setDirections:null,
        markers: [],






        items: [
            {
                number:'01',
                category:'School Ground Development Programme',
                name: 'Devi balika Play Grounds ',
                province: 'Western Province',
                lat: 6.0,
                lang: 24,
                google_address: 4.0,
                start_date: '18/5/2021',
                end_date: '18/12/2021',
                district_secretariat: 'Colombo',
                divisional_secretariat:'Homagama',
                provision_estimation:'Rs.500,000',
                assign_officers:'B.A.Nimal',
                gnd:'pitipana',

            },


        ],





    }),

    methods:{

        startDirection() {
            let that = this;
            this.directionsService = new google.maps.DirectionsService();
            let map = this.GMap;
            this.directionsDisplay = new google.maps.DirectionsRenderer();
            this.directionsDisplay.setMap(map);
            this.directionsDisplay.setPanel(document.getElementById('mapDirectionDetails'));
            this.showDirection = true;
            let request = {
                origin: 6.927,
                destination: 9.661,
                travelMode: google.maps.DirectionsTravelMode.DRIVING
            };



            this.directionsService.route(request, function(response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    that.directionsDisplay.setDirections(response);
                }
            });
            //store.commit('addToMapContextMenu', {title: 'Route Planning', id: 'route_planning', action: {type: 'navigation', drawer: 'bottom', drawerID: 'route_planning', tabID: 'routeplan', tabNo: 0}});




        },







            OpenDetailsPage(item){

            this.$router.push({
                //path:'/sportofficer/view_more_assigned_project_details/'+item.number,
                path:'/sportofficer/view_more_assigned_project_details/'+item.number,
                name:'view_more_assigned_project_details'+item.number,
                params:{
                    assign_project_data:item
                },
            });
        },




        OpenProject(project){
            this.SelectedProject = project;
            this.ShowDialog = true;
            console.log(project);
        },

        handleResize() {
            this.window.width = window.innerWidth;
            this.window.height = window.innerHeight;
            this.window.lower_height = window.innerHeight-15;
        },
        logout(){
            window.setLogout();
        },
        init(){
            let that = this;
            let map = this.GMap;
            //----------------Left click event-------------------------------------
            google.maps.event.addListener(map,"click", function(event) {
                //----------------------Reverse Geocode---------------------------------
                let geocoder = new google.maps.Geocoder;
                that.lat = event.latLng.lat();
                that.lng = event.latLng.lng();

                geocoder.geocode({'location': {lat: event.latLng.lat(), lng: event.latLng.lng()}}, function (results, status) {
                    if (status === 'OK') {
                        if (results[0]) {
                            that.google_address = results[0].formatted_address;
                            // let payload = {
                            //     lat : event.latLng.lat(),
                            //     lng : event.latLng.lng(),
                            //     address: results[0].formatted_address
                            // }
                            // store.commit('setSelectedLocation',payload);
                        } else {
                            that.snackMessage = "No Result found";
                            that.snackbar = true;
                            that.addLocationToDataset();
                        }
                    } else {
                        that.snackMessage = "Geocode Error !";
                        that.snackbar = true;
                        that.addLocationToDataset();
                    }
                });


            });
        },




    },

    mounted(){
        //------getting headers from laravel csrf--------------------
        let laravel = JSON.parse(window.Laravel);
        const header = {
            "X-CSRF-TOKEN": laravel.csrfToken,
            "X-Requested-With": "XMLHttpRequest",
        };

        let that = this;
        this.user = laravel.user;

        // setTimeout(function () {
        that.$refs.mapDiv.$mapPromise.then((map) => {
            that.GMap = map;
            that.init();
        });

        // },2000)
    },

    watch:{
        drawer() {
            let that = this;

        },
    },

    created() {
        window.addEventListener('resize', this.handleResize);
        this.handleResize();

        // alert(this.window.width)
    },

    destroyed() {
        window.removeEventListener('resize', this.handleResize)
    },







    name: "SportOfiicerAssignedProjectDetails"
}
</script>

<style scoped>

</style>
