<template>
    <v-container>
        <h3  class="ml-0,font-weight-bold">All Projects Details</h3>



        <!--        <v-row >-->

        <!--            &lt;!&ndash;<v-text-field-->
        <!--                clearable-->
        <!--                v-model="Search"-->
        <!--                class="ma-1"-->
        <!--                dense-->
        <!--                outlined placeholder="Search..." prepend-inner-icon="mdi-magnify"></v-text-field>-->

        <!--            <v-select-->
        <!--                clearable-->
        <!--                class="ma-1"-->
        <!--                :items="['Jaffna','Galle','Colombo','Rathnapura','Kilinochchi','Mannar','Mullaitivu','Vavuniya','Puttalam','Kurunegala','Gampaha','Kalutara','Polonnaruwa','Anuradhapura','Matale','Kandy','Nuwara Eliya','Kegalle','Trincomalee','Batticaloa','Ampara','Badulla','Monaragala','Matara','Hambantota']"-->
        <!--                outlined-->
        <!--                dense-->
        <!--                v-model="DivisionFilter"-->
        <!--                placeholder="District"-->
        <!--                style="width: 25px"-->
        <!--            ></v-select>-->
        <!--            <v-autocomplete-->
        <!--                small-chips-->
        <!--                outlined-->
        <!--                dense-->

        <!--                :items="['Project Category','District','Province']"-->
        <!--                dense-->
        <!--                class="ma-1"-->
        <!--                clearable-->
        <!--            ></v-autocomplete>&ndash;&gt;-->
        <!--            <v-col cols="12" lg="3" md="3" sm="12">-->
        <!--                <v-select-->
        <!--                    clearable-->
        <!--                    class="ma-1 mt-5 "-->
        <!--                    :items="categoryList"-->
        <!--                    outlined-->
        <!--                    height="5"-->
        <!--                    dense-->

        <!--                    v-model="CategoryFilter"-->
        <!--                    placeholder="Select Category..."-->
        <!--                ></v-select>-->

        <!--            </v-col>-->

        <!--            <v-col cols="12" lg="3" md="3" sm="12">-->

        <!--                <v-select-->
        <!--                    clearable-->
        <!--                    class="ma-1 mt-5"-->
        <!--                    :items="DistrictList"-->
        <!--                    outlined-->
        <!--                    dense-->
        <!--                    v-model="DistrictFilter"-->
        <!--                    placeholder=" Select District..."-->

        <!--                ></v-select>-->
        <!--            </v-col>-->
        <!--            <v-col cols="12" lg="3" md="3" sm="12">-->
        <!--               <v-select-->
        <!--                    clearable-->
        <!--                    class="ma-1 mt-5"-->
        <!--                    :items="DivisionList"-->
        <!--                    outlined-->
        <!--                    dense-->
        <!--                    v-model="DivisionFilter"-->
        <!--                    placeholder="Select Division..."-->
        <!--                ></v-select>-->
        <!--            </v-col>-->


        <!--            <v-col cols="12" lg="3" md="3" sm="12">-->
        <!--                <v-select-->
        <!--                    clearable-->
        <!--                    class="ma-1 mt-5"-->
        <!--                    :items="GNDList"-->
        <!--                    outlined-->
        <!--                    dense-->
        <!--                    v-model="GNDFilter"-->
        <!--                    placeholder="Select GND..."-->
        <!--                ></v-select>-->
        <!--            </v-col>-->




        <!--          &lt;!&ndash;  <v-btn class="mt-3" dark color="blue darken-4" tile solo dense small @click="close">-->
        <!--                <v-icon small>mdi-delete-circle</v-icon> &nbsp;Search-->
        <!--            </v-btn>&ndash;&gt;-->

        <!--        </v-row>-->

        <v-row no-gutters>
           <!-- <v-text-field
                clearable
                v-model="Search"
                class="ma-1 mt-3"
                dense
                outlined placeholder="Search Projects..." prepend-inner-icon="mdi-magnify"></v-text-field>-->
        </v-row>

        <v-card class="mt-3">
            <v-data-table
                dense
                class="elevation-1"
                :search="Search"
                disable-sort
                disable-filtering
                items-per-page="1"
                :items="DivisionFilter === null ? ProjectsList : GetFilteredItems"
                :headers="headers"
                :loading="tableLoading"
            >



                <!--@click:row="OpenDetailsPage"-->

                <template v-slot:item.moredetails="{ item }">
                    <v-btn dark color="blue darken-4" tile solo dense small
                           @click="OpenDetailsPage(item)"
                    >
                        More Details
                    </v-btn>
                </template>


                <v-btn dark color="red darken-4" tile solo dense small @click="close">
                    <v-icon small>mdi-delete-circle</v-icon> &nbsp;Cancel
                </v-btn>


                <!--  <template v-slot:item.edit="{ item }">
                      <v-icon
                          small
                          class="mr-2"
                          @click="editItem(item)"
                      >
                          mdi-pencil
                      </v-icon>

                  </template>-->

                <!-- <template v-slot:item.delete="{ item }">
                     <v-icon
                         small
                         @click="deleteItem(item)"
                     >
                         mdi-delete
                     </v-icon>
                 </template>
                   <template v-slot:no-data>
                       <v-btn
                           color="primary"
                           @click="initialize"
                       >
                           Reset
                       </v-btn>
                   </template>-->




            </v-data-table >

            <v-dialog
                v-model="dialog2"
                max-width="500px"
            >

                <v-card>


                    <v-card-text>
                        <v-card-title>Edit Projects Details</v-card-title>
                        <v-container>
                            <v-row>
                                <v-col
                                    cols="12"
                                    sm="6"
                                    md="4"
                                >
                                    <v-text-field
                                        v-model="editedItem.id"
                                        label="Project Number"

                                    ></v-text-field>
                                </v-col>
                                <v-col
                                    cols="12"
                                    sm="6"
                                    md="4"
                                >
                                    <v-text-field
                                        v-model="editedItem.name"
                                        label="Project Name"

                                    ></v-text-field>
                                </v-col>

                                <v-col
                                    cols="12"
                                    sm="6"
                                    md="4"
                                >
                                    <v-text-field
                                        v-model="editedItem.start_date"
                                        label="Start date"

                                    ></v-text-field>
                                </v-col>
                                <v-col
                                    cols="12"
                                    sm="6"
                                    md="4"
                                >
                                    <v-text-field
                                        v-model="editedItem.end_date"
                                        label="End date"


                                    ></v-text-field>
                                </v-col>
                                <v-col
                                    cols="12"
                                    sm="6"
                                    md="4"
                                >
                                    <v-text-field
                                        v-model="editedItem.division"
                                        label="Division"


                                    ></v-text-field>
                                </v-col>
                                <v-col
                                    cols="12"
                                    sm="6"
                                    md="4"
                                >
                                    <v-text-field
                                        v-model="editedItem.district_secretariat"
                                        label="District Secretariat"


                                    ></v-text-field>
                                </v-col>
                                <v-col
                                    cols="12"
                                    sm="6"
                                    md="4"
                                >
                                    <v-text-field
                                        v-model="editedItem.divisional_secretariat"
                                        label="Divisional Secretariat"


                                    ></v-text-field>
                                </v-col>
                                <v-col
                                    cols="12"
                                    sm="6"
                                    md="4"
                                >
                                    <v-text-field
                                        v-model="editedItem.provision_estimation"
                                        label="Provision estimation"


                                    ></v-text-field>
                                </v-col>
                                <v-col
                                    cols="12"
                                    sm="6"
                                    md="4"
                                >
                                    <v-text-field
                                        v-model="editedItem.assign_officers"
                                        label="Sport Officer"
                                        readonly

                                    ></v-text-field>
                                </v-col>





                            </v-row>
                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                            color="blue darken-1"
                            text
                            @click="close"
                        >
                            Cancel
                        </v-btn>
                        <v-btn
                            color="blue darken-1"
                            text
                            @click="save"
                        >
                            Save
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>


            <v-dialog v-model="dialogDelete" max-width="500px">
                <v-card>
                    <v-card-title class="text-h5">Are you sure you want to delete this project?</v-card-title>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                        <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                        <v-spacer></v-spacer>
                    </v-card-actions>
                </v-card>
            </v-dialog>


        </v-card>




        <!--  <v-dialog v-if="SelectedProject !== null" max-width="1300"   v-model="ShowDialog">
              <v-card >
                  <v-card-title class="font-weight-medium, h1" >{{ SelectedProject.name }}</v-card-title>

                  <v-card-text>
                      <v-row no-gutters class="mt-4-">

                          <v-col>

                              <v-text-field  label="Project Number" v-model=" editedItem.number " readonly outlined  ></v-text-field>
                              <v-text-field  label="Project Name" v-model=" editedItem.name " readonly outlined ></v-text-field>
                              <v-text-field  label="Latitude" v-model=" editedItem.lat " readonly outlined ></v-text-field>
                              <v-text-field  label="Longitude" v-model=" editedItem.lang " readonly outlined ></v-text-field>
                              <v-text-field  label="Google Address" v-model=" editedItem.google_address " readonly outlined ></v-text-field>
                              <v-text-field  label="Start date" v-model=" editedItem.start_date " readonly outlined ></v-text-field>
                              <v-text-field  label="End date" v-model=" editedItem.end_date " readonly outlined ></v-text-field>
                              <v-text-field  label="Division" v-model=" editedItem.division " readonly outlined ></v-text-field>
                              <v-text-field  label="District Secretariat" v-model=" editedItem.district_secretariat " readonly outlined ></v-text-field>
                              <v-text-field  label="Divisional Secretariat" v-model=" editedItem.divisional_secretariat " readonly outlined ></v-text-field>
                              <v-text-field  label="Provision Secretariat" v-model=" editedItem.provision_estimation " readonly outlined ></v-text-field>
                              <v-text-field  label="Sport Officer" v-model=" editedItem.assign_officers "  outlined ></v-text-field>

                          </v-col>
                          <v-col class="ml-9">

                              <GmapMap
                                  :center="center"
                                  :zoom="7.8"
                                  :options="mapOptions"
                                  class="GMAPClass">
                              </GmapMap>

                          </v-col>
                      </v-row>
                      <v-row><v-btn color="primary"  @click="ShowDialog = false">Assign Sport Officer</v-btn>
                          <v-btn color="error" class=ml-5 @click="ShowDialog = false">Close</v-btn>
                      </v-row>

                      <v-spacer></v-spacer>
                  </v-card-text>
              </v-card>
          </v-dialog>-->
        <v-snackbar
            v-model="snackbar"
            :multi-line="false"
            :color="snackColor"
            :top="snackBarTop"
            :right="snackBarRight"
        >
            {{ snackMessage }}

        </v-snackbar>

    </v-container>

</template>

<script>
export default {

    data () {
        return {

            Search:'',
            DivisionFilter:null,
            CategoryFilter:null,
            ProvinceFilter:null,
            GNDFilter:null,
            DistrictFilter:null,

            SelectedProject:null,
            dialog:false,
            dialog2:false,
            dialogDelete: false,

            filter: {},

            sortDesc: false,
            page: 1,

            sortBy: 'name',
            headers: [


                //{text:'Number',value:'number'},
                {text:'Project Category',value:'category'},
                {text:'Name',value:'name'},
                //{text:'Project Start Date',value:'start_date'},
                //{text:'Project End Date',value:'end_date'},
                {text:'Province',value:'province'},
                //{text:'District Secretariat',value:'district_secretariat'},
                //{text:'Divisional Secretariat',value:'divisional_secretariat'},
                //{text:'GND',value:'gnd'},
                //{text:'Provision Estimation',value:'provision_estimation'},
                {text:'Sport Officer',value:'assign_officers'},


                {text: '', value: 'moredetails'},


            ],

            ProjectsList: [

            ],

            editedIndex: -1,
            editedItem: {
                number: '',
                name: '',
                category:'',
                lat: '',
                lang: '',
                google_address: '',
                start_date: '',
                end_date:'',
                province:'',
                district_secretariat:'',
                provision_estimation:'',
                assign_officers:'',
                gnd:'',
                divisional_secretariat:'',


            },
            defaultItem: {
                number: '',
                name: '',
                category:'',
                lat: '',
                lang: '',
                google_address: '',
                start_date: '',
                end_date:'',
                province:'',
                district_secretariat:'',
                provision_estimation:'',
                assign_officers:'',
                gnd:'',
                divisional_secretariat:'',
            },
            categoryList:[],
            DistrictList:[],
            DivisionList:[],
            GNDList:[],
            snackbar:false,
            snackMessage:false,
            snackColor:'',
            snackBarTop:true,
            snackBarRight:false,
            tableLoading:false
        }
    },
    computed: {
        GetFilteredItems(){
            let filteredList = this.ProjectsList;
            filteredList = this.ProjectsList.filter((item)=> {
                if(item.divisional_secretariat   === this.DivisionFilter  && item.category   === this.CategoryFilter  && item. district_secretariat === this.DistrictFilter && item.gnd === this.GNDFilter){
                    return item;
                }

            });
            return filteredList;
        },
        numberOfPages () {
            return Math.ceil(this.items.length / this.itemsPerPage)
        },
        filteredKeys () {
            return this.keys.filter(key => key !== 'Name')
        },
    },


    watch: {
        dialog(val) {
            val || this.close()
        },
        dialogDelete(val) {
            val || this.closeDelete()
        },
    },

    created() {
        this.initialize()
    },


    methods: {

        initialize() {
            //------getting headers from laravel csrf--------------------
            let laravel = JSON.parse(window.Laravel);
            const header = {
                "X-CSRF-TOKEN": laravel.csrfToken,
                "X-Requested-With": "XMLHttpRequest",
            };
            axios.post('/api/admin/getProjects', {uid:laravel.user.id}, header).then(response => {
                this.ProjectsList = response.data.data;
                this.tableLoading = false;
            }).catch((error) => {
                this.snackMessage = error;
                this.snackColor = 'error';
                this.snackbar = true;
                this.tableLoading = false;
                console.log({error});// this will log an empty object with an error property
            });
            //axios.post('/api/admin/getProjectsByID',{uid:laravel.user.id}, header).then(response => {


            // this.ProjectsList = [
            //     {
            //         number:'01',
            //         category:'School Ground Development',
            //         name: 'Devi balika PlayGrounds ',
            //         province: 'Western Province',
            //         lat: 6.0,
            //         lang: 24,
            //         google_address: 4.0,
            //         start_date: '18/5/2021',
            //         end_date: '18/12/2021',
            //         district_secretariat: 'Colombo',
            //         divisional_secretariat:'Homagama',
            //         provision_estimation:'Rs.500,000',
            //         assign_officers:'B.A.Nimal',
            //         gnd:'pitipana',
            //
            //     },
            //     {
            //         number:'02',
            //         category:'Rural Ground Development Programme',
            //         name: 'Dewinuwara  PlayGround ',
            //         province: 'Southern Province',
            //         lat: 9.0,
            //         lang: 37,
            //         google_address: 4.0,
            //         start_date: '18/5/2021',
            //         end_date: '18/12/2021',
            //         district_secretariat: 'Mathara',
            //         divisional_secretariat:'Kirinda',
            //         provision_estimation:'Rs.500,000',
            //         assign_officers:'B.A.Nimal',
            //         gnd:'Dewinuwara',
            //
            //     },
            //     {
            //         number:'03',
            //         category:'Public Playground Development Programme',
            //         name: 'Wellawaya Town Project',
            //         province: 'Uva Province',
            //         lat: 3.7,
            //         lang: 67,
            //         google_address: 4.0,
            //         start_date: '18/5/2021',
            //         end_date: '18/12/2021',
            //         district_secretariat: 'Monaragala',
            //         divisional_secretariat:'Thanamalwila',
            //         provision_estimation:'Rs.500,000',
            //         assign_officers:'B.A.Nimal',
            //         gnd:'Wellawaya',
            //
            //     },
            //     {
            //         number:'04',
            //         category:'Sports School Development Programme',
            //         name: 'Bandarawela central Collage Project',
            //         province: 'Central Province',
            //         lat: 16.0,
            //         lang: 49,
            //         google_address: 4.0,
            //         start_date: '18/5/2021',
            //         end_date: '18/12/2021',
            //         district_secretariat: 'Kandy',
            //         divisional_secretariat:'Mathale',
            //         provision_estimation:'Rs.500,000',
            //         assign_officers:'B.A.Nimal',
            //         gnd:'Kandy ',
            //     },
            //
            // ]
            let that = this;
            _.map(that.ProjectsList,function (o) {
                console.log(o);
                that.DistrictList.push(o.district_secretariat);
                that.DivisionList.push(o.divisional_secretariat);
                that.GNDList.push(o.gnd);
                that.categoryList.push(o.category);
            });
        },

        editItem(item) {
            console.log("Edit",item);
            this.editedIndex = this.ProjectsList.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialog2 = true
        },

        deleteItem(item) {
            this.editedIndex = this.ProjectsList.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialogDelete = true
        },

        deleteItemConfirm() {
            this.ProjectsList.splice(this.editedIndex, 1)
            this.closeDelete()
        },


        close() {
            this.dialog2 = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },

        closeDelete() {
            this.dialogDelete = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },

        save() {
            if (this.editedIndex > -1) {
                Object.assign(this.ProjectsList[this.editedIndex], this.editedItem)
            } else {
                this.ProjectsList.push(this.editedItem)
            }
            this.close()
        },





        OpenDetailsPage(item){

            this.$router.push({
                path:'/sportOfficer/view_more_assigned_project_details/'+item.id,
                params:{
                    project_data:item
                },
            });
        },




        OpenProject(project){
            this.SelectedProject = project;
            this.ShowDialog = true;
            console.log(project);
        },

        nextPage () {
            if (this.page + 1 <= this.numberOfPages) this.page += 1
        },
        formerPage () {
            if (this.page - 1 >= 1) this.page -= 1
        },
        updateItemsPerPage (number) {
            this.itemsPerPage = number
        },
        getFiltered(){

        }
    },

    name: "SportOfficerProjectsEx"
}
</script>

<style scoped>

</style>
