<template>
<v-container>
    <v-row>
        <v-col>
            <v-text class=" font-weight-bold">  Profile details</v-text>

            <v-card  tile height="95"  dense class="mt-3" >
                <v-row>

                        <v-avatar size="85" class="mr-3 ml-6 mt-1 " dense >
                            <img  src="/img/avatar2.png"/>;

                        </v-avatar>
                    <v-col align="left" class="mr-6">
                        <h4 class="mt-3 ml-16 font-weight-bold"> Welcome Nimal Kumara</h4>
                    </v-col>
                </v-row>
            </v-card >
            <v-card>

            </v-card>
            <v-container fluid>
                <v-text><h4>Personal Details</h4></v-text>
                <v-divider></v-divider>
                <v-spacer></v-spacer>
                <v-row>
                    <v-card class="mt-5" width="1500" dense >
                        <v-form>
                            <v-container >
                                <v-row>

                                        <v-text-field
                                            v-model="personal_firstname"


                                            :counter="15"
                                            label="Name"
                                            required
                                            outlined
                                            dense
                                            class="ml-1 mr-1 "
                                        ></v-text-field>



                                        <v-text-field
                                            v-model="personal_nic"
                                            label="NIC Number"
                                            outlined
                                            dense
                                            class="ml-1 mr-1 "
                                        ></v-text-field>



                                        <v-text-field
                                            v-model="personal_email"
                                            label="E-mail"
                                            outlined
                                            dense
                                            class="ml-1 mr-1"
                                        ></v-text-field>

                                        <v-text-field
                                            v-model="personal_tele"
                                            label="Contact Number"
                                            outlined
                                            dense
                                            class="ml-1 mr-1"
                                        ></v-text-field>

                                        <v-text-field
                                            v-model="personal_city"
                                            label="City"
                                            outlined
                                            dense
                                            class="ml-1 mr-1"
                                        ></v-text-field>



                                </v-row>
                            </v-container>

                        </v-form>
                        <v-expansion-panels inset class="mt-1" dense v-model="details">
                            <v-expansion-panel
                                v-for="(item,i) in 1"
                                :key="i"
                            >
                                <v-expansion-panel-header class="font-weight-bold">Other Details</v-expansion-panel-header>
                                <v-expansion-panel-content>
                                    <v-text-field
                                        v-model="details_province"
                                        label="Province"
                                        outlined
                                        dense
                                        readonly
                                        class="ml-1 mr-1"
                                    ></v-text-field>

                                    <v-text-field
                                        v-model="details_district"
                                        label="District"
                                        outlined
                                        dense
                                        readonly
                                        class="ml-1 mr-1"
                                    ></v-text-field>

                                    <v-text-field
                                        v-model="details_division"
                                        label="Division"
                                        outlined
                                        dense
                                        readonly
                                        class="ml-1 mr-1"
                                    ></v-text-field>

                                    <v-text-field
                                        v-model="details_gnd"
                                        label="GND"
                                        outlined
                                        dense
                                        readonly
                                        class="ml-1 mr-1"
                                    ></v-text-field>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                        </v-expansion-panels>
                        <v-card-actions class="justify-center">
                            <v-btn
                                color="blue darken-1"
                                text
                                @click="save"
                            >
                                Save
                            </v-btn>
                        </v-card-actions>

                    </v-card>

                </v-row>






            </v-container>



        </v-col>
    </v-row>
</v-container>
</template>

<script>
export default {
    data: () => ({
        personal_firstname:'Nimal Kumara',
        personal_nic:'956532321V',
        personal_email:'nimal@gmail.com',
        personal_tele:'0772525656',
        personal_city:'Homagama',
        details_province:'Western Province',
        details_district:'Colombo District',
        details_division:'Homagama',
        details_gnd:'Pitipana',

    }),






        //nameRules: [
           // v => !!v || 'Name is required',
           // v => v.length <= 10 || 'Name must be less than 10 characters',
       // ],



        //emailRules: [
           // v => !!v || 'E-mail is required',
            //v => /.+@.+/.test(v) || 'E-mail must be valid',
       // ],


    created() {
        this.initialize()
    },
    mounted() {
        this.initialize()
    },

    methods: {
        initialize() {
            this.personal_d = [
                {


                    firstname: 'B.A.Nimal',
                    nic: '95023156V',
                    email: 'bimal@gmail.com',
                    tele: '0712323569',
                    city: 'Colombo',



                },
            ]


        },
        name: "SportOfficerProfile",
    }
}
</script>

<style scoped>

</style>
