<template>
    <v-row>
        <v-container >

            <div v-if="project_data">
                <br><h3 class="ml-4">{{project_data.name}}</h3>

                <v-col >

                    <v-card tile solo dense class="mt-sm-1" height="530" width="900" >
                        <v-container  >

                            <v-row>
                                <v-col  cols="12" md="6" >
                                    <v-text-field dense   label="Project ID" v-model=" project_data.id "  outlined  ></v-text-field>
                                    <v-text-field dense   label="Project Category" v-model=" project_data.category "  outlined  ></v-text-field>
                                    <v-text-field dense label="Project Name" v-model=" project_data.name "  outlined  ></v-text-field>
                                    <v-text-field dense  label="Project Project start Date" v-model=" project_data.start_date "  outlined  ></v-text-field>
                                    <v-text-field dense  label="Project End Date" v-model=" project_data.end_date "  outlined  ></v-text-field>
                                    <v-text-field dense  label="Assign Sport Officer" v-model=" project_data.assign_officers "  outlined ></v-text-field>
                                    <v-text-field dense label="Province" v-model=" project_data.province "  outlined  ></v-text-field>
                                   <!-- <v-text-field dense  label="District Secretariat" v-model=" project_data.district_secretariat "  outlined ></v-text-field>
                                    <v-text-field dense  label="Divisional Secretariat" v-model=" project_data.divisional_secretariat "  outlined ></v-text-field>
                                    <v-text-field dense label="Project Longitude" v-model=" project_data.gnd "  outlined  ></v-text-field>-->
                                    <v-text-field dense  label="Provision Secretariat" v-model=" project_data.provision_estimation "  outlined  ></v-text-field>

                                   <!-- <v-btn class="mb-2 ml-1" dark color="blue darken-4" tile solo dense small @click="close">
                                        <v-icon small>mdi-delete-circle</v-icon> &nbsp;Edit
                                    </v-btn>
                                    <v-btn class="mb-2 ml-1" dark color="red darken-4" tile solo dense small @click="close">
                                        <v-icon small>mdi-delete-circle</v-icon> &nbsp;Delete
                                    </v-btn>
                                    <v-btn class="mb-2 ml-1" dark color="blue darken-4" tile solo dense small to="/project_plan_popup">
                                        &nbsp;View Tasks
                                    </v-btn>-->
                                </v-col>

                            </v-row>

                        </v-container>

                    </v-card>
                    <v-card height="40" width="400">
                        <v-card-actions>
                            <v-btn
                                color="blue darken-4"
                                text
                            >
                                View Route Plan
                            </v-btn>

                            <v-spacer></v-spacer>

                            <v-btn
                                icon
                                @click="show = !show"
                            >
                                <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
                            </v-btn>
                        </v-card-actions>

                        <v-expand-transition>
                            <div v-show="show">
                                <v-divider></v-divider>
                                <v-text-field dense  label="Divisional Secretariat" v-model=" project_data.district_secretariat "  outlined ></v-text-field>
                                <v-text-field dense label="Division" v-model=" project_data.divisional_secretariat "  outlined  ></v-text-field>
                                <v-text-field dense  label=" gnd" v-model=" project_data.gnd "  outlined  ></v-text-field>


                                    <v-btn @click="drawMarkers" tile solo dense small>Drow marker</v-btn>
                                    <v-btn @click="drawDirection" tile solo dense small>Show Direction</v-btn>
                                    <v-btn @click="clearMap" tile solo dense small>Clear Map</v-btn>
                                <v-divider></v-divider>




                                <GmapMap
                                    :center="center"
                                    class="ml-6"
                                    :zoom="3.2"
                                    v-bind:style="{ 'width': window.width/5+185+'px','height':window.height-350+'px','margin-top':0+'px' }"
                                    :options="mapOptions"
                                    ref="mapDiv" id="map_canvas">

                                    <GmapMarker
                                        :key="index"
                                        v-for="(m, index) in markers"
                                        :position="m.position"
                                        :clickable="true"
                                        :draggable="true"
                                        @click="center=m.position"
                                    />

                                    <gmap-polygon :paths="paths"></gmap-polygon>




                                </GmapMap>




                            </div>

                        </v-expand-transition>

                    </v-card>

                </v-col>
            </div>
            <div v-else>
                <span>please wait</span>
            </div>
            <v-snackbar
                v-model="snackbar"
                :multi-line="false"
                :color="snackColor"
                :top="snackBarTop"
                :right="snackBarRight"
            >
                {{ snackMessage }}

            </v-snackbar>
        </v-container>
    </v-row>
</template>

<script>
const home = { lat:6.0243 , lng:80.7941 };
const work = { lat:6.9271 , lng:79.8612 };
export default {
    data(){
        return{
            show: false,
            mapOptions: {
                controlSize: 21,
                zoomControl: true,
                mapTypeControl: true,
                streetViewControl: true,
                scaleControl:true,
                fullscreenControl: false,
                zoomControlOptions: {
                    position: 7,
                },
                streetViewControlOptions: {
                    position: 7,
                },
                mapTypeControlOptions: {
                    position: 3
                },
                fullscreenControlOptions: {
                    position: 3
                },
                scaleControlOptions: {
                    position: 7
                },
            },
            center: {lat: 7.9708759, lng:  80.2615532},
            GMap:null,
            window: {
                width: 0,
                height: 0,
            },
            ProjectsList:[],
            project_data:null,
            snackbar:false,
            snackMessage:false,
            snackColor:'',
            snackBarTop:true,
            snackBarRight:false,
            tableLoading:false,
            markers:[],
            paths:[],
        }
    },
    mounted() {
        console.log("url id",this.$route.params.id);
        this.init(this.$route.params.id);

        let laravel = JSON.parse(window.Laravel);
        const header = {
            "X-CSRF-TOKEN": laravel.csrfToken,
            "X-Requested-With": "XMLHttpRequest",
        };

        let that = this;
        this.user = laravel.user;

        // setTimeout(function () {
        that.$refs.mapDiv.$mapPromise.then((map) => {
            that.GMap = map;
            that.initialize();
        });

    },
    created() {
        console.log("url id",this.$route.params.id);
        this.init(this.$route.params.id);

        window.addEventListener('resize', this.handleResize);
        this.handleResize();
    },
    methods: {
        init(id) {
            //------getting headers from laravel csrf--------------------
            let laravel = JSON.parse(window.Laravel);
            const header = {
                "X-CSRF-TOKEN": laravel.csrfToken,
                "X-Requested-With": "XMLHttpRequest",
            };
            axios.post('/api/sportOfficer/getProjectsByID', {uid: laravel.user.id, id: id}, header).then(response => {
                this.ProjectsList = response.data.project_list;
                this.project_data = response.data.data;
                this.tableLoading = false;
            }).catch((error) => {
                this.snackMessage = error;
                this.snackColor = 'error';
                this.snackbar = true;
                this.tableLoading = false;
                console.log({error});// this will log an empty object with an error property
            });

        },
        handleResize() {
            this.window.width = window.innerWidth;
            this.window.height = window.innerHeight;
            this.window.lower_height = window.innerHeight - 15;
        },
        logout() {
            window.setLogout();
        },
        initialize() {
            let that = this;
            let map = this.GMap;
            //----------------Left click event-------------------------------------
            google.maps.event.addListener(map, "click", function (event) {
                //----------------------Reverse Geocode---------------------------------
                let geocoder = new google.maps.Geocoder;
                that.lat = event.latLng.lat();
                that.lng = event.latLng.lng();

                geocoder.geocode({
                    'location': {
                        lat: event.latLng.lat(),
                        lng: event.latLng.lng()
                    }
                }, function (results, status) {
                    if (status === 'OK') {
                        if (results[0]) {
                            that.google_address = results[0].formatted_address;
                            // let payload = {
                            //     lat : event.latLng.lat(),
                            //     lng : event.latLng.lng(),
                            //     address: results[0].formatted_address
                            // }
                            // store.commit('setSelectedLocation',payload);
                        } else {
                            that.snackMessage = "No Result found";
                            that.snackbar = true;
                            that.addLocationToDataset();
                        }
                    } else {
                        that.snackMessage = "Geocode Error !";
                        that.snackbar = true;
                        that.addLocationToDataset();
                    }
                });


            });
        },
        startDirection() {
            let that = this;
            this.directionsService = new google.maps.DirectionsService();
            let map = store.GMap;
            this.directionsDisplay = new google.maps.DirectionsRenderer();
            this.directionsDisplay.setMap(map);
            this.directionsDisplay.setPanel(document.getElementById('mapDirectionDetails'));
            this.showDirection = true;
            let request = {
                origin:  80.794,
                destination: 6.927,

                travelMode: google.maps.DirectionsTravelMode.DRIVING
            };
            this.directionsService.route(request, function(response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    that.directionsDisplay.setDirections(response);
                }
            });
            store.commit('addToMapContextMenu', {title: 'Route Planning', id: 'route_planning', action: {type: 'navigation', drawer: 'bottom', drawerID: 'route_planning', tabID: 'routeplan', tabNo: 0}});






    },

        watch: {
            drawer() {
                let that = this;

            },
        },
        destroyed() {
            window.removeEventListener('resize', this.handleResize)
        },
        drawMarkers(){
            this.markers =[
                {
                    position:home,
                },
                {
                    position:work,
                },

            ];

        },

        drawDirection(){
            this.paths =[
                home,work
            ];
        },

        clearMap(){
           this.paths=[];
               this.markers=[];
        },

    },







    name: "ViewmoreAssignedProjectsdetails"
}
</script>

<style scoped>

</style>
