<template>
<v-container fluid >
    <h3 class="font-weight-bold">Assign Project Deatils</h3>
    <v-row>
      <v-col  cols="12"
              sm="6"
              md="4"
              lg="3">

          <v-card :key="i" v-for="(proj,i) in Project" width="400" height="350" >
              <v-card-title class="subheading font-weight-bold" >
                  {{proj.name}}

              </v-card-title>
              <v-list dense>
                  <v-list-item>
                      <v-list-item-content>Number:</v-list-item-content>
                      <v-list-item-content class="align-end">
                          {{proj.number}}
                      </v-list-item-content>
                  </v-list-item>

                  <v-list-item>
                      <v-list-item-content>Category:</v-list-item-content>
                      <v-list-item-content class="align-end">
                          {{proj.category}}

                      </v-list-item-content>
                  </v-list-item>

                  <v-list-item>
                      <v-list-item-content>Province:</v-list-item-content>
                      <v-list-item-content class="align-end">
                          {{proj.province}}

                      </v-list-item-content>
                  </v-list-item>

                  <v-list-item>
                      <v-list-item-content>GND:</v-list-item-content>
                      <v-list-item-content class="align-end">
                          {{proj.gnd}}

                      </v-list-item-content>
                  </v-list-item>

                  <v-list-item>
                      <v-list-item-content>Assign Officers:</v-list-item-content>
                      <v-list-item-content class="align-end" >
                          {{proj.category}}

                      </v-list-item-content>
                  </v-list-item>


              </v-list>



          </v-card>


            <v-card :key="i" v-for="(proj,i) in Project" width="400" height="350" >
                <v-card-title class="subheading font-weight-bold" >
                    {{proj.name}}

                </v-card-title>
                <v-list dense>
                    <v-list-item>
                        <v-list-item-content>Number:</v-list-item-content>
                        <v-list-item-content class="align-end">
                            {{proj.number}}
                        </v-list-item-content>
                    </v-list-item>

                    <v-list-item>
                        <v-list-item-content>Category:</v-list-item-content>
                        <v-list-item-content class="align-end">
                            {{proj.category}}

                        </v-list-item-content>
                    </v-list-item>

                    <v-list-item>
                        <v-list-item-content>Province:</v-list-item-content>
                        <v-list-item-content class="align-end">
                            {{proj.province}}

                        </v-list-item-content>
                    </v-list-item>

                    <v-list-item>
                        <v-list-item-content>GND:</v-list-item-content>
                        <v-list-item-content class="align-end">
                            {{proj.gnd}}

                        </v-list-item-content>
                    </v-list-item>

                    <v-list-item>
                        <v-list-item-content>Assign Officers:</v-list-item-content>
                        <v-list-item-content class="align-end">
                            {{proj.assign_officers}}

                        </v-list-item-content>
                    </v-list-item>


                </v-list>



            </v-card>
        </v-col>
    </v-row>
</v-container>
</template>

<script>
export default {
    data: () => ({

        SelectedProject:null,
        Project:[
            {
                number:'01',
                category:'School Ground Development Programme',
                name: 'Devi balika PlayGrounds ',
                province: 'Western Province',
                lat: 6.0,
                lang: 24,
                google_address: 4.0,
                start_date: '18/5/2021',
                end_date: '18/12/2021',
                district_secretariat: 'Colombo',
                divisional_secretariat:'Homagama',
                provision_estimation:'Rs.500,000',
                assign_officers:'B.A.Nimal',
                gnd:'pitipana',
            },
            {
                number:'02',
                category:'School Ground Development Programme',
                name: 'Devi balika PlayGrounds ',
                province: 'Western Province',
                lat: 6.0,
                lang: 24,
                google_address: 4.0,
                start_date: '18/5/2021',
                end_date: '18/12/2021',
                district_secretariat: 'Colombo',
                divisional_secretariat:'Homagama',
                provision_estimation:'Rs.500,000',
                assign_officers:'B.A.Nimal',
                gnd:'pitipana',
            }
        ],


















    }),
    name: "ViewRutePlanAndTimePlan"
}
</script>

<style scoped>

</style>
