<template>
    <div id="app">
        <v-app>
            <v-main id="loginPage" style="background-image :url('/../img/Background.jpg'); background-repeat: no-repeat !important;background-size: 100% 100%">
                <v-container class="fill-height" fluid style="position: absolute !important;z-index: 999 !important;">
                    <v-row align="center" justify="center">
                        <v-col cols="12" sm="8" md="4">

                            <v-card  class="mx-auto rounded- align-center text-center"  tile >
                                <v-alert style="border-radius:0px !important; width: 100% !important;"  v-model="alert" dismissible close-icon="mdi-close-circle-outline" :type="alertType" border="left" elevation="12" :icon="alertIcon">
                                    <strong>{{ alertMessage }}</strong>
                                </v-alert>
                            </v-card>

                            <v-card style="height: 345px;width: 1200px" class="mx-auto rounded- align-center text-center" :elevation="hover ? 24 : 24" tile >

                            <v-row>
                                <v-col>
                                    <v-row>
                                        <v-col cols="12" md="12" lg="12" style="height: 150px">

                                                <img style="width:115px;height:115px;padding-top: 10px"
                                                     src="img/Sri_Lanka_Army_Logo.png" alt="Sri_Lanka_Army_Logo">

                                                <img style="width:65px;height:94px;padding-left: 10px"
                                                    src="img/Emblem_of_Sri_Lanka.svg.png"
                                                    alt="Emblem_of_Sri_Lanka">

                                        </v-col>


                                    </v-row>
                                    <v-list-item-title class="headline" style="font-weight:bolder !important;color: black !important;font-size: 18px !important;height: 25px;">
                                        <span> Ministry of Defence </span>
                                    </v-list-item-title>

                                </v-col>
                            </v-row>


                                <v-card-text >
                                    <v-form v-model="valid" ref="form" action="login" method="post">
                                        <v-text-field name="_token" :value="csrf" v-model="csrf" v-show="false"></v-text-field>
                                        <v-text-field class="teboxr" style="height: 40px;width: 250px;margin-left: 25%" light  counter="100" clearable  label="Email" name="email" :error-messages="email_errors" :rules="emailRules" v-model="email" append-icon="mdi-email" type="text"></v-text-field>
                                        <v-text-field class="teboxr" style="height: 1px;width: 250px;margin-left: 25%" color="gray darken-4" light counter="25" clearable id="password" label="Password" :value="password" :error-messages="password_errors" :rules="passwordRules"
                                                      :append-icon="e1 ? 'mdi-eye' : 'mdi-eye-off'"
                                                      @click:append="e1 = !e1" v-model="password" :type="e1 ? 'text' : 'password'"
                                                      name="password"  ></v-text-field>
                                    </v-form><br>
                                    <v-row>
                                        <v-col style="padding-left: 42%;padding-bottom: 5px;padding-top: 8%" sm="6" md="6">
                                            <v-btn style="margin-top:5%;width: 88px;height: 25px" small color="blue darken-2" :disabled="!email" :loading="loginLoader" @click="submit"   class="white--text"><span style="font-size:8px">Sign Me In</span> <v-icon right dark small>&nbsp;&nbsp;&nbsp;mdi-account-key</v-icon></v-btn>
                                        </v-col>
                                    </v-row>
                                </v-card-text>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>

            </v-main>
        </v-app>
    </div>
</template>


<script>
    export default {
        name: "apilogin",
        data: () => {
            return {
                alert: false,
                alertMessage: '',
                alertType: '',
                alertIcon: '',
                hover: true,
                valid: false,
                e1: false,
                password: '',
                passwordRules: [
                    v => v.length <= 25 || 'Max 25 characters',
                    (v) => !!v || 'Password is required',
                ],
                email: '',
                emailRules: [
                    v => v.length <= 100 || 'Max 100 characters',
                    (v) => !!v || 'E-mail is required',
                    (v) => /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,5})+$/.test(v) || 'E-mail must be valid'
                ],
                csrf:'',
                email_errors:[],
                password_errors:[],
                header:{},
                loginLoader:false,
            }
        },
        mounted() {
            let laravel = JSON.parse(window.Laravel);
            this.csrf =  laravel.csrfToken;
            this.header = {
                'X-CSRF-TOKEN': this.csrf,
                'X-Requested-With': 'XMLHttpRequest',
                'content-type': 'multipart/form-data',
            };
        },
        methods:{
            submit () {
                if (this.$refs.form.validate()) {
                    this.checkUserLogin();
                }
            },
            redirectToRegistration(){
                window.location.href = '/apiRegistration';
            },
            //------------check user login------------------------------------------------
            checkUserLogin: function () {
                this.loginLoader = true;

                axios.post('/api/checkLogin', {email: this.email, password: this.password}, this.header)
                    .then(response => {
                        console.log(response.data);
                        this.loginLoader = false;
                        if (response.data.validate === 'success') {
                            this.alertMessage = 'Login success !';
                            this.alertType = 'success';
                            this.alertIcon = 'mdi mdi-thumb-up';
                            this.alert = true;
                            this.$refs.form.$el.submit();
                        } else if (response.data.validate === 'invalid_email') {
                            this.password = '';
                            this.email_errors = ['We cannot find user with this email']
                            this.alertMessage = 'Invalid user details !';
                            this.alertType = 'error';
                            this.alertIcon = 'mdi mdi-alert';
                            this.alert = true;
                        } else if (response.data.validate === 'invalid_password') {
                            this.password = '';
                            this.password_errors = ['invalid password.try forget password'];
                            this.alertType = 'error';
                            this.alertIcon = 'mdi mdi-alert';
                            this.alertMessage = 'Invalid user details !';
                            this.alert = true;
                        }
                    }).catch((error) => {
                    console.log(error)
                });
            },
        }
    }
</script>

<style>
    #loginPage {
        background: #ffff;
    }
</style>
