<template>
    <div >

                <!----------------------------------form--------------------------------------------->
                <v-row>
                    <v-card style="width: 100%;margin-top:2%">
                        <br>

                        <span style="padding-top: 5%;padding-left: 40%"><u>PART B – DETAILS  OF IMPORTS /LOCAL PURCHASES</u></span>

                        <v-form ref="form" v-model="valid">
                            <v-container>

                                <v-row>
                                    <span style="margin-top: 12px;margin-left:5%">5.</span>
                                    <v-col cols="11">

                                        <v-textarea
                                            solo
                                            name="input-7-4"
                                            label="Description of the goods to be imported/local purchases "
                                            v-model="goods_des"
                                            required
                                            :rules="[v => !!v || 'Description is required']"
                                        ></v-textarea>
                                    </v-col>

                                </v-row>

                                <v-row>
                                    <v-col cols="5" style="margin-left: 10%">
                                        <v-file-input
                                            v-model="files"
                                            placeholder="Attach  PO"
                                            label="File input"
                                            multiple
                                            prepend-icon="mdi-paperclip"
                                        >
                                            <template v-slot:selection="{ text }">
                                                <v-chip
                                                    small
                                                    label
                                                    color="primary"
                                                >
                                                    {{ text }}
                                                </v-chip>
                                            </template>
                                        </v-file-input>
                                    </v-col>
                                    <v-col cols="5">
                                        <v-file-input
                                            v-model="files"
                                            placeholder="Attach Invoice"
                                            label="File input"
                                            multiple
                                            prepend-icon="mdi-paperclip"
                                        >
                                            <template v-slot:selection="{ text }">
                                                <v-chip
                                                    small
                                                    label
                                                    color="primary"
                                                >
                                                    {{ text }}
                                                </v-chip>
                                            </template>
                                        </v-file-input>
                                    </v-col>

                                </v-row>

                                <v-row>
                                    <v-col cols="5" style="margin-left: 10%">

                                        <v-file-input
                                            :rules="rules"
                                            accept="image/png, image/jpeg, image/bmp"
                                            placeholder="Attach Sample Image"
                                            prepend-icon="mdi-camera"

                                        ></v-file-input>
                                    </v-col>

                                </v-row>

                                <v-row>
                                    <span style="margin-top: 20px;margin-left: 5%">6.</span>
                                    <v-col cols="5">
                                        <v-text-field
                                            v-model="invoice_no"
                                            label="Performa Invoice/ Commercial Invoice Number "
                                            outlined
                                        ></v-text-field>
                                    </v-col>
                                    <span style="margin-top: 18px;margin-left: 8%">7.</span>
                                    <v-col cols="5" >
                                        <v-text-field
                                            v-model="quantity"
                                            label="Quantity in Kgs "
                                            outlined
                                        ></v-text-field>
                                    </v-col>
                                </v-row>

                                <v-row>
                                    <span style="margin-top: 18px;margin-left: 5%">8.</span>
                                    <v-col cols="5">
                                        <v-text-field
                                            v-model="ratio"
                                            label="Consumption Ratio per item "
                                            outlined
                                        ></v-text-field>
                                    </v-col>
                                </v-row>



                                <v-row>
                                    <span style="margin-top: 13px;margin-left: 5%">9.Transport Details</span>
                                    <v-col>
                                        <v-text-field
                                            style="width: 91%;margin-left:4%"
                                            label="From"
                                            outlined
                                            dense
                                            required
                                            :rules="[v => !!v || 'Detail is required']"
                                            v-model="t_from"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col>
                                        <v-text-field
                                            style="width: 91%;margin-left:4%"
                                            label="Through"
                                            outlined
                                            dense
                                            v-model="t_through"
                                            required
                                            :rules="[v => !!v || 'Detail is required']"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col>
                                        <v-text-field
                                            style="width: 91%;margin-left:4%"
                                            label="To"
                                            outlined
                                            dense
                                            v-model="t_to"
                                            required
                                            :rules="[v => !!v || 'Detail is required']"
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                            </v-container>

                            <v-btn
                                style="margin-left: 92%;margin-bottom:1%"
                                depressed
                                color="primary"
                                @click="saveData"
                                :loading="saveLoader"
                            >
                                NEXT
                            </v-btn>
                        </v-form>
                    </v-card>

                </v-row>


        <v-snackbar v-model="snackbar" :multi-line="false" :color="snackColor" :top="snackBarTop" :right="snackBarRight">
            {{ snackMessage }}
        </v-snackbar>

    </div>
</template>

<script>
import {mapState} from "vuex";
import {store} from "./store/store";

export default {
    name: "ApplicationB",
    data () {
        return {
            goods_des:'',
            t_from:'',
            t_through:'',
            t_to:'',
            ratio:'',
            quantity:'',
            invoice_no:'',
            saveLoader:false,
            snackbar:false,
            snackColor:'',
            snackMessage:'',
            snackBarRight:false,
            snackBarTop:false,
            valid:false,

        }
    },
    computed:{
        ...mapState({
            httpheader: state => state.httpheader,
            step: state => state.step,
        }),

    },
    methods:{
        saveData(){
            if (this.$refs.form.validate()) {
                this.saveLoader = true;
                let laravel = JSON.parse(window.Laravel);
                const header = {
                    "X-CSRF-TOKEN": laravel.csrfToken,
                    "X-Requested-With": "XMLHttpRequest",
                };
                let company_id = localStorage.getItem('company_id');
                let formData = new FormData();
                formData.append('goods_des', this.goods_des);
                formData.append('t_from', this.t_from);
                formData.append('t_through', this.t_through);
                formData.append('t_to', this.t_to);
                formData.append('ratio', this.ratio);
                formData.append('quantity', this.quantity);
                formData.append('invoice_no', this.invoice_no);
                formData.append('company_id',company_id);

                formData.append('user_id', laravel.user.id);


                axios.post('/api/saveCompanyimports', formData, header).then(response => {
                    console.log('returned', response.data);
                    this.saveLoader = false;
                    if (response.data.http_status === 'success') {
                        this.snackColor = 'success';
                        store.commit('setStepper',3);
                    } else {
                        this.snackColor = 'error';
                    }
                    this.snackMessage = response.data.message;
                    this.snackbar = true;
                }).catch((error) => {
                    this.saveLoader = false;
                    this.snackMessage = error;
                    this.snackColor = 'error';
                    this.snackbar = true;
                    console.log({error});// this will log an empty object with an error property
                });
            }


        }
    }
}
</script>

<style scoped>
.v-text-field--filled>.v-input__control>.v-input__slot, .v-text-field--full-width>.v-input__control>.v-input__slot, .v-text-field--outlined>.v-input__control>.v-input__slot {

    min-height: 25px;}
</style>
