<template>
    <div >
                <!----------------------------------form--------------------------------------------->
                <v-row>
                    <v-card style="width: 100%;margin-top:2%">
                        <br>

                        <span style="padding-top: 5%;padding-left: 40%"><u>PART D- DECLARATION</u></span>

                        <v-form ref="form" v-model="valid">
                            <v-container>

                                <v-row>
                                    <span style="margin-top: 12px;margin-left:5%"></span>
                                    <v-col cols="11">

                                        <v-textarea
                                            solo
                                            name="input-7-4"
                                            label="Declaration"
                                            v-model="declaration"
                                            required
                                            :rules="[v => !!v || 'Declaration is required']"
                                        ></v-textarea>
                                    </v-col>

                                </v-row>




                            </v-container>

                            <v-btn
                                style="margin-left: 92%;margin-bottom:1%"
                                depressed
                                color="primary"
                                @click="saveData"
                            >
                                NEXT
                            </v-btn>
                        </v-form>
                    </v-card>

                </v-row>

        <v-snackbar v-model="snackbar" :multi-line="false" :color="snackColor" :top="snackBarTop" :right="snackBarRight">
            {{ snackMessage }}
        </v-snackbar>

    </div>
</template>

<script>
import {mapState} from "vuex";
import {store} from "./store/store";


export default {
    name: "ApplicationD",
    data () {
        return {

            declaration:'',
            saveLoader:false,
            snackbar:false,
            snackColor:'',
            snackMessage:'',
            snackBarRight:false,
            snackBarTop:false,
            valid:false

        }
    },
    computed:{
        ...mapState({
            httpheader: state => state.httpheader,
            step: state => state.step,
        }),

    },
    methods:{
        // saveData(){
        //     store.commit('setStepper',5);
        // }

        saveData(){
            if (this.$refs.form.validate()) {
                this.saveLoader = true;
                let laravel = JSON.parse(window.Laravel);
                const header = {
                    "X-CSRF-TOKEN": laravel.csrfToken,
                    "X-Requested-With": "XMLHttpRequest",
                };

                let formData = new FormData();
                // formData.append('app_no', this.app_no);
                formData.append('declaration', this.declaration);

                formData.append('user_id', laravel.user.id);


                axios.post('/api/saveCompanydecla', formData, header).then(response => {
                    console.log('returned', response.data);
                    this.saveLoader = false;
                    if (response.data.http_status === 'success') {
                        this.snackColor = 'success';
                        store.commit('setStepper',5);
                    } else {
                        this.snackColor = 'error';
                    }
                    this.snackMessage = response.data.message;
                    this.snackbar = true;
                }).catch((error) => {
                    this.saveLoader = false;
                    this.snackMessage = error;
                    this.snackColor = 'error';
                    this.snackbar = true;
                    console.log({error});// this will log an empty object with an error property
                });
            }


        }
    }
}
</script>

<style scoped>
.v-text-field--filled>.v-input__control>.v-input__slot, .v-text-field--full-width>.v-input__control>.v-input__slot, .v-text-field--outlined>.v-input__control>.v-input__slot {

    min-height: 25px;}
</style>
