<template>
    <div >


                        <v-row>
                            <v-card style="width: 100%;margin-top:2%">
                                <br>
                                <span style="margin-top: 10%;padding-left: 24%">APPLICATION OF IMPORT EXPORT TRANSPORT OF CAMO PRINT FABRIC AND FINISH PRODUCT</span>
                                        <br>
                                <span style="padding-top: 5%;padding-left: 40%"><u>PART A- DETAILS OF THE COMPANY</u></span>

                                <v-form v-model="valid" ref="form">
                                    <v-container>
                                        <v-row>
                                            <v-col >
                                                <v-text-field
                                                    style="width: 20%;margin-left:75%;margin-top: 2%"
                                                    label="Application no"
                                                    outlined
                                                    dense
                                                    v-model="app_no"
                                                ></v-text-field>
                                            </v-col>

                                        </v-row>
                                        <v-row>
                                            <span style="margin-top: 12px;margin-left:5%">1.</span>
                                            <v-col>

                                                <v-text-field
                                                    style="width: 91%;margin-left:4%"
                                                    label="Name of the Company"
                                                    outlined
                                                    dense
                                                    :rules="[v => !!v || 'Name is required']"
                                                    required
                                                    v-model="name"
                                                ></v-text-field>
                                            </v-col>
                                        </v-row>
                                        <v-row>

                                            <v-col>

                                                <v-text-field
                                                    style="width: 85%;margin-left:10%"
                                                    label="Address of the Company"
                                                    outlined
                                                    dense
                                                    required
                                                    :rules="[v => !!v || 'Address is required']"
                                                    v-model="address"
                                                ></v-text-field>
                                            </v-col>

                                        </v-row>

                                        <v-row>
                                            <span style="margin-top: 12px;margin-left: 5%">2.</span>
                                            <v-col>
                                                <v-text-field
                                                    style="width: 91%;margin-left:4%"
                                                    label="TIN & BOI Registered No"
                                                    :rules="[v => !!v || 'Registered No is required']"
                                                    outlined
                                                    required
                                                    dense
                                                    v-model="reg_no"
                                                ></v-text-field>
                                            </v-col>
                                        </v-row>

                                        <span  style="margin-top: 12px;margin-left: 4%">3.  Name & contact details of two company Directors:</span><br>


                                        <v-row style="margin-top:2%;">
                                            <span style="margin-top: 18px;margin-left: 18%">I.</span>
                                            <v-col cols="5">
                                                <v-text-field
                                                    style="margin-left: 1%"
                                                    label="Name"
                                                    :rules="[v => !!v || 'Name is required' ,(v) => /^[a-zA-Z]+(?:[\s.]+[a-zA-Z]+)*$/.test(v) || 'Invalid name.only letters allowed'] "
                                                    required
                                                    outlined
                                                    dense
                                                    v-model="dira_name"
                                                ></v-text-field>
                                            </v-col>
                                            <v-col cols="3">
                                                <v-text-field
                                                    style="margin-left: 1%"
                                                    label="Mobile No"
                                                    :rules="[v => !!v || 'Mobile number is required' ,(v) => /^[+]?[(]?[0-9]{3}[)]?[-\s.]?[0-9]{3}[-\s.]?[0-9]{4,9}$/.test(v) || 'Phone Number must be valid' , (v) => v.length !== 9 || 'Phone Number must be 9 digits']" hint="ex : 712345678"  required prefix="+94"
                                                    outlined
                                                    dense
                                                    required
                                                    v-model="dira_mobile"
                                                ></v-text-field>
                                            </v-col>
                                        </v-row>


                                        <v-row>
                                            <span style="margin-top: 12px;margin-left: 18%">II.</span>
                                            <v-col cols="5">
                                                <v-text-field
                                                    style="margin-left: 1%"
                                                    label="Name"
                                                    outlined
                                                    :rules="[v => !!v || 'Name is required' ,(v) => /^[a-zA-Z]+(?:[\s.]+[a-zA-Z]+)*$/.test(v) || 'Invalid name.only letters allowed'] "
                                                    required
                                                    dense
                                                    v-model="dirb_name"
                                                ></v-text-field>
                                            </v-col>
                                            <v-col cols="3">
                                                <v-text-field
                                                    style="margin-left: 1%"
                                                    label="Mobile No"
                                                    outlined
                                                    required
                                                    :rules="[v => !!v || 'Mobile number is required' ,(v) => /^[+]?[(]?[0-9]{3}[)]?[-\s.]?[0-9]{3}[-\s.]?[0-9]{4,9}$/.test(v) || 'Phone Number must be valid' , (v) => v.length !== 9 || 'Phone Number must be 9 digits']" hint="ex : 712345678"  required prefix="+94"
                                                    dense
                                                    v-model="dirb_mobile"
                                                ></v-text-field>
                                            </v-col>
                                        </v-row>


                                        <v-row>
                                            <span style="margin-top: 12px;margin-left: 5%">4.</span>
                                            <v-col>
                                                <v-text-field
                                                    style="width: 91%;margin-left:4%"
                                                    label="Name of Shipping Manager"
                                                    outlined
                                                    dense
                                                    required
                                                    :rules="[v => !!v || 'Name is required' ,(v) => /^[a-zA-Z]+(?:[\s.]+[a-zA-Z]+)*$/.test(v) || 'Invalid name.only letters allowed'] "
                                                    v-model="name_shipp"
                                                ></v-text-field>
                                            </v-col>
                                        </v-row>
                                        <v-row>

                                            <v-col>
                                                <v-text-field
                                                    style="width: 85%;margin-left:10%"
                                                    label="Contact Number of Shipping Manager"
                                                    outlined
                                                    dense
                                                    required
                                                    :rules="[v => !!v || 'Mobile number is required' ,(v) => /^[+]?[(]?[0-9]{3}[)]?[-\s.]?[0-9]{3}[-\s.]?[0-9]{4,9}$/.test(v) || 'Phone Number must be valid' , (v) => v.length !== 9 || 'Phone Number must be 9 digits']" hint="ex : 712345678"  required prefix="+94"
                                                    v-model="mobile_shipp"
                                                ></v-text-field>
                                            </v-col>
                                        </v-row>
                                    </v-container>

                                    <v-btn
                                        style="margin-left: 88%;margin-bottom:1%"
                                        depressed
                                        color="primary"
                                        @click="saveData"
                                        :loading="saveLoader"
                                    >
                                        NEXT
                                    </v-btn>
                                </v-form>
                             </v-card>

                        </v-row>

        <v-snackbar v-model="snackbar" :multi-line="false" :color="snackColor" :top="snackBarTop" :right="snackBarRight">
            {{ snackMessage }}
        </v-snackbar>


    </div>
</template>

<script>
import {mapState} from "vuex";
import {store} from "./store/store";

export default {
    name: "ApplicationA",
    data () {
        return {
            name:'',
            address:'',
            reg_no:'',
            dira_name:'',
            dira_mobile:'',
            dirb_name:'',
            dirb_mobile:'',
            name_shipp:'',
            mobile_shipp:'',
            app_no:'',
            saveLoader:false,
            snackbar:false,
            snackColor:'',
            snackMessage:'',
            snackBarRight:false,
            snackBarTop:false,
            valid:false
        }
    },
    computed:{
        ...mapState({
            httpheader: state => state.httpheader,
            step: state => state.step,
        }),

    },
    methods:{
        saveData(){
            if (this.$refs.form.validate()) {
                this.saveLoader = true;
                let laravel = JSON.parse(window.Laravel);
                const header = {
                    "X-CSRF-TOKEN": laravel.csrfToken,
                    "X-Requested-With": "XMLHttpRequest",
                };

                let formData = new FormData();
                formData.append('app_no', this.app_no);
                formData.append('name', this.name);
                formData.append('c_address', this.address);
                formData.append('reg_no', this.reg_no);

                formData.append('dira_name', this.dira_name);
                formData.append('dira_mobile', this.dira_mobile);
                formData.append('dirb_name', this.dirb_name);
                formData.append('dirb_mobile', this.dirb_mobile);

                formData.append('sm_name', this.name_shipp);
                formData.append('sm_pnum', this.mobile_shipp);
                formData.append('user_id', laravel.user.id);


                axios.post('/api/saveCompanyData', formData, header).then(response => {
                    console.log('returned', response.data);
                    this.saveLoader = false;
                    if (response.data.http_status === 'success') {

                        localStorage.setItem('company_id',response.data.company.id)
                        this.snackColor = 'success';
                        store.commit('setStepper',2);
                    } else {
                        this.snackColor = 'error';
                    }
                    this.snackMessage = response.data.message;
                    this.snackbar = true;
                }).catch((error) => {
                    this.saveLoader = false;
                    this.snackMessage = error;
                    this.snackColor = 'error';
                    this.snackbar = true;
                    console.log({error});// this will log an empty object with an error property
                });
            }

            //
        }
    }
}
</script>

<style scoped>
.v-text-field--filled>.v-input__control>.v-input__slot, .v-text-field--full-width>.v-input__control>.v-input__slot, .v-text-field--outlined>.v-input__control>.v-input__slot {

    min-height: 25px;}
</style>
