<template>
    <div>
        <!----------------------------------form--------------------------------------------->
                <v-row>
                    <v-card style="width: 100%;margin-top:2%">
                        <br>

                        <span style="padding-top: 5%;padding-left: 40%"><u>PART C – DETAILS OF EXPORTS</u></span>

                        <v-form ref="form" v-model="valid">
                            <v-container>

                                <v-row>
                                    <span style="margin-top: 12px;margin-left:5%">10.</span>
                                    <v-col cols="11">

                                        <v-textarea
                                            solo
                                            name="input-7-4"
                                            label="Description of the finished items to be exported "
                                            v-model="finish_des"
                                            required
                                            :rules="[v => !!v || 'Description is required']"
                                        ></v-textarea>
                                    </v-col>

                                </v-row>





                                <v-row>
                                    <span style="margin-top: 13px;margin-left: 5%">11.Quantity to be exported</span>
                                    <v-col cols="5">
                                        <v-text-field
                                            style="width: 91%;margin-left:4%"
                                            outlined
                                            dense
                                            v-model="finish_qua"
                                            required
                                            :rules="[v => !!v || 'Quantity is required']"
                                        ></v-text-field>
                                    </v-col>
                                </v-row>

                                <v-row>
                                    <span style="margin-top: 13px;margin-left: 13.5%">Net Weight</span>
                                    <v-col cols="5">
                                        <v-text-field
                                            style="width: 91%;margin-left:4%"
                                            outlined
                                            dense
                                            required
                                            :rules="[v => !!v || 'Net Weight is required']"
                                            v-model="finish_weight"
                                        ></v-text-field>
                                    </v-col>
                                </v-row>

                            </v-container>

                            <v-btn
                                style="margin-left: 92%;margin-bottom:1%"
                                depressed
                                color="primary"
                                @click="saveData"
                                :loading="saveLoader"
                            >
                                NEXT
                            </v-btn>
                        </v-form>
                    </v-card>

                </v-row>

        <v-snackbar v-model="snackbar" :multi-line="false" :color="snackColor" :top="snackBarTop" :right="snackBarRight">
            {{ snackMessage }}
        </v-snackbar>

    </div>
</template>

<script>
import {mapState} from "vuex";
import {store} from "./store/store";

export default {
    name: "ApplicationC",
    data () {
        return {
            finish_des:'',
            finish_qua:'',
            finish_weight:'',
            saveLoader:false,
            snackbar:false,
            snackColor:'',
            snackMessage:'',
            snackBarRight:false,
            snackBarTop:false,
            valid:false


        }
    },
    computed:{
        ...mapState({
            httpheader: state => state.httpheader,
            step: state => state.step,
        }),

    },
    methods:{
        // saveData(){
        //     store.commit('setStepper',4);
        // }

        saveData(){
            if (this.$refs.form.validate()) {
                this.saveLoader = true;
                let laravel = JSON.parse(window.Laravel);
                const header = {
                    "X-CSRF-TOKEN": laravel.csrfToken,
                    "X-Requested-With": "XMLHttpRequest",
                };

                let company_id = localStorage.getItem('company_id');
                let formData = new FormData();
                // formData.append('app_no', this.app_no);
                formData.append('finish_des', this.finish_des);
                formData.append('finish_qua', this.finish_qua);
                formData.append('finish_weight', this.finish_weight);
                formData.append('company_id',company_id);

                formData.append('user_id', laravel.user.id);


                axios.post('/api/saveCompanyexports', formData, header).then(response => {
                    console.log('returned', response.data);
                    this.saveLoader = false;
                    if (response.data.http_status === 'success') {
                        this.snackColor = 'success';
                        store.commit('setStepper',4);
                    } else {
                        this.snackColor = 'error';
                    }
                    this.snackMessage = response.data.message;
                    this.snackbar = true;
                }).catch((error) => {
                    this.saveLoader = false;
                    this.snackMessage = error;
                    this.snackColor = 'error';
                    this.snackbar = true;
                    console.log({error});// this will log an empty object with an error property
                });
            }


        }
    }
}
</script>

<style scoped>
.v-text-field--filled>.v-input__control>.v-input__slot, .v-text-field--full-width>.v-input__control>.v-input__slot, .v-text-field--outlined>.v-input__control>.v-input__slot {

    min-height: 25px;}
</style>
