<template>
    <div>
<!---------------------------------------Top app bar------------------------------------------------->
        <v-app-bar
            color="#646665"
            dense
            dark
        >

            <v-toolbar-title style="margin-left:2%">Ministry of Defence</v-toolbar-title>

            <v-spacer></v-spacer>

            <v-btn small style="right: 1px;" icon @click="logout"  >
                <v-icon>exit_to_app</v-icon>
            </v-btn>

            <v-menu
                left
                bottom
            >


            </v-menu>
        </v-app-bar>

        <v-row>
            <v-col>
                <v-card
                    height="100%"
                    width="256"
                    elevation="12"


                >
                    <v-navigation-drawer

                        permanent
                    >
                        <v-list
                            dense
                            rounded
                        >
                            <v-list-item
                                v-for="item in items"
                                :key="item.title"
                                link
                                @click="gotopage(item.action)"
                            >
                                <v-list-item-icon>
                                    <v-icon>{{ item.icon }}</v-icon>
                                </v-list-item-icon>

                                <v-list-item-content>
                                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list>
                    </v-navigation-drawer>
                </v-card>

            </v-col>
            <v-col cols="9" style="margin-top: 2%;margin-bottom: 2%">
                <v-row>
                    <v-stepper style="width: 96%;" size="small" v-model="stepper">
                        <v-stepper-header>
                            <v-stepper-step  step="1" :complete="stepper > 1">
                                PART A
                                <small>DETAILS OF THE COMPANY</small>
                            </v-stepper-step>

                            <v-divider></v-divider>

                            <v-stepper-step  step="2" :complete="stepper > 2">
                                PART B
                                <small>DETAILS  OF IMPORTS /LOCAL PURCHASES</small>
                            </v-stepper-step>

                            <v-divider></v-divider>

                            <v-stepper-step  step="3" :complete="stepper > 3">
                                PART C
                                <small>DETAILS OF EXPORTS</small>
                            </v-stepper-step>

                            <v-divider></v-divider>

                            <v-stepper-step  step="4" :complete="stepper > 4">
                                PART D
                                <small>DECLARATION</small>
                            </v-stepper-step>

                            <v-divider></v-divider>

                            <v-stepper-step  step="5" :complete="stepper > 5">
                                PART E
                                <small>EXPORT GOODS DETAILS</small>
                            </v-stepper-step>

                        </v-stepper-header>
                        <v-stepper-items >

                            <v-stepper-content step="1">
                               <ApplicationA />
                            </v-stepper-content>

                            <v-stepper-content step="2">
                                <ApplicationB />
                            </v-stepper-content>

                            <v-stepper-content step="3">
                                <ApplicationC />
                            </v-stepper-content>

                            <v-stepper-content step="4">
                                <ApplicationD />
                            </v-stepper-content>

                            <v-stepper-content step="5">
                                <ApplicationE />
                            </v-stepper-content>

                        </v-stepper-items>
                    </v-stepper>
                </v-row>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import ApplicationA from "./ApplicationA";
import ApplicationB from "./ApplicationB";
import {mapState} from "vuex";
import {store} from "./store/store";
import ApplicationC from "./ApplicationC";
import ApplicationD from "./ApplicationD";
import ApplicationE from "./ApplicationE";
export default {
name: "Application",
    components: {ApplicationE, ApplicationD, ApplicationC, ApplicationB, ApplicationA},
    data () {
        return {
            items: [
                { title: 'Inquiry for Approval', icon: 'mdi-forum' ,action:'approval'},
                { title: 'Submit New Application', icon: 'mdi-view-dashboard' ,action:'application'},
                { title: 'Reject Applications', icon: 'mdi-forum',action:'rejectapp' },
                // { title: 'BOI Approval', icon: 'mdi-forum' ,action:'approval' },
                { title: 'Contact Us', icon: 'mdi-forum' ,action:'help' },
            ],

        }
    },
    computed:{
        ...mapState({
            httpheader: state => state.httpheader,
            step: state => state.step,
        }),
        stepper(){
            return store.state.step
        }
    },
    methods:{
        gotopage(url){
            window.location = url;
        }
    }
}
</script>

<style scoped>
.v-text-field--filled>.v-input__control>.v-input__slot, .v-text-field--full-width>.v-input__control>.v-input__slot, .v-text-field--outlined>.v-input__control>.v-input__slot {

    min-height: 25px;}
</style>


