<template>
    <div>
        <!---------------------------------------Top app bar------------------------------------------------->
        <v-app-bar
            color="#646665"
            dense
            dark
        >

            <v-toolbar-title style="margin-left:2%">Ministry of Defence</v-toolbar-title>

            <v-spacer></v-spacer>

            <v-btn small style="right: 1px;" icon @click="logout"  >
                <v-icon >exit_to_app</v-icon>
            </v-btn>

            <v-menu
                left
                bottom
            >


            </v-menu>
        </v-app-bar>

        <v-row>
            <v-col>
                <v-card
                    height="100%"
                    width="256"
                    elevation="12"

                >
                    <v-navigation-drawer

                        permanent
                    >
                        <v-list
                            dense
                            rounded
                        >
                            <v-list-item
                                v-for="item in items"
                                :key="item.title"
                                link
                                @click="gotopage(item.action)"
                            >
                                <v-list-item-icon>
                                    <v-icon>{{ item.icon }}</v-icon>
                                </v-list-item-icon>

                                <v-list-item-content>
                                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list>
                    </v-navigation-drawer>
                </v-card>
            </v-col>
            <!---------------------------------Contain--------------------------------------->

            <v-col cols="8" style="margin-top: 1%;margin-right: 8%;margin-bottom: 2%">
                <v-text-field
                    style="width: 25%;"
                    label="Search by Application No"
                    solo
                    dense
                    append-icon="mdi-magnify"
                ></v-text-field>
                <v-card>

                <v-simple-table>
                    <template v-slot:default>
                        <thead>
                        <tr>
                            <th class="text-left">
                                No
                            </th>
                            <th class="text-left">
                                Company Name
                            </th>
                            <th class="text-left">
                                Letter Reference No
                            </th>
                            <th class="text-left">
                                Application No
                            </th>
                            <th class="text-left">

                            </th>
                            <th class="text-left">
                                BOI Approval
                            </th>
                            <th class="text-left">
                                MOD Approval
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr
                            v-for="item in desserts"
                            :key="item.name"
                        >
                            <td>{{ item.no }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.refno }}</td>
                            <td>{{ item.appno }}</td>
                            <td><v-btn
                                rounded
                                small
                                color="green"
                                dark
                                @click="gotopage('application')">
                                View
                            </v-btn></td>
                            <td><v-btn
                                small
                                outlined
                                color="green">
                                {{ item.BOIaction }}
                            </v-btn></td>
                            <td><v-btn
                                small
                                outlined
                                color="green">
                                {{ item.MODaction }}
                            </v-btn></td>

                        </tr>
                        </tbody>
                    </template>
                </v-simple-table>
                </v-card>
            </v-col>


        </v-row>
    </div>
</template>

<script>
import {mapState} from "vuex";
import {store} from "./store/store";

export default {
    name: "Approval", data () {
        return {
            items: [
                { title: 'Inquiry for Approval', icon: 'mdi-forum' ,action:'approval'},
                { title: 'Submit New Application', icon: 'mdi-view-dashboard' ,action:'application'},
                { title: 'Reject Applications', icon: 'mdi-forum',action:'rejectapp' },
                // { title: 'BOI Approval', icon: 'mdi-forum' ,action:'approval' },
                { title: 'Contact Us', icon: 'mdi-forum' ,action:'help' },
            ],
            desserts: [
                {
                    no:'1',
                    name: 'Gingerbread',
                    refno:'00001',
                    appno: 1,
                    BOIaction:'Approved',
                    MODaction:'Approval Pending',
                },
                {
                    no:'2',
                    name: 'Gingerbread',
                    refno:'00052',
                    appno: 2,
                    BOIaction:'Not Approve',
                    MODaction:'Not Approve',
                },
                {
                    no:'3',
                    name: 'Gingerbread',
                    refno:'00154',
                    appno: 3,
                    BOIaction:'Approved',
                    MODaction:'Approved',

                },
                {
                    no:'4',
                    name: 'Gingerbread',
                    refno:'0055551',
                    appno: 4,
                    BOIaction:'Approval Pending',
                    MODaction:'Approval Pending',
                },
                {
                    no:'5',
                    name: 'Gingerbread',
                    refno:'0005241',
                    appno: 5,
                    BOIaction:'Not Approve',
                    MODaction:'Not Approve',
                },
            ],

        }
    },
    computed:{
        ...mapState({
            httpheader: state => state.httpheader,
            step: state => state.step,
        }),
        stepper(){
            return store.state.step
        }
    },
    methods:{
        gotopage(url){
            window.location = url;
        }
    }
}
</script>

<style scoped>

.text-left{
    font-size: medium;
}
</style>
