<template>
    <div>
        <v-list>
        <v-list-item>
            <v-list-item-content>
                <v-list-item> Education Ministry</v-list-item>
            </v-list-item-content>
            <v-list-item-action>
                <v-progress-circular
                    size="50"
                    width="10"
                    value="30"
                    color="primary"
                >
                   30%
                </v-progress-circular>
            </v-list-item-action>
        </v-list-item>

        <v-list-item>
            <v-list-item-content>
                <v-list-item> Health Ministry</v-list-item>
            </v-list-item-content>
            <v-list-item-action>
                <v-progress-circular
                    size="50"
                    width="10"
                    value="45"
                    color="teal"
                >
                   45%
                </v-progress-circular>
            </v-list-item-action>
        </v-list-item>

            <v-list-item>
                <v-list-item-content>
                    <v-list-item> Agriculture Ministry</v-list-item>
                </v-list-item-content>
                <v-list-item-action>
                    <v-progress-circular
                            size="50"
                            width="10"
                            value="72"
                            color="gray"
                    >
                        72%
                    </v-progress-circular>
                </v-list-item-action>
            </v-list-item>

        <v-list-item>
            <v-list-item-content>
                <v-list-item> Other Ministry</v-list-item>
            </v-list-item-content>
            <v-list-item-action>
                <v-progress-circular
                    size="50"
                    width="10"
                    value="50"
                    color="purple"
                >
                   50%
                </v-progress-circular>
            </v-list-item-action>
        </v-list-item>



    </v-list>
    </div>
</template>

<script>
    import * as am4core from "@amcharts/amcharts4/core";
    import * as am4charts from "@amcharts/amcharts4/charts";
    import am4themes_animated from "@amcharts/amcharts4/themes/animated";
    import {store} from './store/store';
    import {mapState} from 'vuex';
    // am4core.useTheme(am4themes_animated);
    function am4themes_myTheme(target) {
        if (target instanceof am4core.ColorSet) {
            target.list = [
                am4core.color("#F44336"),
                am4core.color("#009688"),
                am4core.color("#2196F3"),
            ];
        }
    }
    am4core.useTheme(am4themes_myTheme);
    export default {
        name: "CategoryChart",
        data() {
            return {
                chartData:[],
                statistics:[]
            }
        },
        computed: {
            ...mapState({
                gmap: state => state.gmap,
                httpheader: state => state.httpheader,
                stats: state => state.stats,
            }),
            patientData(){
                return this.statistics;
            }
        },
        watch:{
            patientData(data){
                //******************************Calculating statistics of the area**************************************
                // Add data
                this.chartData = [{
                    "category": "Ministry",
                    "employees": data.ministry_count
                }, {
                    "category": "Health",
                    "employees": data.health_count
                }, {
                    "category": "Education",
                    "employees": data.education_count
                }];

                let payload  = {
                    type: 'category' ,
                    data : this.chartData
                }

                // this.initChart();
            }
        },
        mounted() {
        this.getStatistics();
        },
        methods: {

            //------------------------get livefigures from Back end-----------------------------
            async getStatistics() {
                let laravel = JSON.parse(window.Laravel);
                const header = {
                    'X-CSRF-TOKEN': laravel.csrfToken,
                    'X-Requested-With': 'XMLHttpRequest'
                };
                //-----------------------------------requesting patient statistics------------------------------------------
                await axios.post('/api/getStat', {type:'district'},header)
                    .then(response => {
                        this.statistics = response.data.dataset;
                        store.commit('setStats',this.statistics);
                    }).catch((error) => {
                        this.snackMessage = error;
                        this.snackColor = 'error';
                        this.snackbar = true;
                        console.log({error});// this will log an empty object with an error property
                    });
            },


            initChart() {
                let chart = am4core.create(
                    this.$refs.chartdivGender,
                    am4charts.PieChart
                );
                chart.fontSize = 10;
                chart.logo.disabled = true;
                chart.colors.list = [
                    am4core.color("#FF3D00"),
                    am4core.color("#00B0FF"),
                ];

                // Add percent sign to all numbers
                chart.data = this.chartData;



                // Add and configure Series
                let pieSeries = chart.series.push(new am4charts.PieSeries());
                pieSeries.dataFields.value = "employees";
                pieSeries.dataFields.category = "category";
                // pieSeries.innerRadius = am4core.percent(50);
                pieSeries.ticks.template.disabled = true;
                pieSeries.labels.template.disabled = true;

                // let rgm = new am4core.RadialGradientModifier();
                // rgm.brightnesses.push(-0.8, -0.8, -0.5, 0, - 0.5);
                // pieSeries.slices.template.fillModifier = rgm;
                // pieSeries.slices.template.strokeModifier = rgm;
                // pieSeries.slices.template.strokeOpacity = 0.4;
                // pieSeries.slices.template.strokeWidth = 0;
                // pieSeries.alignLabels = false;
                // pieSeries.labels.template.text = "[font-size:12px]{value.percent.formatNumber('#.0')}%";
                // pieSeries.labels.template.radius = am4core.percent(-40);
                // pieSeries.labels.template.fill = am4core.color("white");
                // pieSeries.labels.template.relativeRotation = 90;

                // chart.legend = new am4charts.Legend();
                // chart.legend.position = "bottom";
                // chart.legend.contentAlign = "left";

                // chart.legend.valueLabels.template.text =  " [bold]{value.value}[/bold] ";
            }
        },

    };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .districtChart {
        width: 250px;
        height: 250px;
        margin-left: 15px;
    }
</style>
