<template>
    <div id="app">
        <v-card class="overflow-hidden" flat>
            <v-app-bar absolute color="#424242" dark shrink-on-scroll prominent src="/img/dashboard.jpg" fade-img-on-scroll
                       scroll-target="#scrolling-techniques-3"
                       height="200"
            >
                <template v-slot:img="{ props }">
                    <v-img v-bind="props" gradient="to top right, rgba(66, 66, 66,.7), rgba(224, 224, 224,.7)"
                    ></v-img>
                </template>

                <v-toolbar-title>
<!--                    <v-avatar size="25">-->
<!--                        <img-->
<!--                            src="/../img/governor.jpg"-->
<!--                            alt="governor"-->
<!--                        >-->
<!--                    </v-avatar>-->
<!--                    Western Province Governors Office-->
                    &nbsp;&nbsp;&nbsp;&nbsp;Welcome Governor
                </v-toolbar-title>
                <v-spacer></v-spacer>

                <v-btn icon @click="logout"  >
                    <v-icon>exit_to_app</v-icon>
                </v-btn>

                <v-btn icon>
                    <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>


            </v-app-bar>
            <v-sheet id="scrolling-techniques-3"  max-height="50%"  v-bind:style="{'margin-top': '200px' ,'overflow-y':'scroll' ,'overflow-x':'hidden' }" >

                <v-row>
                    <v-col cols="12" lg="8" >
                        <v-row style="margin-left: 15px">
                            <v-col cols="12" lg="5" sm="12" md="3" v-for="(emp,key) in employees" :key="key" style="margin: 10px">
                                <v-hover
                                    v-slot="{ hover }"
                                >
                                    <v-card @click="goToDetails(emp.id)"
                                        :elevation="hover ? 12 : 5"
                                >
                                    <v-row style="margin: 15px">
                                        <v-col cols="12" lg="3">
                                            <v-img
                                                :src="emp.image"
                                                lazy-src="/../img/National_Logo.png"
                                                aspect-ratio="1"
                                                class="grey lighten-2"
                                            >
                                            </v-img>
                                        </v-col>
                                        <v-col cols="12" lg="9">
                                            <v-card-title>{{emp.O_Name}}</v-card-title>

                                                <v-list>
                                                    <v-list-item three-line>
                                                        <v-list-item-content>
                                                            <v-list-item-title>{{emp.DHOD}}</v-list-item-title>
                                                            <v-list-item-subtitle>{{emp.DHOD_Design}}</v-list-item-subtitle>
                                                            <v-list-item-subtitle>
                                                                <v-icon small>phone</v-icon> &nbsp;&nbsp;{{emp.HOD_Tel}}
                                                            </v-list-item-subtitle>
                                                        </v-list-item-content>
                                                        <v-list-item-action @click="goToDetails(emp.id)">
                                                            <v-btn text color="primary" icon><v-icon>arrow_forward</v-icon></v-btn>
                                                        </v-list-item-action>
                                                    </v-list-item>

                                                </v-list>


                                        </v-col>
                                    </v-row>
                                </v-card>
                                </v-hover>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" lg="4" style="margin-top: 15px">
                        <GmapMap :center="center" :zoom="7.6"
                                 v-bind:style="{ 'width': window.mapwidth+'px','height':window.mapheight+'px','margin-top':0+'px' }" :options="mapOptions"
                                 ref="mapDiv" id="map_canvas">
                            <GmapMarker v-for="(item, key) in employees"  :key="'Q'+key" :icon="setMapIcon(item)" :position="getPosition(item,'Employee')" :clickable="true" @click="toggleInfoJsonMarker(item.lat,item.lng , item, key,'Employee')" />
                            <GmapInfoWindow :options="infoOptions" :position="infoPosition" :opened="infoOpened" :content="infoContent"  @closeclick="infoOpened=false"></GmapInfoWindow>
                        </GmapMap>
                    </v-col>
                </v-row>


            </v-sheet>
        </v-card>

    </div>
</template>
<script>
import {store} from "./store/store";

export default {
    components: {

    },
    data: () => ({
        window: {
            mapwidth: 0,
            mapheight: 0,
            width:0,
            height:0
        },
        toolBarLoader:false,
        employeeTableLoading:false,
        fullScreenLoader:false,
        statSkeltonLoading:false,
        employees:[],
        center: {lat: 7.9708759, lng:  80.2615532},
        mainPoint: null,
        mapOptions: {
            controlSize: 21,
            zoomControl: true,
            mapTypeControl: true,
            streetViewControl: true,
            scaleControl:true,
            fullscreenControl: false,
            zoomControlOptions: {
                position: 7,
            },
            streetViewControlOptions: {
                position: 7,
            },
            mapTypeControlOptions: {
                position: 3
            },
            fullscreenControlOptions: {
                position: 3
            },
            scaleControlOptions: {
                position: 7
            },
        },
        GMap: undefined,
        employeesIcon:null,
        infoPosition: null,
        infoContent: null,
        infoOpened: false,
        infoCurrentKey: null,
        infoOptions: null,
    }),
    computed: {

    },
    mounted() {
        this.$refs.mapDiv.$mapPromise.then((map) => {
            this.GMap = map;
            store.commit('changeMap',map);
            console.log('Map page mounted')
            this.employeesIcon = {
                url: '/img/marker/user_pin.png',
                size: new google.maps.Size(50, 50),
                anchor: new google.maps.Point(9, 14),
                origin: new google.maps.Point(0, 0),
                scaledSize: new google.maps.Size(15, 25),
                labelOrigin: {x: -7, y: 0}
            };
            window.addEventListener('resize', this.handleResize);
            this.handleResize();
            this.getData();
            this.loadGeoJson();
        });
    },
    created() {



    },
    methods:{
        //---------------------------Handling the user window resize event--------------------------------
        handleResize() {
            this.window.mapwidth = window.innerWidth/3.5;
            this.window.mapheight = window.innerHeight/1.7;

            this.window.width = window.innerWidth;
            this.window.height = window.innerHeight;
        },
        getData(){
            this.toolBarLoader = true;
            let laravel = JSON.parse(window.Laravel);
            this.statSkeltonLoading = true;
            this.employeeTableLoading = true;
            this.fullScreenLoader = true;
            const header = {
                'X-CSRF-TOKEN': laravel.csrfToken,
                'X-Requested-With': 'XMLHttpRequest'
            };



            axios.post('/api/getEmployeeData',{id:laravel.user.id,type:"ministry"},header)
                .then(response => {
                    console.log(response.data);
                    this.employees = response.data.employees;

                    setTimeout(() => {
                        store.commit('setSearchBar',true);
                    }, 3000); // toggle after 100 milli seconds


                    console.log(this.employees);
                    // this.approvalPendingEmployees  =[];
                    // console.log(this.approvalPendingEmployees);
                    this.toolBarLoader = false;
                    this.fullScreenLoader = false;
                }).catch((error) => {
                this.snackMessage = error;
                this.snackColor = 'error';
                this.snackbar = true;
                this.fullScreenLoader = false;
                console.log({error});// this will log an empty object with an error property
                this.this.employeeTableLoading = false;
                this.toolBarLoader = false;
            });
        },

        logout(){
            window.setLogout();
        },
        gotoXY(lat,lng,zoom,type){
            let map = store.state.gmap;
            let ltlng = {lat: parseFloat(lat), lng:parseFloat(lng)};

            map.setCenter(ltlng);
            // call smoothZoom, parameters map, final zoomLevel, and starting zoom level
            // this.smoothZoom(map, 25, map.getZoom());
            map.setZoom(zoom);
            if (type == 'marker'){
                let payload = {
                    lat: lat,
                    lng: lng,
                    address: '',
                    type:'XYCOORD'
                };
                // store.commit('setGeocode', payload);
            }
        },
        // the smooth zoom function for zoom map smoothly
        smoothZoom (map, max, cnt) {
            if (cnt >= max) {
                return;
            }
            else {
                z = google.maps.event.addListener(map, 'zoom_changed', function (event) {
                    google.maps.event.removeListener(z);
                    smoothZoom(map, max, cnt + 1);
                });
                setTimeout(function () {
                    map.setZoom(cnt)
                }, 90); // 80ms is what I found to work well on my system -- it might not work well on all systems
            }
        },
        //----------------------get position when lat lng given----------------
        getPosition: function(marker,type) {
            let lat,lng;
            return {
                lat: parseFloat(marker.lat),
                lng: parseFloat(marker.lng)
            }
        },
        //=========================================================When user click on json file=================================================================
        toggleInfoJsonMarker: function (lat,lng,data, key, type) {
            data = _.omit(data,['paths','key']);
            this.infoPosition = {lat:parseFloat(lat),lng:parseFloat(lng)};
            let contentString =
                '<div id="iw-container">\n\
                    <div class="iw-content" style="height: 350px;">\
                    <div class="v-data-table  v-data-table--dense v-data-table--fixed-height theme--light">\
                    <div class="v-data-table__wrapper pane scroller">' +
                '<table class="infoMain">';

            //----------------------looping through the json object property--------------------------
            $.each(data, function(key,value){
                // console.log(key + "/" + value );
                contentString +='<tr  style="white-space: nowrap;">' +
                    '<td class="leftInfo"><b>'+key+'</b></td>' +
                    '<td class="rightInfo">' + value + '</td>' +
                    '</tr>';
            });

            contentString +=  '<div>' +
                '</table>\n\
            </div></div></div></div>';

            this.infoOptions = {
                pixelOffset: {
                    width: 0,
                    height: -10
                },
                content: contentString
            };

            if (this.infoCurrentKey == key) {
                this.infoOpened = !this.infoOpened;
            } else {
                this.infoOpened = true;
                this.infoCurrentKey = key;
            }
        },
        setMapIcon(employee){
            let color = '#FF0000';

            switch (employee.category) {
                case 'Ministry' : color = '#F44336';break;
                case 'Health' : color = '#009688';break;
                case 'Education' : color = '#2196F3';break;
            }

            return {
                path: google.maps.SymbolPath.CIRCLE,
                scale: 3.5,
                fillColor: "color",
                fillOpacity: 1,
                strokeWeight: 0.3,
                labelOrigin: {x: -7, y: 0}
            }
        },
        //------------------------show Port Boundaries--------------------
        async loadGeoJson() {
            let map = store.state.gmap;
            let that = this;
            this.fullScreenLoader = true;
            // map.data.forEach(function(feature) {
            //     // filter...
            //     map.data.remove(feature);
            // });
            // this.dsdMOHCheck = false;
            let response = await fetch("json/WP.geojson");
            let data = await response.blob();
            let metadata = {
                type: 'text/json'
            };
            let file = new File([data], "WP.geojson");


            let reader = new FileReader();
            reader.onload = function (e) {
                that.loadGeoJSONOnMap(e.target.result, "WP");
            };
            reader.onerror = function (e) {
                console.error(e);
                that.snackBarTop = true;
                that.snackBarRight = false;
                that.snackMessage = 'json file reading fail!';
                that.snackColor = 'error';
                that.snackbar = true;
            };
            reader.readAsText(file);
        },
        //--------------------------------------Load json files on map----------------------------------------------
        loadGeoJSONOnMap(geoString,layerName){
            // console.log(geoString);
            let geojson = JSON.parse(geoString);
            let map = store.state.gmap;
            let that = this;
            let dataset = [];
            // console.log(geojson);
            // map.data.loadGeoJson('json/track.geojson');
            try {
                let layer;

                layer = new google.maps.Data();
                layer.addGeoJson(geojson);
                layer.setMap(map);
                // this.jsonDialog = false;
                let bounds = new google.maps.LatLngBounds();
                let keycount = 0;
                layer.forEach(function(feature) {
                    //---------------------retrieving current object properties--------------------------------
                    let objSet = feature.i;
                    //------------------------------setting paths of the polygons-----------------------------
                    // let paths = [];
                    // feature.getGeometry().getArray().forEach(function(path){
                    //     //iterate over the points in the path
                    //     path.getArray().forEach(function(latLng){
                    //         let typelat = typeof latLng.lat;
                    //         let typelng = typeof latLng.lng;
                    //         if(typelat == 'function' && typelng == 'function') {
                    //             paths.push({lat: latLng.lat(), lng: latLng.lng()})
                    //         }
                    //     });
                    // });
                    //-------------------------------------pushing paths into properties-------------------------
                    // objSet.paths = paths;
                    objSet.key = keycount;
                    objSet.layer = layerName;
                    feature.layer = layerName;

                    layer.overrideStyle(feature, {
                        fillOpacity:0,
                        strokeWeight: 0.4,
                        strokeColor: '#000',
                    });

                    dataset.push(objSet);
                    keycount++;
                });


                layer.forEach(function(feature) {
                    //----------------------------setting map bounds------------------------------------------
                    that.processPoints(feature.getGeometry(), bounds.extend, bounds);
                });

                map.fitBounds(bounds);

                console.log(layerName,dataset);

                layer.addListener('click', function(event) {
                    console.log("boundary event",event);
                    let properties = event.feature.j;
                    let result = _.omit(properties,['Shape_Leng','paths']);
                    console.log(result);
                    // console.log('========================LOCATION===========================');
                    // alert('lat :'+event.latLng.lat() +' , lng :'+event.latLng.lng() );

                    that.toggleInfoJsonMarker(event.latLng.lat(),event.latLng.lng(),result,result.keycount,'Boundary');
                });
            }catch (e) {
                console.log(e);
                this.fullScreenLoader = false;
                that.snackBarTop = false;
                that.snackBarRight = false;
                that.snackMessage = 'upload error : '+e.message;
                that.snackColor = 'error';
                that.snackbar = true;
            }
        },
        /**
         * Process each point in a Geometry, regardless of how deep the points may lie.
         * @param {google.maps.Data.Geometry} geometry The structure to process
         * @param {function(google.maps.LatLng)} callback A function to call on each
         *     LatLng point encountered (e.g. Array.push)
         * @param {Object} thisArg The value of 'this' as provided to 'callback' (e.g.
         *     myArray)
         */
        processPoints(geometry, callback, thisArg) {
            let that = this;
            if (geometry instanceof google.maps.LatLng) {
                callback.call(thisArg, geometry);
            } else if (geometry instanceof google.maps.Data.Point) {
                callback.call(thisArg, geometry.get());
            } else {
                geometry.getArray().forEach(function(g) {
                    that.processPoints(g, callback, thisArg);
                });
            }
        },

        goToDetails(id){
            window.location.href = "/ministry/"+id;
        }
    }
}
</script>
