<template>
    <div id="wrapper">
        <div id="searchBarDiv" style="margin-top: 10px;margin-left:120px;">
            <v-toolbar
                    dense
                    floating
                    v-show="showSearchBar"
            >
                <v-text-field
                        hide-details
                        placeholder="Search Address"
                        single-line
                        v-model="searchAddress" id="search_address_house_top"
                >

                </v-text-field>

                <v-btn icon @click="locateCurrentLocation">
                    <v-icon>my_location</v-icon>
                </v-btn>


            </v-toolbar>

        </div>


        <v-toolbar
                dark
        >


            <v-toolbar-title class="headline " style="margin-right:30px">
                <v-avatar>
                    <img
                            src="img/covid_icon.png"
                            alt="covid-19"
                    >
                </v-avatar>
               <span class="hidden-sm-and-down"> COVID-19 </span>

            </v-toolbar-title>
            <!--                <v-spacer></v-spacer>-->
            <!--                <v-toolbar-item>-->

            <v-text-field
                    flat
                    dark
                    clearable
                    v-model="searchLocation"
                    solo-inverted
                    append-icon="my_location"
                    @click:append="getLocationInfo()"
                    clear-icon="mdi-close-circle"
                    class="text--secondary mt-7 hidden-sm-and-down"
                    id="search_address_house"
            >
            </v-text-field>
<!--            <v-spacer></v-spacer>-->
            <v-text-field
                    flat
                    dark
                    clearable
                    v-model="radius"
                    style="width:10px;margin-left:20px"
                    solo-inverted
                    suffix="Km"
                    append-icon="search"
                    @click:append="changeRadius()"
                    clear-icon="mdi-close-circle"
                    class="text--secondary mt-7 hidden-sm-and-down"
            >
                <template v-slot:prepend>
                   Radius
                </template>
            </v-text-field>


            <v-spacer class="headline hidden-sm-and-down"></v-spacer>
<!--            <v-badge-->
<!--                    :content="nonApprovedUsers"-->
<!--                    :value="nonApprovedUsers"-->
<!--                    color="primary"-->
<!--                    overlap-->
<!--                    style="margin-right: 20px"-->
<!--            >-->

<!--            </v-badge>-->


            <!--                </v-toolbar-item>-->
            <!--                <v-app-bar-nav-icon></v-app-bar-nav-icon>-->
        </v-toolbar>


        <div style="margin:10px">
            <v-row>
                <!--*****************************************************************1ST COLUMN (MAP)****************************************************************-->
                <v-col cols="12" sm="12" md="12" lg="8" style="margin-bottom:15px;">
                    <v-text-field
                            flat
                            dark
                            solo-inverted
                            append-icon="my_location"
                            clearable
                            @click:append="getLocationInfo()"
                            clear-icon="mdi-close-circle"
                            class="text--secondary mt-7 hidden-lg-and-up"
                            id="search_address_caught"
                            style="margin-top:-20px"
                    >
                    </v-text-field>



                    <v-card
                            outlined
                            class="mx-auto"
                            v-if="window.width>768"
                            v-bind:style="{ 'width': window.mapwidth+15+'px','height':window.mapheight+'px','margin-left':'-10px' }"
                    >
                        <GmapMap
                                :center="center"
                                :zoom="7.8"
                                v-bind:style="{ 'width': window.mapwidth+15+'px','height':window.mapheight+'px' }"
                                :options="mapOptions"
                                ref="mapDiv"
                                id="map_canvas"
                        >
                            <GmapMarker v-r="(item, key) in housePoints" :key="key" :icon="item.icon" :position="getPosition(item,'House')" :clickable="false" @click="toggleInfoFarmMarker(item, key,'House')" />
                            <GmapMarker   :position="myLocation" :icon="myLocationIcon" title="I might be here" />
                            <GmapInfoWindow :options="infoOptions" :position="infoPosition" :opened="infoOpened" :content="infoContent"  @closeclick="infoOpened=false"></GmapInfoWindow>
                        </GmapMap>
                    </v-card>
                    <v-card
                            outlined
                            class="mx-auto"
                            v-else
                            v-bind:style="{ 'width': window.width +15+'px','height':window.mapheight+'px','margin-top':'-15px' }"
                    >
                        <GmapMap
                                :center="center"
                                :zoom="7.8"
                                v-bind:style="{ 'width': window.width +15+'px','height':window.mapheight+'px'}"
                                :options="mapOptions"
                                ref="mapDiv"
                                id="map_canvas_mobile"
                        >
                            <GmapMarker v-r="(item, key) in farmPoints" :key="key" :icon="farmIcon" :position="getPosition(item,'House')" :clickable="false" @click="toggleInfoFarmerMarker(item, key,'House')" />
                            <GmapMarker   :position="myLocation" :icon="myLocationIcon" title="I might be here" />
                            <GmapInfoWindow :options="infoOptions" :position="infoPosition" :opened="infoOpened" :content="infoContent"  @closeclick="infoOpened=false"></GmapInfoWindow>
                          </GmapMap>
                    </v-card>

                </v-col>
                <!--*****************************************************************3RD COLUMN (CHARTS)****************************************************************-->
                <v-col cols="12" sm="12" md="12" lg="4">


                </v-col>
            </v-row>

        </div>
        <v-snackbar
                v-model="snackbar"
                :multi-line="false"
                :color="snackColor"
                :top="snackBarTop"
                :right="snackBarRight"
        >
            {{ snackMessage }}

        </v-snackbar>



    </div>

</template>
<script>
    import { mapState } from 'vuex';
    import { store } from './store/store';
    import * as geolib from 'geolib';


    export default {
        component:{
            store,
            geolib
        },
        data: () => ({
            window: {
                mapwidth: 0,
                mapheight: 0,
                width:0,
                height:0
            },
            center: {lat: 7.9708759, lng:  80.2615532},
            mainPoint: null,
            // markers: [{
            //     position: {lat: 10.0, lng: 10.0}
            // }],
            mapOptions: {
                zoomControl: false,
                mapTypeControl: false,
                streetViewControl: false,
                fullscreenControl: false,
                zoomControlOptions: {
                    position: 7
                },
                streetViewControlOptions: {
                    position: 7
                },
                mapTypeControlOptions: {
                    position: 3
                },
                fullscreenControlOptions: {
                    position: 3
                },
            },
            GMap: undefined,
            skeltonTransition:"scale-transition",
            skeltonLoading:false,

            infoPosition: null,
            infoContent: null,
            infoOpened: false,
            infoCurrentKey: null,
            infoOptions: null,
            searchAddress:'',
            searchAddressObj:{},

            snackbar:false,
            snackColor:'',
            snackMessage:'',
            snackBarRight:false,
            snackBarTop:false,
            addressLoading:false,


            farmIcon : {
                url: '/img/marker/cabin-2.png',
            },


            farms:[],


            userLocation:{
                dsd:'',
                gnd:'',
                district:'',
                province:'',
                gn_name:null,
                gn_telephone:null,
                patients:[],
                nearestpatient_distance:'',
                nearestPolice:{
                    details:{},
                    distance:''
                }
            },

            searchLocation:'',


        }),
        computed: {
            ...mapState({
                gmap: state => state.gmap,
                httpheader: state => state.httpheader,
                currentLocation: state => state.currentLocation,
                currentGNDData: state => state.currentGNDData,
            }),

            showSearchBar () {
                return store.state.searchBar
            },


            farmPoints(){
                return this.farms;
            },
            myLocation(){
                if(store.state.currentLocation)
                    return {
                        lat: parseFloat(store.state.currentLocation.lat),
                        lng: parseFloat(store.state.currentLocation.lng)
                    }
            },

        },
        created() {
            //---------------------------setting user detail and header to axio request-----
            let laravel = JSON.parse(window.Laravel);
            //


            const header = {
                'X-CSRF-TOKEN': laravel.csrfToken,
                'X-Requested-With': 'XMLHttpRequest'
            };
            let payload = {
                id:laravel.user.id,
                header:header
            };
            store.commit('setHttpHeader',payload);
            window.addEventListener('resize', this.handleResize);
            this.handleResize();

        },
        watch: {


            currentLocation(){
                this.searchLocation = store.state.currentLocation.address;
                setTimeout(() => {
                    this.addressLoading = false;
                    this.getFarmData(store.state.currentLocation.lat,store.state.currentLocation.lng);
                }, 100); // toggle after 100 milli seconds

            },

        destroyed() {
            window.removeEventListener('resize', this.handleResize)
        },

        mounted() {
            this.$refs.mapDiv.$mapPromise.then((map) => {
                this.GMap = map;
                store.commit('changeMap',map);

                this.init();
                this.mapClickListener();

                console.log('Map page mounted')
            });


        },

        methods:{
            //---------------------------Handling the user window resize event--------------------------------
            handleResize() {
                this.window.mapwidth = window.innerWidth*1.9/3;
                this.window.mapheight = window.innerHeight-130;

                this.window.width = window.innerWidth;
                this.window.height = window.innerHeight;
            },
            //-----------------------initialising main component to google map-----------------------------------
            init(){
                let map = this.GMap;

                map.controls[google.maps.ControlPosition.LEFT_TOP].push(
                    document.getElementById('searchBarDiv')
                );
                map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(
                    document.getElementById('legend')
                );
                setTimeout(() => {
                    this.legendCard = true;
                }, 3000); // toggle after 100 milli seconds

                store.commit('setSearchBar',false);
                store.commit('showHideStatCard',true);

                let searchAddress_input_home = document.getElementById('search_address_house');
                let searchAddress_input_caught = document.getElementById('search_address_caught');
                // document.getElementById('search_address_house');
                let searchAddress_autocomplete_home = new google.maps.places.Autocomplete(searchAddress_input_home);
                let searchAddress_autocomplete_caught = new google.maps.places.Autocomplete(searchAddress_input_caught);

                searchAddress_autocomplete_home.bindTo('bounds', map);
                // searchAddress_autocomplete_home.setOptions({strictBounds: true});
                searchAddress_autocomplete_caught.bindTo('bounds', map);
                // searchAddress_autocomplete_caught.setOptions({strictBounds: true});

                searchAddress_autocomplete_home.addListener('place_changed', function() {
                    let place = searchAddress_autocomplete_home.getPlace();
                    self.searchAddress_obj = {
                        place
                    };
                    if(place.geometry) {
                        map.setCenter({lat: place.geometry.location.lat(), lng: place.geometry.location.lng()});
                        map.setZoom(18.9);
                        console.log(place.geometry.location.lat());
                        let payload = {
                            lat: place.geometry.location.lat(),
                            lng: place.geometry.location.lng(),
                            address: searchAddress_input_home.value,
                            type: 'House'
                        };
                        store.commit('setcurrentLocation', payload);
                    }
                    else{

                        let geocoder = new google.maps.Geocoder();
                        let fulladdress = searchAddress_input_home.value;
                        let splitted = /,(.+)/.exec(fulladdress)[1];
                        //----------------------------if first result not found search on  second----------------------------
                        if(splitted) {
                            geocoder.geocode({
                                'componentRestrictions': {country: 'LK'},
                                'address': splitted
                            }, function (results, status) {
                                if (status == google.maps.GeocoderStatus.OK) {
                                    map.setCenter({
                                        lat: results[0].geometry.location.lat(),
                                        lng: results[0].geometry.location.lng()
                                    });
                                    map.setZoom(18.9);
                                    console.log(results[0].geometry.location.lat());
                                    let payload = {
                                        lat: results[0].geometry.location.lat(),
                                        lng: results[0].geometry.location.lng(),
                                        address: splitted,
                                        type: 'House'
                                    };

                                    store.commit('setcurrentLocation', payload);
                                    //-----------------show snackbar about change the address---------------------------
                                    that.snackBarTop = true;
                                    that.snackBarRight = true;
                                    that.snackMessage = 'show result '+splitted+' instead of '+searchAddress_input_home.value;
                                    that.snackColor = 'primary';
                                    that.snackbar = true;
                                    searchAddress_input_home.value = splitted;
                                } else {
                                    let secondary = /,(.+)/.exec(splitted)[1];
                                    if (secondary) {
                                        geocoder.geocode({
                                            'componentRestrictions': {country: 'LK'},
                                            'address': secondary
                                        }, function (results, status) {
                                            if (status == google.maps.GeocoderStatus.OK) {
                                                map.setCenter({
                                                    lat: results[0].geometry.location.lat(),
                                                    lng: results[0].geometry.location.lng()
                                                });
                                                map.setZoom(18.9);
                                                console.log(results[0].geometry.location.lat());
                                                let payload = {
                                                    lat: results[0].geometry.location.lat(),
                                                    lng: results[0].geometry.location.lng(),
                                                    address: secondary,
                                                    type: 'House'
                                                };

                                                store.commit('setcurrentLocation', payload);

                                                //-----------------show snackbar about change the address---------------------------
                                                that.snackBarTop = true;
                                                that.snackBarRight = true;
                                                that.snackMessage = 'show result '+secondary+' instead of '+searchAddress_input_home.value;
                                                that.snackColor = 'primary';
                                                that.snackbar = true;
                                                searchAddress_input_home.value = secondary;
                                            } else {
                                                //----------------------------if first result not found search on  third----------------------------
                                                let city = secondary.split(',');
                                                if (city && city.length > 0) {
                                                    geocoder.geocode({
                                                        'componentRestrictions': {country: 'LK'},
                                                        'address': city[city.length - 1]
                                                    }, function (results, status) {
                                                        if (status == google.maps.GeocoderStatus.OK) {
                                                            map.setCenter({
                                                                lat: results[0].geometry.location.lat(),
                                                                lng: results[0].geometry.location.lng()
                                                            });
                                                            map.setZoom(18.9);
                                                            console.log(results[0].geometry.location.lat());
                                                            let payload = {
                                                                lat: results[0].geometry.location.lat(),
                                                                lng: results[0].geometry.location.lng(),
                                                                address: city[city.length - 1],
                                                                type: 'House'
                                                            };
                                                            store.commit('setcurrentLocation', payload);
                                                            //-----------------show snackbar about change the address---------------------------
                                                            that.snackBarTop = true;
                                                            that.snackBarRight = true;
                                                            that.snackMessage = 'show result '+city[city.length - 1]+' instead of '+searchAddress_input_home.value;
                                                            that.snackColor = 'primary';
                                                            that.snackbar = true;
                                                            searchAddress_input_home.value = city[city.length - 1];
                                                        }
                                                    });
                                                }
                                            }
                                        });
                                    }
                                }
                            });
                        }
                    }

                    // store.commit('setGeocode',payload);
                });
                searchAddress_autocomplete_caught.addListener('place_changed', function() {
                    let place = searchAddress_autocomplete_caught.getPlace();
                    self.searchAddress_obj = {
                        place
                    };
                    if(place.geometry) {
                        map.setCenter({lat: place.geometry.location.lat(), lng: place.geometry.location.lng()});
                        map.setZoom(18.9);
                        console.log(place.geometry.location.lat());
                        let payload = {
                            lat: place.geometry.location.lat(),
                            lng: place.geometry.location.lng(),
                            address: searchAddress_input_caught.value,
                            type: 'Caught'
                        };
                        store.commit('setcurrentLocation', payload);
                    }
                    else{

                        let geocoder = new google.maps.Geocoder();
                        let fulladdress = searchAddress_input_caught.value;
                        let splitted = /,(.+)/.exec(fulladdress)[1];
                        //----------------------------if first result not found search on  second----------------------------
                        if(splitted) {
                            geocoder.geocode({
                                'componentRestrictions': {country: 'LK'},
                                'address': splitted
                            }, function (results, status) {
                                if (status == google.maps.GeocoderStatus.OK) {
                                    map.setCenter({
                                        lat: results[0].geometry.location.lat(),
                                        lng: results[0].geometry.location.lng()
                                    });
                                    map.setZoom(18.9);
                                    console.log(results[0].geometry.location.lat());
                                    let payload = {
                                        lat: results[0].geometry.location.lat(),
                                        lng: results[0].geometry.location.lng(),
                                        address: splitted,
                                        type: 'Caught'
                                    };

                                    store.commit('setcurrentLocation', payload);
                                    //-----------------show snackbar about change the address---------------------------
                                    that.snackBarTop = true;
                                    that.snackBarRight = true;
                                    that.snackMessage = 'show result '+splitted+' instead of '+searchAddress_input_caught.value;
                                    that.snackColor = 'primary';
                                    that.snackbar = true;
                                    searchAddress_input_caught.value = splitted;
                                } else {
                                    let secondary = /,(.+)/.exec(splitted)[1];
                                    if (secondary) {
                                        geocoder.geocode({
                                            'componentRestrictions': {country: 'LK'},
                                            'address': secondary
                                        }, function (results, status) {
                                            if (status == google.maps.GeocoderStatus.OK) {
                                                map.setCenter({
                                                    lat: results[0].geometry.location.lat(),
                                                    lng: results[0].geometry.location.lng()
                                                });
                                                map.setZoom(18.9);
                                                console.log(results[0].geometry.location.lat());
                                                let payload = {
                                                    lat: results[0].geometry.location.lat(),
                                                    lng: results[0].geometry.location.lng(),
                                                    address: secondary,
                                                    type: 'Caught'
                                                };

                                                store.commit('setcurrentLocation', payload);

                                                //-----------------show snackbar about change the address---------------------------
                                                that.snackBarTop = true;
                                                that.snackBarRight = true;
                                                that.snackMessage = 'show result '+secondary+' instead of '+searchAddress_input_caught.value;
                                                that.snackColor = 'primary';
                                                that.snackbar = true;
                                                searchAddress_input_caught.value = secondary;
                                            } else {
                                                //----------------------------if first result not found search on  third----------------------------
                                                let city = secondary.split(',');
                                                if (city && city.length > 0) {
                                                    geocoder.geocode({
                                                        'componentRestrictions': {country: 'LK'},
                                                        'address': city[city.length - 1]
                                                    }, function (results, status) {
                                                        if (status == google.maps.GeocoderStatus.OK) {
                                                            map.setCenter({
                                                                lat: results[0].geometry.location.lat(),
                                                                lng: results[0].geometry.location.lng()
                                                            });
                                                            map.setZoom(18.9);
                                                            console.log(results[0].geometry.location.lat());
                                                            let payload = {
                                                                lat: results[0].geometry.location.lat(),
                                                                lng: results[0].geometry.location.lng(),
                                                                address: city[city.length - 1],
                                                                type: 'Caught'
                                                            };
                                                            store.commit('setcurrentLocation', payload);
                                                            //-----------------show snackbar about change the address---------------------------
                                                            that.snackBarTop = true;
                                                            that.snackBarRight = true;
                                                            that.snackMessage = 'show result '+city[city.length - 1]+' instead of '+searchAddress_input_caught.value;
                                                            that.snackColor = 'primary';
                                                            that.snackbar = true;
                                                            searchAddress_input_caught.value = city[city.length - 1];
                                                        }
                                                    });
                                                }
                                            }
                                        });
                                    }
                                }
                            });
                        }
                    }
                    // store.commit('setGeocode',payload);
                });

                //========setting the drawing manager======================================================
                let dM = new google.maps.drawing.DrawingManager(store.state.drawingManagerOptions);
                store.commit('initDrawingManager',dM);
                $('selector').append('.pac-container');
                this.getLocationInfo();
            },




            //--------------retrieving nearest patient record----------------------------------------------
            getNearestFarm(){
                let farmLocations = [];
                let lat = store.state.currentLocation.lat;
                let lng = store.state.currentLocation.lng;
                let clocation = {latitude:parseFloat(lat),longitude:parseFloat(lng)};
                //===========================GETTING Nearest Patient Details========================================
                _.map(this.farms, function (o) {
                    let location = {latitude:parseFloat(o.lat),longitude:parseFloat(o.lng)};
                    farmLocations.push(location);
                });
                let nearestFarmPoint = geolib.findNearest(clocation,farmLocations);
                let nearestFarm = geolib.getDistance(
                    clocation,
                    nearestFarmPoint
                );

                if(!isNaN(nearestFarm)) {
                    nearestFarm = nearestFarm / 1000;
                    nearestFarm = nearestFarm.toFixed(2);
                    this.locationDistanceSkeltonLoading = false;
                }
                this.userLocation.nearestpatient_distance = nearestFarm+' Km';
            },


            mapClickListener(){
                let map = this.GMap;
                this.snackMessage = 'Invalid Location Detected';
                this.snackColor = 'primary';
                let snackbar = this.snackbar;
                google.maps.event.addListener(map,"click", function(event) {
                    //-------------------creating object with user right selection to open contect menu on map--------------------------
                    let latLng = {lat:event.latLng.lat(),lng:event.latLng.lng()};

                    //----------------------Reverse Geocode---------------------------------
                    let geocoder = new google.maps.Geocoder;

                    geocoder.geocode({'location': {lat: event.latLng.lat(), lng: event.latLng.lng()}}, function (results, status) {
                        if (status === 'OK') {
                            if (results[0]) {
                                let payload ={
                                    lat:event.latLng.lat(),
                                    lng:event.latLng.lng(),
                                    address:results[0].formatted_address,
                                    type:'All'
                                };
                                // store.commit('setGeocode',payload);
                                store.commit('setcurrentLocation',payload);
                            } else {
                                snackbar = true;
                            }
                        } else {

                            snackbar = true;
                            // store.commit('showMapContextMenu',payload);
                            // window.alert('Geocoder failed due to: ' + status);
                            let payload ={
                                lat:event.latLng.lat(),
                                lng:event.latLng.lng(),
                                address:'',
                                type:'All'
                            };
                            // store.commit('setGeocode',payload);
                            store.commit('setcurrentLocation',payload);
                        }
                    });


                });
            },

            gotoXY(lat,lng,zoom,type){
                let map = store.state.gmap;
                var ltlng = {lat: parseFloat(lat), lng:parseFloat(lng)};

                map.setCenter(ltlng);
                // call smoothZoom, parameters map, final zoomLevel, and starting zoom level
                // this.smoothZoom(map, 25, map.getZoom());
                map.setZoom(zoom);
                if (type == 'marker'){
                    let payload = {
                        lat: lat,
                        lng: lng,
                        address: '',
                        type:'XYCOORD'
                    };
                    store.commit('setGeocode', payload);
                }
            },
            // the smooth zoom function for zoom map smoothly
            smoothZoom (map, max, cnt) {
                if (cnt >= max) {
                    return;
                }
                else {
                    z = google.maps.event.addListener(map, 'zoom_changed', function (event) {
                        google.maps.event.removeListener(z);
                        smoothZoom(map, max, cnt + 1);
                    });
                    setTimeout(function () {
                        map.setZoom(cnt)
                    }, 90); // 80ms is what I found to work well on my system -- it might not work well on all systems
                }
            },

            locateCurrentLocation(){
                let map = this.GMap;
                // Try HTML5 geolocation.
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position) {
                        var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        map.setCenter(pos);
                        map.setZoom(15);
                    });
                }
            },

            //=========================================================When user click on patient marker=====================================================
            toggleInfoFarmMarker: function(marker, key,type) {
                this.infoPosition = this.getPosition(marker,type);

                let contentString =
                    '<div id="iw-container">\n\
                        <div class="iw-content">\n\
                          <strong style="color: black">'+marker.Name+' ('+type+')</strong>' +
                    '<table  class="table" border="0" cellpadding="0" cellspacing="0" style="box-shadow:-1px -1px 1px #FFFFFF, 5px 5px 5px #f5f5f5;opacity: 10.5;font-family:Arial, Helvetica, sans-serif; font-size:12px;border:none;border-radius:15px;">' +

                    '<tr  style="white-space: nowrap;">' +
                    '<td  align=center  style="white-space: nowrap;width:90px;height:1px;background: linear-gradient(to right, #424242 0%, #757575 1000%);color:white;"><b>NIC</b></td>' +
                    '<td  style="width:160px;background: linear-gradient(to right, #424242 2%, #757575 430%);color:white;">' + marker.NIC + '</td>' +
                    '</tr>' +

                    '<tr  style="white-space: nowrap;">' +
                    '<td  align=center  style="white-space: nowrap;width:90px;height:1px;background: linear-gradient(to right, #424242 0%, #757575 1000%);color:white;"><b>Address</b></td>' +
                    '<td  style="width:160px;background: linear-gradient(to right, #424242 2%, #757575 430%);color:white;">' + marker.Address + '</td>' +
                    '</tr>' +

                    '<tr  style="white-space: nowrap;">' +
                    '<td  align=center  style="white-space: nowrap;width:90px;height:1px;background: linear-gradient(to right, #424242 0%, #757575 1000%);color:white;"><b>GND</b></td>' +
                    '<td  style="width:160px;background: linear-gradient(to right, #424242 2%, #757575 430%);color:white;">' + marker.gnd + '</td>' +
                    '</tr>' +
                    '<tr  style="white-space: nowrap;">' +
                    '<td  align=center  style="white-space: nowrap;width:90px;height:1px;background: linear-gradient(to right, #424242 0%, #757575 1000%);color:white;"><b>DSD</b></td>' +
                    '<td  style="width:160px;background: linear-gradient(to right, #424242 2%, #757575 430%);color:white;">' + marker.dsd + '</td>' +
                    '</tr>' +
                    '<tr  style="white-space: nowrap;">' +
                    '<td  align=center  style="white-space: nowrap;width:90px;height:1px;background: linear-gradient(to right, #424242 0%, #757575 1000%);color:white;"><b>District</b></td>' +
                    '<td  style="width:160px;background: linear-gradient(to right, #424242 2%, #757575 430%);color:white;">' + marker.district + '</td>' +
                    '</tr>' +
                    '<tr  style="white-space: nowrap;">' +
                    '<td  align=center  style="white-space: nowrap;width:90px;height:1px;background: linear-gradient(to right, #424242 0%, #757575 1000%);color:white;"><b>province</b></td>' +
                    '<td  style="width:160px;background: linear-gradient(to right, #424242 2%, #757575 430%);color:white;">' + marker.province + '</td>' +
                    '</tr>' +

                    '<tr  style="white-space: nowrap;">' +
                    '<td  align=center  style="white-space: nowrap;width:90px;height:1px;background: linear-gradient(to right, #424242 0%, #757575 1000%);color:white;"><b>Ethnic</b></td>' +
                    '<td  style="width:160px;background: linear-gradient(to right, #424242 2%, #757575 430%);color:white;">' + marker.Ethnic + '</td>' +
                    '</tr>' +
                    '<tr  style="white-space: nowrap;">' +
                    '<td  align=center  style="white-space: nowrap;width:90px;height:1px;background: linear-gradient(to right, #424242 0%, #757575 1000%);color:white;"><b>Age</b></td>' +
                    '<td  style="width:160px;background: linear-gradient(to right, #424242 2%, #757575 430%);color:white;">' + marker.Age + '</td>' +
                    '</tr>' +

                    '<tr style="white-space: nowrap;">' +
                    '<td align=center  style="white-space: nowrap;width:90px;height:1px;background: linear-gradient(to right, #424242 0%, #757575 1000%);color:white;"><b>Gender</b></td>' +
                    '<td style="width:160px;background: linear-gradient(to right, #424242 2%, #757575 430%);color:white;">' + marker.Male_Femal + '</td>' +
                    '</tr>' +

                    '<tr style="white-space: nowrap;">' +
                    '<td align=center  style="white-space: nowrap;width:90px;height:1px;background: linear-gradient(to right, #424242 0%, #757575 1000%);color:white;"><b>Telephone</b></td>' +
                    '<td style="width:160px;background: linear-gradient(to right, #424242 2%, #757575 430%);color:white;">' + marker.Telephone + '</td>' +
                    '</tr>' +

                    '<tr style="white-space: nowrap;">' +
                    '<td align=center  style="white-space: nowrap;width:90px;height:1px;background: linear-gradient(to right, #424242 0%, #757575 1000%);color:white;"><b>Admitted</b></td>' +
                    '<td style="width:160px;background: linear-gradient(to right, #424242 2%, #757575 430%);color:white;">' + marker.Date_Admit + '</td>' +
                    '</tr>' +

                    '<tr style="white-space: nowrap;">' +
                    '<td align=center  style="white-space: nowrap;width:90px;height:1px;background: linear-gradient(to right, #424242 0%, #757575 1000%);color:white;"><b>Hospital</b></td>' +
                    '<td style="width:160px;background: linear-gradient(to right, #424242 2%, #757575 430%);color:white;">' + marker.Hospital + '</td>' +
                    '</tr>' +

                    '<tr style="white-space: nowrap;">' +
                    '<td align=center  style="white-space: nowrap;width:90px;height:1px;background: linear-gradient(to right, #424242 0%, #757575 1000%);color:white;"><b>Found</b></td>' +
                    '<td style="width:160px;background: linear-gradient(to right, #424242 2%, #757575 430%);color:white;">' + marker.Date_Found + '</td>' +
                    '</tr>' +

                    '<tr style="white-space: nowrap;">' +
                    '<td align=center  style="white-space: nowrap;width:90px;height:1px;background: linear-gradient(to right, #424242 0%, #757575 1000%);color:white;"><b>Transfer 1</b></td>' +
                    '<td style="width:160px;background: linear-gradient(to right, #424242 2%, #757575 430%);color:white;">' + marker.Transfer_1 + '</td>' +
                    '</tr>' +

                    '<tr style="white-space: nowrap;">' +
                    '<td align=center  style="white-space: nowrap;width:90px;height:1px;background: linear-gradient(to right, #424242 0%, #757575 1000%);color:white;"><b>Transferre</b></td>' +
                    '<td style="width:160px;background: linear-gradient(to right, #424242 2%, #757575 430%);color:white;">' + marker.Transferre + '</td>' +
                    '</tr>' +

                    '<tr style="white-space: nowrap;">' +
                    '<td align=center  style="white-space: nowrap;width:90px;height:1px;background: linear-gradient(to right, #424242 0%, #757575 1000%);color:white;"><b>Recovered</b></td>' +
                    '<td style="width:160px;background: linear-gradient(to right, #424242 2%, #757575 430%);color:white;">' + marker.Date_of_Di + '</td>' +
                    '</tr>' +

                    '<tr style="white-space: nowrap;">' +
                    '<td align=center  style="white-space: nowrap;width:90px;height:1px;background: linear-gradient(to right, #424242 0%, #757575 1000%);color:white;"><b>Status</b></td>' +
                    '<td style="width:160px;background: linear-gradient(to right, #424242 2%, #757575 430%);color:white;">' + marker.Type_of_Pa + '</td>' +
                    '</tr>' +

                    '<tr style="white-space: nowrap;">' +
                    '<td align=center  style="white-space: nowrap;width:90px;height:1px;background: linear-gradient(to right, #424242 0%, #757575 1000%);color:white;"><b>Remarks</b></td>' +
                    '<td style="width:160px;background: linear-gradient(to right, #424242 2%, #757575 430%);color:white;">' + marker.Remarks + '</td>' +
                    '</tr>' +

                    '<tr>' +
                    '</table>\n\
                </div></div>';

                this.infoOptions = {
                    pixelOffset: {
                        width: 0,
                        height: -10
                    },
                    content:contentString
                };

                if (this.infoCurrentKey == key) {
                    this.infoOpened = !this.infoOpened;
                } else {
                    this.infoOpened = true;
                    this.infoCurrentKey = key;
                }
            },
            //-------------------------------------reverse geocoding to save lat lng address search---------------
            reverseGeocode(type){
                //----------------------Reverse Geocode---------------------------------
                let geocoder = new google.maps.Geocoder;
                let lat,lng;
                if (type == 'House'){
                    lat = this.newHouseDatalat;
                    lng = this.newHouseDatalng;
                } else{
                    lat = this.newCaughtDatalat;
                    lng = this.newCaughtDatalng;

                }

                let map = this.GMap;
                this.snackMessage = 'Invalid Location Detected';
                this.snackColor = 'primary';
                let snackbar = this.snackbar;

                if (!lat || !lng || lat =='' || lng==''){
                    this.snackbar = true;
                }else {
                    geocoder.geocode({
                        'location': {
                            lat: parseFloat(lat),
                            lng: parseFloat(lng)
                        }
                    }, function (results, status) {
                        if (status === 'OK') {
                            if (results[0]) {
                                let payload = {
                                    lat: lat,
                                    lng: lng,
                                    address: results[0].formatted_address,
                                    type:type
                                };
                                store.commit('setGeocode', payload);
                            } else {
                                snackbar = true;
                            }
                        } else {
                            snackbar = true;
                        }
                    });
                    map.setCenter({lat: parseFloat(lat), lng: parseFloat(lng)});
                    map.setZoom(18.9);
                }
            },
            //----------------------get position when lat lng givven----------------
            getPosition: function(marker,type) {
                let lat,lng;
                switch (type) {
                    case 'Caught':      lat = marker.Located_La;
                        lng = marker.Located_Lo;
                        break;

                    case 'House':        lat = marker.Home_Latit;
                        lng = marker.Home_Longi;
                        break;
                    default             : lat = marker.lat;
                        marker.lon ? lng = marker.lon:lng = marker.lng;
                }
                // console.log(type);
                // console.log(marker);
                // console.log({
                //     lat: parseFloat(marker.lat),
                //     lng: parseFloat(marker.lon)
                // });
                return {
                    lat: parseFloat(lat),
                    lng: parseFloat(lng)
                }
            },
            //--------------------------sorting the map data prieview-----------------------------
            sortPatientDataPreview(type){

                this.selectPatientSortLoading = true;
                let f_patients  = this.patients;
                if(type !== 'All') {
                    f_patients = _.filter(this.patients, item => item.Type_of_Pa === type);
                    console.log(f_patients);
                }
                console.log(f_patients);
                if (this.switchHouseLocationData) {
                    this.houseLocationPatients = f_patients;
                    setTimeout(() => {
                        this.selectPatientSortLoading = false;
                    }, 350); // toggle after 200 milli seconds
                }

                if (this.switchCaughtLocationData) {
                    this.caughtLocationPatients = f_patients;
                    setTimeout(() => {
                        this.selectPatientSortLoading = false;
                    }, 350); // toggle after 200 milli seconds
                }
            },
            //------------------------change the map patient data between house to caught---
            changePatientDataPreview(type){
                if(this.switchClusterOnMap){
                    this.subPointList = [];
                    this.setClusterOnMap();
                }else {
                    this.subPointList = [];
                }

                switch (type) {
                    case 'House':   this.houseLocationSwitchLoader = true;
                        this.subPointList = [];
                        this.switchClusterOnMap = false;
                        if (this.switchHouseLocationData) {
                            setTimeout(() => {
                                if (this.selectedSortType === 'All' || this.selectedSortType === '') {
                                    this.houseLocationPatients = this.patients;
                                    this.houseLocationSwitchLoader = false;
                                }else{
                                    let stype = this.selectedSortType;
                                    let f_patients = _.filter(this.patients, item => item.Type_of_Pa === stype);
                                    this.houseLocationPatients = f_patients;
                                    this.houseLocationSwitchLoader = false;
                                }
                            }, 200); // toggle after 100 milli seconds
                        }else{
                            this.houseLocationPatients = [];
                            this.houseLocationSwitchLoader = false;
                        }
                        break;
                    case 'Caught':   this.caughtLocationSwitchLoader = true;
                        if (this.switchCaughtLocationData) {
                            setTimeout(() => {
                                if (this.selectedSortType === 'All' || this.selectedSortType === '') {
                                    this.caughtLocationPatients = this.patients;
                                    this.caughtLocationSwitchLoader = false;
                                }else{
                                    let stype = this.selectedSortType;
                                    let f_patients = _.filter(this.patients, item => item.Type_of_Pa === stype);
                                    this.caughtLocationPatients = f_patients;
                                    this.caughtLocationSwitchLoader = false;
                                }
                            }, 200); // toggle after 100 milli seconds
                        }else{
                            this.caughtLocationPatients = [];
                            this.caughtLocationSwitchLoader = false;
                        }
                        break;

                }

            },
            //------------------------------------add new patient to db----------------
            addNewPatient(){
                let laravel = JSON.parse(window.Laravel);
                console.log(laravel);
                this.statSkeltonLoading = true;
                const header = {
                    'X-CSRF-TOKEN': laravel.csrfToken,
                    'X-Requested-With': 'XMLHttpRequest'
                };

                let formData = new FormData();
                formData.append('HouseDatalat',this.newHouseDatalat);
                formData.append('HouseDatalng',this.newHouseDatalng);
                formData.append('CaughtDatalat',this.newCaughtDatalat);
                formData.append('CaughtDatalng',this.newCaughtDatalng);
                formData.append('CaughtDataaddress',this.newCaughtDataaddress);
                formData.append('name',this.newDataname);
                formData.append('Gender',this.newDataGender);
                formData.append('Ethnics',this.newDataEthnics);
                formData.append('phone',this.newDataphone);
                formData.append('Houseaddress',this.newHouseDataaddress);
                formData.append('NIC',this.newDataNIC);
                formData.append('Age',this.newDataAge);
                formData.append('Admit',this.newDateAdmit);
                formData.append('PatientStatus',this.newDataPatientStatus);
                formData.append('Hospital',this.newHospital);
                formData.append('Transferre',this.newTransferre);
                formData.append('DateFound',this.newDateFound);
                formData.append('Transfer_1',this.newTransfer_1);
                formData.append('Death_Date',this.newDeath_Date);
                formData.append('Date_of_Di',this.newDate_of_Di);
                formData.append('Remarks',this.newRemarks);
                formData.append('id',laravel.user.id);
                if(this.pid)
                    formData.append('pid',this.pid);
                formData.append('effectedPoints', JSON.stringify(this.effectedPoints));
                console.log(formData);
                axios.post('/api/heatmap/addNewPatient',formData,header)
                    .then(response => {
                        console.log(response);
                        this.btnSubmitloader = false;
                        this.createNewDataLoading = false;
                        if (response.data.message == 'success'){
                            // this.snackMessage = 'New Patient Added';
                            // this.snackColor = 'success';
                            // this.snackbar = true;
                            this.$refs.newDataForm.resetValidation();
                            this.$refs.newDataForm.reset();
                            this.effectedPoints = [];
                            this.updateDataDialog = false;
                        } else{
                            this.snackMessage = response.data.error;
                            this.snackColor = 'error';
                            this.snackbar = true;
                        }
                        this.createNewDataLoading = false;
                    }).catch((error) => {
                    this.snackMessage = error;
                    this.snackColor = 'error';
                    this.snackbar = true;
                    console.log({error});// this will log an empty object with an error property
                    this.createNewDataLoading = false;
                    this.btnSubmitloader = false;
                });
            },
            //------------------------------------update with main data-------------
            updateMapWithNewData(data,type){
                if (!this.pid)
                    this.patients.push(data);
                else{
                    const index = this.patients.findIndex(item => {
                        return (data.id === item.id)
                    });
                    this.patients.splice(index, 1, data);
                }

                this.pid = null;

                if (this.switchHouseLocationData) {
                    this.houseLocationPatients = this.patients;
                }

                if (this.switchCaughtLocationData) {
                    this.switchCaughtLocationData = this.patients;
                }

                let active = _.filter(this.patients, item => item.Type_of_Pa === 'Active');
                let recovered = _.filter(this.patients, item => item.Type_of_Pa === 'Recovered');
                let dead = _.filter(this.patients, item => item.Type_of_Pa === 'Death');

                this.activePatients = active;
                this.deadPatients = dead;
                this.recoveredPatients = recovered;
                this.statSkeltonLoading = false;

                // this.gotoXY(data.Home_Latit,data.Home_Longi,18);
                this.setHeatMap();
                this.subPointList = [];
            },
            //-----------------------------------updating patient data---------------
            updatePatientData(id){
                let patient = _.filter(this.patients, item => item.id === id);

                this.newHouseDatalat = patient[0].Home_Latit;
                this.newHouseDatalng = patient[0].Home_Longi;
                this.newCaughtDatalat = patient[0].Located_La;
                this.newCaughtDatalng = patient[0].Located_Lo;
                this.newDataname = patient[0].Name;
                this.newDataGender = patient[0].Male_Femal;
                this.newDataEthnics = patient[0].Ethnic;
                this.newDataphone = patient[0].Telephone;
                this.newHouseDataaddress = patient[0].Address;
                this.newDataNIC = patient[0].NIC;
                this.newDataAge = patient[0].Age;
                this.newDateAdmit = patient[0].Date_Admit;
                this.newDataPatientStatus = patient[0].Type_of_Pa;
                this.newHospital = patient[0].Hospital;
                this.newTransferre = patient[0].Transferre;
                this.newDateFound = patient[0].Date_Found;
                this.newTransfer_1 = patient[0].Transfer_1;
                this.newDeath_Date = patient[0].Death_Date;
                this.newDate_of_Di = patient[0].Date_of_Di;
                this.newRemarks = patient[0].Remarks;
                this.pid = id;
                this.effectedPoints = [];
                for(let i=0;i<patient[0].effected_points.length;i++){
                    this.effectedPoints.push({
                        lat:parseFloat(patient[0].effected_points[i].lat),
                        lng:parseFloat(patient[0].effected_points[i].lng),
                        name:patient[0].effected_points[i].name,
                        remarks:patient[0].effected_points[i].remarks,
                        gnd:patient[0].effected_points[i].gnd,
                        dsd:patient[0].effected_points[i].dsd,
                        district:patient[0].effected_points[i].district,
                        province:patient[0].effected_points[i].province,
                        parent:patient[0],
                    })
                }

                this.updateDataDialog = true;

            },
            //------------------------clearing form when closing----------------------
            updateFormClose(){
                this.updateDataDialog = false;
                this.$refs.updateDataForm.resetValidation();
                this.$refs.updateDataForm.reset();
            },
            //------------------------------Search from map------------------------------------
            querySelections (v) {
                this.patientMapSearchloading = true;
                // Simulated ajax query
                setTimeout(() => {
                    this.mapPatients = this.patients.filter(e => {
                        return (e.Name || '').toLowerCase().indexOf((v || '').toLowerCase()) > -1
                    });
                    console.log(this.mapPatients);
                    this.patientMapSearchloading = false
                }, 500)
            },

            //=====================show cluster point details==========
            showSubPointDetails(e,key,value){
                let latLng = {lat:e.latLng.lat(),lng:e.latLng.lng()};
                this.infoPosition = latLng;

                let contentString =
                    '<div id="iw-container">\n\
                        <div class="iw-content">\n\
                          <strong style="color: black">Cluster For '+value.name+'</strong>' +
                    '<table  class="table" border="0" cellpadding="0" cellspacing="0" style="box-shadow:-1px -1px 1px #FFFFFF, 5px 5px 5px #f5f5f5;opacity: 10.5;font-family:Arial, Helvetica, sans-serif; font-size:12px;border:none;border-radius:15px;">' +

                    '<tr  style="white-space: nowrap;">' +
                    '<td  align=center  style="white-space: nowrap;width:90px;height:1px;background: linear-gradient(to right, #424242 0%, #757575 1000%);color:white;"><b>remarks</b></td>' +
                    '<td  style="width:160px;background: linear-gradient(to right, #424242 2%, #757575 430%);color:white;">' + value.remarks + '</td>' +
                    '</tr>' +

                    '<tr  style="white-space: nowrap;">' +
                    '<td  align=center  style="white-space: nowrap;width:90px;height:1px;background: linear-gradient(to right, #424242 0%, #757575 1000%);color:white;"><b>GND</b></td>' +
                    '<td  style="width:160px;background: linear-gradient(to right, #424242 2%, #757575 430%);color:white;">' + value.gnd + '</td>' +
                    '</tr>' +
                    '<tr  style="white-space: nowrap;">' +
                    '<td  align=center  style="white-space: nowrap;width:90px;height:1px;background: linear-gradient(to right, #424242 0%, #757575 1000%);color:white;"><b>DSD</b></td>' +
                    '<td  style="width:160px;background: linear-gradient(to right, #424242 2%, #757575 430%);color:white;">' + value.dsd + '</td>' +
                    '</tr>' +
                    '<tr  style="white-space: nowrap;">' +
                    '<td  align=center  style="white-space: nowrap;width:90px;height:1px;background: linear-gradient(to right, #424242 0%, #757575 1000%);color:white;"><b>District</b></td>' +
                    '<td  style="width:160px;background: linear-gradient(to right, #424242 2%, #757575 430%);color:white;">' + value.district + '</td>' +
                    '</tr>' +
                    '<tr  style="white-space: nowrap;">' +
                    '<td  align=center  style="white-space: nowrap;width:90px;height:1px;background: linear-gradient(to right, #424242 0%, #757575 1000%);color:white;"><b>province</b></td>' +
                    '<td  style="width:160px;background: linear-gradient(to right, #424242 2%, #757575 430%);color:white;">' + value.province + '</td>' +
                    '</tr>'+

                    '<tr  style="white-space: nowrap;">' +
                    '<td  align=center  style="white-space: nowrap;width:90px;height:1px;background: linear-gradient(to right, #424242 0%, #757575 1000%);color:white;"><b>Parent</b></td>' +
                    '<td  style="width:160px;background: linear-gradient(to right, #424242 2%, #757575 430%);color:white;">' + value.parent.Name + '</td>' +
                    '</tr>';
                if(value.parent.effected_points) {
                    contentString += '<tr  style="white-space: nowrap;">' +
                        '<td  align=center colspan="2"  style="white-space: nowrap;width:90px;height:1px;background: linear-gradient(to right, #424242 0%, #757575 1000%);color:white;"><b>Same Location Clusters</b></td>' +
                        '</tr>' ;
                    for (let i = 0; i < value.parent.effected_points.length;i++){
                        if(value.parent.effected_points[i].lat == value.lat && value.parent.effected_points[i].lng == value.lng && value.parent.effected_points[i].name !== value.name) {
                            contentString += '<tr  style="white-space: nowrap;">' +
                                '<td  align=center  style="white-space: nowrap;width:90px;height:1px;background: linear-gradient(to right, #424242 0%, #757575 1000%);color:white;"><b>Name</b></td>' +
                                '<td  style="width:160px;background: linear-gradient(to right, #424242 2%, #757575 430%);color:white;">' + value.parent.effected_points[i].name + '</td>' +
                                '</tr>' +
                                '<tr  style="white-space: nowrap;">' +
                                '<td  align=center  style="white-space: nowrap;width:90px;height:1px;background: linear-gradient(to right, #424242 0%, #757575 1000%);color:white;"><b>Remarks</b></td>' +
                                '<td  style="width:160px;background: linear-gradient(to right, #424242 2%, #757575 430%);color:white;">' + value.parent.effected_points[i].remarks + '</td>' +
                                '</tr>';
                        }
                    }
                }

                contentString += '<tr>' +
                    '</table>\n\
                </div></div>';

                this.infoOptions = {
                    // pixelOffset: {
                    //     width: 0,
                    //     height: -10
                    // },
                    content:contentString
                };

                if (this.infoCurrentKey == key) {
                    this.infoOpened = !this.infoOpened;
                } else {
                    this.infoOpened = true;
                    this.infoCurrentKey = key;
                }
            },

            getDistanceToHospital(lat,lng){
                let hlocation = {latitude:parseFloat(lat),longitude:parseFloat(lng)};
                let mlocation = {latitude:parseFloat(store.state.currentLocation.lat),longitude:parseFloat(store.state.currentLocation.lng)};



                let hospitalDistance = geolib.getDistance(
                    mlocation,
                    hlocation
                );

                if(!isNaN(hospitalDistance)) {
                    hospitalDistance = hospitalDistance / 1000;
                    hospitalDistance = hospitalDistance.toFixed(2)+" Km";
                }else{
                    hospitalDistance = 'Unknown';
                }
                return hospitalDistance;
            },
            getDirectionToHospital(lat,lng){
                let that = this;
                if(this.directionsRenderer !=null) {
                    this.directionsRenderer.setMap(null);
                    this.directionsRenderer.setDirections({routes: []});
                    this.directionsRenderer = null;
                }
                this.directionsService = new google.maps.DirectionsService();
                this.directionsRenderer = new google.maps.DirectionsRenderer();





                this.directionsRenderer.setMap(this.GMap);
                let hlocation = new google.maps.LatLng(parseFloat(lat), parseFloat(lng));
                let mlocation = new google.maps.LatLng(parseFloat(store.state.currentLocation.lat), parseFloat(store.state.currentLocation.lng));

                // this.routeDistanceBetweenIncoming = getDistance(
                //     { latitude: 6.8578, longitude:  79.9085 },
                //     { latitude: 6.8511, longitude: 79.9212 }
                // );

                let request = {
                    origin: mlocation,
                    destination: hlocation,
                    // Note that JavaScript allows us to access the constant
                    // using square brackets and a string value as its
                    // "property."
                    travelMode: 'DRIVING'
                };
                this.directionsService.route(request, function (response, status) {
                    if (status == 'OK') {
                        that.directionsRenderer.setDirections(response);
                    }
                });

            },

            openInGoogleMap(lat,lng){
                let url = 'https://www.google.com/maps/search/?api=1&query='+lat+','+lng+'';
                window.open(url,'_blank');
            },

            logout(){
                window.setLogout();
            },
            //********************************************Requesting Main Location Information server*******************
            getLocationInfo(){
                let map = this.GMap;
                let radius = this.radius;
                // Try HTML5 geolocation.
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position) {

                        var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        console.log(pos);
                        map.setCenter(pos);
                        map.setZoom(13);
                        //----------------------Reverse Geocode---------------------------------
                        let geocoder = new google.maps.Geocoder;

                        geocoder.geocode({'location': {lat: position.coords.latitude, lng: position.coords.longitude,radius:radius}}, function (results, status) {
                            if (status === 'OK') {
                                if (results[0]) {
                                    let payload ={
                                        lat:position.coords.latitude,
                                        lng:position.coords.longitude,
                                        address:results[0].formatted_address,
                                        type:'All'
                                    };
                                    // store.commit('setGeocode',payload);
                                    store.commit('setcurrentLocation',payload);
                                } else {
                                    snackbar = true;
                                }
                            } else {

                                snackbar = true;
                                // store.commit('showMapContextMenu',payload);
                                // window.alert('Geocoder failed due to: ' + status);
                                let payload ={
                                    lat:position.coords.latitude,
                                    lng:position.coords.longitude,
                                    address:'',
                                    type:'All'
                                };
                                // store.commit('setGeocode',payload);
                                store.commit('setcurrentLocation',payload);
                            }
                        });

                        // store.commit('setcurrentLocation',pos);
                    });
                }
                this.myLocationIcon  = {
                    url: '/img/marker/bluedot_retina.png',
                    size: new google.maps.Size(30, 30),
                    anchor: new google.maps.Point(9, 14),
                    origin: new google.maps.Point(0, 0),
                    scaledSize: new google.maps.Size(20, 20)
                };
            },
            //**************************************GETTING Farm DATA FROM DATABASE ******
            getFarmData(lat,lng){
                axios.post('/api/farm/geofence',{lat:lat,lng:lng,radius:this.radius},store.state.httpheader.header).then(response => {
                    // this.districts = [];
                    console.log(response.data);


                }).catch((error) => {
                    this.snackMessage = error;
                    this.snackColor = 'error';
                    this.snackbar = true;
                    console.log({error});// this will log an empty object with an error property
                });
            },

            changeRadius(){

                this.addressLoading = true;
                this.searchLocation = store.state.currentLocation.address;
                setTimeout(() => {
                    this.addressLoading = false;
                    this.getFarmData(store.state.currentLocation.lat,store.state.currentLocation.lng);
                }, 100); // toggle after 100 milli seconds



            },

        },
    }
</script>
<style >
    /*#wrapper { position: relative; }*/
    /*#detail-card { position: absolute; top: 40px; left: 30px; z-index: 9999; }*/
    #wrapper .v-speed-dial {
        position: absolute;
    }

    #wrapper .v-btn--floating {
        position: relative;
    }
    /*
The div that holds all the lines
*/
    .pac-container {
        margin-top: -1px;
        background-color: rgb(245, 245, 245);
    }
    .pac-item * {
        font-size: 14px !important;
    }
    .pac-item-query {
        font-weight: bold;
    }
    /* your custom CSS \*/
    @-moz-keyframes pulsate {
        from {
            -moz-transform: scale(0.25);
            opacity: 1.0;
        }
        95% {
            -moz-transform: scale(1.3);
            opacity: 0;
        }
        to {
            -moz-transform: scale(0.3);
            opacity: 0;
        }
    }
    @-webkit-keyframes pulsate {
        from {
            -webkit-transform: scale(0.25);
            opacity: 1.0;
        }
        95% {
            -webkit-transform: scale(1.3);
            opacity: 0;
        }
        to {
            -webkit-transform: scale(0.3);
            opacity: 0;
        }
    }
    /* get the container that's just outside the marker image,
        which just happens to have our Marker title in it */
    #map_canvas div[title="I might be here"] {
        -moz-animation: pulsate 1.5s ease-in-out infinite;
        -webkit-animation: pulsate 1.5s ease-in-out infinite;
        border:1pt solid #fff;
        /* make a circle */
        -moz-border-radius:61px;
        -webkit-border-radius:61px;
        border-radius:61px;
        /* multiply the shadows, inside and outside the circle */
        -moz-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
        -webkit-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
        box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
        /* set the ring's new dimension and re-center it */
        height:61px!important;
        margin:-12px 0px 0px -12px;
        width:61px!important;
    }
    /* hide the superfluous marker image since it would expand and shrink with its containing element */
    /*	#map_canvas div[style*="987654"][title] img {*/
    #map_canvas div[title="I might be here"] img {
        display:none;
    }

    /* get the container that's just outside the marker image,
        which just happens to have our Marker title in it */
    #map_canvas_mobile div[title="I might be here"] {
        -moz-animation: pulsate 1.5s ease-in-out infinite;
        -webkit-animation: pulsate 1.5s ease-in-out infinite;
        border:1pt solid #fff;
        /* make a circle */
        -moz-border-radius:61px;
        -webkit-border-radius:61px;
        border-radius:61px;
        /* multiply the shadows, inside and outside the circle */
        -moz-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
        -webkit-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
        box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
        /* set the ring's new dimension and re-center it */
        height:61px!important;
        margin:-12px 0px 0px -12px;
        width:61px!important;
    }
    /* hide the superfluous marker image since it would expand and shrink with its containing element */
    /*	#map_canvas div[style*="987654"][title] img {*/
    #map_canvas_mobile div[title="I might be here"] img {
        display:none;
    }
    /* compensate for iPhone and Android devices with high DPI, add iPad media query */
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (device-width: 768px) {
        #map_canvas div.gmnoprint[title="I might be here"] {
            margin:-30px 0 0 -10px;
        }

        #map_canvas_mobile div.gmnoprint[title="I might be here"] {
            margin:-30px 0 0 -10px;
        }
    }
</style>
