<template>
    <div>
        <!---------------------------------------Top app bar------------------------------------------------->
        <v-app-bar
            color="#646665"
            dense
            dark
        >

            <v-toolbar-title style="margin-left:2%">Ministry of Defence</v-toolbar-title>

            <v-spacer></v-spacer>

            <v-btn small style="right: 1px;" icon @click="logout"  >
                <v-icon >exit_to_app</v-icon>
            </v-btn>

            <v-menu
                left
                bottom
            >


            </v-menu>
        </v-app-bar>

        <v-row>
            <v-col>
                <v-card
                    height="100%"
                    width="256"
                    elevation="12"

                >
                    <v-navigation-drawer

                        permanent
                    >
                        <v-list
                            dense
                            rounded
                        >
                            <v-list-item
                                v-for="item in items"
                                :key="item.title"
                                link
                                @click="gotopage(item.action)"
                            >
                                <v-list-item-icon>
                                    <v-icon>{{ item.icon }}</v-icon>
                                </v-list-item-icon>

                                <v-list-item-content>
                                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list>
                    </v-navigation-drawer>
                </v-card>
            </v-col>
<!---------------------------------Contain--------------------------------------->

            <v-col cols="8" style="margin-top: 1%;margin-right: 8%;margin-bottom: 2%">
                <v-card>
                    <span style="margin-top: 2%;margin-left: 2%"><h2><b>Contact Us</b></h2></span>
                    <v-divider></v-divider>
            <span style="margin-left: 3%;padding-top: 3%;margin-top: 8%">Please enter your contact information and message below.</span>

            <v-row>
            <span style="margin-top: 5%;margin-left: 6%">Name :</span>

            <v-col cols="4" style="margin-top: 4%;margin-left: 5%">
                <v-text-field
                    style="width: 91%;margin-left:8%"
                    outlined
                    :rules="[v => !!v || 'Name is required' ,(v) => /^[a-zA-Z]+(?:[\s.]+[a-zA-Z]+)*$/.test(v) || 'Invalid name.only letters allowed'] "
                    dense
                    required
                    v-model="con_name"
                ></v-text-field>
            </v-col>
            </v-row>

            <v-row>
                <span style="margin-top: 1%;margin-left: 6%">Email Address :</span>
                <v-col cols="4" style="margin-left: 2%">
                    <v-text-field
                        style="width: 91%;margin-left:1%"
                        outlined
                        required
                        :rules="[(v) => !!v || 'E-mail is required',(v) => /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,5})+$/.test(v) || 'E-mail must be valid'] "
                        dense
                        v-model="e_mail"
                    ></v-text-field>
                </v-col>
            </v-row>

            <v-row>
                <span style="margin-top: 1%;margin-left: 6%">Phone Number :</span>
                <v-col cols="4" style="margin-left: 2%">
                    <v-text-field
                        style="width: 91%;"
                        outlined
                        :rules="number ?[v =>  /^[0-9]{10}$/.test(v) || 'Telephone Number must be valid']:''" hint="ex : 0112345678"
                        dense
                        required
                        v-model="number"
                    ></v-text-field>
                </v-col>
            </v-row>

            <v-row>
                <span style="margin-top: 12px;margin-left:6%">Message :</span>
                <v-col cols="9" style="margin-left: 5%">

                    <v-textarea
                        solo
                        name="input-7-4"
                        label="Declaration "

                        v-model="message"
                    ></v-textarea>
                </v-col>

            </v-row>

                    <v-btn
                        style="margin-left: 17%;margin-bottom:2%"
                        depressed
                        color="primary"
                        @click="saveData"
                        :loading="saveLoader"
                    >
                        Send Message
                    </v-btn>
                </v-card>
            </v-col>


        </v-row>

        <v-snackbar v-model="snackbar" :multi-line="false" :color="snackColor" :top="snackBarTop" :right="snackBarRight">
            {{ snackMessage }}
        </v-snackbar>

    </div>
</template>

<script>
import {mapState} from "vuex";
import {store} from "./store/store";

export default {
    name: "Help",
    data () {
        return {
            con_name:'',
            e_mail:'',
            number:'',
            message:'',
            saveLoader:false,
            snackbar:false,
            snackColor:'',
            snackMessage:'',
            snackBarRight:false,
            snackBarTop:false,
            valid:false,

            items: [
                { title: 'Inquiry for Approval', icon: 'mdi-forum' ,action:'approval'},
                { title: 'Submit New Application', icon: 'mdi-view-dashboard' ,action:'application'},
                { title: 'Reject Applications', icon: 'mdi-forum',action:'rejectapp' },
                // { title: 'BOI Approval', icon: 'mdi-forum' ,action:'approval' },
                { title: 'Contact Us', icon: 'mdi-forum' ,action:'help' },
            ],

        }
    },
    computed:{
        ...mapState({
            httpheader: state => state.httpheader,
            step: state => state.step,
        }),
        stepper(){
            return store.state.step
        }
    },
    methods:{
        saveData(){
            if (this.$refs.form.validate()) {
                this.saveLoader = true;
                let laravel = JSON.parse(window.Laravel);
                const header = {
                    "X-CSRF-TOKEN": laravel.csrfToken,
                    "X-Requested-With": "XMLHttpRequest",
                };

                let formData = new FormData();
                formData.append('app_no', this.app_no);
                formData.append('con_name', this.con_name);
                formData.append('e_mail', this.e_mail);
                formData.append('number', this.number);
                formData.append('message', this.message);

                formData.append('user_id', laravel.user.id);


                axios.post('/api/saveContactus', formData, header).then(response => {
                    console.log('returned', response.data);
                    this.saveLoader = false;
                    if (response.data.http_status === 'success') {
                        this.snackColor = 'success';
                        store.commit('setStepper',2);
                    } else {
                        this.snackColor = 'error';
                    }
                    this.snackMessage = response.data.message;
                    this.snackbar = true;
                }).catch((error) => {
                    this.saveLoader = false;
                    this.snackMessage = error;
                    this.snackColor = 'error';
                    this.snackbar = true;
                    console.log({error});// this will log an empty object with an error property
                });
            }

            //
        },

        gotopage(url){
            window.location = url;
        }
    }
}
</script>

<style scoped>

</style>
