<template>
    <v-app id="inspire">
        <loading :active.sync="fullScreenLoader"
                 :can-cancel="false"
                 loader="bars"
                 color="#0000FF"
                 :height="70"
                 :width="50"
                 :is-full-page="true"></loading>

        <v-card  style="border-radius:0px; !important;" >
            <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app  light color="white" style="height: 30px">
                <v-toolbar-title style="font-size:25px;margin-top: 25px">

                    <!--western province logo-->
                    <v-avatar tile size="30" style="margin-bottom: 59px;margin-left: 5px">
                        <img src="/img/western_province_logo.png"
                             alt="western province logo"
                             width="200px"
                             height="50px">
                    </v-avatar>

                    <!--Western province flag-->
                    <v-avatar tile width="56" style="margin-bottom: 59px;margin-left: 0px">
                        <img src="/img/Western_Province_Flag_(SRI_LANKA).png"
                             alt="Western Province Flag (SRI_LANKA)"
                             width="200%"
                             height="100%">
                    </v-avatar>

                    <v-btn small icon @click="logout" style="position: absolute;top: 1px;left: 1325px" >
                        <v-icon small>exit_to_app</v-icon>
                    </v-btn>



                </v-toolbar-title>
                <v-toolbar-title style="position: absolute;top: 5%;right: 1050px;font-size:17px">
                    <span>Western Provincial Council</span>
                </v-toolbar-title>

                <!--buttons-->

                <v-btn style="position: absolute;top: 40px;left:670px;width: 85px;height:25px"
                        @click="goToMap('Governor')"
                       color="green"
                       dark>
                    Governor
                </v-btn>


                <!--Governor line-->
                <v-progress-linear value="100%" style="position: absolute;top: 52px;left:286px;width: 384px;height:2px"
                                   color="solid black" ></v-progress-linear>
                <!--Ministry main line-->
                <v-progress-linear value="100%" style="position: absolute;top: 400px;left:136px;width: 1090px;height:2px"
                                   color="solid black" ></v-progress-linear>
                <!--          Education Ministry main line-->
                <v-progress-linear value="100%" style="position: absolute;top: 480px;left:54px;width: 162px;height:2px"
                                   color="solid black" ></v-progress-linear>
                <!--          Health Ministry main line-->
                <v-progress-linear value="100%" style="position: absolute;top: 480px;left:326px;width: 159px;height:2px"
                                   color="solid black" ></v-progress-linear>
                <!--          Road Dev. & Transport Ministry main line-->
                <v-progress-linear value="100%" style="position: absolute;top: 480px;left:597px;width: 165px;height:2px"
                                   color="solid black" ></v-progress-linear>
                <!--         Local Government Ministry main line-->
                <v-progress-linear value="100%" style="position: absolute;top:480px;left:868px;width: 165px;height:2px"
                                   color="solid black" ></v-progress-linear>
                <!--         Agriculture Ministry main line-->
                <v-progress-linear value="100%" style="position: absolute;top:480px;left:1144px;width: 161px;height:2px"
                                   color="solid black" ></v-progress-linear>
                <!--Deputy Chief Secretary Admin line-->
                <v-progress-linear value="100%" style="position: absolute;top: 228px;left:428px;width: 38px;height:2px"
                                   color="solid black" ></v-progress-linear>
                <!--Deputy Chief Secretary Finance line-->
                <v-progress-linear value="100%" style="position: absolute;top: 253px;left:428px;width: 38px;height:2px"
                                   color="solid black" ></v-progress-linear>
                <!--Deputy Chief Secretary Personnel & Training line-->
                <v-progress-linear value="100%" style="position: absolute;top: 278px;left:428px;width: 38px;height:2px"
                                   color="solid black" ></v-progress-linear>
                <!--Deputy Chief Secretary Finance line-->
                <v-progress-linear value="100%" style="position: absolute;top: 303px;left:428px;width: 38px;height:2px"
                                   color="solid black" ></v-progress-linear>
                <!--Deputy Chief Secretary Engineering line-->
                <v-progress-linear value="100%" style="position: absolute;top: 328px;left:428px;width: 38px;height:2px"
                                   color="solid black" ></v-progress-linear>
                <!--Internal Audit line-->
                <v-progress-linear value="100%" style="position: absolute;top: 353px;left:428px;width: 38px;height:2px"
                                   color="solid black" ></v-progress-linear>

                <!--        Governor Secretariat line -->
                <v-progress-linear value="100%" style="position: absolute;top: 108px;left:930px;width: 30px;height:2px"
                                   color="solid black" ></v-progress-linear>
                <!--Council Secretariat line-->
                <v-progress-linear value="100%" style="position: absolute;top: 136px;left:930px;width: 30px;height:2px"
                                   color="solid black" ></v-progress-linear>

<!--                <v-progress-linear value="100%" style="position: absolute;top: 10px;left:530px;width: 30px;height:2px"-->
<!--                                   color="solid black" ></v-progress-linear>-->

                <!--Chief Minister / Other Ministers and Staff line-->
                <v-progress-linear value="100%" style="position: absolute;top: 140px;left:420px;width: 290px;height:2px"
                                   color="solid black" ></v-progress-linear>
                <!--Provincial Public Service Commission line-->
                <v-progress-linear value="100%" style="position: absolute;top: 170px;left:420px;width: 290px;height:2px"
                                   color="solid black" ></v-progress-linear>

                <!--Chief Secretary Office to main line of Deputy Chief Secretary Admin line-->
                <v-progress-linear value="100%" style="position: absolute;top: 291px;left:466px;width: 244px;height:2px"
                                   color="solid black" ></v-progress-linear>

                <!--vertical line Governor-->
                <div class = "vertical" style="position: absolute;top: 52px;left:285px;width: 200px;height: 70px"></div>
<!--                &lt;!&ndash;Governor to Chief Minister / Other Ministers and Staff vertical line&ndash;&gt;-->
<!--                <div class = "vertical" style="position: absolute;top: 100px;left:285px;width: 200px;height: 1px"></div>-->
                <!--Provincial Public Service Commission vertical line-->
                <div class = "vertical" style="position: absolute;top: 113px;left:285px;width: 200px;height: 80px"></div>
                <!-- Governor to Chief Secretary Office vertical line============================================================================ -->
                <div class = "vertical" style="position: absolute;top: 65px;left:710px;width: 200px;height: 336px"></div>
                <!--  Chief Secretary Office to Ministry main vertical line -->
<!--                <div class = "vertical" style="position: absolute;top: 16px;left:680px;width: 200px;height: 200px"></div>-->
                <!--  Deputy Chief Secretary Admin main vertical line -->
                <div class = "vertical" style="position: absolute;top: 228px;left:465px;width: 200px;height: 127px"></div>
                <!--  Chief Secretary Office to Ministry of Education line -->
                <div class = "vertical" style="position: absolute;top: 400px;left:135px;width: 200px;height: 25px"></div>
                <!--  Chief Secretary Office to Ministry of Health line -->
                <div class = "vertical" style="position: absolute;top: 400px;left:400px;width: 200px;height: 25px"></div>
                <!--  Chief Secretary Office to Ministry of Road Dev. & Transport line -->
                <div class = "vertical" style="position: absolute;top: 400px;left:680px;width: 200px;height: 25px"></div>
                <div class = "vertical" style="position: absolute;top: 450px;left:680px;width: 200px;height: 30px"></div>
                <!--  Chief Secretary Office to Ministry of Local Government line -->
                <div class = "vertical" style="position: absolute;top: 400px;left:1000px;width: 200px;height: 25px"></div>
                <!--  Chief Secretary Office to Ministry of Agriculture line -->
                <div class = "vertical" style="position: absolute;top: 400px;left:1224px;width: 200px;height: 25px"></div>
                <!--  Ministry of Agriculture to main line -->
                <div class = "vertical" style="position: absolute;top: 448px;left:954px;width: 200px;height: 34px"></div>
                <!--  Ministry of Agriculture to Department main line -->
                <div class = "vertical" style="position: absolute;top: 448px;left:1224px;width: 200px;height: 34px"></div>
                <!--  Ministry of Education to Department main line -->
                <div class = "vertical" style="position: absolute;top: 505px;left:1142px;width: 400px;height: 97px"></div>

                <!--  Ministry of Education to (Department) Institutions main line -->
                <v-progress-linear value="100%" style="position: absolute;top: 564px;left:1144px;width: 20px;height:2px"
                                   color="solid black" ></v-progress-linear>
                <!--  Ministry of Education to (Department) Sections main line -->
                <v-progress-linear value="100%" style="position: absolute;top: 600px;left:1144px;width: 20px;height:2px"
                                   color="solid black" ></v-progress-linear>

                <!--  Ministry of Agriculture to Authorities main line -->
                <div class = "vertical" style="position: absolute;top: 480px;left:1304px;width: 200px;height: 20px"></div>

                <!--  Ministry of Local Government to main line -->
                <div class = "vertical" style="position: absolute;top: 480px;left:1032px;width: 200px;height: 30px"></div>
                <!--  Ministry of Local Government to Department main line -->
                <div class = "vertical" style="position: absolute;top: 480px;left:1142px;width: 200px;height: 20px"></div>
                <!--  Ministry of local Government to Department main line -->
                <div class = "vertical" style="position: absolute;top: 504px;left:867px;width: 400px;height: 98px"></div>

                <!--  Ministry of Education to (Department) Institutions main line -->
                <v-progress-linear value="100%" style="position: absolute;top: 600px;left:869px;width: 20px;height:2px"
                                   color="solid black" ></v-progress-linear>
                <!--  Ministry of Education to (Department) Sections main line -->
                <v-progress-linear value="100%" style="position: absolute;top: 564px;left:869px;width: 20px;height:2px"
                                   color="solid black" ></v-progress-linear>

                <!--  Ministry of Local Government to Authorities main line -->
                <div class = "vertical" style="position: absolute;top: 480px;left:867px;width: 200px;height: 20px"></div>

                <!--  Ministry of Road Dev. & Transport to main line -->
<!--                <div class = "vertical" style="position: absolute;top: 50px;left:710px;width: 200px;height: 5px"></div>-->
                <!--  Ministry of Road Dev. & Transport to Department main line -->
                <div class = "vertical" style="position: absolute;top: 480px;left:760px;width: 200px;height: 20px"></div>
                <!--  Ministry of Education to Department main line -->
                <div class = "vertical" style="position: absolute;top: 515px;left:595px;width: 400px;height: 87px"></div>

                <!--  Ministry of Education to (Department) Institutions main line -->
                <v-progress-linear value="100%" style="position: absolute;top: 564px;left:595px;width: 20px;height:2px"
                                   color="solid black" ></v-progress-linear>
                <!--  Ministry of Education to (Department) Sections main line -->
                <v-progress-linear value="100%" style="position: absolute;top: 600px;left:595px;width: 20px;height:2px"
                                   color="solid black" ></v-progress-linear>


                <!--  Ministry of Road Dev. & Transport to Authorities main line -->
                <div class = "vertical" style="position: absolute;top: 480px;left:595px;width: 200px;height: 20px"></div>

                <!--  Ministry of Health to main line -->
                <div class = "vertical" style="position: absolute;top: 450px;left:400px;width: 200px;height: 30px"></div>
                <!--  Ministry of Health to Department main line -->
                <div class = "vertical" style="position: absolute;top: 482px;left:483px;width: 200px;height: 20px"></div>
                <!--  Ministry of Health to Department main line -->
                <div class = "vertical" style="position: absolute;top: 514px;left:325px;width: 400px;height: 88px"></div>

                <!--  Ministry of Health to (Department) Institutions main line -->
                <v-progress-linear value="100%" style="position: absolute;top: 600px;left:325px;width: 20px;height:2px"
                                   color="solid black" ></v-progress-linear>
                <!--  Ministry of Health to (Department) Sections main line -->
                <v-progress-linear value="100%" style="position: absolute;top: 565px;left:325px;width: 20px;height:2px"
                                   color="solid black" ></v-progress-linear>

                <!--  Ministry of Health to Authorities main line -->
                <div class = "vertical" style="position: absolute;top: 480px;left:325px;width: 200px;height: 20px"></div>

                <!--  Ministry of Education to main line -->
                <div class = "vertical" style="position: absolute;top: 450px;left:135px;width: 200px;height: 32px"></div>
                <!--  Ministry of Education to Department main line -->
                <div class = "vertical" style="position: absolute;top: 480px;left:215px;width: 200px;height: 20px"></div>
                <!--  Ministry of Education to Department main line -->
                <div class = "vertical" style="position: absolute;top: 515px;left:52px;width: 400px;height: 85px"></div>

                <!--  Ministry of Education to (Department) Institutions main line -->
                <v-progress-linear value="100%" style="position: absolute;top: 565px;left:54px;width: 12px;height:2px"
                                   color="solid black" ></v-progress-linear>
                <!--  Ministry of Education to (Department) Sections main line -->
                <v-progress-linear value="100%" style="position: absolute;top: 598px;left:54px;width: 12px;height:2px"
                                   color="solid black" ></v-progress-linear>

                <!--  Ministry of Education to Authorities main line -->
                <div class = "vertical" style="position: absolute;top: 480px;left:52px;width: 200px;height: 20px"></div>



                <!--        Governor Secretariat main vertical line  -->
                <div class = "vertical" style="position: absolute;top: 108px;left:928px;width: 200px;height: 124px"></div>
                <!--Governor Secretariat main horizontal line -->
                <v-progress-linear value="100%" style="position: absolute;top: 230px;left:710px;width: 220px;height:2px"
                                   color="solid black" ></v-progress-linear>
                <!--Provincial Council down arrow-->

                <v-btn style="position: absolute;top: 100px;left:120px"
                       width="325px"
                       height="20px"
                       color="primary"
                       dark>
                    <span style="font-size:11px">Provincial Council</span>
                </v-btn>

                <!--Chief Minister / Other Ministers and Staff down arrow-->

                <v-btn style="position: absolute;top: 130px;left:120px"
                       color="primary"
                       width="325px"
                       height="20px"
                       dark>
                    <span style="font-size:11px">Chief Minister / Other
                        Ministers and Staff</span>
                </v-btn>

                <v-btn style="position: absolute;top: 160px;left:120px"
                       width="325px"
                       height="20px"
                       color="primary"
                       dark>
                     <span style="font-size:11px">Provincial Public
                         Service Commission</span>
                </v-btn>

<!--                <v-btn style="position: absolute;top: 300px;left:620px"-->
<!--                       color="primary"-->
<!--                       width="180px"-->
<!--                       height="20px"-->
<!--                       dark>-->
<!--                    <span style="font-size:12px">Chief Secretary-->
<!--                        Office</span>-->
<!--                </v-btn>-->

                <v-btn style="position: absolute;top: 220px;left:620px"
                       width="180px"
                       height="20px"
                       color="primary"
                       dark>
                    <span style="font-size:12px">Chief Secretary
                        Office</span>
                </v-btn>


                <v-btn style="position: absolute;top: 100px;left:960px"
                       width="160px"
                       height="20px"
                       color="primary"
                       dark>
                    <span style="font-size:11px">Governor
                        Secretariat</span>
                </v-btn>

                <v-btn style="position: absolute;top: 130px;left:960px"
                       width="160px"
                       height="20px"
                       color="primary"
                       dark>
                    <span style="font-size:11px">Council
                        Secretariat</span>
                </v-btn>

                <v-btn style="position: absolute;top: 160px;left:960px"
                       color="primary"
                       width="160px"
                       height="20px"
                       dark>
                    <span style="font-size:11px">PPSC
                        Secretary</span>
                </v-btn>

                <v-btn style="position: absolute;top: 220px;left:135px"
                       width="293px"
                       height="18px"
                       color="primary"
                       dark>
                    <span style="font-size:10px"> Deputy Chief Secretary
                        Admin</span>
                </v-btn>

                <v-btn style="position: absolute;top: 245px;left:135px"
                       width="293px"
                       height="18px"
                       color="primary"
                       dark>
                     <span style="font-size:10px">Deputy Chief Secretary
                         Personnel & Training</span>
                </v-btn>

                <v-btn style="position: absolute;top: 270px;left:135px"
                       width="293px"
                       height="18px"
                       color="primary"
                       dark>
                     <span style="font-size:10px">Deputy Chief Secretary
                         Finance</span>
                </v-btn>

                <v-btn style="position: absolute;top: 295px;left:135px"
                       width="293px"
                       height="18px"
                       color="primary"
                       dark>
                     <span style="font-size:10px">Deputy Chief Secretary
                         Planning</span>
                </v-btn>

                <v-btn style="position: absolute;top: 320px;left:135px"
                       width="293px"
                       height="18px"
                       color="primary"
                       dark>
                     <span style="font-size:10px">Deputy Chief Secretary
                         Engineering</span>
                </v-btn>

                <v-btn style="position: absolute;top: 345px;left:135px"
                       width="293px"
                       height="18px"
                       color="primary"
                       dark>
                     <span style="font-size:10px">Internal
                         Audit</span>
                </v-btn>

                <v-btn style="position: absolute;top: 425px;left:8px"
                       width="250px"
                       height="25px"
                       color="primary"
                       dark>
                    <span style="font-size:11px">Ministry of
                        Education</span>
                </v-btn>

                <v-btn style="position: absolute;top: 500px;left:10px"
                       width="88px"
                       height="22px"
                       color="primary"
                       dark>
                    <span style="font-size:9px">Department</span>

                </v-btn>

                <v-btn style="position: absolute;top: 555px;left:65px"
                       width="80px"
                       height="20px"
                       color="primary"
                       dark>
                    <span style="font-size:8px">Institutions</span>
                </v-btn>

                <v-btn style="position: absolute;top: 590px;left:65px"
                       width="80px"
                       height="20px"
                       small
                       color="primary"
                       dark>
                    <span style="font-size:8px">Sections</span>
                </v-btn>

                <v-btn style="position: absolute;top:500px;left:170px"
                       width="88px"
                       height="22px"
                       color="primary"
                       dark>
                    <span style="font-size:9px">Authorities</span>
                </v-btn>

                <v-btn style="position: absolute;top: 425px;left:278px"
                       width="250px"
                       height="25px"
                       color="primary"
                       dark>
                    <span style="font-size:11px">Ministry of
                        Health</span>
                </v-btn>

                <v-btn style="position: absolute;top:500px;left:282px"
                       width="88px"
                       height="22px"
                       color="primary"
                       dark>
                    <span style="font-size:9px">Department</span>
                </v-btn>

                <v-btn style="position: absolute;top: 555px;left:340px"
                       width="80px"
                       height="20px"
                       color="primary"
                       dark>
                    <span style="font-size:8px">Institutions</span>
                </v-btn>

                <v-btn style="position: absolute;top: 590px;left:340px"
                       width="80px"
                       height="20px"
                       color="primary"
                       dark>
                    <span style="font-size:8px">Sections</span>
                </v-btn>


                <v-btn style="position: absolute;top: 500px;left:440px"
                       width="88px"
                       height="22px"
                       color="primary"
                       dark>
                    <span style="font-size:9px">Authorities</span>
                </v-btn>

                <v-btn style="position: absolute;top:425px;left:555px"
                       color="primary"
                       width="250px"
                       height="25px"
                       dark>
                     <span style="font-size:11px">Ministry of
                         Road Dev. & Transport</span>
                </v-btn>

                <v-btn style="position: absolute;top:500px;left:555px"
                       width="88px"
                       height="22px"
                       color="primary"
                       dark>
                    <span style="font-size:9px">Department</span>
                </v-btn>

                <v-btn style="position: absolute;top: 555px;left:612px"
                       width="80px"
                       height="20px"
                       color="primary"
                       dark>
                    <span style="font-size:8px">Institutions</span>
                </v-btn>

                <v-btn style="position: absolute;top: 590px;left:612px"
                       width="80px"
                       height="20px"
                       small
                       color="primary"
                       dark>
                    <span style="font-size:8px">Sections</span>
                </v-btn>


                <v-btn style="position: absolute;top: 500px;left:716px"
                       width="88px"
                       height="22px"
                       color="primary"
                       dark>
                    <span style="font-size:9px">Authorities</span>
                </v-btn>



                <v-btn style="position: absolute;top: 425px;left:825px"
                       width="250px"
                       height="25px"
                       color="primary"
                       dark>
                    <span style="font-size:11px">Ministry of
                        Local Government</span>
                </v-btn>

                <v-btn style="position: absolute;top:500px;left:825px"
                       width="88px"
                       height="22px"
                       color="primary"
                       dark>
                    <span style="font-size:9px">Department</span>
                </v-btn>

                <v-btn style="position: absolute;top: 555px;left:886px"
                       width="80px"
                       height="20px"
                       color="primary"
                       dark>
                    <span style="font-size:8px">Institutions</span>
                </v-btn>

                <v-btn style="position: absolute;top: 590px;left:886px"
                       width="80px"
                       height="20px"
                       color="primary"
                       dark>
                    <span style="font-size:8px">Sections</span>
                </v-btn>


                <v-btn style="position: absolute;top: 500px;left:990px"
                       width="88px"
                       height="22px"
                       color="primary"
                       dark>
                    <span style="font-size:9px">Authorities</span>
                </v-btn>





                <v-btn style="position: absolute;top: 425px;left:1100px"
                       width="250px"
                       height="25px"
                       color="primary"
                       dark>
                    <span style="font-size:11px">Ministry of
                        Agriculture</span>
                </v-btn>

                <v-btn style="position: absolute;top:500px;left:1100px"
                       width="88px"
                       height="22px"
                       color="primary"
                       dark>
                    <span style="font-size:9px">Department</span>
                </v-btn>

                <v-btn style="position: absolute;top: 555px;left:1160px"
                       width="80px"
                       height="20px"
                       color="primary"
                       dark>
                    <span style="font-size:8px">Institutions</span>
                </v-btn>

                <v-btn style="position: absolute;top:590px;left:1160px"
                       width="80px"
                       height="20px"
                       small
                       color="primary"
                       dark>
                    <span style="font-size:8px">Sections</span>
                </v-btn>


                <v-btn style="position: absolute;top: 500px;left:1260px"
                       width="88px"
                       height="22px"
                       small
                       color="primary"
                       dark>
                    <span style="font-size:9px">Authorities</span>
                </v-btn>


<!--                &lt;!&ndash;arrows&ndash;&gt;-->
<!--                &lt;!&ndash;right side arrows        &ndash;&gt;-->
<!--                &lt;!&ndash;Governor arrow&ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 78px;left:638px">&#8594;</span>-->
<!--                &lt;!&ndash;Governor Secretariat arrow&ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 153px;left:938px">&#8594;</span>-->
<!--                &lt;!&ndash;Council Secretariat arrow&ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 192px;left:938px">&#8594;</span>-->
<!--                &lt;!&ndash;PPSC Secretary arrow &ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 236px;left:938px">&#8594;</span>-->

<!--                &lt;!&ndash;downside arrows        &ndash;&gt;-->
<!--                &lt;!&ndash;Chief Secretary Office arrow&ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 272px;left:703px">&#8595;</span>-->
<!--                &lt;!&ndash;Ministry of Education down arrow&ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 510px;left:133px">&#8595;</span>-->
<!--                &lt;!&ndash;Department down arrow&ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 582px;left:47px">&#8595;</span>-->
<!--                &lt;!&ndash;Authorities down arrow&ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 582px;left:223px">&#8595;</span>-->
<!--                &lt;!&ndash;Ministry of Health down arrow&ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 510px;left:423px">&#8595;</span>-->
<!--                &lt;!&ndash;Department down arrow&ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 582px;left:337px">&#8595;</span>-->
<!--                &lt;!&ndash;Authorities down arrow&ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 582px;left:513px">&#8595;</span>-->
<!--                &lt;!&ndash;Ministry of Road Dev. & Transport down arrow&ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 510px;left:703px">&#8595;</span>-->
<!--                &lt;!&ndash;Department down arrow&ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 582px;left:621px">&#8595;</span>-->
<!--                &lt;!&ndash;Authorities down arrow&ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 582px;left:798px">&#8595;</span>-->
<!--                &lt;!&ndash;Ministry of Local Government down arrow&ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 510px;left:993px">&#8595;</span>-->
<!--                &lt;!&ndash;Department down arrow&ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 582px;left:913px">&#8595;</span>-->
<!--                &lt;!&ndash;Authorities down arrow&ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 582px;left:1091px">&#8595;</span>-->
<!--                &lt;!&ndash;Ministry of Agriculture down arrow&ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 510px;left:1289px">&#8595;</span>-->
<!--                &lt;!&ndash;Department down arrow&ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 582px;left:1201px">&#8595;</span>-->
<!--                &lt;!&ndash;Authorities down arrow&ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 582px;left:1377px">&#8595;</span>-->
<!--                &lt;!&ndash;        left arrows&ndash;&gt;-->
<!--                &lt;!&ndash;       Provincial Public Service Commission left arrow&ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 244px;left:442px">&#8592;</span>-->
<!--                &lt;!&ndash;Deputy Chief Secretary Admin left arrow&ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 294px;left:425px">&#8592;</span>-->
<!--                &lt;!&ndash;Deputy Chief Secretary Personnel & Training left arrow&ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 329px;left:425px">&#8592;</span>-->
<!--                &lt;!&ndash;Deputy Chief Secretary Finance left arrow&ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 363px;left:425px">&#8592;</span>-->
<!--                &lt;!&ndash;Deputy Chief Secretary Planning left arrow&ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 397px;left:425px">&#8592;</span>-->
<!--                &lt;!&ndash;Deputy Chief Secretary Engineering left arrow&ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 433px;left:425px">&#8592;</span>-->
<!--                &lt;!&ndash;Internal Audit left arrow&ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 466px;left:425px">&#8592;</span>-->

<!--                &lt;!&ndash;        up side arrow&ndash;&gt;-->
<!--                &lt;!&ndash;Ministry of Education up arrow&ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 630px;left:47px">&#8593;</span>-->
<!--                &lt;!&ndash;Ministry of Health up arrow&ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 630px;left:338px">&#8593;</span>-->
<!--                &lt;!&ndash;Ministry of Road Dev. & Transport up arrow&ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 630px;left:621px">&#8593;</span>-->
<!--                &lt;!&ndash;Ministry of Local Government up arrow&ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 630px;left:913px">&#8593;</span>-->
<!--                &lt;!&ndash;Ministry of Agriculture up arrow&ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 630px;left:1201px">&#8593;</span>-->

                <!--        dotted line-->
                <!--dotted line province council to council sectarist-->
                <!--        horizontal-->
                <div class = "new" style="font-size:25px;position: absolute;top: 108px;left:445px;width: 393px;height: 290px"></div>
                <!--                                     vertical-->
                <div class = "ver" style="font-size:25px;position: absolute;top: 108px;left:838px;width: 400px;height: 38px"></div>
                <!--================================================================================================================================        horizontal-->
                <div class = "new" style="font-size:25px;position: absolute;top: 144px;left:839px;width: 120px;height: 290px"></div>

                <!--        governer dotted line to secatary-->
                <!--        horizontal-->
                <div class = "new" style="font-size:25px;position: absolute;top: 50px;left:755px;width: 286px;height: 290px"></div>
                <!--vertical-->
                <div class = "ver" style="font-size:25px;position: absolute;top: 50px;left:1040px;width: 400px;height: 50px"></div>




                <div class = "new" style="font-size:25px;position: absolute;top: 191px;left:287px;width: 757px;height: 290px"></div>

                <div class = "ver" style="font-size:25px;position: absolute;top: 180px;left:1042px;width: 400px;height: 12px"></div>
<!--                <div class = "ver" style="font-size:25px;position: absolute;top: 20px;left:288px;width: 400px;height: 12px"></div>-->
<!--                &lt;!&ndash;        council left arrow&ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 204px;left:938px">&#8594;</span>-->
<!--                &lt;!&ndash;        secatary up side arrow&ndash;&gt;-->
<!--                <span style="font-size:25px;position:absolute;top: 265px;left:1041px">&#8593;</span>-->

            </v-app-bar>
        </v-card>




    </v-app>
</template>

<script>
import {gmapApi} from "vue2-google-maps";
import $ from 'jquery'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
    name: "card",
    components:{
        Loading
    },

    data () {

        return {
            fullScreenLoader:false,
            drawer: null,



            window: {
                width: 0,
                height: 0,
                lower_height:0,
                mapheight:0,
                mapwidth:0,
            },


        }},

    mounted(){

    },

    created() {
        window.addEventListener('resize', this.handleResize);
        this.handleResize();
        // alert(this.window.width)
    },

    destroyed() {
        window.removeEventListener('resize', this.handleResize)
    },

    methods: {

        handleResize() {
            this.window.width = window.innerWidth;
            this.window.height = window.innerHeight;
            this.window.lower_height = window.innerHeight-15;
        },

        goToMap(userType){
            switch (userType) {
                case 'Governor': window.location.href = '/dashboard';break;
            }
        },

        logout(){
            window.setLogout();
        },
    }
}
</script>

<style scoped>
.vertical {
    border-left: 2.5px solid black;
    position:absolute;}

.new {
    font-size:25px;
    border-top: 2.5px dashed black;
}

.ver{

    border-left: 2.5px dashed black;

}

.btn{


}
.spa{content: "\2192";
    border-left: 2.5px dashed black;
}

span {
    content: "\2192";
}
.v-card--reveal {
    bottom: 0;
    opacity: 1 !important;
    position: absolute;
    width: 100%;
}
.abc{
    font-size:small;
    color:black;
    font-family: Roboto;
    align-content: center;
}
.box{
    font-size: small;
}
</style>
