<template>
    <div id="app">
        <loading :active.sync="fullScreenLoader" :can-cancel="false" loader="spinner" color="#0000FF" :height="70" :width="70" :is-full-page="true"></loading>
        <v-toolbar style="height: 28px">

            <v-toolbar-title   style="margin-top: 5px;">
                <!--western province logo-->
                <v-avatar tile width="31" style="margin-bottom: 42px;margin-left: 1px;">
                    <img src="/../img/National_Logo2.png" alt="western province logo" width="50px" height="20px">
                </v-avatar>

                <v-avatar tile width="54" style="position: absolute;bottom: 26px;left: 44px;">
                    <img src="/../img/title.png" alt="Western Province Flag (SRI_LANKA)" width="200%" height="10%">
                </v-avatar>
            </v-toolbar-title>

            <v-toolbar-title style="position: absolute;left: 105px;top:4px;font-size: 13px;font-family:Verdana">
                <span>  Western Province Governors Office</span></v-toolbar-title>
            <v-toolbar-title>

                <v-text-field style="position: absolute;left: 1025px;bottom: 18px;width: 272px;" hide-details class="ml-3" placeholder="Type Address" single-line
                              clear-icon="mdi-close-circle" clearable solo flat hide-no-data v-model="searchAddress" id="search_address_house_top">
                </v-text-field>
                <v-icon style="position: absolute;top: 6.5px;right: 62px" small>search</v-icon>
            </v-toolbar-title>



        <!--==============================Home button===============================================-->
            <v-spacer></v-spacer>
            <v-btn small icon @click="gotoHome" style="position: absolute;bottom: 36px;right: 24px" >
                <v-icon small>home</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn small icon @click="logout" style="margin-bottom: 36px;padding-right: 1px" >
                <v-icon small>exit_to_app</v-icon>
            </v-btn>


            <v-progress-linear :active="toolBarLoader" :indeterminate="true" absolute bottom color="grey darken-3"></v-progress-linear>
        </v-toolbar>

        <div id="searchBarDiv" style="margin-top: 15px;margin-left:15px;z-index: 1">
            <template >
                <div v-show="showSearchBar">
                    <v-expansion-panels dense  v-model="chartPanel">
                        <v-expansion-panel v-model="chartPanel">
                            <v-expansion-panel-header>
                                Quick Menu
                            </v-expansion-panel-header>
                            <v-expansion-panel-content>

                                <v-tabs show-arrows>
                                    <v-tab  style="font-size: 10px !important; padding: 0 4px 0 4px;height: 25px">Statistics</v-tab>
                                    <v-tab style="font-size: 10px !important; padding: 0 4px 0 4px;height: 25px">Boundary</v-tab>
                                    <v-tab style="font-size: 10px !important; padding: 0 4px 0 4px;height: 25px">Layers</v-tab>
                                    <!--  CHART   -->
                                    <v-tab-item style="margin-left: -10px">
                                        <CategoryChart />
                                        <v-card-text class="font-weight-bold gray-text text-center" style="font-size: 10px !important;">
                                            <v-row  no-gutters>
                                                <v-col>
                                                    <v-checkbox  dense hide-details color="#2196F3"  @change="visibleEmployeeByCategory('Education',$event)" label="Education"></v-checkbox>
                                                </v-col>
                                                <v-col>
                                                    <v-checkbox dense hide-details color="#009688"  @change="visibleEmployeeByCategory('Health',$event)" label="Health" style="margin-left: 5px"></v-checkbox>
                                                </v-col>
                                                <v-col>
                                                    <v-checkbox dense hide-details color="#F44336"  @change="visibleEmployeeByCategory('Ministry',$event)" label="Ministry" style="margin-left: 5px"></v-checkbox>
                                                </v-col>
                                            </v-row>
                                            <v-row no-gutters>
                                                <v-col><strong>{{getStats.education_count}}</strong></v-col>
                                                <v-col><strong>{{getStats.health_count}}</strong></v-col>
                                                <v-col><strong>{{getStats.ministry_count}}</strong></v-col>
                                            </v-row>
                                            <v-row no-gutters>
                                                <v-col>
                                                    <v-btn  color="primary"  x-small   @click="showHideEmployeeTable = true" >
                                                        <span style="font-size:8px"> employee details</span>
                                                    </v-btn>
                                                </v-col>
                                                <v-col>
                                                    <v-btn  color="purple"  x-small  dark @click="goToDataCollect" >
                                                        <span style="font-size:8px">add new employee</span>
                                                    </v-btn>
                                                </v-col>
                                            </v-row>

                                        </v-card-text>
                                    </v-tab-item>
                                    <!--  Boundary   -->
                                    <v-tab-item>
                                        <v-card  flat>
<!--                                            <v-select class="teboxr" style="width: 275px" outlined solo dense color="green darken-4"  v-model="selectedTypeofFarming" :items="typeofFarmingList" label="Type" required></v-select>-->

                                            <v-toolbar style="height: 24px;" elevation="0"  color="dark">
                                                <v-checkbox label="Employees"  style="margin-top:0" color="primary" v-model="employeeOnMap" @click.native.stop="" ></v-checkbox>
                                                <v-checkbox label="Cluster"  style="margin-top:0;margin-left: 10px" color="primary" v-model="showHideCluster" @click.native.stop="" ></v-checkbox>
                                                <v-checkbox color="primary" style="margin-top:0;margin-left: 10px" v-model="showHideBoundary" @click.native.stop="showBoundaries(showHideBoundary)" label="Boundary"></v-checkbox>
                                            </v-toolbar>
                                            <v-card-text v-if="showHideBoundary">
                                                <v-select class="teboxr" style="height: 5px" dense outlined :items="['All','Colombo','Kalutara','Gampaha']" label="District" :loading="selectedDistrictLoader" @change="setMapBoundToDistrict(selectedDistrict.title)"  v-model="selectedDistrict.title"></v-select>
                                                <v-select class="teboxr" style="height: 5px" dense outlined clearable :items="DSDList" label="DSD" v-model="selectedDSD.title" @change="setMapBoundToDSD(selectedDSD.title)" :loading="selectedDSDLoader" ></v-select>
                                                <v-select class="teboxr" style="height: 5px" dense outlined clearable :items="GNDList" label="GND" v-model="selectedGND.title" @change="setMapBoundToGND(selectedGND.title)" :loading="selectedGNDLoader" ></v-select>
                                            </v-card-text>
<!--                                            <v-card-text>-->
<!--                                                <span class="header" >  Employees {{visible_employees.length}} in {{ongoingTitle}}</span>-->
<!--                                            </v-card-text>-->
                                        </v-card>
                                    </v-tab-item>
                                    <!--GIS Locations -->
                                    <v-tab-item>
                                        <v-card flat>
                                            <v-card-text>
                                                <div >
                                                    <v-select class="teboxrr" style="height: 35px;" dense outlined label="  select  category" :items="['anicut','canals','tanks','LeptoAddress','District','DSD','Education','Forest','GND','Health','LandSide','Paddy','RiverBasing','RoadNetworks','SoilType','StreamsNetworks','WaterBody','Employee_Permanent','Employee_Home']" @change="checkLayerType(selectedGISLayer)" v-model="selectedGISLayer"></v-select>
                                                    <v-select class="teboxrr" style="height: 35px;" v-if="isPointLayer" dense outlined label="  select District" multiple v-model="selectedGISDistricts" @change="requestGISLocations('district',selectedGISDistricts)"  :items="districtList"></v-select>
                                                    <v-select class="teboxrr" style="height: 35px;" v-if="isPointLayer" dense outlined label="  select DSD" multiple v-model="selectedGISDSD" @change="requestGISLocations('dsd',selectedGISDSD)"  :items="DSDList"></v-select>
                                                    <v-select class="teboxrr" style="height: 35px;" v-if="isPointLayer" dense outlined label="  select GND" multiple v-model="selectedGISGND"  :items="GNDList"></v-select>
                                                    <v-btn style="width: 75px;height: 18px" color="primary" @click="isPointLayer?requestGISLayerDataset():overlayGISJson(selectedGISLayer,true)" :loading="addToMapLoader"><span style="font-size:8px"> Apply on Map </span></v-btn>
                                                    <div style="margin-top: 15px;height: 150px;overflow-y: scroll" class="scroller" >
                                                        <v-card outlined v-for="(item , key) in selectedLayers" style="margin-top: 15px;" :key="key">
                                                            <v-btn  color="error" small icon style="position:absolute; top: 0;right:0" @click="item.isPointLayer?removeLayer(item.category) : removeGeoJson(item.category)"> <v-icon small>cancel</v-icon> </v-btn>
                                                            <v-card-text>
                                                                <v-row style="margin-left: 15px">
                                                                    <v-switch dense input-value="true" @change="item.isPointLayer?showHideGISLayer(item.category,$event):overlayGISJson(item.category,$event)" hide-details :label="item.category"></v-switch>
                                                                    <v-avatar size="30" v-if="item.isPointLayer" tile style="margin-top: 15px;margin-left: 5px;"><v-img :src="item.icon"></v-img></v-avatar>
                                                                </v-row>
                                                            </v-card-text>
                                                        </v-card>
                                                    </div>
                                                </div>
                                            </v-card-text>
                                        </v-card>
                                    </v-tab-item>
                                </v-tabs>

                            </v-expansion-panel-content>
                        </v-expansion-panel>
                    </v-expansion-panels>
                </div>
            </template>


            <!--===============================================================Employee data list==============================================-->
            <v-dialog v-model="showHideEmployeeTable"  max-width="620"  persistent>
                <template >
                    <v-card flat>
                        <v-card-title style="cursor: grab">Employee Details</v-card-title>
                        <v-toolbar elevation="0"  color="dark">
                            <v-text-field flat solo prepend-icon="search" placeholder="Search Employee" v-model="searchEmployee" hide-details></v-text-field>
                        </v-toolbar>
                        <v-card-text class="pa-0">
                            <v-data-table :headers="headers"
                                          :items="employees"
                                          item-key="id"
                                          loading-text="Loading... Please wait" :search="searchEmployee"
                                          :single-select="true" :page.sync="pageAll"
                                          @page-count="pageCountAll = $event" :items-per-page="itemsPerPage"
                                          hide-default-footer hide-default-header>

                                <template v-slot:item.locate="{ item }">
                                    <v-btn icon color="primary" @click="gotoXY(item.lat,item.lng,20)">
                                        <v-icon>my_location</v-icon>
                                    </v-btn>
                                </template>

                                <template v-slot:expanded-item="{ headers, item }">
                                    <td colspan="5"></td>
                                </template>
                            </v-data-table>
                            <v-pagination total-visible="3" circle v-model="pageAll" :length="pageCountAll"></v-pagination>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn small @click="showHideEmployeeTable = false">close</v-btn>
                        </v-card-actions>
                    </v-card>
                </template>
            </v-dialog>
        </div>


        <!--===============================================================MAP==============================================-->
        <div>
            <!--*****************************************************************2ND COLUMN****************************************************************-->
            <GmapMap v-if="window.width>768" :center="center" :zoom="7.8"
                     v-bind:style="{ 'width': window.mapwidth+'px','height':window.mapheight+'px','margin-top':0+'px' }" :options="mapOptions"
                     ref="mapDiv" id="map_canvas">

                <GmapCluster v-if="showHideCluster">
                    <GmapMarker v-for="(item, key) in visibleEmployees"  :key="'Q'+key" :icon="setMapIcon(item)" :position="getPosition(item,'Employee')" :clickable="true" @click="toggleInfoJsonMarker(item.lat,item.lng , item, key,'Employee')" />
                </GmapCluster>
                <GmapMarker v-else v-for="(item, key) in visibleEmployees"  :key="'Q'+key" :icon="setMapIcon(item)" :position="getPosition(item,'Employee')" :clickable="true" @click="toggleInfoJsonMarker(item.lat,item.lng , item, key,'Employee')" />
                <GmapMarker v-for="(item, key) in gisLayer" :key="'GISlayer'+key"  :icon="item.icon" :position="getPosition(item,'GISLayers')" :clickable="true" @click="toggleInfoJsonMarker(item.lat,item.lng,item, key,'GISLayers')" />
                <GmapInfoWindow :options="infoOptions" :position="infoPosition" :opened="infoOpened" :content="infoContent"  @closeclick="infoOpened=false"></GmapInfoWindow>
            </GmapMap>
            <GmapMap v-else :center="center" :zoom="7.8"
                     v-bind:style="{ 'width': window.width -15+'px','height':window.mapheight+'px','margin-top':0+'px' }"
                     :options="mapOptions"
                     ref="mapDiv"
                     id="map_canvas_mobile">
                <GmapCluster v-if="showHideCluster">
                    <GmapMarker v-for="(item, key) in visibleEmployees"  :key="'Q'+key" :icon="setMapIcon(item)" :position="getPosition(item,'Employee')" :clickable="true" @click="toggleInfoJsonMarker(item.lat,item.lng , item, key,'Employee')" />
                </GmapCluster>
                <GmapMarker v-else v-for="(item, key) in visibleEmployees"  :key="'Q'+key" :icon="setMapIcon(item)" :position="getPosition(item,'Employee')" :clickable="true" @click="toggleInfoJsonMarker(item.lat,item.lng , item,  key,'Employee')" />

                <GmapInfoWindow :options="infoOptions" :position="infoPosition" :opened="infoOpened" :content="infoContent"  @closeclick="infoOpened=false"></GmapInfoWindow>
            </GmapMap>
        </div>
        <v-snackbar v-model="snackbar" :multi-line="false" :color="snackColor">{{ snackMessage }}</v-snackbar>


        <!--====================================Bottom panel Btn============================================================-->

        <div>
            <v-fab-transition>
                <v-btn style="top: 90% !important;"  small dark color="blue accent-2" class="v-btn--example" bottom right absolute @click="bottompanel = !bottompanel">
                    Module&nbsp;<v-icon>mdi-chemical-weapon</v-icon>
                </v-btn>
            </v-fab-transition>
        </div>
        <!--============================================================Bottom panel=======================================================-->
        <v-dialog v-model="bottompanel" fullscreen hide-overlay transition="dialog-bottom-transition">
            <v-card tile solo dense style="height: 100% !important">
                <v-card tile dense>
                    <v-card-actions>
                        <v-btn bottom tile x-small right color="blue darken-4" dark @click="bottompanel = false">
                            Close &nbsp;<v-icon x-small>mdi-close</v-icon>
                        </v-btn>
                    </v-card-actions>
                </v-card>
                <v-card tile >
                    <v-tabs next-icon="mdi-arrow-right-bold-box-outline" prev-icon="mdi-arrow-left-bold-box-outline" show-arrows background-color="blue darken-4" center-active dark  v-model="tabRegistration"  show-arrows>
                        <v-tab style="font-size: 10px !important;">Organization stretcher</v-tab>
                        <v-tab style="font-size: 10px !important;">Personal Information</v-tab>
                        <v-tab style="font-size: 10px !important;">Carder Information</v-tab>
                        <v-tab style="font-size: 10px !important;">Performance Evaluation</v-tab>
                        <v-tab style="font-size: 10px !important;">Promotion</v-tab>
                        <v-tab style="font-size: 10px !important;">Training</v-tab>
                        <v-tab style="font-size: 10px !important;">Disciplinary</v-tab>
                        <v-tab style="font-size: 10px !important;">Transfer</v-tab>
                        <v-tab style="font-size: 10px !important;">Welfare and Benefit</v-tab>
                        <v-tab style="font-size: 10px !important;">Time and Attendance</v-tab>
                        <v-tab style="font-size: 10px !important;">Loan</v-tab>
                        <v-tab style="font-size: 10px !important;">Leave</v-tab>
                        <v-tab style="font-size: 10px !important;">Retirement</v-tab>
                        <v-tabs-slider color="white"></v-tabs-slider>
                        <v-tab-item>
                            <OrganizationStructure />
                        </v-tab-item>
                        <v-tab-item>
                               <PersonalInformation />
                        </v-tab-item>
                        <v-tab-item>
                               <CarderInformation />
                        </v-tab-item>
                        <v-tab-item>
                               <PerformanceEvolution />
                        </v-tab-item>
                        <v-tab-item>
                               <Promotion />
                        </v-tab-item>
                        <v-tab-item>
                               <Training />
                        </v-tab-item>
                        <v-tab-item>
                               <Disciplinary />
                        </v-tab-item>
                        <v-tab-item>
                               <Transfer />
                        </v-tab-item>
                        <v-tab-item>
                               <WelfareNBenefits />
                        </v-tab-item>
                        <v-tab-item>
                               <TimeNAttendance />
                        </v-tab-item>
                        <v-tab-item>
                               <Loan />
                        </v-tab-item>
                        <v-tab-item>
                               <Leave />
                        </v-tab-item>
                        <v-tab-item>
                               <Retirement />
                        </v-tab-item>
                    </v-tabs>
                </v-card>

            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import { mapState } from 'vuex';
    import { store } from './store/store';
    import * as geolib from 'geolib';
    import * as rcolor from "rcolor";
    import { Chat } from 'vue-quick-chat'
    import 'vue-quick-chat/dist/vue-quick-chat.css';
    import GmapCluster from 'vue2-google-maps/dist/components/cluster';
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';

    import VueWeather from "vue-weather-widget";
    import CategoryChart from "./CategoryChart";
    import OrganizationStructure from "./FormSubmission/OrganizationStructure";
    import PersonalInformation from "./FormSubmission/PersonalInformation";
    import CarderInformation from "./FormSubmission/CarderInformation";

    import Promotion from "./FormSubmission/Promotion";
    import Training from "./FormSubmission/Training";
    import Disciplinary from "./FormSubmission/Disciplinary";
    import Transfer from "./FormSubmission/Transfer";
    import WelfareNBenefits from "./FormSubmission/WelfareNBenefits";
    import TimeNAttendance from "./FormSubmission/TimeNAttendance";
    import Loan from "./FormSubmission/Loan";
    import Leave from "./FormSubmission/Leave";
    import Retirement from "./FormSubmission/Retirement";
    import PerformanceEvolution from "./FormSubmission/PerformanceEvolution";
    const exhale = ms =>
        new Promise(resolve => setTimeout(resolve, ms));

    export default {
        components:{
            PerformanceEvolution,
            Retirement,
            Leave,
            Loan,
            TimeNAttendance,
            WelfareNBenefits,
            Transfer,
            Disciplinary,
            Training,
            Promotion,

            CarderInformation,
            PersonalInformation,
            OrganizationStructure,
            CategoryChart,
            store,
            geolib,
            Chat,
            GmapCluster,
            Loading,
            VueWeather,
        },
        data: () => ({
            window: {
                mapwidth: 0,
                mapheight: 0,
                width:0,
                height:0
            },
            dialog:false,
            panel: [0],
            hover:true,
            valid: false,
            center: {lat: 7.9708759, lng:  80.2615532},
            mainPoint: null,
            mapOptions: {
                controlSize: 21,
                zoomControl: true,
                mapTypeControl: true,
                streetViewControl: true,
                scaleControl:true,
                fullscreenControl: false,
                zoomControlOptions: {
                    position: 7,
                },
                streetViewControlOptions: {
                    position: 7,
                },
                mapTypeControlOptions: {
                    position: 3
                },
                fullscreenControlOptions: {
                    position: 3
                },
                scaleControlOptions: {
                    position: 7
                },
            },
            GMap: undefined,
            legendCard:true,
            progressDialog:true,
            district:null,
            dsd:[],
            gnd:[],
            infoPosition: null,
            infoContent: null,
            infoOpened: false,
            infoCurrentKey: null,
            infoOptions: null,
            gisLayerCarouselCycle:false,
            selectedGISLayerList:[],
            pageCountAll:0,
            carouselLoading:true,
            searchAddress:'',
            tabRegistration:0,
            searchAddressObj:{},
            showContextMenu:true,
            bottompanel:false,
            snackbar:false,
            snackColor:'',
            snackMessage:'',
            addressLoading:false,
            headers: [
                {text: 'Category', value: 'category'},
                {text: 'SubCategory', value: 'sub_category'},
                {text: 'Name', value: 'O_Name'},
                {text: 'HOD', value: 'HOD'},
                {text: 'Locate', value: 'locate'},
            ],
            farms:[],
            employeeTableLoading:false,
            searchEmployee:'',
            tempsearchEmployee:'',
            itemsPerPage:10,
            employees:[],
            selectedEmployee:null,
            employeeOnMap:false,
            tempemployeeOnMap:false,
            showHideBoundary:false,
            fullScreenLoader:false,
            showHideEmployeeTable:false,
            showHideCluster:false,
            chartPanel:null,
            pageAll:1,
            employeesIcon : {url: '/img/marker/Quarantine.png',},
            GNDList:[],
            DSDList:[],
            selectedGND:{title:'',employees:null},
            selectedDSD:{title:'',employees:null},
            selectedDistrict: {title:'',employees:null},
            selectedDistrictLoader:false,
            selectedGNDLoader:false,
            selectedDSDLoader:false,
            visible_employees:[],
            ongoingTitle:'Western Province',
            weatherLocation:{lat:"6.9271",lng:"79.8612"},
            toolBarLoader:false,
            selectedGISLayer:'',
            districtList:['colombo','kalutara','gampaha'],
            selectedLayerLoading:false,
            selectedLayers:[],
            selectedGISDistricts:[],
            selectedGISDSD:'',
            selectedGISGND:'',
            addToMapLoader:false,
            gisLayersonMap:[],
            isPointLayer:false,
            geoJsonLayers:{
                District:null,
                DSD:null,
                GND:null,
                Forest:null,
                Education:null,
                Health:null,
                LandUsed:null,
                Paddy:null,
                RiverBasing:null,
                LandSide:null,
                RoadNetworks:null,
                SoilType:null,
                StreamsNetworks:null,
                WaterBody:null,
            },
            selectedTypeofFarming:'',
            typeofFarmingList:[]
        }),
        computed: {
            ...mapState({
                gmap: state => state.gmap,
                httpheader: state => state.httpheader,
                searchBar: state => state.searchBar,
                geocode: state => state.geocode,
                stats: state => state.stats,
                selectedLocation: state => state.selectedLocation,
                gisLayers: state => state.gisLayers,
            }),

            showSearchBar () {
                return store.state.searchBar
            },

            currentLocation(){
                if(store.state.geocode) return store.state.geocode;
            },

            farmPoints(){
                return this.farms;
            },
            employeesPoints(){
                if(this.employeeOnMap)
                    return this.employees;
                else
                    return  [];
            },

            getStats(){
                return store.state.stats
            },
            visibleEmployees(){
                if(this.employeeOnMap)
                    return this.visible_employees;
                else
                    return [];
            } ,

            mapLocation(){
                return store.state.selectedLocation;
            },
            gisLayer(){
                return store.state.gisLayers
            },
        },

        created() {
            //---------------------------setting user detail and header to axio request-----
            let laravel = JSON.parse(window.Laravel);
            //

            const header = {
                'X-CSRF-TOKEN': laravel.csrfToken,
                'X-Requested-With': 'XMLHttpRequest'
            };
            let payload = {
                id:laravel.user.id,
                header:header
            };
            store.commit('setHttpHeader',payload);
            window.addEventListener('resize', this.handleResize);
            this.handleResize();
            // this.fullScreenLoader = true;
            // this.showBoundaries(true);
        },
        watch: {

            currentLocation(){
                this.getGNDData();
            },
            mapLocation(data){
                if (data && data.lat) {
                    this.weatherLocation.lat = "" + data.lat;
                    this.weatherLocation.lng = "" + data.lng;
                }
            }
        },
        destroyed() {
            window.removeEventListener('resize', this.handleResize)
        },

        mounted() {


            console.log(this.$refs);
            this.$refs.mapDiv.$mapPromise.then((map) => {
                this.GMap = map;
                store.commit('changeMap',map);

                this.init();
                this.mapClickListener();

                console.log('Map page mounted')
                console.log("fucking map",store.state.gmap);
            });



            store.commit('setSearchBar',false);
        },
        methods:{
            //---------------------------Handling the user window resize event--------------------------------
            handleResize() {
                this.window.mapwidth = window.innerWidth;
                this.window.mapheight = window.innerHeight-20;

                this.window.width = window.innerWidth;
                this.window.height = window.innerHeight;
            },
            //-----------------------initialising main component to google map-----------------------------------
            init(){
                let map = this.GMap;

                map.controls[google.maps.ControlPosition.LEFT_TOP].push(
                    document.getElementById('searchBarDiv')
                );
                // map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(
                //     document.getElementById('legend')
                // );





                let searchAddress_input_home = document.getElementById('search_address_house');
                let searchAddress_input_identified = document.getElementById('search_address_house_top');
                // document.getElementById('search_address_house');
                let searchAddress_autocomplete_home = new google.maps.places.Autocomplete(searchAddress_input_home);
                let searchAddress_autocomplete_identified = new google.maps.places.Autocomplete(searchAddress_input_identified);
                searchAddress_autocomplete_home.addListener('place_changed', function() {
                    let place = searchAddress_autocomplete_home.getPlace();
                    self.searchAddress_obj = {
                        place
                    };
                    map.setCenter({lat: place.geometry.location.lat(), lng:place.geometry.location.lng()});
                    map.setZoom(18.9);
                    console.log(place.geometry.location.lat());
                    let payload ={
                        lat:place.geometry.location.lat(),
                        lng:place.geometry.location.lng(),
                        address:searchAddress_input_home.value,
                        type:'House'
                    };
                    // store.commit('setGeocode',payload);
                });
                searchAddress_autocomplete_identified.addListener('place_changed', function() {
                    let place = searchAddress_autocomplete_identified.getPlace();
                    self.searchAddress_obj = {
                        place
                    };
                    map.setCenter({lat: place.geometry.location.lat(), lng:place.geometry.location.lng()});
                    map.setZoom(18.9);
                    console.log(place.geometry.location.lat());
                    let payload ={
                        lat:place.geometry.location.lat(),
                        lng:place.geometry.location.lng(),
                        address:searchAddress_input_identified.value,
                        type:'employees'
                    };
                    // store.commit('setGeocode',payload);
                });


                this.getEmployeeData();
                // this.getGISData();
            },

            getEmployeeData(){
                this.toolBarLoader = true;
                let laravel = JSON.parse(window.Laravel);
                this.statSkeltonLoading = true;
                this.employeeTableLoading = true;
                this.fullScreenLoader = true;
                const header = {
                    'X-CSRF-TOKEN': laravel.csrfToken,
                    'X-Requested-With': 'XMLHttpRequest'
                };

                this.myLocationIcon  = {
                    url: '/img/marker/bluedot_retina.png',
                    size: new google.maps.Size(30, 30),
                    anchor: new google.maps.Point(9, 14),
                    origin: new google.maps.Point(0, 0),
                    scaledSize: new google.maps.Size(20, 20)
                };
                this.employeesIcon = {
                    url: '/img/marker/user_pin.png',
                    size: new google.maps.Size(50, 50),
                    anchor: new google.maps.Point(9, 14),
                    origin: new google.maps.Point(0, 0),
                    scaledSize: new google.maps.Size(15, 25),
                    labelOrigin: {x: -7, y: 0}
                };
                axios.post('/api/getEmployeeData',{id:laravel.user.id},header)
                    .then(response => {
                        console.log(response.data);
                        this.employees = response.data.employees;
                        this.visible_employees = response.data.employees;
                        setTimeout(() => {
                            store.commit('setSearchBar',true);
                        }, 3000); // toggle after 100 milli seconds


                        console.log(this.employees);
                        // this.approvalPendingEmployees  =[];
                        // console.log(this.approvalPendingEmployees);
                        this.toolBarLoader = false;
                        this.fullScreenLoader = false;
                    }).catch((error) => {
                    this.snackMessage = error;
                    this.snackColor = 'error';
                    this.snackbar = true;
                    this.fullScreenLoader = false;
                    console.log({error});// this will log an empty object with an error property
                    this.this.employeeTableLoading = false;
                    this.toolBarLoader = false;
                });
            },

            gotoXY(lat,lng,zoom,type){
                let map = store.state.gmap;
                let ltlng = {lat: parseFloat(lat), lng:parseFloat(lng)};

                map.setCenter(ltlng);
                // call smoothZoom, parameters map, final zoomLevel, and starting zoom level
                // this.smoothZoom(map, 25, map.getZoom());
                map.setZoom(zoom);
                if (type == 'marker'){
                    let payload = {
                        lat: lat,
                        lng: lng,
                        address: '',
                        type:'XYCOORD'
                    };
                    // store.commit('setGeocode', payload);
                }
            },
            // the smooth zoom function for zoom map smoothly
            smoothZoom (map, max, cnt) {
                if (cnt >= max) {
                    return;
                }
                else {
                    z = google.maps.event.addListener(map, 'zoom_changed', function (event) {
                        google.maps.event.removeListener(z);
                        smoothZoom(map, max, cnt + 1);
                    });
                    setTimeout(function () {
                        map.setZoom(cnt)
                    }, 90); // 80ms is what I found to work well on my system -- it might not work well on all systems
                }
            },

            locateCurrentLocation(){
                let map = this.GMap;
                // Try HTML5 geolocation.
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position) {
                        let pos = {
                            lat: position.coords.lat,
                            lng: position.coords.lng
                        };
                        map.setCenter(pos);
                        map.setZoom(15);
                    });
                }
            },

            //----------------------get position when lat lng given----------------
            getPosition: function(marker,type) {
                let lat,lng;
                return {
                    lat: parseFloat(marker.lat),
                    lng: parseFloat(marker.lng)
                }
            },


            logout(){
                window.setLogout();
            },
            gotoHome(){
               window.location = '/';
            },
            getColor(){
                return rcolor({
                    saturation: 1,
                    value: 0.95
                });
            },
            //**************************************GETTING GND DATA FROM DATABASE & ANALYSE TO SHOW LOCATION INFO******
            getGNDData(){
                let lat = store.state.geocode.lat;
                let lng = store.state.geocode.lng;
                if(lat && lng) {
                    this.gnDetailsSkeltonLoading = true;
                    axios.post('/api/locationInfo', {
                        lat: lat,
                        lng: lng,
                        radius: this.radius
                    }, store.state.httpheader.header).then(response => {
                        // this.districts = [];
                        console.log(response.data);
                        this.userLocation.gnd = response.data.gnd;
                        this.userLocation.dsd = response.data.dsd;
                        this.userLocation.district = response.data.district;
                        this.userLocation.province = response.data.province;
                        this.userLocation.farms = response.data.farms;
                        this.userLocation.employees = response.data.employees;
                        // this.userLocation.gn_name = response.data.gn_name;
                        // this.userLocation.gn_telephone = response.data.gn_telephone;

                        // if(this.userLocation.gnd && this.userLocation.province){
                        //     this.locationSkeltonLoading = false;
                        //     this.gnDetailsSkeltonLoading = false;
                        // }
                        this.getNearestPatient(lat, lng);

                    }).catch((error) => {
                        this.snackMessage = error;
                        this.snackColor = 'error';
                        this.snackbar = true;
                        console.log({error});// this will log an empty object with an error property
                    });
                }else{
                    this.snackMessage = 'No location found! click on map or search address';
                    this.snackColor = 'primary';
                    this.snackbar = true;
                }
            },
            //------------------------show Port Boundaries--------------------
            async showBoundaries(value) {

                let map = store.state.gmap;
                let that = this;

                if (value) {
                    this.fullScreenLoader = true;
                    // map.data.forEach(function (feature) {
                    //     // filter...
                    //     map.data.remove(feature);
                    // });

                    // map.data.forEach(function(feature) {
                    //     // filter...
                    //     map.data.remove(feature);
                    // });
                    // this.dsdMOHCheck = false;
                    let response = await fetch('json/GND_WESTERN.geojson');
                    let data = await response.blob();
                    let metadata = {
                        type: 'text/json'
                    };
                    let file = new File([data], "GND_WESTERN.geojson");


                    let reader = new FileReader();
                    reader.onload = function (e) {
                        that.loadJSONOnMap(e.target.result, 'GND_WESTERN');
                    };
                    reader.onerror = function (e) {
                        console.error(e);
                        that.snackBarTop = true;
                        that.snackBarRight = false;
                        that.snackMessage = 'json file reading fail!';
                        that.snackColor = 'error';
                        that.snackbar = true;
                    };
                    reader.readAsText(file);
                }else{
                    map.data.forEach(function(feature) {
                        //---------------when the feature parent match the file name------------------------------------------
                        map.data.overrideStyle(feature, {
                            visible: false
                        });
                    });
                }
            },
            //--------------------------------------Load json files on map---------------------------------------------------------------
            loadJSONOnMap(geoString,parent){
                // console.log(geoString);

                let geojson = JSON.parse(geoString);

                let map = store.state.gmap;
                let that = this;
                let dataset = [];

                // map.data.loadGeoJson('json/track.geojson');
                try {
                    map.data.addGeoJson(geojson);
                    // this.jsonDialog = false;
                    let bounds = new google.maps.LatLngBounds();
                    let keycount = 0;
                    map.data.setStyle({
                        fillOpacity:0,
                        strokeWeight: 0.5,
                        strokeColor: '#000',
                    });
                    map.data.forEach(function(feature) {
                        //---------------------retrieving current object properties--------------------------------
                        let objSet = feature.j;
                        //----------------------------setting map bounds------------------------------------------
                        that.processPoints(feature.getGeometry(), bounds.extend, bounds);
                        //------------------------------setting paths of the polygons-----------------------------
                        let paths = [];
                        feature.getGeometry().getArray().forEach(function(path){
                            //iterate over the points in the path
                            path.getArray().forEach(function(latLng){
                                //extend the bounds
                                // if(latLng) {
                                let typelat = typeof latLng.lat;
                                let typelng = typeof latLng.lng;
                                if(typelat == 'function' && typelng == 'function') {
                                    paths.push({lat: latLng.lat(), lng: latLng.lng()})
                                }
                            });
                        });
                        map.fitBounds(bounds);
                        //-------------------------------------pushing paths into properties-------------------------
                        objSet.paths = paths;
                        objSet.key = keycount;
                        objSet.parent = parent;
                        feature.parent = parent;
                        // spreadsheetSet.coordinates = JSON.stringify(paths);
                        //-------------------when it's a new feature-------------------------------
                        dataset.push(objSet);
                        keycount++;
                    });
                    //
                    map.data.addListener('click', function(event) {
                        let properties = event.feature.j;
                        let result = _.omit(properties,['Shape_Leng']);
                        console.log(result);
                        // console.log('========================LOCATION===========================');
                        // alert('lat :'+event.latLng.lat() +' , lng :'+event.latLng.lng() );
                        let payload = {
                            lat : event.latLng.lat(),
                            lng : event.latLng.lng(),
                            address:""
                        }
                        store.commit('setSelectedLocation',payload);
                        console.log(event);
                        that.toggleInfoJsonMarker(event.latLng.lat(),event.latLng.lng(),result,result.keycount,'JSON File');
                    });
                    this.fullScreenLoader = false;
                    // this.statSkeltonLoading = false;
                }catch (e) {
                    console.log(e);
                    this.fullScreenLoader = false;
                    that.snackBarTop = false;
                    that.snackBarRight = false;
                    that.snackMessage = 'upload error : '+e.message;
                    that.snackColor = 'error';
                    that.snackbar = true;
                }
            },

            //=========================================================When user click on json file=================================================================
            toggleInfoJsonMarker: function (lat,lng,data, key, type) {
                data = _.omit(data,['paths','key']);
                this.infoPosition = {lat:parseFloat(lat),lng:parseFloat(lng)};
                let contentString =
                    '<div id="iw-container">\n\
                        <div class="iw-content" style="height: 350px;">\
                        <div class="v-data-table  v-data-table--dense v-data-table--fixed-height theme--light">\
                        <div class="v-data-table__wrapper pane scroller">' +
                    '<table class="infoMain">';

                //----------------------looping through the json object property--------------------------
                $.each(data, function(key,value){
                    // console.log(key + "/" + value );
                    contentString +='<tr  style="white-space: nowrap;">' +
                        '<td class="leftInfo"><b>'+key+'</b></td>' +
                        '<td class="rightInfo">' + value + '</td>' +
                        '</tr>';
                });

                contentString +=  '<div>' +
                    '</table>\n\
                </div></div></div></div>';

                this.infoOptions = {
                    pixelOffset: {
                        width: 0,
                        height: -10
                    },
                    content: contentString
                };

                if (this.infoCurrentKey == key) {
                    this.infoOpened = !this.infoOpened;
                } else {
                    this.infoOpened = true;
                    this.infoCurrentKey = key;
                }
            },
            //------------------------Changing map bound to district--------------------------------------
            setMapBoundToDistrict(District){
                let that = this;
                this.selectedDSDLoader = true;
                console.log('loaded District : '+District);
                let map = this.GMap;
                this.DSDList = [];
                this.selectedDSD.title = '';
                that.selectedDSDLoader = false;

                if (District && District !== '' ) {

                    let bounds = new google.maps.LatLngBounds();

                    let employees = _.filter(this.employees,{'district':District});

                    this.selectedDistrict.employees = employees;
                    if (District !== 'All') {
                        this.visible_employees = employees;
                        this.ongoingTitle = District;
                    }
                    else {
                        this.visible_employees = this.employees;
                        this.ongoingTitle = 'Western Province';
                    }

                    map.data.forEach(function (feature) {

                        //---------------when the feature parent match the file name------------------------------------------
                        if (District !== 'All' && feature.getProperty('District') === District) {

                            that.DSDList.push(feature.getProperty('DS_divisio'));
                            //-------------setting map bounds for locate into MOH area--------------------------------------
                            feature.getGeometry().forEachLatLng(function (latlng) {
                                bounds.extend(latlng);
                            });
                            map.data.overrideStyle(feature, {
                                strokeOpacity: 1,
                                strokeWeight: 0.5,
                                strokeColor: '#000',
                            });
                        }else if(District === 'All'){
                            map.data.overrideStyle(feature, {
                                strokeOpacity: 1,
                                strokeWeight: 0.5,
                                strokeColor: '#000',
                            });

                            //----------------------------setting map bounds------------------------------------------
                            that.processPoints(feature.getGeometry(), bounds.extend, bounds);
                        }
                        else{
                            map.data.overrideStyle(feature, {
                                strokeOpacity: 0,
                            });
                        }
                    });
                    map.fitBounds(bounds);
                    District === 'All' ? map.setZoom(10) : map.setZoom(12.5);
                }
            },

            //------------------------Changing map bound to DSD--------------------------------------
            setMapBoundToDSD(DSD){
                let that = this;
                this.selectedGNDLoader = true;
                console.log('loaded DSD : '+DSD);
                let map = this.GMap;
                this.GNDList = [];
                this.selectedGND.title = '';


                if (DSD && DSD !== '') {

                    let bounds = new google.maps.LatLngBounds();

                    let employees = _.filter(this.employees,{'dsd':DSD});
                    this.ongoingTitle = DSD;
                    this.selectedDistrict.employees = employees;
                    this.visible_employees = employees;

                    map.data.forEach(function (feature) {

                        //---------------when the feature parent match the file name------------------------------------------
                        if (feature.getProperty('DS_divisio') === DSD) {

                            that.GNDList.push(feature.getProperty('GND_N'));
                            //-------------setting map bounds for locate into MOH area--------------------------------------
                            feature.getGeometry().forEachLatLng(function (latlng) {
                                bounds.extend(latlng);
                            });
                            map.data.overrideStyle(feature, {
                                strokeOpacity: 1,
                                strokeWeight: 0.5,
                                strokeColor: '#000',
                            });

                        }else{
                            map.data.overrideStyle(feature, {
                                strokeOpacity: 0,
                            });
                        }
                    });
                    that.selectedGNDLoader = false;
                    map.fitBounds(bounds);
                    map.setZoom(13.5);
                }else{
                    this.setMapBoundToDistrict(this.selectedDistrict.title);
                    that.selectedGNDLoader = false;
                }
            },

            //------------------------Changing map bound to GND--------------------------------------
            setMapBoundToGND(GND){
                let that = this;
                this.selectedGNDLoader = true;
                console.log('loaded GND : '+GND);
                let map = this.GMap;

                if (GND && GND !== '') {

                    let bounds = new google.maps.LatLngBounds();
                    this.ongoingTitle = GND;
                    let employees = _.filter(this.employees,{'gnd':GND});

                    this.selectedDistrict.employees = employees;
                    this.visible_employees = employees;

                    map.data.forEach(function (feature) {

                        //---------------when the feature parent match the file name------------------------------------------
                        if (feature.getProperty('GND_N') === GND) {
                            //-------------setting map bounds for locate into MOH area--------------------------------------
                            feature.getGeometry().forEachLatLng(function (latlng) {
                                bounds.extend(latlng);
                            });
                            //------------------------------------run analysis if available---------------------------------
                            map.data.overrideStyle(feature, {
                                strokeOpacity: 1,
                                strokeWeight: 0.5,
                                strokeColor: '#000',
                            });
                        }else{
                            map.data.overrideStyle(feature, {
                                strokeOpacity: 0,
                            });
                        }
                    });
                    that.selectedGNDLoader = false;
                    map.fitBounds(bounds);
                    map.setZoom(15);
                }else{
                    this.setMapBoundToDSD(this.selectedDSD.title);
                }
            },
            /**
             * Process each point in a Geometry, regardless of how deep the points may lie.
             * @param {google.maps.Data.Geometry} geometry The structure to process
             * @param {function(google.maps.LatLng)} callback A function to call on each
             *     LatLng point encountered (e.g. Array.push)
             * @param {Object} thisArg The value of 'this' as provided to 'callback' (e.g.
             *     myArray)
             */
            processPoints(geometry, callback, thisArg) {
                let that = this;
                if (geometry instanceof google.maps.LatLng) {
                    callback.call(thisArg, geometry);
                } else if (geometry instanceof google.maps.Data.Point) {
                    callback.call(thisArg, geometry.get());
                } else {
                    geometry.getArray().forEach(function(g) {
                        that.processPoints(g, callback, thisArg);
                    });
                }
            },
            //---------------------------Map Click event---------------------------------------------
            mapClickListener(){
                let map = this.GMap;
                this.snackMessage = 'Invalid Location Detected';
                this.snackColor = 'error';
                let snackbar = this.snackbar;
                let that = this;
                google.maps.event.addListener(map,"click", function(event) {
                    //----------------------Reverse Geocode---------------------------------
                    let geocoder = new google.maps.Geocoder;

                    geocoder.geocode({'location': {lat: event.latLng.lat(), lng: event.latLng.lng()}}, function (results, status) {
                        if (status === 'OK') {
                            if (results[0]) {
                                let payload = {
                                    lat : event.latLng.lat(),
                                    lng : event.latLng.lng(),
                                    address: results[0].formatted_address
                                }
                                store.commit('setSelectedLocation',payload);
                            } else {
                                snackbar = true;
                            }
                        } else {
                            snackbar = true;
                        }
                    });


                });
            },
            //=============================================SET  GIS Layers==============================================
            requestGISLocations(locationType,location){
                axios.post('/api/gisLayers/byBoundaryTypes', {location_type:locationType,location:location,
                    layer:this.selectedGISLayer,},store.state.httpheader.header)
                    .then(response => {
                        switch (locationType) {
                            case 'district' : this.DSDList = response.data.sub_locations;
                                this.selectedGISDSD = [];
                                break;
                            case 'dsd' : this.GNDList = response.data.sub_locations;
                                this.selectedGISGND = [];break;
                        }
                    }).catch((error) => {
                    this.snackMessage = error;
                    this.snackColor = 'error';
                    this.snackbar = true;
                    this.saveLoader = false;
                    console.log(error);// this will log an empty object with an error property
                });
            },

            requestGISLayerDataset(){
                console.log("requesting point layer ",this.selectedGISLayer);
                let type;
                this.addToMapLoader = true;
                if (this.selectedGISGND && this.selectedGISGND.length>0){
                    type = 'gnd'
                }
                else if (this.selectedGISDSD && this.selectedGISDSD.length>0){
                    type = 'dsd'
                }
                else if (this.selectedGISDistricts && this.selectedGISDistricts.length>0){
                    type = 'district'
                }else{
                    alert('select location (s)');
                }


                axios.post('/api/gisLayers/dataset', {districts:this.selectedGISDistricts,
                    dsds:this.selectedGISDSD,gnds:this.selectedGISGND,location_type:type, layer:this.selectedGISLayer},store.state.httpheader.header)
                    .then(response => {
                        console.log("gis_response",response);

                        let dataset = [];
                        let that = this;
                        $.each(response.data.data,function (key,val) {
                            let url;
                            if (that.selectedGISLayer === 'anicut'){
                                url = 'img/marker/cabin-2.png';
                            }else if(that.selectedGISLayer === 'canals'){
                                url = 'img/marker/administrativeboundary.png';
                            }else if(that.selectedGISLayer === 'Employee_Home'){
                                url = 'img/marker/person.jpg';
                            }else if(that.selectedGISLayer === 'Employee_Permanent'){
                                url = 'img/marker/Safe.png';
                            }else{
                                url = 'img/marker/aquarium.png';
                            }
                            val.icon =  {
                                url: url,
                                size: new google.maps.Size(30, 30),
                                anchor: new google.maps.Point(9, 14),
                                origin: new google.maps.Point(0, 0),
                                scaledSize: new google.maps.Size(20, 20)
                            };
                            val.title =  that.selectedGISLayer;
                            dataset.push(val);
                        });
                        let icon;
                        if (this.selectedGISLayer === 'anicut'){
                            icon = 'img/marker/cabin-2.png';
                        }else if(this.selectedGISLayer === 'canals'){
                            icon = 'img/marker/administrativeboundary.png';
                        }else if(that.selectedGISLayer === 'Employee_Home'){
                            icon = 'img/marker/person.jpg';
                        }else if(that.selectedGISLayer === 'Employee_Permanent'){
                            icon = 'img/marker/Safe.png';
                        }else{
                            icon = 'img/marker/aquarium.png';
                        }
                        this.selectedLayers.push({
                            category: that.selectedGISLayer,
                            icon:icon,
                            dataset:dataset,
                            isPointLayer:true
                        });
                        let oldDataset = store.state.gisLayers;
                        let newDataset;
                        oldDataset && oldDataset.length>0? newDataset = _.concat(dataset,oldDataset): newDataset = dataset;
                        store.commit('setGISLayers',newDataset);
                        this.addToMapLoader = false;
                        this.clearLayerAdd();

                    }).catch((error) => {
                    this.snackMessage = error;
                    this.snackColor = 'error';
                    this.snackbar = true;
                    this.addToMapLoader = false;
                    console.log(error);// this will log an empty object with an error property
                });
            },

            clearLayerAdd(){
                this.selectedGISGND = [];
                this.selectedGISDSD = [];
                this.selectedGISDistricts = [];
                this.selectedGISLayer = '';
            },

            showHideGISLayer(category,visibility){
                console.log("point layer category - "+category+" visibility - "+visibility);
                let layer = _.find(this.selectedLayers,{category:category});
                if (visibility){
                    let oldDataset = store.state.gisLayers;
                    let newDataset;
                    oldDataset && oldDataset.length>0? newDataset = _.concat(layer.dataset,oldDataset): newDataset = layer.dataset;
                    store.commit('setGISLayers',newDataset);
                }else{
                    let oldDataset = store.state.gisLayers;
                    let newDataset = _.reject(oldDataset,{'title':category});
                    store.commit('setGISLayers',newDataset);
                }
            },

            removeLayer(category){
                let index = _.findIndex(this.selectedLayers,{'category':category});
                console.log("fucking index",index)
                this.showHideGISLayer(category,false);
                this.selectedLayers.splice(index,1);

            },

            checkLayerType(layer){
                switch (layer) {
                    case 'anicut' : this.isPointLayer = true;break;
                    case 'canals' : this.isPointLayer = true;break;
                    case 'tanks' : this.isPointLayer = true;break;
                    case 'LeptoAddress' : this.isPointLayer = true;break;
                    case 'Employee_Permanent' : this.isPointLayer = true;break;
                    case 'Employee_Home' : this.isPointLayer = true;break;
                    default : this.isPointLayer = false;
                }
            },
            //----------------------------overlay gis json / geojson layer on map---------------------------------------
            overlayGISJson(category,show){
                console.log("json layers "+category+' - '+show);
                let layer = _.find(this.selectedLayers,{category:category});
                let map = store.state.gmap;

                if (show) {
                    if (!layer) {
                        switch (category) {
                            case 'District' :
                                this.geoJsonLayers.District ? this.geoJsonLayers.District.setMap(map) : this.loadGeoJson('json/District.geojson', 'District', this.geoJsonLayers.District);
                                break;
                            case 'DSD' :
                                this.geoJsonLayers.DSD ? this.geoJsonLayers.DSD.setMap(map) : this.loadGeoJson('json/DSD.geojson', 'DSD', this.geoJsonLayers.DSD);
                                break;
                            case 'GND' :
                                this.geoJsonLayers.GND ? this.geoJsonLayers.GND.setMap(map) : this.loadGeoJson('json/GND_WESTERN.geojson', 'GND', this.geoJsonLayers.GND);
                                break;
                            case 'Forest' :
                                this.geoJsonLayers.Forest ? this.geoJsonLayers.Forest.setMap(map) : this.loadGeoJson('json/Forest.geojson', 'Forest', this.geoJsonLayers.Forest);
                                break;
                            case 'RiverBasing' :
                                this.geoJsonLayers.RiverBasing ? this.geoJsonLayers.RiverBasing.setMap(map) : this.loadGeoJson('json/River_Basing.geojson', 'RiverBasing', this.geoJsonLayers.RiverBasing);
                                break;
                            case 'RoadNetworks' :
                                this.geoJsonLayers.RoadNetworks ? this.geoJsonLayers.RoadNetworks.setMap(map) : this.loadGeoJson('json/RoadNetworks.geojson', 'RoadNetworks', this.geoJsonLayers.RoadNetworks);
                                break;
                            case 'LandSide' :
                                this.geoJsonLayers.LandSide ? this.geoJsonLayers.LandSide.setMap(map) : this.loadGeoJson('json/LandSide.geojson', 'LandSide', this.geoJsonLayers.LandSide);
                                break;
                            case 'SoilType' :
                                this.geoJsonLayers.SoilType ? this.geoJsonLayers.SoilType.setMap(map) : this.loadGeoJson('json/Soil_Type.geojson', 'SoilType', this.geoJsonLayers.SoilType);
                                break;
                            case 'StreamsNetworks' :
                                this.geoJsonLayers.StreamsNetworks ? this.geoJsonLayers.StreamsNetworks.setMap(map) : this.loadGeoJson('json/Streams_network.geojson', 'StreamsNetworks', this.geoJsonLayers.StreamsNetworks);
                                break;
                            case 'WaterBody' :
                                this.geoJsonLayers.WaterBody ? this.geoJsonLayers.WaterBody.setMap(map) : this.loadGeoJson('json/WaterBody.geojson', 'WaterBody', this.geoJsonLayers.WaterBody);
                                break;
                            case 'Health' :
                                this.geoJsonLayers.Health ? this.geoJsonLayers.Health.setMap(map) : this.loadGeoJson('json/Health.json', 'Health', this.geoJsonLayers.Health);
                                break;
                            case 'Paddy' :
                                this.geoJsonLayers.Paddy ? this.geoJsonLayers.Paddy.setMap(map) : this.loadGeoJson('json/Paddy.geojson', 'Paddy', this.geoJsonLayers.Paddy);
                                break;
                            case 'Education' :
                                this.geoJsonLayers.Education ? this.geoJsonLayers.Education.setMap(map) : this.loadGeoJson('json/Education.json', 'Education', this.geoJsonLayers.Education);
                                break;
                        }
                    }else{
                        switch (category) {
                            case 'District' : this.geoJsonLayers.District?this.geoJsonLayers.District.setMap(map):alert("Invalid Layer"); break;
                            case 'DSD' : this.geoJsonLayers.DSD?this.geoJsonLayers.DSD.setMap(map):alert("Invalid Layer"); break;
                            case 'GND' : this.geoJsonLayers.GND?this.geoJsonLayers.GND.setMap(map):alert("Invalid Layer"); break;
                            case 'Forest' : this.geoJsonLayers.Forest?this.geoJsonLayers.Forest.setMap(map):alert("Invalid Layer"); break;
                            case 'RiverBasing' : this.geoJsonLayers.RiverBasing?this.geoJsonLayers.RiverBasing.setMap(map):alert("Invalid Layer"); break;
                            case 'RoadNetworks' : this.geoJsonLayers.RoadNetworks?this.geoJsonLayers.RoadNetworks.setMap(map):alert("Invalid Layer"); break;
                            case 'LandSide' : this.geoJsonLayers.LandSide?this.geoJsonLayers.LandSide.setMap(map):alert("Invalid Layer"); break;
                            case 'SoilType' : this.geoJsonLayers.SoilType?this.geoJsonLayers.SoilType.setMap(map):alert("Invalid Layer"); break;
                            case 'StreamsNetworks' : this.geoJsonLayers.StreamsNetworks?this.geoJsonLayers.StreamsNetworks.setMap(map):alert("Invalid Layer"); break;
                            case 'WaterBody' : this.geoJsonLayers.WaterBody?this.geoJsonLayers.WaterBody.setMap(map):alert("Invalid Layer"); break;
                            case 'Health' : this.geoJsonLayers.Health?this.geoJsonLayers.Health.setMap(map):alert("Invalid Layer"); break;
                        }

                    }
                }else{
                    switch (category) {
                        case 'District' : this.geoJsonLayers.District?this.geoJsonLayers.District.setMap(null):alert("Invalid Layer"); break;
                        case 'DSD' : this.geoJsonLayers.DSD?this.geoJsonLayers.DSD.setMap(null):alert("Invalid Layer"); break;
                        case 'GND' : this.geoJsonLayers.GND?this.geoJsonLayers.GND.setMap(null):alert("Invalid Layer"); break;
                        case 'Forest' : this.geoJsonLayers.Forest?this.geoJsonLayers.Forest.setMap(null):alert("Invalid Layer"); break;
                        case 'RiverBasing' : this.geoJsonLayers.RiverBasing?this.geoJsonLayers.RiverBasing.setMap(null):alert("Invalid Layer"); break;
                        case 'RoadNetworks' : this.geoJsonLayers.RoadNetworks?this.geoJsonLayers.RoadNetworks.setMap(null):alert("Invalid Layer"); break;
                        case 'LandSide' : this.geoJsonLayers.LandSide?this.geoJsonLayers.LandSide.setMap(null):alert("Invalid Layer"); break;
                        case 'SoilType' : this.geoJsonLayers.SoilType?this.geoJsonLayers.SoilType.setMap(null):alert("Invalid Layer"); break;
                        case 'StreamsNetworks' : this.geoJsonLayers.StreamsNetworks?this.geoJsonLayers.StreamsNetworks.setMap(null):alert("Invalid Layer"); break;
                        case 'WaterBody' : this.geoJsonLayers.WaterBody?this.geoJsonLayers.WaterBody.setMap(null):alert("Invalid Layer"); break;
                        case 'Health' : this.geoJsonLayers.Health?this.geoJsonLayers.Health.setMap(null):alert("Invalid Layer"); break;
                    }
                }

            },
            //------------------------show Port Boundaries--------------------
            async loadGeoJson(url,name,layer) {
                let map = store.state.gmap;
                let that = this;
                this.fullScreenLoader = true;
                // map.data.forEach(function(feature) {
                //     // filter...
                //     map.data.remove(feature);
                // });
                // this.dsdMOHCheck = false;
                let response = await fetch(url);
                let data = await response.blob();
                let metadata = {
                    type: 'text/json'
                };
                let file = new File([data], name+".geojson");


                let reader = new FileReader();
                reader.onload = function (e) {
                    that.loadGeoJSONOnMap(e.target.result, name);
                };
                reader.onerror = function (e) {
                    console.error(e);
                    that.snackBarTop = true;
                    that.snackBarRight = false;
                    that.snackMessage = 'json file reading fail!';
                    that.snackColor = 'error';
                    that.snackbar = true;
                };
                reader.readAsText(file);
            },
            //--------------------------------------Load json files on map----------------------------------------------
            loadGeoJSONOnMap(geoString,layerName){
                // console.log(geoString);
                let geojson = JSON.parse(geoString);
                let map = store.state.gmap;
                let that = this;
                let dataset = [];
                // console.log(geojson);
                // map.data.loadGeoJson('json/track.geojson');
                try {
                    let layer;

                    layer = new google.maps.Data();
                    layer.addGeoJson(geojson);
                    layer.setMap(map);
                    // this.jsonDialog = false;
                    let bounds = new google.maps.LatLngBounds();
                    let keycount = 0;
                    layer.forEach(function(feature) {
                        //---------------------retrieving current object properties--------------------------------
                        let objSet = feature.j;
                        //------------------------------setting paths of the polygons-----------------------------
                        // let paths = [];
                        // feature.getGeometry().getArray().forEach(function(path){
                        //     //iterate over the points in the path
                        //     path.getArray().forEach(function(latLng){
                        //         let typelat = typeof latLng.lat;
                        //         let typelng = typeof latLng.lng;
                        //         if(typelat == 'function' && typelng == 'function') {
                        //             paths.push({lat: latLng.lat(), lng: latLng.lng()})
                        //         }
                        //     });
                        // });
                        //-------------------------------------pushing paths into properties-------------------------
                        // objSet.paths = paths;
                        objSet.key = keycount;
                        objSet.layer = layerName;
                        feature.layer = layerName;

                        layer.overrideStyle(feature, {
                            fillOpacity:0,
                            strokeWeight: 0.4,
                            strokeColor: '#000',
                        });

                        dataset.push(objSet);
                        keycount++;
                    });


                    layer.forEach(function(feature) {
                        //----------------------------setting map bounds------------------------------------------
                        that.processPoints(feature.getGeometry(), bounds.extend, bounds);
                    });

                    map.fitBounds(bounds);

                    console.log(layerName,dataset);

                    layer.addListener('click', function(event) {
                        console.log("boundary event",event);
                        let properties = event.feature.j;
                        let result = _.omit(properties,['Shape_Leng','paths']);
                        console.log(result);
                        // console.log('========================LOCATION===========================');
                        // alert('lat :'+event.latLng.lat() +' , lng :'+event.latLng.lng() );

                        that.toggleInfoJsonMarker(event.latLng.lat(),event.latLng.lng(),result,result.keycount,'Boundary');
                    });


                    switch (layerName) {
                        case 'District' : this.geoJsonLayers.District = layer ; break;
                        case 'DSD' : this.geoJsonLayers.DSD = layer ; break;
                        case 'GND' : this.geoJsonLayers.GND = layer ; break;
                        case 'Forest' : this.geoJsonLayers.Forest = layer ; break;
                        case 'RiverBasing' : this.geoJsonLayers.RiverBasing = layer ; break;
                        case 'RoadNetworks' : this.geoJsonLayers.RoadNetworks = layer ; break;
                        case 'LandSide' : this.geoJsonLayers.LandSide = layer ; break;
                        case 'SoilType' : this.geoJsonLayers.SoilType = layer ; break;
                        case 'StreamsNetworks' : this.geoJsonLayers.StreamsNetworks = layer ; break;
                        case 'WaterBody' : this.geoJsonLayers.WaterBody = layer ; break;
                        case 'Health' : this.geoJsonLayers.Health = layer ; break;
                        case 'Paddy' : this.geoJsonLayers.Paddy = layer ; break;
                        case 'Education' : this.geoJsonLayers.Education = layer ; break;
                    }


                    this.fullScreenLoader = false;
                    this.selectedLayers.push({category: layerName, icon:'img/marker/snorkeling.png', dataset:geoString , isPointLayer:false});
                }catch (e) {
                    console.log(e);
                    this.fullScreenLoader = false;
                    that.snackBarTop = false;
                    that.snackBarRight = false;
                    that.snackMessage = 'upload error : '+e.message;
                    that.snackColor = 'error';
                    that.snackbar = true;
                }
            },

            //----------------------------------remove geojosn Layer-----------------------------------------
            removeGeoJson(category){
                switch (category) {
                    case 'District' : this.geoJsonLayers.District.setMap(null); this.geoJsonLayers.District = null; break;
                    case 'DSD' : this.geoJsonLayers.DSD.setMap(null); this.geoJsonLayers.DSD = null; break;
                    case 'GND' : this.geoJsonLayers.GND.setMap(null); this.geoJsonLayers.GND = null; break;
                    case 'Forest' : this.geoJsonLayers.Forest.setMap(null); this.geoJsonLayers.Forest = null; break;
                    case 'RiverBasing' : this.geoJsonLayers.RiverBasing.setMap(null); this.geoJsonLayers.RiverBasing = null; break;
                    case 'RoadNetworks' : this.geoJsonLayers.RoadNetworks.setMap(null); this.geoJsonLayers.RoadNetworks = null; break;
                    case 'LandSide' : this.geoJsonLayers.LandSide.setMap(null); this.geoJsonLayers.LandSide = null; break;
                    case 'SoilType' : this.geoJsonLayers.SoilType.setMap(null); this.geoJsonLayers.SoilType = null; break;
                    case 'StreamsNetworks' : this.geoJsonLayers.StreamsNetworks.setMap(null); this.geoJsonLayers.StreamsNetworks = null; break;
                    case 'WaterBody' : this.geoJsonLayers.WaterBody.setMap(null); this.geoJsonLayers.WaterBody = null; break;
                    case 'Health' : this.geoJsonLayers.Health.setMap(null); this.geoJsonLayers.Health = null; break;
                    case 'Paddy' : this.geoJsonLayers.Paddy.setMap(null); this.geoJsonLayers.Paddy = null; break;
                    case 'Education' : this.geoJsonLayers.Education.setMap(null); this.geoJsonLayers.Education = null; break;
                }
                let index = _.findIndex(this.selectedLayers,{'category':category});
                this.selectedLayers.splice(index,1);
            },

            setMapIcon(employee){
                let color = '#FF0000';

                switch (employee.category) {
                    case 'Ministry' : color = '#F44336';break;
                    case 'Health' : color = '#009688';break;
                    case 'Education' : color = '#2196F3';break;
                }

                return {
                    path: google.maps.SymbolPath.CIRCLE,
                    scale: 3.5,
                    fillColor: color,
                    fillOpacity: 1,
                    strokeWeight: 0.3,
                    labelOrigin: {x: -7, y: 0}
                }
            },

            //--------------------------------change visible employee by category---------------------------------------
            visibleEmployeeByCategory(group,visibility){
                console.log(group+' - '+visibility);
                this.fullScreenLoader = true;
                let that = this;

                setTimeout(function () {
                    if (visibility){
                        let getemployee = _.filter(that.employees,{'category':group});
                        if (!that.employeeOnMap) {
                            that.visible_employees = getemployee;
                            that.employeeOnMap = true;
                        }else{
                            that.visible_employees = _.concat(that.visible_employees,getemployee);
                        }
                    }else{
                        that.visible_employees = _.filter(that.visible_employees,o=> o.category !== group);
                    }

                    that.fullScreenLoader = false;
                },300)
            },

            goToDataCollect(){
                window.location.href = '/dataCollect';
            }
        },



    }
</script>

<style >
    /*#wrapper { position: relative; }*/
    /*#detail-card { position: absolute; top: 40px; left: 30px; z-index: 9999; }*/
    #wrapper .v-speed-dial {
        position: absolute;
    }
    .offset-3 {
        margin-left:0%;
    }

    .teboxr{
        transform: scale(1,0.6);
        font-size: 12pt;max-height: 40px;min-height: 30px;
    }

    .teboxrr{
        transform: scale(1,0.7);
        font-size: 12pt;max-height: 40px;min-height: 30px;
    }
    .teboxr_Data{
        transform: scale(1,0.9);
        font-size: 12pt;max-height: 40px;min-height: 30px;
    }

    .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {

        padding: 5px;
    }
    .col-md-4 {
        max-width: 40%;
    }

    .v-toolbar__content, .v-toolbar__extension {
        padding: 0px;
    }

    .v-application .headline, .v-application .title {
        line-height: 1rem;
    }

    .v-card__subtitle, .v-card__text, .v-card__title {
        padding: 5px;
    }

    .v-expansion-panel--active>.v-expansion-panel-header {
        min-height: 0px;
    }

    .v-input__slot {
        min-height: 0%;
    }

    .v-avatar .v-icon, .v-avatar .v-image, .v-avatar .v-responsive__content, .v-avatar img, .v-avatar svg {
        height: fit-content;
    }

    .after, .before {
        box-sizing:0;
    }
    #wrapper .v-btn--floating {
        position: relative;
    }
    /*
The div that holds all the lines
*/
    .pac-container {
        margin-top: -1px;
        background-color: rgb(245, 245, 245);
    }
    .pac-item * {
        font-size: 14px !important;
    }
    .pac-item-query {
        font-weight: bold;
    }

    /* your custom CSS \*/
    @-moz-keyframes pulsate {
        from {
            -moz-transform: scale(0.25);
            opacity: 1.0;
        }
        95% {
            -moz-transform: scale(1.3);
            opacity: 0;
        }
        to {
            -moz-transform: scale(0.3);
            opacity: 0;
        }
    }
    @-webkit-keyframes pulsate {
        from {
            -webkit-transform: scale(0.25);
            opacity: 1.0;
        }
        95% {
            -webkit-transform: scale(1.3);
            opacity: 0;
        }
        to {
            -webkit-transform: scale(0.3);
            opacity: 0;
        }
    }
    /* get the container that's just outside the marker image,
        which just happens to have our Marker title in it */
    #map_canvas div[title="I might be here"] {
        -moz-animation: pulsate 1.5s ease-in-out infinite;
        -webkit-animation: pulsate 1.5s ease-in-out infinite;
        border:1pt solid #fff;
        /* make a circle */
        -moz-border-radius:61px;
        -webkit-border-radius:61px;
        border-radius:61px;
        /* multiply the shadows, inside and outside the circle */
        -moz-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
        -webkit-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
        box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
        /* set the ring's new dimension and re-center it */
        height:61px!important;
        margin:-12px 0px 0px -12px;
        width:61px!important;
    }
    /* hide the superfluous marker image since it would expand and shrink with its containing element */
    /*	#map_canvas div[style*="987654"][title] img {*/
    #map_canvas div[title="I might be here"] img {
        display:none;
    }

    /* get the container that's just outside the marker image,
        which just happens to have our Marker title in it */
    #map_canvas_mobile div[title="I might be here"] {
        -moz-animation: pulsate 1.5s ease-in-out infinite;
        -webkit-animation: pulsate 1.5s ease-in-out infinite;
        border:1pt solid #fff;
        /* make a circle */
        -moz-border-radius:61px;
        -webkit-border-radius:61px;
        border-radius:61px;
        /* multiply the shadows, inside and outside the circle */
        -moz-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
        -webkit-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
        box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
        /* set the ring's new dimension and re-center it */
        height:61px!important;
        margin:-12px 0px 0px -12px;
        width:61px!important;
    }
    /* hide the superfluous marker image since it would expand and shrink with its containing element */
    /*	#map_canvas div[style*="987654"][title] img {*/
    #map_canvas_mobile div[title="I might be here"] img {
        display:none;
    }
    /* compensate for iPhone and Android devices with high DPI, add iPad media query */
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (device-width: 768px) {
        #map_canvas div.gmnoprint[title="I might be here"] {
            margin:-30px 0 0 -10px;
        }

        #map_canvas_mobile div.gmnoprint[title="I might be here"] {
            margin:-30px 0 0 -10px;
        }
    }
    .container-message-display .myself-message-body .message-text{
        max-width: 100%;
    }
    .container-message-display .other-message-body .message-content{
        width:100%;
    }
    .vww__temp {
        font-size: 25px;
    }
    .vww__title{
        font-size : 12px;
    }

    .vww__wind{
        font-size : 12px;
    }

    .vww__daily{
        width:70%;
    }
    .vww__currently{
        width:30%    ;
    }


</style>
