<template>
    <div id="app">
        <v-card  flat style="overflow-y: scroll;overflow-x: hidden;height: 100vh">
            <v-toolbar elevation="7">
                <v-btn
                    icon
                    @click="goToHome"
                >
                    <v-icon>mdi-arrow-left</v-icon>
                </v-btn>
                <v-spacer></v-spacer>
                <v-toolbar-title>
                    <v-avatar  >
                        <img :src="'/../'+employee.image" alt="western province logo" width="50px" height="50px">
                    </v-avatar>

                    {{employee.O_Name}}
                </v-toolbar-title>

                <v-spacer></v-spacer>

                <v-btn icon @click="goToHome">
                    <v-icon>home</v-icon>
                </v-btn>


                <v-btn icon>
                    <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
            </v-toolbar>
            <v-breadcrumbs
                customDivider
                divider=">"
            ></v-breadcrumbs>



            <v-card-text>
                    <v-row>
                        <v-col cols="12" lg="3" >
                            <v-card
                                elevation="5"
                                style="margin-left: 25px;"
                            >
                                <v-row >
                                    <v-col cols="12" lg="3">
                                        <v-img
                                            src="/../img/male.jpg"
                                            lazy-src="/../img/male.jpg"
                                            style="margin-left: 15px"
                                            aspect-ratio="1"
                                            class="grey lighten-2"
                                        >
                                        </v-img>
                                    </v-col>
                                    <v-col cols="12" lg="9">
                                        <v-card-title>{{employee.HOD}}</v-card-title>
                                        <v-card-subtitle style="margin-top: 5px">{{employee.HOD_Design}}</v-card-subtitle>
                                        <v-card-text>
                                            <v-icon small>phone</v-icon> &nbsp;&nbsp;  {{employee.HOD_Tel}}
                                        </v-card-text>
                                    </v-col>
                                </v-row>
                                <v-card-text>
                                    <v-row no-gutters>
                                        <v-col>
                                            <v-icon small>email</v-icon> &nbsp;&nbsp;{{employee.HOD_Email}}
                                        </v-col>
                                        <v-col>
                                            <v-icon small>print</v-icon> &nbsp;&nbsp; {{employee.HOD_Fax}}
                                        </v-col>
                                    </v-row>
                                </v-card-text>
                            </v-card>
                        </v-col>

                        <v-col cols="12" lg="3">
                            <v-card
                                elevation="5"
                                style="margin-left: 15px;"
                            >
                                <v-row >
                                    <v-col cols="12" lg="3">
                                        <v-img
                                            src="/../img/male.jpg"
                                            lazy-src="/../img/male.jpg"
                                            style="margin-left: 15px"
                                            aspect-ratio="1"
                                            class="grey lighten-2"
                                        >
                                        </v-img>
                                    </v-col>
                                    <v-col cols="12" lg="9">
                                        <v-card-title>{{employee.DHOD}}</v-card-title>
                                        <v-card-subtitle style="margin-top: 5px">{{employee.DHOD_Design}}</v-card-subtitle>
                                        <v-card-text>
                                            <v-icon small>phone</v-icon> &nbsp;&nbsp;  {{employee.DHOD_Tel}}
                                        </v-card-text>
                                    </v-col>
                                </v-row>
                                <v-card-text>
                                    <v-row no-gutters>
                                        <v-col>
                                            <v-icon small>email</v-icon> &nbsp;&nbsp;{{employee.DHOD_Email}}
                                        </v-col>
                                        <v-col>
                                            <v-icon small>print</v-icon> &nbsp;&nbsp; {{employee.DHOD_Fax}}
                                        </v-col>
                                    </v-row>
                                </v-card-text>
                            </v-card>
                        </v-col>

                        <v-col cols="12" lg="3">
                            <v-card
                                elevation="5"
                                style="margin-left: 15px;"
                            >
                                <v-row >
                                    <v-col cols="12" lg="3">
                                        <v-img
                                            src="/../img/female.png"
                                            lazy-src="/../img/female.png"

                                            style="margin-left: 15px"
                                            aspect-ratio="1"
                                            class="grey lighten-2"
                                        >
                                        </v-img>
                                    </v-col>
                                    <v-col cols="12" lg="9">
                                        <v-card-title>{{employee.DAHOD}}</v-card-title>
                                        <v-card-subtitle style="margin-top: 5px">{{employee.DAHOD_Design}}</v-card-subtitle>
                                        <v-card-text>
                                            <v-icon small>phone</v-icon> &nbsp;&nbsp;  {{employee.DAHOD_tel}}
                                        </v-card-text>
                                    </v-col>
                                </v-row>
                                <v-card-text>
                                    <v-row no-gutters>
                                        <v-col>
                                            <v-icon small>email</v-icon> &nbsp;&nbsp;{{employee.DAHOD_Email}}
                                        </v-col>
                                        <v-col>
                                            <v-icon small>print</v-icon> &nbsp;&nbsp; {{employee.DHOD_Fax}}
                                        </v-col>
                                    </v-row>
                                </v-card-text>
                            </v-card>
                        </v-col>
                        <v-col cols="12" lg="3">
                            <v-btn
                                color="primary"
                                fab
                                large
                                dark
                                bottom
                                right
                                class="v-btn--example"
                                style="margin-left: 35px;margin-top: 15px"
                                @click="bottompanel = !bottompanel"
                            >
                                <v-icon>mdi-plus</v-icon>
                            </v-btn>
                        </v-col>
                    </v-row>

                </v-card-text>

            <v-card-text style="margin-top: 20px">
                <v-row>

                    <v-col cols="12" lg="4" style="margin-left: 25px">
                        <v-card elevation="5">
                            <v-card-title style="justify-content: center">Data Collection</v-card-title>
                                <PieChart />
                            <v-card-text style="margin: 15px">
                                <v-row>
                                    <span style="font-weight: bolder">Summary</span>
                                </v-row>
                                <v-row>
                                    <v-col cols="12" lg="4">
                                       Department Data Collection
                                    </v-col>
                                    <v-col cols="12" lg="7">
                                        <v-progress-linear
                                            color="light-blue"
                                            height="10"
                                            value="30"
                                            striped
                                        ></v-progress-linear>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="12" lg="4">
                                       Ministry
                                    </v-col>
                                    <v-col cols="12" lg="7">
                                        <v-progress-linear
                                            color="purple"
                                            height="10"
                                            value="40"
                                            striped
                                        ></v-progress-linear>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="12" lg="4">
                                      Sub Department
                                    </v-col>
                                    <v-col cols="12" lg="7">
                                        <v-progress-linear
                                            color="light-green darken-4"
                                            height="10"
                                            value="60"
                                            striped
                                        ></v-progress-linear>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="12" lg="4">
                                     Other Department
                                    </v-col>
                                    <v-col cols="12" lg="7">
                                        <v-progress-linear
                                            color="deep-orange"
                                            height="10"
                                            value="10"
                                            striped
                                        ></v-progress-linear>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-card>
                    </v-col>
                    <v-col cols="12" lg="4" style="margin-left: 15px">
                        <v-card elevation="5">
                            <v-card-title style="justify-content: center">Ministry Details</v-card-title>
                            <v-list>
                                <v-list-item>
                                    <v-list-item-avatar>
                                        <v-icon>phone</v-icon>
                                    </v-list-item-avatar>
                                    <v-list-item-content>
                                        <v-list-item-title>{{employee.HOD_Tel}}</v-list-item-title>
                                    </v-list-item-content>
                                </v-list-item>
                                <v-list-item>
                                    <v-list-item-avatar>
                                        <v-icon>print</v-icon>
                                    </v-list-item-avatar>
                                    <v-list-item-content>
                                        <v-list-item-title>{{employee.O_Fax}}</v-list-item-title>
                                    </v-list-item-content>
                                </v-list-item>
                                <v-list-item>
                                    <v-list-item-avatar>
                                        <v-icon>email</v-icon>
                                    </v-list-item-avatar>
                                    <v-list-item-content>
                                        <v-list-item-title>{{employee.O_Email}}</v-list-item-title>
                                    </v-list-item-content>
                                </v-list-item>
                                <v-list-item>
                                    <v-list-item-avatar>
                                        <v-icon>place</v-icon>
                                    </v-list-item-avatar>
                                    <v-list-item-content>
                                        <v-list-item-title>{{employee.O_Address}}</v-list-item-title>
                                    </v-list-item-content>
                                </v-list-item>

                            </v-list>
                            <GmapMap :center="center" :zoom="zoom"
                                     v-bind:style="{ 'width': window.mapwidth+'px','height':window.mapheight+'px','margin-top':0+'px' }" :options="mapOptions"
                                     ref="mapDiv" id="map_canvas">
                                <!--                                <GmapMarker v-for="(item, key) in employees"  :key="'Q'+key" :icon="setMapIcon(item)" :position="getPosition(item,'Employee')" :clickable="true" @click="toggleInfoJsonMarker(item.lat,item.lng , item, key,'Employee')" />-->
                                <!--                                <GmapInfoWindow :options="infoOptions" :position="infoPosition" :opened="infoOpened" :content="infoContent"  @closeclick="infoOpened=false"></GmapInfoWindow>-->
                            </GmapMap>



                        </v-card>
                    </v-col>
                    <v-col cols="12" lg="3" style="margin-left: 25px">
                        <v-card elevation="5">
                            <v-card-text>
                                <div class="font-weight-bold ml-8 mb-2">
                                    Summary
                                </div>

                                <v-timeline
                                    align-top
                                    dense
                                >
                                    <v-timeline-item
                                        color="primary"
                                        small
                                    >
                                        <div>
                                            <div class="font-weight-normal">
                                                <strong>6 </strong> Employees has should retired in next month
                                            </div>
                                            <div>Click for more info</div>
                                        </div>
                                    </v-timeline-item>
                                    <v-timeline-item
                                        color="primary"
                                        small
                                    >
                                        <div>
                                            <div class="font-weight-normal">
                                                <strong>35 </strong> Employees did not reported to work today
                                            </div>
                                            <div>Click for more info</div>
                                        </div>
                                    </v-timeline-item>
                                    <v-timeline-item
                                        color="red"
                                        small
                                    >
                                        <div>
                                            <div class="font-weight-normal">
                                                <strong>12 </strong> projects are pending
                                            </div>
                                            <div>Click for more info</div>
                                        </div>
                                    </v-timeline-item>
                                    <v-timeline-item
                                        color="primary"
                                        small
                                    >
                                        <div>
                                            <div class="font-weight-normal">
                                                <strong>60 </strong> Employees did update personal information
                                            </div>
                                            <div>Click for more info</div>
                                        </div>
                                    </v-timeline-item>
                                    <v-timeline-item
                                        color="red"
                                        small
                                    >
                                        <div>
                                            <div class="font-weight-normal">
                                                <strong>60 </strong> Employees did not update personal information
                                            </div>
                                            <div>Click for more info</div>
                                        </div>
                                    </v-timeline-item>
                                    <v-timeline-item
                                        color="primary"
                                        small
                                    >
                                        <div>
                                            <div class="font-weight-normal">
                                                <strong>20 </strong> un qualified employees
                                            </div>
                                            <div>Click for more info</div>
                                        </div>
                                    </v-timeline-item>
                                    <v-timeline-item
                                        color="primary"
                                        small
                                    >
                                        <div>
                                            <div class="font-weight-normal">
                                                <strong>80% </strong> are qualified employees
                                            </div>
                                            <div>Click for more info</div>
                                        </div>
                                    </v-timeline-item>
                                </v-timeline>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
            </v-card-text>

            <v-card-text style="margin-left: 15px">
                <span class="header-title" style="font-weight: bolder">Departments of the ministry</span>
                &nbsp;&nbsp;&nbsp;&nbsp;<v-btn color="primary" @click="bottompanel = !bottompanel"> Insert new</v-btn>
             <v-row >
                                <v-col cols="12" lg="5" sm="12" md="3" v-for="(emp,key) in employees" :key="key" style="margin: 10px">
                                    <v-hover
                                        v-slot="{ hover }"
                                    >
                                        <v-card
                                                :elevation="hover ? 12 : 5"
                                        >
                                            <v-row style="margin: 15px">
                                                <v-col cols="12" lg="3">
                                                    <v-img
                                                        src="/../img/National_Logo2.png"
                                                        lazy-src="/../img/National_Logo2.png"
                                                        aspect-ratio="1"
                                                        class="grey lighten-2"
                                                    >
                                                    </v-img>
                                                </v-col>
                                                <v-col cols="12" lg="9">
                                                    <v-card-title>{{emp.O_Name}}</v-card-title>

                                                    <v-list>
                                                        <v-list-item three-line>
                                                            <v-list-item-content>
                                                                <v-list-item-title>{{emp.DHOD}}</v-list-item-title>
                                                                <v-list-item-subtitle>{{emp.DHOD_Design}}</v-list-item-subtitle>
                                                                <v-list-item-subtitle>
                                                                    <v-icon small>phone</v-icon> &nbsp;&nbsp;{{emp.HOD_Tel}}
                                                                </v-list-item-subtitle>
                                                            </v-list-item-content>
                                                            <v-list-item-action @click="goToDetails(emp.id)">
                                                                <v-btn text color="primary" icon><v-icon>arrow_forward</v-icon></v-btn>
                                                            </v-list-item-action>
                                                        </v-list-item>

                                                    </v-list>


                                                </v-col>
                                            </v-row>
                                        </v-card>
                                    </v-hover>
                                </v-col>
                            </v-row>
            </v-card-text>



        </v-card>
        <!--============================================================Bottom panel=======================================================-->
        <v-dialog v-model="bottompanel" fullscreen hide-overlay transition="dialog-bottom-transition">
            <v-card tile solo dense style="height: 100% !important">
                <v-card tile dense>
                    <v-card-actions>
                        <v-btn bottom tile x-small right color="blue darken-4" dark @click="bottompanel = false">
                            Close &nbsp;<v-icon x-small>mdi-close</v-icon>
                        </v-btn>
                    </v-card-actions>
                </v-card>
                <v-card tile >
                    <v-tabs next-icon="mdi-arrow-right-bold-box-outline" prev-icon="mdi-arrow-left-bold-box-outline" show-arrows background-color="blue darken-4" center-active dark  v-model="tabRegistration"  show-arrows>
                        <v-tab style="font-size: 10px !important;">Organization stretcher</v-tab>
                        <v-tab style="font-size: 10px !important;">Personal Information</v-tab>
                        <v-tab style="font-size: 10px !important;">Carder Information</v-tab>
                        <v-tab style="font-size: 10px !important;">Performance Evaluation</v-tab>
                        <v-tab style="font-size: 10px !important;">Promotion</v-tab>
                        <v-tab style="font-size: 10px !important;">Training</v-tab>
                        <v-tab style="font-size: 10px !important;">Disciplinary</v-tab>
                        <v-tab style="font-size: 10px !important;">Transfer</v-tab>
                        <v-tab style="font-size: 10px !important;">Welfare and Benefit</v-tab>
                        <v-tab style="font-size: 10px !important;">Time and Attendance</v-tab>
                        <v-tab style="font-size: 10px !important;">Loan</v-tab>
                        <v-tab style="font-size: 10px !important;">Leave</v-tab>
                        <v-tab style="font-size: 10px !important;">Retirement</v-tab>
                        <v-tabs-slider color="white"></v-tabs-slider>
                        <v-tab-item>
                            <OrganizationStructure />
                        </v-tab-item>
                        <v-tab-item>
                            <PersonalInformation />
                        </v-tab-item>
                        <v-tab-item>
                            <CarderInformation />
                        </v-tab-item>
                        <v-tab-item>
                            <PerformanceEvolution />
                        </v-tab-item>
                        <v-tab-item>
                            <Promotion />
                        </v-tab-item>
                        <v-tab-item>
                            <Training />
                        </v-tab-item>
                        <v-tab-item>
                            <Disciplinary />
                        </v-tab-item>
                        <v-tab-item>
                            <Transfer />
                        </v-tab-item>
                        <v-tab-item>
                            <WelfareNBenefits />
                        </v-tab-item>
                        <v-tab-item>
                            <TimeNAttendance />
                        </v-tab-item>
                        <v-tab-item>
                            <Loan />
                        </v-tab-item>
                        <v-tab-item>
                            <Leave />
                        </v-tab-item>
                        <v-tab-item>
                            <Retirement />
                        </v-tab-item>
                    </v-tabs>
                </v-card>

            </v-card>
        </v-dialog>
    </div>
</template>
<script>
import {store} from "./store/store";
import PieChart from "./PieChart";
import { mapState } from 'vuex';
import * as geolib from 'geolib';
import * as rcolor from "rcolor";
import { Chat } from 'vue-quick-chat'
import 'vue-quick-chat/dist/vue-quick-chat.css';
import GmapCluster from 'vue2-google-maps/dist/components/cluster';
import Loading from 'vue-loading-overlay';
// Import stylesheet
import 'vue-loading-overlay/dist/vue-loading.css';

import CategoryChart from "./CategoryChart";
import OrganizationStructure from "./FormSubmission/OrganizationStructure";
import PersonalInformation from "./FormSubmission/PersonalInformation";
import CarderInformation from "./FormSubmission/CarderInformation";

import Promotion from "./FormSubmission/Promotion";
import Training from "./FormSubmission/Training";
import Disciplinary from "./FormSubmission/Disciplinary";
import Transfer from "./FormSubmission/Transfer";
import WelfareNBenefits from "./FormSubmission/WelfareNBenefits";
import TimeNAttendance from "./FormSubmission/TimeNAttendance";
import Loan from "./FormSubmission/Loan";
import Leave from "./FormSubmission/Leave";
import Retirement from "./FormSubmission/Retirement";
import PerformanceEvolution from "./FormSubmission/PerformanceEvolution";
const exhale = ms =>
    new Promise(resolve => setTimeout(resolve, ms));

export default {
    components:{
        PerformanceEvolution,
        Retirement,
        Leave,
        Loan,
        TimeNAttendance,
        WelfareNBenefits,
        Transfer,
        Disciplinary,
        Training,
        Promotion,

        CarderInformation,
        PersonalInformation,
        OrganizationStructure,
        CategoryChart,
        store,
        geolib,
        Chat,
        GmapCluster,
        Loading,

    },
    data: () => ({
        window: {
            mapwidth: 0,
            mapheight: 0,
            width:0,
            height:0
        },
        toolBarLoader:false,
        employeeTableLoading:false,
        fullScreenLoader:false,
        statSkeltonLoading:false,
        employees:[],
        center: {lat: 7.9708759, lng:  80.2615532},
        mainPoint: null,
        mapOptions: {
            controlSize: 21,
            zoomControl: true,
            mapTypeControl: true,
            streetViewControl: true,
            scaleControl:true,
            fullscreenControl: false,
            zoomControlOptions: {
                position: 7,
            },
            streetViewControlOptions: {
                position: 7,
            },
            mapTypeControlOptions: {
                position: 3
            },
            fullscreenControlOptions: {
                position: 3
            },
            scaleControlOptions: {
                position: 7
            },
        },
        GMap: undefined,
        employeesIcon:null,
        infoPosition: null,
        infoContent: null,
        infoOpened: false,
        infoCurrentKey: null,
        infoOptions: null,
        empID:"",
        employee:{},
        zoom:7.6,
        bottompanel:false,
    }),
    computed: {

    },
    mounted() {
        console.log("fuckinglast part",location.href.substring(location.href.lastIndexOf('/') + 1));
        this.$refs.mapDiv.$mapPromise.then((map) => {
            this.GMap = map;
            store.commit('changeMap',map);
            console.log('Map page mounted')
            this.employeesIcon = {
                url: '/img/marker/user_pin.png',
                size: new google.maps.Size(50, 50),
                anchor: new google.maps.Point(9, 14),
                origin: new google.maps.Point(0, 0),
                scaledSize: new google.maps.Size(15, 25),
                labelOrigin: {x: -7, y: 0}
            };
            this.empID = location.href.substring(location.href.lastIndexOf('/') + 1);
            window.addEventListener('resize', this.handleResize);
            this.handleResize();
            this.getData(this.empID);
            // this.loadGeoJson();
        });
    },
    created() {



    },
    methods:{
        //---------------------------Handling the user window resize event--------------------------------
        handleResize() {
            this.window.mapwidth = window.innerWidth/3.05;
            this.window.mapheight = 190;

            this.window.width = window.innerWidth;
            this.window.height = window.innerHeight;
        },
        getData(id){
            this.toolBarLoader = true;
            let laravel = JSON.parse(window.Laravel);
            this.statSkeltonLoading = true;
            this.employeeTableLoading = true;
            this.fullScreenLoader = true;
            const header = {
                'X-CSRF-TOKEN': laravel.csrfToken,
                'X-Requested-With': 'XMLHttpRequest'
            };



            axios.post('/api/getEmployeeData',{id:id,type:"detail"},header)
                .then(response => {
                    console.log(response.data);
                    this.employees = response.data.employees;
                    this.employee = response.data.employee;
                    this.center =  {lat: parseFloat(this.employee.lat), lng:  parseFloat(this.employee.lng)}
                    this.zoom = 13.5
                    setTimeout(() => {
                        store.commit('setSearchBar',true);
                    }, 3000); // toggle after 100 milli seconds


                    console.log(this.employees);
                    // this.approvalPendingEmployees  =[];
                    // console.log(this.approvalPendingEmployees);
                    this.toolBarLoader = false;
                    this.fullScreenLoader = false;
                }).catch((error) => {
                this.snackMessage = error;
                this.snackColor = 'error';
                this.snackbar = true;
                this.fullScreenLoader = false;
                console.log({error});// this will log an empty object with an error property
                this.this.employeeTableLoading = false;
                this.toolBarLoader = false;
            });
        },

        logout(){
            window.setLogout();
        },
        gotoXY(lat,lng,zoom,type){
            let map = store.state.gmap;
            let ltlng = {lat: parseFloat(lat), lng:parseFloat(lng)};

            map.setCenter(ltlng);
            // call smoothZoom, parameters map, final zoomLevel, and starting zoom level
            // this.smoothZoom(map, 25, map.getZoom());
            map.setZoom(zoom);
            if (type == 'marker'){
                let payload = {
                    lat: lat,
                    lng: lng,
                    address: '',
                    type:'XYCOORD'
                };
                // store.commit('setGeocode', payload);
            }
        },
        // the smooth zoom function for zoom map smoothly
        smoothZoom (map, max, cnt) {
            if (cnt >= max) {
                return;
            }
            else {
                z = google.maps.event.addListener(map, 'zoom_changed', function (event) {
                    google.maps.event.removeListener(z);
                    smoothZoom(map, max, cnt + 1);
                });
                setTimeout(function () {
                    map.setZoom(cnt)
                }, 90); // 80ms is what I found to work well on my system -- it might not work well on all systems
            }
        },
        //----------------------get position when lat lng given----------------
        getPosition: function(marker,type) {
            let lat,lng;
            return {
                lat: parseFloat(marker.lat),
                lng: parseFloat(marker.lng)
            }
        },
        //=========================================================When user click on json file=================================================================
        toggleInfoJsonMarker: function (lat,lng,data, key, type) {
            data = _.omit(data,['paths','key']);
            this.infoPosition = {lat:parseFloat(lat),lng:parseFloat(lng)};
            let contentString =
                '<div id="iw-container">\n\
                    <div class="iw-content" style="height: 350px;">\
                    <div class="v-data-table  v-data-table--dense v-data-table--fixed-height theme--light">\
                    <div class="v-data-table__wrapper pane scroller">' +
                '<table class="infoMain">';

            //----------------------looping through the json object property--------------------------
            $.each(data, function(key,value){
                // console.log(key + "/" + value );
                contentString +='<tr  style="white-space: nowrap;">' +
                    '<td class="leftInfo"><b>'+key+'</b></td>' +
                    '<td class="rightInfo">' + value + '</td>' +
                    '</tr>';
            });

            contentString +=  '<div>' +
                '</table>\n\
            </div></div></div></div>';

            this.infoOptions = {
                pixelOffset: {
                    width: 0,
                    height: -10
                },
                content: contentString
            };

            if (this.infoCurrentKey == key) {
                this.infoOpened = !this.infoOpened;
            } else {
                this.infoOpened = true;
                this.infoCurrentKey = key;
            }
        },
        setMapIcon(employee){
            let color = '#FF0000';

            switch (employee.category) {
                case 'Ministry' : color = '#F44336';break;
                case 'Health' : color = '#009688';break;
                case 'Education' : color = '#2196F3';break;
            }

            return {
                path: google.maps.SymbolPath.CIRCLE,
                scale: 3.5,
                fillColor: "color",
                fillOpacity: 1,
                strokeWeight: 0.3,
                labelOrigin: {x: -7, y: 0}
            }
        },
        //------------------------show Port Boundaries--------------------
        async loadGeoJson() {
            let map = store.state.gmap;
            let that = this;
            this.fullScreenLoader = true;
            // map.data.forEach(function(feature) {
            //     // filter...
            //     map.data.remove(feature);
            // });
            // this.dsdMOHCheck = false;
            let response = await fetch("json/WP.geojson");
            let data = await response.blob();
            let metadata = {
                type: 'text/json'
            };
            let file = new File([data], "WP.geojson");


            let reader = new FileReader();
            reader.onload = function (e) {
                that.loadGeoJSONOnMap(e.target.result, "WP");
            };
            reader.onerror = function (e) {
                console.error(e);
                that.snackBarTop = true;
                that.snackBarRight = false;
                that.snackMessage = 'json file reading fail!';
                that.snackColor = 'error';
                that.snackbar = true;
            };
            reader.readAsText(file);
        },
        //--------------------------------------Load json files on map----------------------------------------------
        loadGeoJSONOnMap(geoString,layerName){
            // console.log(geoString);
            let geojson = JSON.parse(geoString);
            let map = store.state.gmap;
            let that = this;
            let dataset = [];
            // console.log(geojson);
            // map.data.loadGeoJson('json/track.geojson');
            try {
                let layer;

                layer = new google.maps.Data();
                layer.addGeoJson(geojson);
                layer.setMap(map);
                // this.jsonDialog = false;
                let bounds = new google.maps.LatLngBounds();
                let keycount = 0;
                layer.forEach(function(feature) {
                    //---------------------retrieving current object properties--------------------------------
                    let objSet = feature.i;
                    //------------------------------setting paths of the polygons-----------------------------
                    // let paths = [];
                    // feature.getGeometry().getArray().forEach(function(path){
                    //     //iterate over the points in the path
                    //     path.getArray().forEach(function(latLng){
                    //         let typelat = typeof latLng.lat;
                    //         let typelng = typeof latLng.lng;
                    //         if(typelat == 'function' && typelng == 'function') {
                    //             paths.push({lat: latLng.lat(), lng: latLng.lng()})
                    //         }
                    //     });
                    // });
                    //-------------------------------------pushing paths into properties-------------------------
                    // objSet.paths = paths;
                    objSet.key = keycount;
                    objSet.layer = layerName;
                    feature.layer = layerName;

                    layer.overrideStyle(feature, {
                        fillOpacity:0,
                        strokeWeight: 0.4,
                        strokeColor: '#000',
                    });

                    dataset.push(objSet);
                    keycount++;
                });


                layer.forEach(function(feature) {
                    //----------------------------setting map bounds------------------------------------------
                    that.processPoints(feature.getGeometry(), bounds.extend, bounds);
                });

                map.fitBounds(bounds);

                console.log(layerName,dataset);

                layer.addListener('click', function(event) {
                    console.log("boundary event",event);
                    let properties = event.feature.j;
                    let result = _.omit(properties,['Shape_Leng','paths']);
                    console.log(result);
                    // console.log('========================LOCATION===========================');
                    // alert('lat :'+event.latLng.lat() +' , lng :'+event.latLng.lng() );

                    that.toggleInfoJsonMarker(event.latLng.lat(),event.latLng.lng(),result,result.keycount,'Boundary');
                });
            }catch (e) {
                console.log(e);
                this.fullScreenLoader = false;
                that.snackBarTop = false;
                that.snackBarRight = false;
                that.snackMessage = 'upload error : '+e.message;
                that.snackColor = 'error';
                that.snackbar = true;
            }
        },
        /**
         * Process each point in a Geometry, regardless of how deep the points may lie.
         * @param {google.maps.Data.Geometry} geometry The structure to process
         * @param {function(google.maps.LatLng)} callback A function to call on each
         *     LatLng point encountered (e.g. Array.push)
         * @param {Object} thisArg The value of 'this' as provided to 'callback' (e.g.
         *     myArray)
         */
        processPoints(geometry, callback, thisArg) {
            let that = this;
            if (geometry instanceof google.maps.LatLng) {
                callback.call(thisArg, geometry);
            } else if (geometry instanceof google.maps.Data.Point) {
                callback.call(thisArg, geometry.get());
            } else {
                geometry.getArray().forEach(function(g) {
                    that.processPoints(g, callback, thisArg);
                });
            }
        },
        goToHome(){
            window.location.href = "/dashboard";
        }
    }
}
</script>
