<template>
    <div  class="situationChart" ref="chartdivSituation"></div>
</template>

<script>
    import * as am4core from "@amcharts/amcharts4/core";
    import * as am4charts from "@amcharts/amcharts4/charts";
    import am4themes_animated from "@amcharts/amcharts4/themes/animated";
    import {store} from './store/store';
    import {mapState} from 'vuex';
    // am4core.useTheme(am4themes_animated);
    function am4themes_myTheme(target) {
        if (target instanceof am4core.ColorSet) {
            target.list = [
                am4core.color("#068101"),
                am4core.color("#FF3D00"),
                am4core.color("#651FFF"),
                // am4core.color("#00B0FF"),
                // am4core.color("#D32F2F"),
            ];
        }
    }
    am4core.useTheme(am4themes_myTheme);
    export default {
        name: "PieChart",
        data() {
            return {
                chartData:[],
                statistics:[]
            }
        },
        computed: {

        },
        mounted() {
            //------------------------get stat from the back end-----------------------------
            this.initChart();
        },
        methods: {



            initChart() {
                let chart = am4core.create(
                    this.$refs.chartdivSituation,
                    am4charts.PieChart
                );
                chart.fontSize = 10;
                chart.logo.disabled = true;


                // Add percent sign to all numbers
                chart.data =  [{
                    "situation": "Data Collected",
                    "count": 150
                }
                    , {
                        "situation": "Pending",
                        "count": 650
                    }
                ];;



                // Add and configure Series
                let pieSeries = chart.series.push(new am4charts.PieSeries());
                pieSeries.dataFields.value = "count";
                pieSeries.dataFields.category = "situation";
                // pieSeries.innerRadius = am4core.percent(50);
                pieSeries.ticks.template.disabled = true;
                pieSeries.labels.template.disabled = true;

                // let rgm = new am4core.RadialGradientModifier();
                // rgm.brightnesses.push(-0.8, -0.8, -0.5, 0, - 0.5);
                // pieSeries.slices.template.fillModifier = rgm;
                // pieSeries.slices.template.strokeModifier = rgm;
                // pieSeries.slices.template.strokeOpacity = 0.4;
                // pieSeries.slices.template.strokeWidth = 0;

                // pieSeries.alignLabels = false;
                // pieSeries.labels.template.text = "[font-size:12px]{value.percent.formatNumber('#.0')}%";
                // pieSeries.labels.template.radius = am4core.percent(-40);
                // pieSeries.labels.template.fill = am4core.color("white");
                // pieSeries.labels.template.relativeRotation = 90;

                chart.legend = new am4charts.Legend();
                chart.legend.position = "right";
                // chart.legend.valueLabels.template.text =  " [bold]{value.value}[/bold] ";

                // chart.legend = new am4charts.Legend();
                // chart.legend.position = "right";
            }
        },

    };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .situationChart {
        width: 100%;
        height: 280px;
    }
</style>
