<template>
    <v-card flat>
        <v-tabs  v-model="tabRegistration"  show-arrows>
            <v-tab style="font-size: 10px !important;">Farmer</v-tab>
            <v-tab style="font-size: 10px !important;">Farm</v-tab>
            <v-tab style="font-size: 10px !important;">Crop</v-tab>
            <v-tab style="font-size: 10px !important;">Other</v-tab>

            <v-tabs-items v-model="tabRegistration">
                <v-tab-item>
                    <farmer />
                </v-tab-item>
                <v-tab-item>
                    <Farm />
                </v-tab-item>
                <v-tab-item>
                    <Crop />
                </v-tab-item>
                <v-tab-item>
                    <Other />
                </v-tab-item>
            </v-tabs-items>
        </v-tabs>
    </v-card>
</template>

<script>
    export default {
        name: "Mainbottompanel"
    }
</script>

<style scoped>

</style>