<template>
    <div >
                <!----------------------------------form--------------------------------------------->
                <v-row>
                    <v-card style="width: 100%;margin-top:2%">
                        <br>

                        <span style="padding-top: 5%;padding-left: 40%"><u>PART D- DECLARATION</u></span>

                        <v-form v-model="valid">
                            <v-container>

                                <v-row>
                                    <span style="margin-top: 12px;margin-left:5%"></span>
                                    <v-col cols="11">

                                        <v-textarea
                                            solo
                                            name="input-7-4"
                                            label="Declaration "

                                        ></v-textarea>
                                    </v-col>

                                </v-row>




                            </v-container>

                            <v-btn
                                style="margin-left: 88%;margin-bottom:1%"
                                depressed
                                color="primary"
                                @click="saveData"
                            >
                                NEXT
                            </v-btn>
                        </v-form>
                    </v-card>

                </v-row>



    </div>
</template>

<script>
import {mapState} from "vuex";
import {store} from "../store/store";


export default {
    name: "ApplicationASD",
    data () {
        return {

        }
    },
    computed:{
        ...mapState({
            httpheader: state => state.httpheader,
            step: state => state.step,
        }),

    },
    methods:{
        saveData(){
            store.commit('setStepper',5);
        }
    }
}
</script>

<style scoped>
.v-text-field--filled>.v-input__control>.v-input__slot, .v-text-field--full-width>.v-input__control>.v-input__slot, .v-text-field--outlined>.v-input__control>.v-input__slot {

    min-height: 25px;}
</style>
