<template>
    <div>
        <!----------------------------------form--------------------------------------------->
        <v-row>
            <v-card style="width: 100%;margin-top:2%">
                <br>

                <span style="padding-top: 5%;padding-left: 40%"><u>PART G </u></span><br><br>

                <v-form v-model="valid">
                    <v-container>



                        <v-row>
                            <v-col style="margin-top: 1%">

                                <div style="padding-left: 25%">
                                <v-file-input
                                    style="width: 25px;padding-left:21%;margin-top: 5%"
                                    show-size
                                    label="File input"
                                ></v-file-input>
                                <span style="padding-left:6%">________________________________________________</span><br>
                                <span style="padding-left:6%">Name and Signature of the Authorized Signatory</span>
                                <br>
                                <span style="padding-left:16%">(Use Digital Signature)</span>
                                </div>
                            </v-col>

                        </v-row>

                    </v-container>

                    <v-btn
                        style="margin-left: 88%;margin-bottom:1%;margin-top: 2%"
                        depressed
                        color="primary"
                        @click="saveData"
                    >
                        Next
                    </v-btn>


                </v-form>
            </v-card>
        </v-row>



    </div>
</template>

<script>
import {mapState} from "vuex";
import {store} from "../store/store";

export default {
    name: "ApplicationASG",
    data () {
        return {

        }
    },
    computed:{
        ...mapState({
            httpheader: state => state.httpheader,
            step: state => state.step,
        }),

    },
    methods:{
        saveData(){
            store.commit('setStepper',8);
        }
    }
}
</script>

<style scoped>

</style>
