<template>
    <div>
                <!----------------------------------form--------------------------------------------->
                <v-row>
                    <v-card style="width: 100%;margin-top:2%">
                        <br>

                        <span style="padding-top: 5%;padding-left: 40%"><u>PART E- EXPORT GOODS DETAILS</u></span><br><br>

                        <v-form v-model="valid">
                            <v-container>

                                <v-row>
                                        <v-col cols="7">
                                        <span style="margin-top: 15%;margin-left:4%">Note:  Below Export data should be completed  7 days after the export process completed</span>
                                        <br>

                                        <v-row>
                                            <span style="margin-top: 5%;margin-left: 6%">Imported Quantity in Kg</span>
                                            <v-col cols="4" style="margin-top: 3%;margin-left: 2%">
                                                <v-text-field
                                                    style="width: 91%;margin-left:8%"
                                                    label=""
                                                    outlined
                                                    dense
                                                ></v-text-field>
                                            </v-col>
                                        </v-row>

                                        <v-row>
                                            <span style="margin-top: 2%;margin-left: 6%">Imported Quantity in Yards</span>
                                            <v-col cols="4" style="margin-left: 0.5%">
                                                <v-text-field
                                                    style="width: 91%;margin-left:4%"
                                                    label=""
                                                    outlined
                                                    dense
                                                ></v-text-field>
                                            </v-col>
                                        </v-row>

                                        <v-row>
                                            <span style="margin-top: 2%;margin-left: 6%">Exported Quantity in Pieces</span>
                                            <v-col cols="4" >
                                                <v-text-field
                                                    style="width: 91%;margin-left:4%"
                                                    label=""
                                                    outlined
                                                    dense
                                                ></v-text-field>
                                            </v-col>
                                        </v-row>

                                        <v-row>
                                            <span style="margin-top: 2%;margin-left: 6%">Waste Material in Kg</span>
                                            <v-col cols="4" style="margin-left: 4%">
                                                <v-text-field
                                                    style="width: 91%;margin-left:10%"
                                                    label=""
                                                    outlined
                                                    dense
                                                ></v-text-field>
                                            </v-col>
                                            <v-col>

                                            </v-col>
                                        </v-row>

                                    </v-col>

                                    <v-col style="margin-top: 6%">
                                        <span>Terms and Conditions <br></span>
                                        <v-card width="80%" height="60%" style="border-radius: 10px;padding: 8px;margin-top: 1%">

                                            <v-virtual-scroll height="80"
                                                              item-height="20">

                                                <span>Terms and Conditions gergre gieru[ uper[uoreig reiog reigoper gier[greoire
                                                 regor eroi[g reiog phg kjrhr r
                                                   rog[ reogherguoprehgureghreugphregure hu p hopr horep hrugpergrep greog[rgr
                                                 oig[rh grhopre gi h hguwpgew</span>

                                            </v-virtual-scroll>


                                        </v-card>

                                        <v-checkbox
                                            v-model="checkbox"
                                            label=" I accept"
                                        ></v-checkbox>
                                    </v-col>
                                </v-row>


                                <v-row>
                                    <v-col style="margin-top: 5%">
                                        <v-file-input
                                            style="width: 25px;padding-left:18%"
                                            show-size
                                            label="File input"
                                        ></v-file-input>
                                        <span style="padding-left:6%">________________________________________________</span><br>
                                        <span style="padding-left:6%">Name and Signature of the Authorized Signatory</span>
                                        <br>
                                        <span style="padding-left:12%">(Use Digital Signature)</span>
                                    </v-col>
                                </v-row>

                            </v-container>

                            <v-btn
                                style="margin-left: 88%;margin-bottom:1%"
                                depressed
                                color="primary"
                                @click="saveData"
                            >
                                NEXT
                            </v-btn>
                        </v-form>
                    </v-card>
                </v-row>



    </div>
</template>

<script>
import {mapState} from "vuex";
import {store} from "../store/store";


export default {
    name: "ApplicationASE",
    data () {
        return {

        }
    },
    computed:{
        ...mapState({
            httpheader: state => state.httpheader,
            step: state => state.step,
        }),

    },
    methods:{
        saveData(){
            store.commit('setStepper',6);
        }
    }
}
</script>

<style scoped>
.v-text-field--filled>.v-input__control>.v-input__slot, .v-text-field--full-width>.v-input__control>.v-input__slot, .v-text-field--outlined>.v-input__control>.v-input__slot {

    min-height: 25px;}
</style>
