<template>
    <div>
        <!----------------------------------form--------------------------------------------->
        <v-row>
            <v-card style="width: 100%;margin-top:2%">
                <br>

                <span style="padding-top: 5%;padding-left: 40%"><u>PART G </u></span><br><br>

                <v-form v-model="valid">
                    <v-container>



                        <v-row>
                            <v-col style="margin-top: 1%">

                                <div style="padding-left: 25%">
                                    <span style="margin-top: 15%;margin-left:4%">Above all details are checked <br></span>
                                <v-file-input
                                    style="width: 25px;padding-left:21%;margin-top: 5%"
                                    show-size
                                    label="File input"
                                ></v-file-input>
                                <span style="padding-left:6%">________________________________________________</span><br>
                                <span style="padding-left:6%">Name and Signature of the Authorized Signatory</span>
                                <br>
                                <span style="padding-left:15%">(Use Digital Signature)<br></span>

                                    <v-text-field
                                        style="margin-left:4%;width: 38%;margin-top: 5%"
                                        v-model="date"
                                        label="Picker in menu"
                                        prepend-icon="mdi-calendar"
                                        readonly
                                        v-bind="attrs"
                                        v-on="on"
                                    ></v-text-field>
                                </div>
                            </v-col>

                        </v-row>

                    </v-container>

                    <v-btn
                        style="margin-left: 40%;margin-bottom:1%;margin-top: 1%"
                        depressed
                        color="primary"
                        @click="saveData"
                    >
                        Submit
                    </v-btn>


                </v-form>
            </v-card>
        </v-row>



    </div>
</template>

<script>
import {mapState} from "vuex";
import {store} from "../store/store";

export default {
    name: "ApplicationASH",
    data () {
        return {date: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
            menu: false,

        }
    },
    computed:{
        ...mapState({
            httpheader: state => state.httpheader,
            step: state => state.step,
        }),

    },
    methods:{
        saveData(){
            store.commit('setStepper',8);
        }
    }
}
</script>

<style scoped>

</style>
