<template>
    <div>
        <!---------------------------------------Top app bar------------------------------------------------->
        <v-app-bar
            color="#646665"
            dense
            dark
        >

            <v-toolbar-title style="margin-left:2%">Ministry of Defence(AS)</v-toolbar-title>

            <v-spacer></v-spacer>


            <v-btn small style="right: 1px;" icon @click="logout"  >
                <v-icon >exit_to_app</v-icon>
            </v-btn>
            <v-menu
                left
                bottom
            >


            </v-menu>
        </v-app-bar>

        <v-row>
            <v-col>
                <v-card
                    height="100%"
                    width="256"
                    elevation="12"

                >
                    <v-navigation-drawer

                        permanent
                    >
                        <v-list
                            dense
                            rounded
                        >
                            <v-list-item
                                v-for="item in items"
                                :key="item.title"
                                link
                                @click="gotopage(item.action)"
                            >
                                <v-list-item-icon>
                                    <v-icon>{{ item.icon }}</v-icon>
                                </v-list-item-icon>

                                <v-list-item-content>
                                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list>
                    </v-navigation-drawer>
                </v-card>
            </v-col>
            <!---------------------------------Contain--------------------------------------->

            <v-col cols="8" style="margin-top: 1%;margin-right: 8%">
                <!-----------------------------------Search bar------------------------------------------->
                <v-text-field
                    style="width: 25%;"
                    label="Search by Application No"
                    append-icon="mdi-magnify"
                    solo
                    dense
                ></v-text-field>
                <v-card>
                    <v-simple-table>
                        <template v-slot:default>
                            <thead>
                            <tr>
                                <th class="text-left">
                                    Company Name
                                </th>
                                <th class="text-left">
                                    Letter Reference No
                                </th>
                                <th class="text-left">
                                    Application No
                                </th>
                                <th class="text-left">
                                    Action
                                </th>
                                <th class="text-left">
                                    Reason
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr
                                v-for="item in desserts"
                                :key="item.name"
                            >

                                <td>{{ item.name }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.calories }}</td>
                                <td><v-btn
                                    small
                                    outlined
                                    color="red">
                                    {{ item.action }}
                                </v-btn></td>
                                <td>

                                    <v-dialog
                                        small
                                        v-model="dialog"

                                        max-width="290"
                                    >
                                        <template v-slot:activator="{ on, attrs }">
                                            <v-btn
                                                small
                                                color="red"
                                                dark
                                                v-bind="attrs"
                                                v-on="on"
                                            >
                                                Reason
                                            </v-btn>
                                        </template>
                                        <v-card>
                                            <v-card-title class="text-h5">
                                                Reason to Reject.
                                            </v-card-title>
                                            <v-card-text>Let Google help apps determine location. This means sending anonymous location data to Google, even when no apps are running.</v-card-text>
                                            <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn
                                                    color="red"
                                                    text
                                                    @click="dialog = true"
                                                >
                                                    OK
                                                </v-btn>
                                            </v-card-actions>
                                        </v-card>
                                    </v-dialog>

                                </td>

                            </tr>
                            </tbody>
                        </template>
                    </v-simple-table>
                </v-card>
            </v-col>


        </v-row>
    </div>
</template>

<script>
import {mapState} from "vuex";
import {store} from "../store/store";

export default {
    name: "RejectedAS",
    data () {
        return {
            // dialog: false,
            items: [
                { title: 'Applications for Signature', icon: 'mdi-view-dashboard' ,action:'asnewapplicationdb'},
                { title: 'Approved', icon: 'mdi-forum' ,action:'approvedas'},
                { title: 'Rejected', icon: 'mdi-forum',action:'rejectedas' },
                { title: 'Destruction Details', icon: 'mdi-forum' ,action:'help' },

            ],
            desserts: [
                {
                    name: 'Frozen Yogurt',
                    calories: 1,
                    action:'rejected',
                },
                {
                    name: 'Ice cream sandwich',
                    calories: 2,
                    action:'rejected',
                },
                {
                    name: 'Eclair',
                    calories: 3,
                    action:'rejected',
                },
                {
                    name: 'Cupcake',
                    calories: 4,
                    action:'rejected',
                },
                {
                    name: 'Gingerbread',
                    calories: 5,
                    action:'rejected',
                },
            ],



        }
    },
    computed:{
        ...mapState({
            httpheader: state => state.httpheader,
            step: state => state.step,
        }),
        stepper(){
            return store.state.step
        }
    },
    methods:{
        gotopage(url){
            window.location = url;
        }
    }
}
</script>

<style scoped>

</style>
