<template>
    <v-app id="inspire">
       <v-content>
           <v-container fluid flat>
               <v-card flat>

                       <v-card-text>
                           <v-col cols="12" md="6">
                               <v-expansion-panels v-model="panel"  tile>

                                   <v-expansion-panel flat   v-model="panel">
                                       <v-expansion-panel-header flat style="font-size: 14px !important;">
                                           Carder Information
                                       </v-expansion-panel-header>
                                       <v-expansion-panel-content>
                                           <v-text-field class="teboxr_Data" outlined solo dense required  label="Cadre Information as at"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                           <v-text-field class="teboxr_Data" outlined solo dense required  label="Institute"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                           <v-text-field class="teboxr_Data" outlined solo dense required  label="Designation"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                           <v-text-field class="teboxr_Data" outlined solo dense required  label="Service"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                           <v-text-field class="teboxr_Data" outlined solo dense required  label="Grade / Class"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field><v-text-field class="teboxr_Data" outlined solo dense required  label="Service"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                           <v-text-field class="teboxr_Data" outlined solo dense required  label="Salary Cord (According to the P/A circular (3/2016)"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                           <v-text-field class="teboxr_Data" outlined solo dense required  label="Service Level (According to the P/A circular (3/2016)"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                           <v-text-field class="teboxr_Data" outlined solo dense required  label="DMS approved cadre"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                           <v-text-field class="teboxr_Data" outlined solo dense required  label="Existing Cadre"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                           <v-text-field class="teboxr_Data" outlined solo dense required  label="Vacancy"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                           <v-text-field class="teboxr_Data" outlined solo dense required  label="Excess"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                           <v-text-field class="teboxr_Data" outlined solo dense required  label="DMS Approved cadre"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                           <v-text-field class="teboxr_Data" outlined solo dense required  label="Existing"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       </v-expansion-panel-content>
                                   </v-expansion-panel>
                               </v-expansion-panels>
                           </v-col>
                       </v-card-text>

               </v-card>
           </v-container>
       </v-content>
    </v-app>
</template>

<script>
import {gmapApi} from "vue2-google-maps";
import $ from 'jquery'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
    name: "CarderInformation",
    components:{
        Loading
    },

    data () {


        return {
            fullScreenLoader:false,
            drawer: null,

            panel:0,

            window: {
                width: 0,
                height: 0,
                lower_height:0,
                mapheight:0,
                mapwidth:0,
            },


        }},

    mounted(){

    },

    created() {
        window.addEventListener('resize', this.handleResize);
        this.handleResize();
        // alert(this.window.width)
    },

    destroyed() {
        window.removeEventListener('resize', this.handleResize)
    },

    methods: {

        handleResize() {
            this.window.width = window.innerWidth;
            this.window.height = window.innerHeight;
            this.window.lower_height = window.innerHeight-15;
        },

        goToMap(userType){
            switch (userType) {
                case 'Governor': window.location.href = '/governor';break;
            }
        }

    }
}
</script>

<style scoped>
.vertical {
    border-left: 2.5px solid black;
    position:absolute;}

.new {
    font-size:25px;
    border-top: 2.5px dashed black;
}

.ver{

    border-left: 2.5px dashed black;

}

.btn{


}
.spa{content: "\2192";
    border-left: 2.5px dashed black;
}

span {
    content: "\2192";
}
.v-card--reveal {
    bottom: 0;
    opacity: 1 !important;
    position: absolute;
    width: 100%;
}
.abc{
    font-size:small;
    color:black;
    font-family: Roboto;
    align-content: center;
}
.box{
    font-size: small;
}
</style>
