<template>
    <v-app id="inspire">
       <v-content>
           <v-container fluid flat>
               <v-card flat>

                   <v-card-text>
                       <v-col cols="12" md="6">
                           <v-expansion-panels v-model="panel"  tile>

                               <v-expansion-panel flat>
                                   <v-expansion-panel-header flat style="font-size: 14px !important;">
                                       Apply Leave
                                   </v-expansion-panel-header>
                                   <v-expansion-panel-content>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Employee Number/NIC/Driving license/Passport No"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Employee ID"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Employee Name"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Designation"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Ministry/Department"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Division"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Employment type (Terminated/ Full time contract/Fulltime internship/ Fulltime Permanent/Part-time Contract/Part-time internship/ Part-time permanent)"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Leave Type (Covering employee required, Casual, Allow half days, Maternity leave, Need approval, Short leave, Medical, Vacation, No-pay, Leave for study abroad/Personal, Special, Special sick)"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Leave applied date"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                   </v-expansion-panel-content>
                               </v-expansion-panel>
                           </v-expansion-panels>
                       </v-col>
                   </v-card-text>

               </v-card>
           </v-container>
       </v-content>
    </v-app>
</template>

<script>
import {gmapApi} from "vue2-google-maps";
import $ from 'jquery'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
    name: "Leave",
    components:{
        Loading
    },

    data () {

        return {
            fullScreenLoader:false,
            drawer: null,

            panel:0,

            window: {
                width: 0,
                height: 0,
                lower_height:0,
                mapheight:0,
                mapwidth:0,
            },


        }},

    mounted(){

    },

    created() {
        window.addEventListener('resize', this.handleResize);
        this.handleResize();
        // alert(this.window.width)
    },

    destroyed() {
        window.removeEventListener('resize', this.handleResize)
    },

    methods: {

        handleResize() {
            this.window.width = window.innerWidth;
            this.window.height = window.innerHeight;
            this.window.lower_height = window.innerHeight-15;
        },

        goToMap(userType){
            switch (userType) {
                case 'Governor': window.location.href = '/governor';break;
            }
        }

    }
}
</script>

<style scoped>
.vertical {
    border-left: 2.5px solid black;
    position:absolute;}

.new {
    font-size:25px;
    border-top: 2.5px dashed black;
}

.ver{

    border-left: 2.5px dashed black;

}

.btn{


}
.spa{content: "\2192";
    border-left: 2.5px dashed black;
}

span {
    content: "\2192";
}
.v-card--reveal {
    bottom: 0;
    opacity: 1 !important;
    position: absolute;
    width: 100%;
}
.abc{
    font-size:small;
    color:black;
    font-family: Roboto;
    align-content: center;
}
.box{
    font-size: small;
}
</style>
