<template>


    <v-app id="app">
        <v-card flat tile >

            <!--            <v-toolbar color="white" >-->
            <!--                    <img src="/img/title.png"  style="width: 135px;margin-top: 2% !important;"/>-->
            <!--                <v-spacer></v-spacer>-->
            <!--                    <v-toolbar-title>-->
            <!--                        DATA COLLECTING APP FOR WESTERN PROVINCE-->
            <!--                    </v-toolbar-title>-->
            <!--                    <v-spacer></v-spacer>-->
            <!--                <v-btn @click="gotoHome" class="overline mt-3" color="white" elevation="2" small >-->
            <!--                    <v-icon small>home</v-icon>&nbsp; Home &nbsp;-->
            <!--                </v-btn>-->
            <!--                    <v-btn @click="logout()" class="overline mt-3" color="white" elevation="2" small  style="margin-left: 10px">-->
            <!--                        LOGOUT &nbsp;<v-icon small>mdi-login-variant</v-icon>&nbsp;-->
            <!--                    </v-btn>-->
            <!--            </v-toolbar>-->
            <v-container fluid>

                <v-card class="mx-auto"  style="z-index: 7 !important;margin-bottom: -44px !important;" absolute tile>

                    <v-main class="grey lighten-2 mt-6" >
                        <v-container fluid dark>
                            <v-form ref="dataForm" v-model="valid" lazy-validation>
                                <v-row style="margin-top: -1% !important;">
                                    <v-col cols="12" md="12">
                                        <v-hover v-slot="{ hover }" open-delay="200">
                                            <v-row>
                                                <v-col cols="12" md="6">
                                                    <v-expansion-panels v-model="panel"  multiple tile>
                                                        <v-expansion-panel tile>
                                                            <v-expansion-panel-header style="font-size: 17px !important; ">
                                                                Organization  Information
                                                            </v-expansion-panel-header>
                                                            <v-expansion-panel-content>
                                                                <v-row>
                                                                    <v-col cols="12" md="12">
                                                                        <v-text-field class="mt-5" label="Organization name" prepend-inner-icon="mdi-checkbox-multiple-marked-outline" v-model="OrganizationName" :rules="OrganizationNameRules" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                        <v-textarea  label="Organization address" prepend-inner-icon="mdi-checkbox-multiple-marked-outline" v-model="OrganizationAddress" :rules="OrganizationAddressRules" required counter  outlined solo  dense color="black"  clearable  ></v-textarea>

                                                                        <v-text-field label="Category" v-model="category" prepend-inner-icon="mdi-checkbox-multiple-marked-outline" :rules="categoryRules" required counter  outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                        <v-text-field label="Sub category" v-model="Subcategory" prepend-inner-icon="mdi-checkbox-multiple-marked-outline" :rules="SubcategoryRules" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                        <v-text-field label="Office email" v-model="OfficeEmail" prepend-inner-icon="mdi-email-variant" :rules="emailRules" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                        <v-text-field label="Office telephone number" v-model="OfficeTelephoneNumber" prepend-inner-icon="mdi-phone-classic" :rules="OfficeTelephoneNumberRules" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                        <v-text-field label="Office fax number" v-model="OfficeFaxNumber" prepend-inner-icon="mdi-fax" :rules="OfficeFaxNumberRules" required counter outlined solo  dense color="black"  clearable  ></v-text-field>
                                                                    </v-col>
                                                                </v-row>
                                                            </v-expansion-panel-content>
                                                        </v-expansion-panel>

                                                        <v-expansion-panel tile>
                                                            <v-expansion-panel-header style="font-size: 17px !important; ">
                                                                Head of The Organization
                                                            </v-expansion-panel-header>
                                                            <v-expansion-panel-content>
                                                                <v-row>
                                                                    <v-col cols="12" md="12">
                                                                        <v-text-field class="mt-5" label="Name with initials" v-model="NameWithInitials" :rules="NameWithInitialsRules" prepend-inner-icon="mdi-checkbox-multiple-marked-outline" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                        <v-text-field label="Designation" v-model="Designation" :rules="DesignationRules" prepend-inner-icon="mdi-checkbox-multiple-marked-outline" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                        <v-text-field label="Email" v-model="HeadEmail" :rules="emailRules" prepend-inner-icon="mdi-email-variant" required counter outlined  solo  dense color="black"  clearable  ></v-text-field>

                                                                        <v-text-field label="Office telephone number" v-model="HeadOfficeTelephoneNumber" :rules="OfficeTelephoneNumberRules" prepend-inner-icon="mdi-phone-classic" required counter outlined solo  dense color="black" clearable ></v-text-field>

                                                                        <v-text-field label="Mobile number" v-model="HeadMobileNumber" :rules="MobileNumberRules" prepend-inner-icon="mdi-cellphone" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                        <v-text-field label="Fax number" v-model="HeadFaxNumber" :rules="OfficeFaxNumberRules" prepend-inner-icon="mdi-fax" required counter outlined solo  dense color="black"  clearable  ></v-text-field>
                                                                    </v-col>
                                                                </v-row>
                                                            </v-expansion-panel-content>
                                                        </v-expansion-panel>

                                                        <v-expansion-panel tile>
                                                            <v-expansion-panel-header style="font-size: 17px !important; ">
                                                                Deputy Head of the Organization
                                                            </v-expansion-panel-header>
                                                            <v-expansion-panel-content>
                                                                <v-row>
                                                                    <v-col cols="12" md="12">
                                                                        <v-text-field class="mt-5" label="Name with initials" v-model="DeputyNameWithInitials" prepend-inner-icon="mdi-checkbox-multiple-marked-outline" :rules="NameWithInitialsRules" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                        <v-text-field label="Designation" v-model="DeputyDesignation" prepend-inner-icon="mdi-checkbox-multiple-marked-outline" :rules="DesignationRules" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                        <v-text-field label="Email" v-model="DeputyHeadEmail" :rules="emailRules" prepend-inner-icon="mdi-email-variant" required counter outlined  solo  dense color="black"  clearable  ></v-text-field>

                                                                        <v-text-field label="Office telephone number" v-model="DeputyHeadOfficeTelephoneNumber" :rules="OfficeTelephoneNumberRules" prepend-inner-icon="mdi-phone-classic" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                        <v-text-field label="Mobile number" v-model="DeputyHeadMobileNumber" :rules="MobileNumberRules" prepend-inner-icon="mdi-cellphone" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                        <v-text-field label="Fax number" v-model="DeputyHeadFaxNumber" :rules="OfficeFaxNumberRules" prepend-inner-icon="mdi-fax" required counter outlined solo  dense color="black"  clearable  ></v-text-field>
                                                                    </v-col>
                                                                </v-row>
                                                            </v-expansion-panel-content>
                                                        </v-expansion-panel>

                                                        <v-expansion-panel tile>
                                                            <v-expansion-panel-header style="font-size: 17px !important; ">
                                                                Deputy/Assistant Head of The Organization
                                                            </v-expansion-panel-header>
                                                            <v-expansion-panel-content>
                                                                <v-row>
                                                                    <v-col cols="12" md="12">
                                                                        <v-text-field class="mt-5" label="Name with initials" v-model="DeputyAssistantNameWithInitials" prepend-inner-icon="mdi-checkbox-multiple-marked-outline" :rules="NameWithInitialsRules" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                        <v-text-field label="Designation" v-model="DeputyAssistantDesignation" prepend-inner-icon="mdi-checkbox-multiple-marked-outline" :rules="DesignationRules" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                        <v-text-field label="Email" v-model="DeputyAssistantEmail" :rules="emailRules" prepend-inner-icon="mdi-email-variant" required counter outlined  solo  dense color="black"  clearable  ></v-text-field>

                                                                        <v-text-field label="Office telephone number" v-model="DeputyAssistantTelephoneNumber" :rules="OfficeTelephoneNumberRules" prepend-inner-icon="mdi-phone-classic" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                        <v-text-field label="Mobile number" v-model="DeputyAssistantMobileNumber" :rules="MobileNumberRules" prepend-inner-icon="mdi-cellphone" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                        <v-text-field label="Fax number" v-model="DeputyAssistantFaxNumber" :rules="OfficeFaxNumberRules" prepend-inner-icon="mdi-fax" required counter outlined solo  dense color="black"  clearable  ></v-text-field>
                                                                    </v-col>
                                                                </v-row>
                                                            </v-expansion-panel-content>
                                                        </v-expansion-panel>

                                                        <v-expansion-panel tile>
                                                            <v-expansion-panel-header style="font-size: 17px !important; ">
                                                                Staff Information
                                                            </v-expansion-panel-header>
                                                            <v-expansion-panel-content>
                                                                <v-row>
                                                                    <v-col cols="12" md="12">
                                                                          <span v-for="(inputSelection, s) in inputsSelection" :key="s">
                                                                            <v-row class="mt-5" justify="center">
                                                                                <v-col  cols="12" sm="12" xs="12" md="6" lg="6">
                                                                                  <v-text-field  label="Type" v-model="inputSelection.attributeSelectionType" prepend-inner-icon="mdi-checkbox-multiple-marked-outline" required counter outlined  solo  dense color="black" clearable></v-text-field>
                                                                                </v-col>
                                                                                <v-col cols="12" sm="12" xs="12" md="4" lg="4">
                                                                                  <v-text-field  label="Total" v-model="inputSelection.attributeSelectionTotal" prepend-inner-icon="mdi-checkbox-multiple-marked-outline" required counter outlined  solo  dense color="black" clearable></v-text-field>
                                                                                </v-col>
                                                                                <v-col cols="12" sm="12" xs="12" md="2" lg="2">
                                                                                     <v-btn x-small fab dark color="red darken-4"  @click="remove_Selection(c)" v-show="s ||  (!s && inputsSelection.length > 1) ">
                                                                                      <v-icon small>mdi-minus-circle-outline</v-icon>
                                                                                    </v-btn>
                                                                                    <v-btn x-small fab dark color="green darken-4" @click="add_Selection(c)" v-show="s == inputsSelection.length - 1 ">
                                                                                      <v-icon small>mdi-plus-circle-outline</v-icon>
                                                                                    </v-btn>
                                                                                </v-col>
                                                                            </v-row>
                                                                         </span>

                                                                    </v-col>
                                                                </v-row>
                                                            </v-expansion-panel-content>
                                                        </v-expansion-panel>
                                                    </v-expansion-panels>
                                                </v-col>
                                                <v-col cols="12" md="6">
                                                    <mainMap/>
                                                    <v-row>
                                                        <v-col cols="12" md="12">


                                                            <div>
                                                                <GmapMap  :center="center" :zoom="7.8" v-bind:style="{ 'width': 800+'px','height':600+'px','margin-top':0+'px' }" :options="mapOptions" ref="mapDiv" id="map_canvas">
                                                                </GmapMap>
                                                            </div>


                                                            <v-card tile class="mt-4" style="">
                                                                <v-card-text>
                                                                    <v-text-field class="mt-5" label="Google address" v-model="GoogleAddress" prepend-inner-icon="mdi-map" :rules="GoogleAddressRules" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                    <v-text-field label="Latitude" v-model="lat" prepend-inner-icon="mdi-home-map-marker" :rules="latRules" required counter outlined solo  dense color="black"  clearable  ></v-text-field>

                                                                    <v-text-field label="Longitude" v-model="lng"  :rules="lngRules" prepend-inner-icon="mdi-home-map-marker" required counter outlined  solo  dense color="black"  clearable  ></v-text-field>
                                                                </v-card-text>
                                                            </v-card>
                                                        </v-col>
                                                    </v-row>
                                                </v-col>
                                            </v-row>
                                        </v-hover>
                                    </v-col>

                                    <v-col cols="12" md="12">
                                        <v-card tile style="padding: 10px 10px 10px 10px">
                                            <v-row>
                                                <v-col cols="12" md="12">
                                                    <v-btn  :loading="btnSubmitloader" @click="btnSubmitloader=true" large tile color="teal accent-4 white--text">
                                                        <v-icon left>mdi-pencil</v-icon>SAVE DATA
                                                    </v-btn>
                                                </v-col>
                                            </v-row>
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </v-form>
                        </v-container>
                    </v-main>
                </v-card>

                <v-footer style="margin-bottom: 10% !important;" color="white" dark solo  padless >
                    <v-card class="flex" color="teal accent-4 white--text" dark solo tile></v-card>
                </v-footer>
            </v-container>
        </v-card>
    </v-app>









<!--   <div>-->
<!--       <v-content>-->
<!--           <v-container fluid flat>-->
<!--                <v-card flat >-->
<!--               <v-col cols="12" md="6">-->
<!--                   <v-expansion-panels v-model="panel" multiple tile>-->
<!--                       <v-expansion-panel flat>-->
<!--                           <v-expansion-panel-header flat style="font-size: 14px !important;">-->
<!--                               Personal Details-->
<!--                           </v-expansion-panel-header>-->
<!--                           <v-expansion-panel-content>-->
<!--                               <v-row>-->
<!--                                   <v-col cols="12" md="6">-->
<!--                                       <img-inputer style="height:155px !important;width: 100% !important;" theme="material" placeholder="Photograph ( 3.5 C.M. x 1.5 C.M)" bottom-text="click to change image" id="imageUploader" size="small"/>-->
<!--                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Title ( Mr./MS/Mrs./Venn/Rev )"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>-->
<!--                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Name with Initials"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>-->
<!--                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Name in Full"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>-->
<!--                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="First name"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>-->
<!--                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Last Name"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>-->

<!--                                   </v-col>-->

<!--                                   <v-col cols="12" md="6">-->
<!--                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Employee No"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>-->
<!--                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="NIC"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>-->
<!--                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Issuing Date"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>-->


<!--                                       <p class="mt-5">-->
<!--                                           Driving license details-->
<!--                                           <v-divider color="black"></v-divider>-->
<!--                                       </p>-->

<!--                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Driving License No"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>-->
<!--                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Driving License Category"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>-->
<!--                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Issuing Date"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>-->
<!--                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Expire Date"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>-->
<!--                                   </v-col>-->
<!--                               </v-row>-->
<!--                           </v-expansion-panel-content>-->
<!--                       </v-expansion-panel>-->

<!--                       <v-expansion-panel flat>-->
<!--                           <v-expansion-panel-header flat style="font-size: 14px !important;">-->
<!--                               Passport Details-->
<!--                           </v-expansion-panel-header>-->
<!--                           <v-expansion-panel-content>-->
<!--                               <v-row>-->

<!--                               </v-row>-->
<!--                           </v-expansion-panel-content>-->
<!--                       </v-expansion-panel>-->

<!--                       <v-expansion-panel flat>-->
<!--                           <v-expansion-panel-header flat style="font-size: 14px !important;">-->
<!--                               Contact Details-->
<!--                           </v-expansion-panel-header>-->
<!--                           <v-expansion-panel-content>-->
<!--                               <v-row>-->

<!--                               </v-row>-->
<!--                           </v-expansion-panel-content>-->
<!--                       </v-expansion-panel>-->

<!--                       <v-expansion-panel flat>-->
<!--                           <v-expansion-panel-header flat style="font-size: 14px !important;">-->
<!--                               Employee Family/Dependent Information-->
<!--                           </v-expansion-panel-header>-->
<!--                           <v-expansion-panel-content>-->
<!--                               <v-row>-->

<!--                               </v-row>-->
<!--                           </v-expansion-panel-content>-->
<!--                       </v-expansion-panel>-->

<!--                       <v-expansion-panel flat>-->
<!--                           <v-expansion-panel-header flat style="font-size: 14px !important;">-->
<!--                               Employment Information-->
<!--                           </v-expansion-panel-header>-->
<!--                           <v-expansion-panel-content>-->
<!--                               <v-row>-->

<!--                               </v-row>-->
<!--                           </v-expansion-panel-content>-->
<!--                       </v-expansion-panel>-->


<!--                   </v-expansion-panels>-->
<!--               </v-col>-->

<!--               <v-col cols="12" md="6">-->

<!--               </v-col>-->

<!--           </v-card>-->
<!--           </v-container>-->
<!--       </v-content>-->
<!--   </div>-->
</template>

<script>
    import {gmapApi} from "vue2-google-maps";
import $ from 'jquery'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
    name: "OrganizationStructure",
    components:{
        Loading
    },

    data () {

        return {
            fullScreenLoader:false,
            drawer: null,
            window: {
                width: 0,
                height: 0,
                lower_height:0,
                mapheight:0,
                mapwidth:0,
            },
            center: {lat: 7.9708759, lng:  80.2615532},
            mainPoint: null,
            mapOptions: {
                controlSize: 21,
                zoomControl: true,
                mapTypeControl: true,
                streetViewControl: true,
                scaleControl:true,
                fullscreenControl: false,
                zoomControlOptions: {
                    position: 7,
                },
                streetViewControlOptions: {
                    position: 7,
                },
                mapTypeControlOptions: {
                    position: 3
                },
                fullscreenControlOptions: {
                    position: 3
                },
                scaleControlOptions: {
                    position: 7
                },
            },

        }},
    anel: [0],
    hover:true,
    user:{},
    valid: false,
    allStaffDetails: [],
    btnSubmitloader: false,
    OrganizationName: '',
    OrganizationAddress: '',
    OfficeFaxNumber: '',
    OfficeTelephoneNumber: '',
    Subcategory: '',
    OfficeEmail: '',
    category: '',
    NameWithInitials: '',
    Designation: '',
    HeadEmail: '',
    HeadOfficeTelephoneNumber: '',
    HeadMobileNumber: '',
    HeadFaxNumber: '',
    DeputyNameWithInitials: '',
    DeputyDesignation: '',
    DeputyHeadEmail: '',
    DeputyHeadOfficeTelephoneNumber: '',
    DeputyHeadMobileNumber: '',
    DeputyHeadFaxNumber: '',
    DeputyAssistantNameWithInitials: '',
    DeputyAssistantTelephoneNumber: '',
    DeputyAssistantDesignation: '',
    DeputyAssistantFaxNumber: '',
    DeputyAssistantMobileNumber: '',
    DeputyAssistantEmail: '',
    lat:'',
    lng:'',
    GoogleAddress:'',
    inputsSelection: [{
        attributeSelectionType: '',
        attributeSelectionTotal: '',
    },
    ],
    OrganizationNameRules: [v => !!v || 'Organization name is required',],

    OrganizationAddressRules: [v => !!v || 'Organization address is required',],

    OfficeFaxNumberRules: [v => !!v || 'Fax number is required',],

    OfficeTelephoneNumberRules: [v => !!v || 'Telephone number is required', v => v.length <= 10 || 'Phone number must be less than 10 characters',],

    MobileNumberRules: [v => !!v || 'Mobile number is required', v => v.length <= 10 || 'Mobile number must be less than 10 characters',],

    SubcategoryRules: [v => !!v || 'Sub category is required',],

    categoryRules: [v => !!v || 'Category is required',],

    DesignationRules: [v => !!v || 'Designation is required',],

    NameWithInitialsRules: [v => !!v || 'Name with initials is required',],

    emailRules: [v => !!v || 'E-mail is required', v => /.+@.+/.test(v) || 'E-mail must be valid',],

    GoogleAddressRules: [v => !!v || 'Address is required',],

    latRules: [v => !!v || 'Latitude is required',],

    lngRules: [v => !!v || 'Longitude is required',],

    mounted(){

    },

    created() {
        window.addEventListener('resize', this.handleResize);
        this.handleResize();
        // alert(this.window.width)
    },

    destroyed() {
        window.removeEventListener('resize', this.handleResize)
    },

    methods: {

        handleResize() {
            this.window.width = window.innerWidth;
            this.window.height = window.innerHeight;
            this.window.lower_height = window.innerHeight-15;
        },

        goToMap(userType){
            switch (userType) {
                case 'Governor': window.location.href = '/governor';break;
            }
        }

    }
}
</script>

<style scoped>
.vertical {
    border-left: 2.5px solid black;
    position:absolute;}

.new {
    font-size:25px;
    border-top: 2.5px dashed black;
}

.ver{

    border-left: 2.5px dashed black;

}

.btn{


}
.spa{content: "\2192";
    border-left: 2.5px dashed black;
}

span {
    content: "\2192";
}
.v-card--reveal {
    bottom: 0;
    opacity: 1 !important;
    position: absolute;
    width: 100%;
}
.abc{
    font-size:small;
    color:black;
    font-family: Roboto;
    align-content: center;
}
.box{
    font-size: small;
}
</style>
