<template>
    <v-app id="inspire">
        <v-content>
            <v-container fluid flat>
                <v-card flat>
                    <v-card-text>
                        <v-row>
                            <v-col cols="12" md="6">
                                <v-expansion-panels v-model="panel" multiple tile>
                                    <v-expansion-panel flat>
                                        <v-expansion-panel-header flat style="font-size: 14px !important;">
                                            personal details
                                        </v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <v-row>
                                                <v-col cols="12" md="6">
                                                    <img-inputer style="height:255px !important;width: 100% !important;" theme="material" placeholder="Photograph ( 3.5 C.M. x 1.5 C.M)" bottom-text="click to change image" id="imageUploader" size="small"/>
                                                </v-col>
                                                <v-col cols="12" md="6">
                                                    <v-text-field class="teboxr_Data" outlined solo dense required  label="Title ( Mr./MS/Mrs./Venn/Rev )"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                                    <v-text-field class="teboxr_Data" outlined solo dense required  label="Name with Initials"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                                    <v-text-field class="teboxr_Data" outlined solo dense required  label="Name in Full"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                                    <v-text-field class="teboxr_Data" outlined solo dense required  label="First name"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                                    <v-text-field class="teboxr_Data" outlined solo dense required  label="Last Name"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                                    <v-text-field class="teboxr_Data" outlined solo dense required  label="Employee No"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                                    <v-text-field class="teboxr_Data" outlined solo dense required  label="NIC"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                                    <v-text-field class="teboxr_Data" outlined solo dense required  label="Issuing Date"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                                </v-col>
                                            </v-row>
                                        </v-expansion-panel-content>
                                    </v-expansion-panel>

                                    <v-expansion-panel flat>
                                        <v-expansion-panel-header flat style="font-size: 14px !important;">
                                            Driving Licence Detail
                                        </v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Driving License No"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Driving License Category"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Issuing Date"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Expire Date"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                        </v-expansion-panel-content>
                                    </v-expansion-panel>

                                    <v-expansion-panel flat>
                                        <v-expansion-panel-header flat style="font-size: 14px !important;">
                                            Passport Details
                                        </v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Driving License No"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Driving License Category"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Issuing Date"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Expire Date"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>

                                        </v-expansion-panel-content>
                                    </v-expansion-panel>

                                     <v-expansion-panel flat>
                                        <v-expansion-panel-header flat style="font-size: 14px !important;">
                                            Contact Details
                                        </v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Permanent  Address"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Postal /Temporary Address"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="If residing in an official residence"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Telephone Numbers ( Home )"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Telephone Numbers(Mobile)"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>

                                        </v-expansion-panel-content>
                                    </v-expansion-panel>

                                    <v-expansion-panel flat>
                                        <v-expansion-panel-header flat style="font-size: 14px !important;">
                                            Emergency Contact(s)
                                        </v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Emergency Contact  Name(s)"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Emergency  Number"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Emergency  Contact  Relationship"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>

                                        </v-expansion-panel-content>
                                    </v-expansion-panel>

                                    <v-expansion-panel flat>
                                        <v-expansion-panel-header flat style="font-size: 14px !important;">
                                            Employee Family/Dependent Information
                                        </v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Details of Spouse - Name in Full"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Details of Children (Number of Children) "  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="If differently abled"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="If children born in foreign countries"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="If child adoption "  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="If  Unmarried Father’s Name"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>

                                        </v-expansion-panel-content>
                                    </v-expansion-panel>

                                    <v-expansion-panel flat>
                                        <v-expansion-panel-header flat style="font-size: 14px !important;">
                                            Current Service
                                        </v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Current Work Place Name"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Current Work Place - Division  "  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Current Work Place – Address"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Office Phone No"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Office Fax no "  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Office  e-mail address"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>

                                        </v-expansion-panel-content>
                                    </v-expansion-panel>

                                    <v-expansion-panel flat>
                                        <v-expansion-panel-header flat style="font-size: 14px !important;">
                                            Promotions
                                        </v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Promotions  Grade 11"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Eligible date"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Acquired date"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Method of promotion"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Promotions  Grade 1"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Eligible date"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                        </v-expansion-panel-content>
                                    </v-expansion-panel>

                                    <v-expansion-panel flat>
                                        <v-expansion-panel-header flat style="font-size: 14px !important;">
                                            Salary Details
                                        </v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Salary Code"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Basic Salary"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Bank "  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Branch"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Account Number"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Salary Scale"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                        </v-expansion-panel-content>
                                    </v-expansion-panel>

                                    <v-expansion-panel flat>
                                        <v-expansion-panel-header flat style="font-size: 14px !important;">
                                            Work Experience
                                        </v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Employment History Work Place Name"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Employment History Work Place - Division "  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Employment History Work Place – Address"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Employment History Designation"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Employment History Service"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                            <v-text-field class="teboxr_Data" outlined solo dense required  label="Employment History Class "  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                        </v-expansion-panel-content>
                                    </v-expansion-panel>
                                </v-expansion-panels>
                            </v-col>
                            <v-col cols="12" md="6">
                                <v-card>
                                    <v-toolbar elevation="0"  color="dark">
                                        <v-text-field flat solo prepend-icon="search" placeholder="Search Employee"  hide-details></v-text-field>
                                    </v-toolbar>
                                    <v-tabs    background-color="blue darken-4" center-active dark    show-arrows>
                                        <v-tab style="font-size: 10px !important;">Map</v-tab>
                                        <v-tab style="font-size: 10px !important;">Details</v-tab>
                                        <v-tab-item>
                                            <GmapMap  :center="center" :zoom="7.8" v-bind:style="{ 'width': 800+'px','height':600+'px','margin-top':0+'px' }" :options="mapOptions" ref="mapDiv" id="map_canvas">
                                            </GmapMap>
                                        </v-tab-item>
                                        <v-tab-item>

                                        </v-tab-item>
                                    </v-tabs>
                                </v-card>
                            </v-col>
                        </v-row>
                    </v-card-text>
                </v-card>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import {gmapApi} from "vue2-google-maps";
    import $ from 'jquery'
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';
    export default {
        name: "PersonalInformation",
        components:{
            Loading
        },

        data () {

            return {
                fullScreenLoader:false,
                drawer: null,
                window: {
                    width: 0,
                    height: 0,
                    lower_height:0,
                    mapheight:0,
                    mapwidth:0,
                },
                center: {lat: 7.9708759, lng:  80.2615532},
                mainPoint: null,
                mapOptions: {
                    controlSize: 21,
                    zoomControl: true,
                    mapTypeControl: true,
                    streetViewControl: true,
                    scaleControl:true,
                    fullscreenControl: false,
                    zoomControlOptions: {
                        position: 7,
                    },
                    streetViewControlOptions: {
                        position: 7,
                    },
                    mapTypeControlOptions: {
                        position: 3
                    },
                    fullscreenControlOptions: {
                        position: 3
                    },
                    scaleControlOptions: {
                        position: 7
                    },
                },

            }},

        mounted(){

        },

        created() {
            window.addEventListener('resize', this.handleResize);
            this.handleResize();
            // alert(this.window.width)
        },

        destroyed() {
            window.removeEventListener('resize', this.handleResize)
        },

        methods: {

            handleResize() {
                this.window.width = window.innerWidth;
                this.window.height = window.innerHeight;
                this.window.lower_height = window.innerHeight-15;
            },

            goToMap(userType){
                switch (userType) {
                    case 'Governor': window.location.href = '/governor';break;
                }
            }

        }
    }
</script>

<style scoped>
    .vertical {
        border-left: 2.5px solid black;
        position:absolute;}

    .new {
        font-size:25px;
        border-top: 2.5px dashed black;
    }

    .ver{

        border-left: 2.5px dashed black;

    }

    .btn{


    }
    .spa{content: "\2192";
        border-left: 2.5px dashed black;
    }

    span {
        content: "\2192";
    }
    .v-card--reveal {
        bottom: 0;
        opacity: 1 !important;
        position: absolute;
        width: 100%;
    }
    .abc{
        font-size:small;
        color:black;
        font-family: Roboto;
        align-content: center;
    }
    .box{
        font-size: small;
    }
</style>
