<template>
    <v-app id="inspire">
       <v-content>
           <v-container fluid flat>
               <v-card flat>

                   <v-card-text>
                       <v-col cols="12" md="6">
                           <v-expansion-panels v-model="panel"  tile>

                               <v-expansion-panel flat>
                                   <v-expansion-panel-header flat style="font-size: 14px !important;">
                                       Apply for retirement
                                   </v-expansion-panel-header>
                                   <v-expansion-panel-content>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Name in full"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="NIC"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Date of birth"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Gender"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="District"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Divisional secretary division"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Grama Niladari Division"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Permanent address "  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Telephone (Mobile)"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Email"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Service"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Grade"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Designation"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Date of first appointment"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Date of permanent appointment"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Confirmed in post (Yes/No)"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Section under which retirement is effected (Section 2:17)"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Retirement reason"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Date of retirement"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Salary circular and retirement year"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Marital status (Married/ Single/ Widowed/Divorce/ Separated)"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Name of the spouse"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Spouse – Date of birth"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Spouse- NIC"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Date of marriage"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Children information"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                   </v-expansion-panel-content>
                               </v-expansion-panel>
                           </v-expansion-panels>
                       </v-col>
                   </v-card-text>

               </v-card>
           </v-container>
       </v-content>
    </v-app>
</template>

<script>
import {gmapApi} from "vue2-google-maps";
import $ from 'jquery'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
    name: "Retirement",
    components:{
        Loading
    },

    data () {

        return {
            fullScreenLoader:false,
            drawer: null,

            panel:0,

            window: {
                width: 0,
                height: 0,
                lower_height:0,
                mapheight:0,
                mapwidth:0,
            },


        }},

    mounted(){

    },

    created() {
        window.addEventListener('resize', this.handleResize);
        this.handleResize();
        // alert(this.window.width)
    },

    destroyed() {
        window.removeEventListener('resize', this.handleResize)
    },

    methods: {

        handleResize() {
            this.window.width = window.innerWidth;
            this.window.height = window.innerHeight;
            this.window.lower_height = window.innerHeight-15;
        },

        goToMap(userType){
            switch (userType) {
                case 'Governor': window.location.href = '/governor';break;
            }
        }

    }
}
</script>

<style scoped>
.vertical {
    border-left: 2.5px solid black;
    position:absolute;}

.new {
    font-size:25px;
    border-top: 2.5px dashed black;
}

.ver{

    border-left: 2.5px dashed black;

}

.btn{


}
.spa{content: "\2192";
    border-left: 2.5px dashed black;
}

span {
    content: "\2192";
}
.v-card--reveal {
    bottom: 0;
    opacity: 1 !important;
    position: absolute;
    width: 100%;
}
.abc{
    font-size:small;
    color:black;
    font-family: Roboto;
    align-content: center;
}
.box{
    font-size: small;
}
</style>
