<template>
    <v-app id="inspire">
       <v-content>
           <v-container fluid flat>
               <v-card flat>

                   <v-card-text>
                       <v-col cols="12" md="6">
                           <v-expansion-panels v-model="panel" multiple tile>

                               <v-expansion-panel flat>
                                   <v-expansion-panel-header flat style="font-size: 14px !important;">
                                       Define Training
                                   </v-expansion-panel-header>
                                   <v-expansion-panel-content>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Institute"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Training Calendar year"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Training code"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Training name"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Medium"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Venue"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Duration (From and To date)"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Time period"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Objective"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Contents"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="For Whom"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Course fee if applicable"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                   </v-expansion-panel-content>
                               </v-expansion-panel>

                               <v-expansion-panel flat>
                                   <v-expansion-panel-header flat style="font-size: 14px !important;">
                                       Assign for Training
                                   </v-expansion-panel-header>
                                   <v-expansion-panel-content>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Institute"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Training Name"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Training ID"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Training calendar date"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Duration (Start and End Date)"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field><v-text-field class="teboxr_Data" outlined solo dense required  label="Service"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Medium"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Venue"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Assigned employee"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Comments"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                   </v-expansion-panel-content>
                               </v-expansion-panel>

                               <v-expansion-panel flat>
                                   <v-expansion-panel-header flat style="font-size: 14px !important;">
                                       Training Approval
                                   </v-expansion-panel-header>
                                   <v-expansion-panel-content>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Employee Name"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Institute"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Training Name"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Training Calendar date"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Duration(Start and end date)"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field><v-text-field class="teboxr_Data" outlined solo dense required  label="Service"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Conducting time period"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Comments"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                   </v-expansion-panel-content>
                               </v-expansion-panel>

                               <v-expansion-panel flat>
                                   <v-expansion-panel-header flat style="font-size: 14px !important;">
                                       Employee training history
                                   </v-expansion-panel-header>
                                   <v-expansion-panel-content>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Employee Name"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Institute"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Training Name"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Training calendar year"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Participation (Yes/No)"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Comments"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                   </v-expansion-panel-content>
                               </v-expansion-panel>

                               <v-expansion-panel flat>
                                   <v-expansion-panel-header flat style="font-size: 14px !important;">
                                       Training Participation
                                   </v-expansion-panel-header>
                                   <v-expansion-panel-content>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Institute"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Training name"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Training calendar year"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Employee name"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Participation (Yes/No)"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Approved by"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Designation"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Comments"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                   </v-expansion-panel-content>
                               </v-expansion-panel>

                               <v-expansion-panel flat>
                                   <v-expansion-panel-header flat style="font-size: 14px !important;">
                                       Apply for training
                                   </v-expansion-panel-header>
                                   <v-expansion-panel-content>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Institute"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Training Name"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Training ID"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Training Calendar year"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Employee name"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="NIC"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Employee ID"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Designation"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Department"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Duration (From and To date)"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Time period"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Medium"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Venue"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Official address"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Office contact number"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Mobile number"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Apply training"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                   </v-expansion-panel-content>
                               </v-expansion-panel>

                               <v-expansion-panel flat>
                                   <v-expansion-panel-header flat style="font-size: 14px !important;">
                                       Training Feedback
                                   </v-expansion-panel-header>
                                   <v-expansion-panel-content>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Institute"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Training Name"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Duration"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Conducted person"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Date"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Venue"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Content"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Remarks"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Effectiveness"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                   </v-expansion-panel-content>
                               </v-expansion-panel>

                               <v-expansion-panel flat>
                                   <v-expansion-panel-header flat style="font-size: 14px !important;">
                                       Training requirements
                                   </v-expansion-panel-header>
                                   <v-expansion-panel-content>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Training requirements"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                   </v-expansion-panel-content>
                               </v-expansion-panel>

                           </v-expansion-panels>
                       </v-col>
                   </v-card-text>

               </v-card>
           </v-container>
       </v-content>
    </v-app>
</template>

<script>
import {gmapApi} from "vue2-google-maps";
import $ from 'jquery'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
    name: "Training",
    components:{
        Loading
    },

    data () {

        return {
            fullScreenLoader:false,
            drawer: null,



            window: {
                width: 0,
                height: 0,
                lower_height:0,
                mapheight:0,
                mapwidth:0,
            },


        }},

    mounted(){

    },

    created() {
        window.addEventListener('resize', this.handleResize);
        this.handleResize();
        // alert(this.window.width)
    },

    destroyed() {
        window.removeEventListener('resize', this.handleResize)
    },

    methods: {

        handleResize() {
            this.window.width = window.innerWidth;
            this.window.height = window.innerHeight;
            this.window.lower_height = window.innerHeight-15;
        },

        goToMap(userType){
            switch (userType) {
                case 'Governor': window.location.href = '/governor';break;
            }
        }

    }
}
</script>

<style scoped>
.vertical {
    border-left: 2.5px solid black;
    position:absolute;}

.new {
    font-size:25px;
    border-top: 2.5px dashed black;
}

.ver{

    border-left: 2.5px dashed black;

}

.btn{


}
.spa{content: "\2192";
    border-left: 2.5px dashed black;
}

span {
    content: "\2192";
}
.v-card--reveal {
    bottom: 0;
    opacity: 1 !important;
    position: absolute;
    width: 100%;
}
.abc{
    font-size:small;
    color:black;
    font-family: Roboto;
    align-content: center;
}
.box{
    font-size: small;
}
</style>
