<template>
    <v-app id="inspire">
       <v-content>
           <v-container fluid flat>
               <v-card flat>

                   <v-card-text>
                       <v-col cols="12" md="6">
                           <v-expansion-panels v-model="panel" multiple tile>

                               <v-expansion-panel flat>
                                   <v-expansion-panel-header flat style="font-size: 14px !important;">
                                       Transfer request
                                   </v-expansion-panel-header>
                                   <v-expansion-panel-content>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Employee name"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Transfer type (Annual, Mutual, Interprovincial, Disciplinary,  On request, Medical)"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Preferred Division"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Preferred location 1"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Preferred location 2"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Preferred location 3"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Comment"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                   </v-expansion-panel-content>
                               </v-expansion-panel>

                               <v-expansion-panel flat>
                                   <v-expansion-panel-header flat style="font-size: 14px !important;">
                                       Add new transfer reason
                                   </v-expansion-panel-header>
                                   <v-expansion-panel-content>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Transfer reason"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                   </v-expansion-panel-content>
                               </v-expansion-panel>

                               <v-expansion-panel flat>
                                   <v-expansion-panel-header flat style="font-size: 14px !important;">
                                       Transfer Details
                                   </v-expansion-panel-header>
                                   <v-expansion-panel-content>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Employee name"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Current Division"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Reference number"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Transfer type (Annual, Mutual, Interprovincial, Disciplinary ,on request, Medical)"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Transfer reason"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field><v-text-field class="teboxr_Data" outlined solo dense required  label="Service"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Transferred Division"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Mutual transfer or not"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Effective date"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Transfer Letter (File attachment)"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Comment"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                   </v-expansion-panel-content>
                               </v-expansion-panel>

                               <v-expansion-panel flat>
                                   <v-expansion-panel-header flat style="font-size: 14px !important;">
                                       Transfer details summary
                                   </v-expansion-panel-header>
                                   <v-expansion-panel-content>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Employee name"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Transfer type (Annual, Mutual, Interprovincial, Disciplinary ,on request, Medical)"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Effective date"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Transfer reason"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="From"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Destination"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                   </v-expansion-panel-content>
                               </v-expansion-panel>

                               <v-expansion-panel flat>
                                   <v-expansion-panel-header flat style="font-size: 14px !important;">
                                       Transfer request summary
                                   </v-expansion-panel-header>
                                   <v-expansion-panel-content>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Employee name"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Transfer type (Annual, Mutual, Interprovincial, Disciplinary ,on request, Medical)"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Preferred Division"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Preferred location"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Current division"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Working experience"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="User comments"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Divisional head comments"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                   </v-expansion-panel-content>
                               </v-expansion-panel>

                               <v-expansion-panel flat>
                                   <v-expansion-panel-header flat style="font-size: 14px !important;">
                                       Update transfer request
                                   </v-expansion-panel-header>
                                   <v-expansion-panel-content>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Employee name"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Transfer type (Annual, Mutual, Interprovincial, Disciplinary ,on request, Medical)"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Preferred division"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Preferred location 1"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Preferred location 2"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Preferred location 3"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Comment"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Divisional head comment"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                   </v-expansion-panel-content>
                               </v-expansion-panel>
                           </v-expansion-panels>
                       </v-col>
                   </v-card-text>

               </v-card>
           </v-container>
       </v-content>
    </v-app>
</template>

<script>
import {gmapApi} from "vue2-google-maps";
import $ from 'jquery'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
    name: "Transfer",
    components:{
        Loading
    },

    data () {

        return {
            fullScreenLoader:false,
            drawer: null,



            window: {
                width: 0,
                height: 0,
                lower_height:0,
                mapheight:0,
                mapwidth:0,
            },


        }},

    mounted(){

    },

    created() {
        window.addEventListener('resize', this.handleResize);
        this.handleResize();
        // alert(this.window.width)
    },

    destroyed() {
        window.removeEventListener('resize', this.handleResize)
    },

    methods: {

        handleResize() {
            this.window.width = window.innerWidth;
            this.window.height = window.innerHeight;
            this.window.lower_height = window.innerHeight-15;
        },

        goToMap(userType){
            switch (userType) {
                case 'Governor': window.location.href = '/governor';break;
            }
        }

    }
}
</script>

<style scoped>
.vertical {
    border-left: 2.5px solid black;
    position:absolute;}

.new {
    font-size:25px;
    border-top: 2.5px dashed black;
}

.ver{

    border-left: 2.5px dashed black;

}

.btn{


}
.spa{content: "\2192";
    border-left: 2.5px dashed black;
}

span {
    content: "\2192";
}
.v-card--reveal {
    bottom: 0;
    opacity: 1 !important;
    position: absolute;
    width: 100%;
}
.abc{
    font-size:small;
    color:black;
    font-family: Roboto;
    align-content: center;
}
.box{
    font-size: small;
}
</style>
