<template>
    <v-app id="inspire">
       <v-content>
           <v-container fluid flat>
               <v-card flat>

                   <v-card-text>
                       <v-col cols="12" md="6">
                           <v-expansion-panels v-model="panel" multiple tile>

                               <v-expansion-panel flat>
                                   <v-expansion-panel-header flat style="font-size: 14px !important;">
                                       Define benefit type
                                   </v-expansion-panel-header>
                                   <v-expansion-panel-content>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Benefit type name"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                   </v-expansion-panel-content>
                               </v-expansion-panel>

                               <v-expansion-panel flat>
                                   <v-expansion-panel-header flat style="font-size: 14px !important;">
                                       Define benefit
                                   </v-expansion-panel-header>
                                   <v-expansion-panel-content>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Benefit type"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Benefit name"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                   </v-expansion-panel-content>
                               </v-expansion-panel>

                               <v-expansion-panel flat>
                                   <v-expansion-panel-header flat style="font-size: 14px !important;">
                                       Benefit summary
                                   </v-expansion-panel-header>
                                   <v-expansion-panel-content>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Benefit"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Benefit type"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                   </v-expansion-panel-content>
                               </v-expansion-panel>

                               <v-expansion-panel flat>
                                   <v-expansion-panel-header flat style="font-size: 14px !important;">
                                       Benefit Disbursement
                                   </v-expansion-panel-header>
                                   <v-expansion-panel-content>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Employee name"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Benefit type"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Benefit"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Disbursement date"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Comment"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                   </v-expansion-panel-content>
                               </v-expansion-panel>

                               <v-expansion-panel flat>
                                   <v-expansion-panel-header flat style="font-size: 14px !important;">
                                       Benefit Disbursement summary
                                   </v-expansion-panel-header>
                                   <v-expansion-panel-content>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Employee name"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Benefit type"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Benefit"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                   </v-expansion-panel-content>
                               </v-expansion-panel>

                               <v-expansion-panel flat>
                                   <v-expansion-panel-header flat style="font-size: 14px !important;">
                                       Vehicle Permit
                                   </v-expansion-panel-header>
                                   <v-expansion-panel-content>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Permit  No"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Permit type"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Date obtained"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Amount"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                   </v-expansion-panel-content>
                               </v-expansion-panel>

                               <v-expansion-panel flat>
                                   <v-expansion-panel-header flat style="font-size: 14px !important;">
                                       Railway warrants
                                   </v-expansion-panel-header>
                                   <v-expansion-panel-content>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Warrant obtained date"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Class on holiday railway warrants"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="No of times per year"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Warrants obtained for the current year"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                       <v-text-field class="teboxr_Data" outlined solo dense required  label="Details of participants"  color="black" clearable  style="font-size:10px !important;"   ></v-text-field>
                                   </v-expansion-panel-content>
                               </v-expansion-panel>

                           </v-expansion-panels>
                       </v-col>
                   </v-card-text>

               </v-card>
           </v-container>
       </v-content>
    </v-app>
</template>

<script>
import {gmapApi} from "vue2-google-maps";
import $ from 'jquery'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
    name: "WelfareNBenefits",
    components:{
        Loading
    },

    data () {

        return {
            fullScreenLoader:false,
            drawer: null,



            window: {
                width: 0,
                height: 0,
                lower_height:0,
                mapheight:0,
                mapwidth:0,
            },


        }},

    mounted(){

    },

    created() {
        window.addEventListener('resize', this.handleResize);
        this.handleResize();
        // alert(this.window.width)
    },

    destroyed() {
        window.removeEventListener('resize', this.handleResize)
    },

    methods: {

        handleResize() {
            this.window.width = window.innerWidth;
            this.window.height = window.innerHeight;
            this.window.lower_height = window.innerHeight-15;
        },

        goToMap(userType){
            switch (userType) {
                case 'Governor': window.location.href = '/governor';break;
            }
        }

    }
}
</script>

<style scoped>
.vertical {
    border-left: 2.5px solid black;
    position:absolute;}

.new {
    font-size:25px;
    border-top: 2.5px dashed black;
}

.ver{

    border-left: 2.5px dashed black;

}

.btn{


}
.spa{content: "\2192";
    border-left: 2.5px dashed black;
}

span {
    content: "\2192";
}
.v-card--reveal {
    bottom: 0;
    opacity: 1 !important;
    position: absolute;
    width: 100%;
}
.abc{
    font-size:small;
    color:black;
    font-family: Roboto;
    align-content: center;
}
.box{
    font-size: small;
}
</style>
